[2019-05-20 17:02] #2770 closed

[2019-05-20 17:08] noahdietz commented on #2778
focusing this work only on micro-generators

[2019-05-20 17:19] busunkim96 opened #2779 "[Python] Generator produces bad docstrings with 'raw-latex'"
From my understanding of #2191 and https://github.com/googleapis/artman/pull/535, the generator should not produce raw-latex.

However, a [long proto comment](https://github.com/googleapis/googleapis/blob/32a10f69e2c9ce15bba13ab1ff928bacebb25160/google/cloud/automl/v1beta1/io.proto#L101-L158) in AutoML seems to result in some bad docstrings with 'raw-latex' in them.

See https://github.com/googlea

[2019-05-20 17:40] kmjung opened #2780 "Don't allow inconsistent method timeout values for retryable methods"
GAPIC allows per-method timeout values to be specified in two places for retryable methods:

https://github.com/googleapis/gapic-generator/blob/master/src/test/java/com/google/api/codegen/testsrc/common/library_gapic.yaml#L65
https://github.com/googleapis/gapic-generator/blob/master/src/test/java/com/google/api/codegen/testsrc/common/library_gapic.yaml#L86

My understanding is that, when retry set

[2019-05-20 17:42] kmjung commented on #2780
cc: @tswast

[2019-05-20 18:08] noahdietz commented on #2735
Looks like work was started to  update the annotations here [#131](https://github.com/googleapis/gapic-generator-python/pull/123) but stalled due to micro-generator images not being updated with the api-common-proto changes. Starting  there...

[2019-05-20 18:18] noahdietz commented on #2735
Python: waiting on a release with [fix](https://github.com/googleapis/gapic-generator-python/pull/123)

[2019-05-20 18:36] noahdietz commented on #2735
Kotlin: I will take a shot at updating this micro-generator, but if it becomes too much of a time suck, I will merge w/o Kotlin support and wait for Joe to return

[2019-05-20 20:32] busunkim96 commented on #2779
As an aside, the generated docstrings are pretty hard to read when they're generated from long proto comments with interesting formatting.

Would it be reasonable to ask product teams to avoid adding too much documentation here?

These docs generated without error in Sphinx but it doesn't look like the formatting intended by the author.

Examples:
* [link](https://googleapis.github.io/google-cloud

[2019-05-21 00:00] vchudnov-g commented on #2360
@vam-google Could you provide an update?

[2019-05-21 00:05] vchudnov-g commented on #2719
@hzyi-google Have you been able to give any thought to this yet?

[2019-05-21 00:06] vchudnov-g commented on #2600
We decided to defer this even longer, given the complication of implementing this in the monolith and the relatively higher importance of other features.

[2019-05-21 00:07] vchudnov-g commented on #2141
@michaelbausor Could you provide an update and/or lower the priority if appropriate?

[2019-05-21 00:07] vchudnov-g commented on #1756
@alexander-fenster Could you provide an update and/or lower the priority if that makes sense?

[2019-05-21 00:09] vchudnov-g commented on #1414
@alexander-fenster Can you provide an update?

FWIW: The intent is for samplegen to be able to provide in-code samples. Feel free to talk to me and we can discuss in more detail. In short: samplegen is focusing on standalone samples, but once we have those generating the in-code samples should be very simple additional work.

[2019-05-21 00:29] hzyi-google commented on #2719
Still need some more time.

[2019-05-23 20:33] noahdietz commented on #2735
Kotlin: the showcase CI for kotlin-smoke-test was disabled via [gapic-showcase#136](https://github.com/googleapis/gapic-showcase/pull/136) temporarily. [gapic-showcase#137](https://github.com/googleapis/gapic-showcase/issues/137) to track its reinstatement.

[2019-05-23 20:46] noahdietz commented on #2735
Resource annotation updates lands in gapic-showcase v1.2.0

[2019-05-23 21:28] JustinBeckwith opened #2787 "[nodejs] Add support for `apiEndpoint` override"
Today, we allow developers to override the service endpoint using the `servicePath` variable in the service client constructor:

[code]

In go/extensible-options-in-nodejs, we discuss changing this to `apiEndpoint`, as it's consistent with existing hand written libs, and feel that it's a little more obvious:

[code]

Ideally, this wouldn't be a breaking change.  In the generated code, it should lo

[2019-05-23 22:11] michaelbausor commented on #2141
This will be fixed in https://github.com/googleapis/gapic-generator/pull/2757

[2019-05-28 16:48] noahdietz commented on #2778
On second thought, we want clients to be safe as early as possible so we should disable it here as well asap

[2019-05-28 18:17] nnegrey opened #2789 "Java Snippet Generation Code Style Changes"
The java samples have a new style guide for snippets, canonical samples can be found at https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/dlp/src/main/java/dlp/snippets

To note some of the things:

- Region Tags should be under the `package` and include `import` statements. (Region tags include almost the whole file
- No need to add a comment to include `imports`
- No longer ne

[2019-05-28 18:59] hzyi-google commented on #2789
Only the descriptions of those fields without a default value will go up into the Javadoc. One way if to not add any `description` directives for those `attributes` without `sample_argument_name`. For example:

[code]

We originally have types in the default lines. Later, we want users to have the experience that when they uncomment the default line, they can run the sample with the default value.

[2019-05-28 19:15] hzyi-google commented on #2789
**Our original story**
The other three items all tie together in some way in our story. But now that you mentioned the new guideline of Java sample styles, I think we can workaround the generator to both keep our original purpose and confirm to the guidelines. See below.

In Java, `main()` method is the entry point of a program. Since we need to provide a way to run/test a sample from command line

[2019-05-28 22:57] noahdietz commented on #2735
Looks like #2646 fixes this by re-enabling with the showcase v0.2.0

[2019-05-28 22:57] #2735 closed

[2019-05-28 23:10] nnegrey opened #2790 "Dialogflow Sample gen"
@googleapis/samplegen

When trying to generate Dialogflow samples, came across a few issues.

1. Incorrect import statement in `python` since dialogflow isn't a google.cloud package
- Given: `from google.cloud import dialogflow_v2`
- Correct: `import dialogflow_v2`

2. When trying to set defaults. The generator is too smart.
yaml code:
[code]
Generated Python:
[code]

But the problem is that the `

[2019-05-29 00:28] hzyi-google commented on #2790
@nnegrey

Thanks for letting us know.

This can't be done by the generator, but I got confirmed that this can be done via synth. cc/ @beccasaurus

For now we don't support configuring the entire resource name - we only support configuring fields of the resource names. For example, you can do:

[code]

[2019-05-29 00:58] beccasaurus commented on #2790
Correct, [SynthTool](https://github.com/googleapis/synthtool) is the correct tool for this.

The output which GAPIC generates != the API interface that we publish to package managers in some cases.

GAPIC generates the raw library. It is not aware of various concerns. And sometimes does not work without changes (e.g. Ruby)

Using `synth.py` to make replacements in the generates samples is the corr

[2019-05-29 02:50] beccasaurus commented on #2789
What @hzyi-google said.

Defaults don't tell the whole story.

Having standard Javadoc descriptions helps add context to the parameter.

Let's say the default value is one of these:
 - `gs://cloud-samples-data/speech/audio.wav`
 - `resources/audio.wav`

What is `resources/audio.wav`? Where does it come from?

It helps our users to be able to provide additional context:
 - `@param file_path Path to

[2019-05-29 02:57] beccasaurus commented on #2789
^--- also take into consideration the needs for executing via CLI

Unless we come up with another approach to CLI invocation?

 - We 100% do want CLIs.
 - We 100% do now want the CLI parsing/handling code to be inside the snippet.

This is true for _hand-written snippets only_.

+1 what @hzyi-google said – you can't _actually_ comment out these lines and use them unless we remove the Type. The Typ

[2019-05-29 02:58] beccasaurus commented on #2790
Closing as this functionality is done via SynthTool not GAPIC generator.

[2019-05-29 02:58] #2790 closed

[2019-05-29 03:28] beccasaurus commented on #2789
NOTE ALSO:

Use of "Default Values" for the purpose of documentation _only works for string fields_.

[code]

----

Here's a pretty good example of usage:
https://cloud.google.com/talent-solution/job-search/docs/events#job_search_create_client_event-java

[code]

I'll call your attention to `requestId`.

This is two sentences, which doesn't make sense to put into a default value.

In fact, we migh

[2019-05-29 03:32] beccasaurus opened #2791 "Ruby generated LRO samples not working (response/result conflict)"
Ruby LRO generated samples are broken atm:

[code]

The `response` should be available. (Blows up because `response` isn't defined)

/cc @dizcology @googleapis/samplegen

[2019-05-29 03:53] beccasaurus opened #2793 "SampleGen: improve error message on invalid parameter name in attributes"
Doing this:

[code]

Results in this:

[code]

Followed by a chunk of time trying to figure out what's undefined 😎

/cc @googleapis/samplegen

[2019-05-29 15:56] #2791 closed

[2019-05-29 16:04] hzyi-google commented on #2527
Fixed by: #2749

[2019-05-29 16:04] #2527 closed

[2019-05-29 16:07] hzyi-google commented on #2624
Update on the original issue:

- Setting default values should already work using `{}`:

[code]
We should add some tests in baseline however.

- Configuring map keys to be a parameter isn't supported yet.

[2019-05-29 16:09] hzyi-google commented on #2627
@beccasaurus Can we hand this over to use `synth`?

[2019-05-29 17:27] nnegrey opened #2797 "SampleGen Request: re-use variables (e.g. to fix project, project_2, project_3 variables)"
@googleapis/samplegen

In some instances, we have to define `Project_ID` (or other parameters) in multiple places.

It would be nice to be able to do some form of the below and reuse a parameter value in multiple places.
[code]
or some form of default variable reuse.
[code]

[2019-05-30 01:15] #2787 closed

[2019-05-30 18:17] nnegrey opened #2803 "SampleGen Collections not overwriteable"
@googleapis/samplegen

When trying to use a collection to generate code. The `entity_type` value is using some default and not the value I specified. But the `project` field does use mine.

Possible issue location:
[code]

Yaml Code:
[code]
Generated:
Where the line `client.entity_type_path('[Google Cloud Project ID] TEST', '[ENTITY_TYPE]')`
Uses `ENITITY_TYPE` rather than `[MY CUSTOM ENTITY VALUE

[2019-05-30 18:21] hzyi-google commented on #2803
Seems to be related to #2719. I'll investigate.

[2019-05-30 18:42] hzyi-google commented on #2803
Ah I see the issue here.

[code]

Basically, the field that follows the `%` should be one of the `{curly braced}` components in `name_pattern`,  and their texts should match exactly.

The generator should have throw an error rather than pick a default value in this case.

[2019-05-30 20:46] hzyi-google commented on #2719
I think I understand what's going on here now, but will need some more time to work on a solution.

[2019-05-30 21:39] hzyi-google opened #2804 "Access resource name entities in the response handling"
We should be able to do:

[code]

cc/ @googleapis/samplegen

[2019-05-30 22:27] beccasaurus opened #2805 "Remove [START ..._core] region tags in output"
Remove [START ..._core] region tags in output :)

/cc @googleapis/samplegen

[2019-05-31 02:25] beccasaurus commented on #2771
@bcoe Coming soon to a generator near you ~ #2782

[2019-05-31 03:29] beccasaurus opened #2806 "SampleGen: remove six from Python samples"
### git revert #2272 – samplegen: convert binary type to str

We can remove six :)

@googleapis/samplegen

[2019-05-31 03:48] beccasaurus opened #2807 "SampleGen: print(u'all output strings {}'.format('as unicode strings'))"
There was a recent bug filed against out samples _(hand-written but same syntax as our generated ones)_.

If you're using Python 3 and you do this...

[code]
[code]

We could fix this for Python 2 users in our generated code samples by simply rendering the following instead:

[code]

**Note:**
 - Python 2 support is a non-goal for generated samples now, afaik
 - e.g. I would like to [remove](https

[2019-05-31 20:45] kurtisvg commented on #2789
So obviously there was a bunch of debate between the java stakeholders about the best way to handle these issues, and the consensus was that typing is important, and that useable examples makes javadoc redundant.

We want users to be able to copy/paste the code and getting running with as little changes as necessary:

1. They can call the function from somewhere else in their code, in which case t

[2019-05-31 22:13] beccasaurus commented on #2789
### CLIs

This is a common misunderstanding. Given the significant efforts to remove CLIs from hand-written samples, it's understandable!

The guidance for CLIs is specific to hand-written samples. When we decided to start making CLIs optional (with a preference to _not have them_), this was when we knew that this project existed and would bring us generated CLIs.

`tl;dr`
 - The decision not to r

[2019-05-31 22:31] #2511 closed

[2019-05-31 22:42] beccasaurus commented on #2789
### 1. "shouldn't include any parameters [...] unless specific to the environment it's being run in"

👍 Agreed. This is the standard for ML APIs as well, for example!

#misc
For the `CreateClientEvent`, specifically, all 4 parameters happen to be required.
In case you're curious why:
 - projectId: User's Google Cloud Customer ID
 - tenantId: ID of a resource owned by the project
 - requestId: ID o

[2019-05-31 22:45] kurtisvg commented on #2789
I'm not sure if this decision was made outside of the sample rubric working group, but this contradicts the meetings I attended.

The deck from the rubric slides ("Additions to the Cloud Samples Rubric") sent out back in October says the following:

From Slide 6:

From Slide 10:

From Slide 11:

[2019-05-31 22:48] beccasaurus commented on #2789
**`tl;dr`**
 - **tl;dr**
   - GAPIC generated samples are command line executable 🤷🏼‍♀️

What are you suggesting?

[2019-05-31 22:48] beccasaurus commented on #2789
Note also: this is how generated code samples are tested.

GAPIC code sample testing is done via command-line execution to most closely resemble a full stack environment and very real system test.

[2019-05-31 22:55] beccasaurus commented on #2789
## the consensus was that typing is important

👍 I also prefer this style:

[code]

I didn't know Java had default parameter values!

@hzyi-google DPEs have been using this style a lot recently ^
The style of commenting out variables kind of died out ~ this past Fall/Winter
I'm going to file a tracking issue to migrate all languages which support parameter default values to use them

[2019-05-31 23:06] beccasaurus commented on #2789
## useable examples makes javadoc redundant

This is an example of something which Cloud DPE may have strong opinions about (e.g. no JavaDoc for method params) but isn't a feature we can drop for other users of sample generation.

Note: default values are not always sufficient for a user to understand the field / how to use it.

Even when we do our very best to pick good default values :)

I would

[2019-05-31 23:08] beccasaurus commented on #2789
## "Recently I was thinking maybe we should just move them the declarations into a runner instead:"

@hzyi-google Check this out:

[code]

Really interesting idea for doing default params for Java! 🤘

I'll include this in the issue I'm filing to move AWAY FROM COMMENTED OUT variables and will /cc y'all

[2019-05-31 23:20] hzyi-google commented on #2773
Hi Mike,

Note there's a tiny issue in your yaml:

[code]

It should have been:
[code]

[2019-05-31 23:35] beccasaurus opened #2809 "SampleGen: replace // param = "default" with method(param = "default")"
Instead of doing this:

[code]

Now, let's do this:

[code]

Or, when > 80 chars:

[code]

That's all :)

----

1. Cloud DPE has been doing this for awhile. We dig it.
2. Nearly every language supports default parameter values these days.

Languages without default method parameter values (iirc)
 - 🐹 Go
 - ☕️ Java

For each, we can come up with something.

Here's an idea I like for Java from @kurt

[2019-05-31 23:37] beccasaurus commented on #2789
Kill the commented out variables with 🔥 #2809

- [SampleGen: replace // param = "default" with method(param = "default")](https://github.com/googleapis/gapic-generator/issues/2809)

[2019-06-01 00:01] munkhuushmgl commented on #2773
Hmm, I will fix that and test it,
Let you know what I find.

Best
Mike

On Fri, May 31, 2019 at 4:20 PM Hanzhen Yi <notifications@github.com> wrote:

[2019-06-03 23:34] #2771 closed

[2019-06-04 16:20] noahdietz commented on #2778
C# disabled gRPC ServiceConfig resolution [here](https://github.com/googleapis/gax-dotnet/commit/ac695425d9f25314ab60316d72f1d4eed57ef581)

[2019-06-04 16:25] noahdietz commented on #2778
Node.js: based on the [grpc-js comparison](https://github.com/grpc/grpc-node/blob/9c274034d05690d5709d4064f627b774b8305c32/PACKAGE-COMPARISON.md), the [C-core option](https://github.com/grpc/grpc/blob/927841120712051604650fbc7017d6ff2592af33/include/grpc/impl/codegen/grpc_types.h#L281) might not be supported in grpc-js.

[2019-06-04 18:02] beccasaurus opened #2812 "SampleGen: update Ruby snippets to match official googleapis/ruby-style"
Style and accompanying lint configuration file: [googleapis/ruby-style](https://github.com/googleapis/ruby-style)
Run lint the code, follow instructions in README of [googleapis/ruby-style](https://github.com/googleapis/ruby-style)

As reported by: https://github.com/googleapis/google-cloud-ruby/pull/3431#issuecomment-498772695

/cc @googleapis/samplegen
/fyi @TheRoyalTnetennba @dazuma @quartzmo

[2019-06-04 23:36] noahdietz commented on #2778
Ruby: This will be handled in gax-ruby via https://github.com/googleapis/gax-ruby/pull/213

[2019-06-05 17:05] noahdietz commented on #2778
PHP: This will be handlded in gax-php via https://github.com/googleapis/gax-php/pull/240

[2019-06-05 19:21] nnegrey opened #2814 "SampleGen: Can't generate floats for Java."
@googleapis/samplegen

Tried to generate samples in Java.

In yaml parameters defaults.
[code]
Generates:
[code]

Complete yaml:
[code]

Relevant Java Snippet **Code**
[code]

[2019-06-05 19:35] nnegrey opened #2815 "SampleGen: Node.js Library require is incorrect"
@googleapis/samplegen

Generates
[code]

Not a Node.js person, but I believe it should be:
[code]

[2019-06-05 19:51] noahdietz commented on #2778
Java: This will be handled in gax-java via https://github.com/googleapis/gax-java/pull/731

[2019-06-05 20:01] noahdietz opened #2816 "Adopt DNS-provided gRPC ServiceConfig"
Today, no formal process exists for service-owners to publish a gRPC ServiceConfig over DNS TXT Records per [gRPC design](https://github.com/grpc/grpc/blob/837a99e1d49a892e6f2c46ee09a1b6b8405571c6/doc/service_config.md). But as this does come online, we want GAPICs to transition in their own time, hence the work to disable resolving the ServiceConfig in all langauges #2778.

However, when it becom

[2019-06-05 20:05] noahdietz commented on #2816
The adoption of the DNS-provided gRPC ServiceConfig will be a long-term process.

[2019-06-05 20:29] munkhuushmgl opened #2818 "SampleGen: my java sample works for previous version, but doesn't work in current version"
`artman.output >
WARNING: toplevel: (lint) control-presence: Service automl.googleapis.com does not have control environment configured.
WARNING: /Users/munkhbayarg/apis/googleapis/google/cloud/automl/automl_v1beta1.yaml:108: http rule has selector(s) 'google.iam.v1.IAMPolicy.SetIamPolicy' that do not match and are not shadowed by other rules.
WARNING: /Users/munkhbayarg/apis/googleapis/google/clo

[2019-06-05 20:41] #2803 closed

[2019-06-05 20:42] hzyi-google commented on #2793
Fixed by ^^^^^ #2799.

[2019-06-05 20:42] #2793 closed

[2019-06-05 21:17] #2805 closed

[2019-06-05 21:46] munkhuushmgl commented on #2818
Never mind, it was missing default value for some parameter.

[2019-06-05 21:46] #2818 closed

[2019-06-05 22:28] #2807 closed

[2019-06-05 22:39] hzyi-google commented on #2806
Fixed in ^^^^^^^ #2811

[2019-06-05 22:39] #2806 closed

[2019-06-05 22:40] hzyi-google commented on #2812
Porting over comments in the linked issue that involves work items in gapic-generator:

These errors can and should be fixed in the generator (nice catch, good bot!):

- [ ] - Final newline missing
- [ ] - method def using parentheses
- [ ] - prefers $PROGRAM_NAME over $0
- [ ] - incorrect indentation for comments

[2019-06-05 22:54] hzyi-google commented on #2815
cl/251701768 would update the service config of speech, and once the CL is merged it will resolve this issue.

I'll close it here, but please feel free to ask for reopen / yell at me if you still see the problem.

[2019-06-05 22:54] #2815 closed

[2019-06-06 00:51] #2814 closed

[2019-06-06 18:45] #2812 closed

[2019-06-07 19:06] #2719 closed

[2019-06-07 21:27] crwilcox opened #2824 "[Python] Allow passing options when creating grpc channel"
For some gRPC channels we want to set additional options (keepalive, message size) and it would be helpful to pass the options through this method:

https://github.com/googleapis/google-cloud-python/blob/master/firestore/google/cloud/firestore_v1/gapic/transports/firestore_grpc_transport.py#L73

https://github.com/googleapis/google-cloud-python/commit/0201af7b6b454ff8be903b85f865f0db974fca74

[2019-06-10 19:26] chingor13 opened #2826 "[Java] cannot generate io.grafeas protos"
We're trying to generate the io.grafeas v1 protos from: https://github.com/googleapis/googleapis/tree/master/grafeas

The Java Gapic generator does not allow clients that do not follow `com.google.cloud.*` as the package name. https://github.com/googleapis/gapic-generator/blob/d204c06777c38e351ef665c69f0f31fa0b61c3bf/src/main/java/com/google/api/codegen/transformer/java/JavaSurfaceNamer.java#L455

[2019-06-11 04:01] grant commented on #2469
Note: This issue is blocking issue: b/77618877

[2019-06-12 00:50] beccasaurus opened #2829 "SampleGen Feature Request: string field support for `value_is_file`"
Response support:
 - [X] Save bytes to file
 - [X] Save test to file

Request support:
 - [X] Read file bytes into field
 - [ ] **Read file text into field**

Let's fill in: **Read file text into field** support :)

@googleapis/samplegen

[2019-06-12 01:14] beccasaurus opened #2830 "SampleGen: use File.binwrite for Ruby writing bytes to file"
Currently:

[code]

Let's do this:

[code]

Maps really nicely to what we did in C# as well

File.ReadAllText / File.ReadAllBytes / File.WriteAllText / File.WriteAllBytes

@googleapis/samplegen

[2019-06-12 14:11] plamut commented on #2634
FWIW, I created a [pull request](https://github.com/googleapis/google-cloud-python/pull/8293) that handles this via the synth file. We might want to close this issue.

[2019-06-14 14:35] JustinBeckwith opened #2835 "Extraneous protobuf require breaking builds"
We have an issue over here where a bonus protofbuf require is breaking eslint:
https://github.com/googleapis/nodejs-talent/pull/69

[2019-06-17 01:38] beccasaurus opened #2837 "SampleGen: provide empty, instantiated message in request"
The [AutoML API](https://cloud.google.com/natural-language/automl/entity-analysis/docs/reference/rpc/google.cloud.automl.v1beta1) uses an interesting pattern.

They basically have a polymorphic [`Dataset`](https://cloud.google.com/natural-language/automl/entity-analysis/docs/reference/rpc/google.cloud.automl.v1beta1#dataset). The Dataset can be used by...
 - AutoML Vision, where the Dataset can no

[2019-06-17 03:13] beccasaurus commented on #2837
ℹHere are the AutoML samples which this is blocking:
 - AutoML Natural Language Entity Extraction.
    - The metadata field on Dataset for this product is [`text_extraction_dataset_metadata`](https://cloud.google.com/natural-language/automl/entity-analysis/docs/reference/rpc/google.cloud.automl.v1beta1#google.cloud.automl.v1beta1.Dataset.FIELDS.google.cloud.automl.v1beta1.TextExtractionDatasetMeta

[2019-06-17 08:30] beccasaurus opened #2838 "SampleGen: options to not wait for LRO & to stop operation"
Some LROs may take hours to complete.

To run samples, we have often handled this in one of two ways:
 1. The sample shows the code to run the LRO and then shows the code to **stop the operation** with a comment mentioning what we're doing (users at home can copy/paste and they have the code to stop the operation if they need to)
 2. The sample **does not block** / wait for the LRO to complete. We

[2019-06-17 17:17] hzyi-google commented on #2838
This seems to be a solid use case of calling forms, but I don't think we have existing calling forms that cancels the LRO.

[2019-06-17 17:46] chingor13 opened #2840 "[Java] pin protoc version to 3.7"
For google-cloud-java, we need to try to keep our dependencies in a compatible state across the stack. We need to use the same protobuf version that grpc-protobuf uses. This is currently 3.7.x.

The newest artman versions use protoc 3.8.0 which generates code that is incompatible with protobuf 3.7.x (relies on a new class introduced in 3.8.0).

We need to be able to pin the protoc version for Java

[2019-06-17 18:05] #2824 closed

[2019-06-17 20:46] hzyi-google commented on #2826
I can take this.

[2019-06-17 20:47] hzyi-google commented on #2840
Fixed by: https://github.com/googleapis/artman/pull/641

[2019-06-17 20:47] #2840 closed

[2019-06-18 00:33] beccasaurus commented on #2838
We have some existing samples which do this (because the LROs can take days in that case!)
 - [Java](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/ee82760317eb4e49459371280743703f9f150678/datalabeling/beta/cloud-client/src/main/java/com/example/datalabeling/LabelImage.java#L71-L81) cancels in the snippet itself
 - [Python](https://github.com/GoogleCloudPlatform/python-docs-samples/

[2019-06-18 00:51] beccasaurus commented on #2838
Node:
 - https://googleapis.github.io/gax-nodejs/classes/Operation.html#cancel
 - ^--- the object returned by operation.promise() has a cancel()

Ruby:
 - Just call `operation.cancel`
 - https://www.rubydoc.info/gems/google-gax/Google/Gax/Operation#cancel-instance_method

C#:
 - The OperationsClient (which is the operation object I believe) has a CancelOperation
 - http://googleapis.github.io/goog

[2019-06-18 00:58] vchudnov-g opened #2847 "Include copyright comment at the top of NodeJS samples"
All the other languages generate samples with a copyright notice at the top, but NodeJS doesn't. We need to include it there as well.

[2019-06-18 06:17] jskeet commented on #2838
You can call `Cancel` (or `CancelAsync`) on the operation returned by `LongRunningRecognize`:

[code]

[2019-06-18 18:15] beccasaurus commented on #2797
I'd argue this could be considered a bug and I bumped this to P1 because the behavior is so unexpected.

I just generated this. I cannot ship it as-is 🚢

[code]

I'm going to have to use Synth to correct the code so it's shippable, which will be easier/more challenging in different languages & it's a long-term solution.

[2019-06-18 18:49] hzyi-google commented on #2797
Oh, this might be more than a bug fix, at least time-wise.

Although the sample looks too lovely for me as well, for now the generator does not know if two fields have the same value. To put it in a more data-structure-ish way, the generator currently sets up a "initializing tree", but what we need here is a "initializing graph".

This does look like a COOL feature to me (Think about this: we will

[2019-06-18 18:56] vchudnov-g commented on #2797
Agreed. This does look like a cool feature and we should design it with care: maybe allowing local variables in the request part, and allowing default values to refer to them.

Technically, it's not a bug fix because everything is working as it was intended; it's just that now we have a use case for adding this useful new feature....

[2019-06-18 19:01] beccasaurus commented on #2797
+1 You both said 💯 what I was thinking  👍

[2019-06-19 15:44] tseaver commented on #2634
@plamut Rather than adding those docstrings in `synth.py`, it would be preferable to have the generator use whatever comments are in the `.proto` files for the enums to generate them upstream.

[2019-06-19 16:02] plamut commented on #2634
@tseaver After working with synth for a bit, I cannot disagree - I'll be happy to remove that part form it once the generator is updated.

[2019-06-19 18:49] vchudnov-g commented on #2807
To clarify, based on a separate discussion: the `UnicodeEncodeError` above happens in Python 2, not Python3. Adding the `u` prefix makes the statements work for Python 2, which we'd prefer even if supporting Python 2 is not an explicit goal. At some point, maybe after Python 2 eol, we may remove the prefixes, which are not needed in Python 3.

[2019-06-19 21:12] #2826 closed

[2019-06-19 23:03] beccasaurus commented on #2838
https://github.com/googleapis/gapic-generator/pull/2848

[2019-06-19 23:41] busunkim96 opened #2849 "Python: Choose valid classifier for release_status in setup.py."
See https://github.com/googleapis/google-cloud-python/pull/8432

Release status looks like `release_status = "3 - Alpha"` when it should be set to `release_status = "Development Status :: 3 - Alpha`.

[2019-06-20 16:30] chingor13 opened #2850 "Java: proto and grpc artifacts are not preserving license headers"
The license headers should be preserved from the license headers present in the proto files.

[2019-06-24 16:30] vam-google commented on #2850
@chingor13 proto and grpc stubs are generated by `protoc` directly (grpc using grpc plugin from grpc-java repository). Gapic generator is not used. Most probably this request should go to https://github.com/protocolbuffers/protobuf

[2019-06-24 19:04] munkhuushmgl opened #2854 "Java: Naming conflict (java template)"
![image](https://user-images.githubusercontent.com/45373284/60044838-1be8e300-9678-11e9-99f9-f424e7073779.png)

[2019-06-24 19:33] dwsupplee opened #2855 "Include imports in code snippets"
We should include imports which aren't part of the current namespace in our code snippets, for more context please see [here](https://github.com/googleapis/google-cloud-php/pull/2013#discussion_r290473356).

[2019-06-25 17:56] eoogbe commented on #2094
Deprecating the GAPIC config in general.

[2019-06-25 17:56] #2094 closed

[2019-06-25 17:57] eoogbe commented on #1783
Deprecating the gapic config, so closing this issue

[2019-06-25 17:57] #1783 closed

[2019-06-25 20:17] dwsupplee commented on #2683
This issue has struck again: https://github.com/googleapis/google-cloud-php/blob/5387613599af844242b1b1ffb5aa722579cd61b4/Dialogflow/src/V2/Gapic/AgentsGapicClient.php#L893-L895

[2019-06-26 18:00] vam-google commented on #2854
@munkhuushmgl Please provide more details about the issue. I can see that dataset is defined twice in your screenshot, but we need more details.

What exactly is this (client code or samples code)?
How was it generated?
What are the .protos and gapic.yamls used to generated it?

But in general the naming conflicts are possible not only in gapic-generator but in protoc itself, unfortunately.

Somet

[2019-06-26 18:28] munkhuushmgl commented on #2854
What exactly is this (client code or samples code)? **sample code**
How was it generated? **Generated by SYNTHTOOL GAPIC **
What are the .protos and gapic.yamls used to generated it? **.yaml --> googleapis/google/cloud/automl/v1beta1/automl_gapic **

If you need any more info, please let me know

[2019-07-02 00:35] noahdietz opened #2865 "python: python-specific CI is broken"
The CircleCI test job `python-test` is broken, see PR https://github.com/googleapis/gapic-generator/pull/2863 as an example. The [failing job logs](https://circleci.com/gh/googleapis/gapic-generator/29667) show an issue with an IAM "options" type.

It looks like https://github.com/googleapis/googleapis/commit/7106c2cf62b4dcc7c248370b9c20ac30110f4c3c is the commit that added a new file and changed

[2019-07-02 18:31] noahdietz commented on #2865
It seems as though there is no generated Python type for `google.iam.v1.options.proto` and thus generation of python GAPICs via `googleapis/googleapis@master` is broken. We need to generate the new `options.proto` file into a python type and potentially to CI the generation of types from `googleapis/googleapis@master` to ensure everything is good-to-go

[2019-07-02 23:35] noahdietz opened #2866 "method-level timeout config"
While working on #2859 I noticed that some languages only take the timeout configuration from the RetryParams [total_timeout_millis](https://github.com/googleapis/gapic-generator/blob/c04c0061321546132563f6f3f6679e32191d5359/src/main/proto/com/google/api/codegen/v2/config_v2.proto#L447) field instead of the MethodConfig [timeout_millis](https://github.com/googleapis/gapic-generator/blob/c04c006132

[2019-07-08 17:26] hzyi-google commented on #2837
Fixed in #2844

[2019-07-08 17:26] #2837 closed

[2019-07-08 17:29] hzyi-google commented on #2854
I think we should explicitly fail in this case. Thoughts? @vchudnov-g @beccasaurus

[2019-07-08 17:31] hzyi-google commented on #2797
This is on the list of Q3 feature work.

[2019-07-08 17:34] hzyi-google commented on #2789
This issue has been inactive for a while and It seems work items mentioned here have been captured in #2809. Feel free to continue to comment or ask for reopening.

[2019-07-08 17:34] #2789 closed

[2019-07-08 17:36] hzyi-google commented on #2780
Hey @noahdietz you are the only person I know who is working on move retry configs out of gapic config. Would you be able to take a look?

[2019-07-08 17:42] hzyi-google commented on #2779
@lukesneeringer would you be able to take a look at this?

[2019-07-08 17:59] noahdietz commented on #2780
Thanks @hzyi-google yes, I can take a look at this. In fact, I opened another, slightly more specific issue as #2866 relating to the addition of gRPC ServiceConfig for retries w/GAPIC config v2. I was going to bring this to the team soon.

@kmjung thanks for this! I have a few questions.

1. What language(s) were you seeing issues with?
2. Do you have a link to the offending configuration?

To cla

[2019-07-09 23:08] noahdietz commented on #2866
After talking with the team, the easiest thing to do is option 2, setting the timeout in both the retry params and the method level configs. The "actual" value in a "no_retry_params" config for such a timeout is fine, it was said that we have examples of this elsewhere.

[2019-07-10 17:43] kmjung commented on #2780
In our case, the language in question was Python. Here's a link to the change that fixed the issue for us: https://github.com/googleapis/googleapis/commit/64f0053af0c24d817ec44278c8b4513f6cfd77ff#diff-dd4c7b3087025d4de8e2df1eb8473bcd

You can also check out e.g. https://github.com/googleapis/google-cloud-python/commit/583638be52d2718658c1ce0329a1e0b449ce6d5d#diff-0bb434bca16c242aceb62925b9b7e8f8

[2019-07-10 22:16] #2866 closed

[2019-07-11 12:53] jskeet opened #2868 "C#: Use ApiCall.WithGoogleRequestParam for routing headers"
Introduced in https://github.com/googleapis/gax-dotnet/commit/12d59c9b8e985e620816649c245eaefdedffe632

[2019-07-11 14:04] #2868 closed

[2019-07-15 16:06] #2865 closed

[2019-07-15 19:07] hzyi-google opened #2873 "SampleGen: C# region tag location"
Now, C# samples go like:
[code]
Start tag and end tag are not at the same level, which will cause samples on devsite to miss closing braces.

Found in: #2872

[2019-07-15 19:11] hzyi-google commented on #2873
Proposing changes:

[code]

[2019-07-15 19:14] hzyi-google commented on #2873
cc/ @beccasaurus @vchudnov-g

[2019-07-15 23:47] hzyi-google opened #2874 "SampleGen: Initialize Python request object from top to bottom"
With this protobuf object:

[code]

We should generate the following code:
[code]

It's more idiomatic, and will also get initializing map fields in Python work (see: https://github.com/googleapis/gapic-generator/issues/2624)

[2019-07-15 23:47] hzyi-google commented on #2874
cc @googleapis/samplegen

[2019-07-16 02:22] alexander-fenster commented on #1778
I wrote two possible solutions for this in https://github.com/googleapis/nodejs-speech/issues/399. The easiest way to handle this in the generated code, without exposing `client._descriptors`, would be to add an `gax.Operation` factory for each long running call to the generated client class. See my first code sample in the linked issue #399.

[2019-07-16 05:18] beccasaurus commented on #2874
I'm down with this. But I want to make sure it's idiomatic.

@lukesneeringer Is this how you'll want to generate Python samples?

/cc @nnegrey @dizcology

[2019-07-16 13:58] nnegrey commented on #2874
In handwritten I think we would write it like this.

[code]

Side thing, in your code above you don't create an `Address()` object, wouldn't you need to do that before you could assign the `.line#` values or am I mistaken?

[2019-07-16 16:29] hzyi-google commented on #2874
Nope. I think creating a protobuf objects initializes all fields with zero values. The code above works fine for me.

[2019-07-16 18:38] vchudnov-g commented on #2873
LOL. I just left you a comment in the PR review.

Yes, I really think the region tags should be properly nested within the braces. What you suggest sounds good to me. (Or even just having the tags around the sample function, though that misses the imports, IIUC, which is not as good)

@beccasaurus , wdyt?

[2019-07-16 18:40] vchudnov-g commented on #2874
I agree with doing this. Can we do it in the format suggested by @nnegrey ? Note that this also affects the micro-generators, so looping in @software-dov

[2019-07-16 19:00] software-dov commented on #2874
To the best of my limited experience, I think @nnegrey is correct, that the bottom up initialization is the popular idiom. I cannot comment on the correctness of the top down approach.

[2019-07-16 23:55] tswast opened #2876 "Python: Add unit test for versionless shim."
We're getting coverage errors due to the `google.cloud.bigquery_datatransfer` module never being imported in the unit tests.

https://github.com/googleapis/google-cloud-python/pull/8630#issuecomment-511853792

We should have an auto-generated unit test similar to the one Tres suggests.

[2019-07-18 02:31] igorbernstein2 opened #2877 "Java long running operations hardcode the initial call setting"
The generated stub settings for java LRO, hard code the initial call settings as:

[code]
This is hard coded into the template:
https://github.com/googleapis/gapic-generator/blob/9ad9ebf4478ab40f3d37a5fe83d3069e9d2809cd/src/main/resources/com/google/api/codegen/java/stub_settings.snip#L544-L546

Hardcoding the LRO to idempotent is definitely incorrect: Most LROs are heavy weight operations that sh

[2019-07-18 18:39] #2877 closed

[2019-07-18 20:42] #1794 closed

[2019-07-18 22:16] hzyi-google opened #2880 "Java: Remove incorrect documentation that configures retry through StreamingCallSettings"
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-video-intelligence/src/main/java/com/google/cloud/videointelligence/v1p3beta1/stub/StreamingVideoIntelligenceServiceStubSettings.java#L64-L68

This method doesn't exist.

[2019-07-22 18:26] #2880 closed

[2019-07-23 00:45] beccasaurus opened #2884 "[SampleGen] In-line literal values when building request (don't create new locals)"
Feature Request:
 - do not create new local variables for each sub-message constructed for the request message
 - inline literal values when constructing the

Perhaps most ideal:
 - Do not add any literals besides `request` and `client` ? or something similar

----

Here is an example demonstrating an issue caused by this (besides aesthetic concerns):

[code]

This results in a syntax error

[code

[2019-07-23 00:48] beccasaurus commented on #2884
Note: the particular example I used is not ideal.

I showed a sample for "Creating a Glossary" which presumably _does_ construct a variable named `glossary` when constructing the request. So the naming conflict happens, even in that ideal case.

Here's the published hand-written sample:

[code]

...

That said, the issue is still valid as a placeholder for the feature request of inlining request v

[2019-07-25 21:36] #2873 closed

[2019-07-26 13:06] tseaver opened #2889 "Python: docstrings for 'retry' arguments imply no retry by default."
See: https://github.com/googleapis/google-cloud-python/issues/6914

In fact, *all* requests have a configured default policy for retries.

[2019-07-26 18:05] #2889 closed

[2019-07-26 23:50] msridhar opened #2892 "Possible missing packageInfo property in JavaSurfaceTransformer"
This issue was discovered with a static analysis tool we are developing.  We are not fully confident it is a real bug, but it was suspicious enough that we thought it was worth reporting.

In `PackageInfoView`, the output path is a required property (no `@Nullable` annotation):

https://github.com/googleapis/gapic-generator/blob/768b9f60d7b02479b1bef35ba4bac8af5a1723c4/src/main/java/com/google/api

[2019-07-27 03:05] hzyi-google opened #2893 "SampleGen cleanup: SampleFileRegistry class"
The class has been used for slightly different purposes before and after the config migration and the code is contaminated. Consider doing the following after the migration is done:

- [ ] Remove deprecated methods and fields used by only deprecated methods
- [ ] Stop passing in a map through constructor, it's confusing
- [ ] If not breaking static languages, change `userProvidedIdCount` to a set

[2019-07-30 00:40] hzyi-google commented on #2874
Talked with @software-dov offline. This is the strategy that Python micro-generator is taking:

<b>1. Prefer dictionaries over objects</b> (This is the same as the monolith)

With the support of [proto-plus-python](https://github.com/googleapis/proto-plus-python), dictionaries works perfect with protobuf messages.

<b>2. Prefer setting up an empty dictionary first, and then setting key/value pair<

[2019-07-30 12:02] ajaaym opened #2895 "Add config option for maxInboundMsgSize"
For some client we need to set maxInboundMsgSize, right now we are using synth to update code after generation. Can it be added as part of gapic config? Please see this [comment](https://github.com/googleapis/google-cloud-java/pull/5883#pullrequestreview-267294991)

[2019-07-30 17:37] software-dov commented on #2874
The example is not valid python; the current python would do

line1 = "1 Some Street"
line2 = "Apt 890"
address = {"line1": line1, "line2": line2}

name = "Adam Smith"
person = {"name": name, "address": address}

The convention I'm using for the microgenerator setting up the dictionary
and then assigning to keys directly, e.g.
address = {}
address["line1"] = "1 Some Street"
address["line2"] = "Apt

[2019-07-30 17:47] hzyi-google commented on #2874
Gotcha! Updated the original post too

[2019-07-30 19:13] nnegrey opened #2898 "Java Generated sample doesn't print waiting for output"
@googleapis/samplegen

Generating samples in both Python and Java for asynchronous tasks.

Python will generate a line: `print(u'Waiting for operation to complete...')`
Where Java doesn't, would be nice to include to let the user know something is happening.

[2019-07-31 17:12] noahdietz commented on #2895
@ajaaym We actually ran into a similar with some big query GAPICs last week. What we will do is remove the limits _now_ in order to stop such errors, and we will make it configurable in the future as part of the proto annotation/micro-generator migration. The specific steps:

1. `gapic-generator` will generate the client options for max call recv & send msg sizes with an unbounded value (`-1` make

[2019-07-31 17:42] noahdietz commented on #2895
Hm, it seems that for grpc-java, a limitless value of `-1` might not be allowed [per](https://github.com/grpc/grpc-java/blob/175a423c106bb79a6d4deced1c3f7dc2ea58700b/core/src/main/java/io/grpc/internal/AbstractManagedChannelImplBuilder.java#L161). I will use your change of `Integer.MAX_VALUE` for Java's default.

[2019-07-31 23:00] #1893 closed

[2019-08-01 18:01] #2895 closed

[2019-08-01 18:10] noahdietz commented on #2895
Note: #2900 won't take effect until it has been released and clients have been regenerated.

[2019-08-01 18:27] ajaaym commented on #2895
@noahdietz Thanks a lot for quick turnaround.

[2019-08-01 18:55] #2773 closed

[2019-08-02 19:03] tseaver opened #2904 "Python: PR #2900 breaks system tests"
E.g., from [this Kokoro job](https://source.cloud.google.com/results/invocations/db8f1aa0-2f95-4f0a-a792-c1e56653af46/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fvision/log):

[code]

[2019-08-02 19:06] noahdietz commented on #2904
Does your [suggestion in the PR](https://github.com/googleapis/gapic-generator/pull/2900#discussion_r310259450) fix things?

Sorry about this.

[2019-08-02 19:09] busunkim96 commented on #2904
@noahdietz That should be it. For reference:

https://github.com/googleapis/google-cloud-python/blob/6f0df5dca4206f198789384a01940165659a3aff/logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py#L65-L74

[2019-08-02 19:09] tseaver commented on #2904
@noahdietz

Yes, see the following where we've added that in `synth.py`: https://github.com/googleapis/google-cloud-python/blob/8c8e3606ecd214aafae4644d0ce6d4b293f32fa8/logging/synth.py#L41-L47

No worries

[2019-08-02 19:17] noahdietz commented on #2904
I will need to release this change via artman. CI will take some time but it will be released today.

[2019-08-02 19:53] #2904 closed

[2019-08-02 20:52] noahdietz commented on #2904
Released in https://github.com/googleapis/artman/releases/tag/v0.32.1

[2019-08-05 17:10] vchudnov-g commented on #1414
@alexander-fenster We're out of SLO for this issue. Could you provide an update/resolve, and/or lower the priority? Thanks!

[2019-08-05 17:11] vchudnov-g commented on #1756
@alexander-fenster We're out of SLO for this issue. Could provide an update and/or lower the priority?

[2019-08-05 17:12] vchudnov-g commented on #2127
@alexander-fenster We're out of SLO for this issue. Could provide an update and/or lower the priority?

[2019-08-05 17:13] vchudnov-g commented on #2141
@hzyi-google Did #2757 fix this? If so could you close this issue?

[2019-08-05 17:45] alexander-fenster commented on #1414
Since we had no customers' requests on this, I'll change it to P2, and will talk to you about this later when we move to micro-gen on TypeScript.

[2019-08-05 17:47] alexander-fenster commented on #1756
I'm going to close this now since (a) we're moving to TypeScript with all the types available, happens this/next quarter, and (b) this is going to be WONTFIX for the current generator.

[2019-08-05 17:47] #1756 closed

[2019-08-05 17:48] alexander-fenster commented on #2127
The manual change is still there, but the micro-generator is supposed to fix that. Lowering the priority for now since it does not affect anyone (handled by `synthtool`).

[2019-08-05 18:25] hzyi-google commented on #2141
Fixed by #2757.

[2019-08-05 18:25] #2141 closed

[2019-08-05 21:08] vchudnov-g commented on #2360
@vam-google Could you provide an update, reprioritize, or re-assign (maybe @hzyi-google ?). We're out of SLO on this issue.

[2019-08-05 21:10] vchudnov-g commented on #2360
(Ah, nm, not technically out of SLO since it's not a bug but a FR. But still, an update would be good.)

[2019-08-05 21:10] vchudnov-g commented on #2835
@alexander-fenster Any updates on this? We're out of SLO on this issue.

[2019-08-05 21:13] vchudnov-g commented on #2847
@hzyi-google: Any updates on this?

[2019-08-05 21:15] vchudnov-g commented on #401
@lukesneeringer @hzyi-google Any updates on this? We're out of SLO.

[2019-08-05 21:16] vchudnov-g commented on #1057
@chrisdunelm Any updates on this? We're out of SLO.

[2019-08-05 21:16] vchudnov-g commented on #1786
@lukesneeringer @hzyi-google Any updates on this? We're out of SLO.

[2019-08-05 21:17] vchudnov-g commented on #2120
Deprioritizing as per last comment.

[2019-08-05 21:18] vchudnov-g commented on #2159
@lukesneeringer @hzyi-google Any updates on this? We're out of SLO.

[2019-08-05 21:18] vchudnov-g commented on #2235
@hzyi-google Could you look into this? We're out of SLO.

[2019-08-05 21:19] vchudnov-g commented on #2445
Lowering the priority as per the previous comment.

[2019-08-05 21:20] vchudnov-g commented on #2449
@lukesneeringer @hzyi-google Any updates on this? We're out of SLO.

[2019-08-05 21:21] vchudnov-g commented on #2492
@hzyi-google @jbolinger Any updates on this? We're out of SLO.

[2019-08-05 21:21] vchudnov-g commented on #2503
@jbolinger Any updates on this? We're out of SLO.

[2019-08-05 21:22] vchudnov-g commented on #2525
There's been no activity on this, so I'm closing this issue. Feel free to re-open if it comes up again.

[2019-08-05 21:22] #2525 closed

[2019-08-05 21:23] vchudnov-g commented on #2534
@noahdietz Any updates on this? We're out of SLO.

[2019-08-05 21:24] vchudnov-g commented on #2683
@hzyi-google Could you PTAL?

[2019-08-05 21:25] vchudnov-g commented on #2693
@hzyi-google Any updates on this? We're out of SLO.

[2019-08-05 21:25] vchudnov-g commented on #2709
@vam-google Any updates on this? We're out of SLO.

[2019-08-05 21:28] alexander-fenster commented on #2835
I made the change to fix this in https://github.com/googleapis/gax-nodejs/pull/544 (`protobufjs` is now exported from `google-gax` so the generated libraries don't need to depend on it directly). Changes to the generator to stop depending on `protobufjs` are in #2888. Merging #2888 will close this one.

[2019-08-05 21:34] tseaver commented on #2449
FWIW, the workaround added in https://github.com/googleapis/google-cloud-python/pull/6634 is still in effect when generating `google-cloud-container`:

[code]

[2019-08-05 22:05] jbolinger commented on #2503
I think we should close it at this point given the progress on https://github.com/googleapis/gapic-generator-ruby. If it's still an issue it'll get raised during the migration and we've been able to work around it here fairly easily.

[2019-08-05 22:05] #2503 closed

[2019-08-08 15:28] noahdietz commented on #2534
Closing this because of inactivity and Jean indicated that it would essentially be resolved through an existing plan for a multi-module repo (which is already underway).

[2019-08-08 15:28] #2534 closed

[2019-08-09 20:18] JustinBeckwith commented on #2835
I'm closing this one, because the original issue (generation being broken) has been fixed :)

[2019-08-09 20:18] #2835 closed

[2019-08-13 16:33] hzyi-google commented on #2838
No longer needed.

[2019-08-13 17:03] noahdietz commented on #2892
@hzyi-google when you get a chance, would you mind investigating this issue and reporting back on if it is possible/is it a concern? Thank you!

[2019-08-13 19:11] hzyi-google commented on #2892
Hi @msridhar, thank you so much for letting us know this issue, and your static analysis tool sounds truly amazing!

Yes your analysis is totally correct. This is indeed a code path that is not explicitly handled. In real world, however, this would (almost) never happen because the pipeline would have failed earlier. But I agree there are still potential risks of crashing without helpful debugging

[2019-08-13 19:29] msridhar commented on #2892
Thanks for the feedback @hzyi-google!  We are very happy to know that this report was useful.  We are working on making our tool more robust so it is usable by other developers; we will publicize the tool more once we hit that milestone.  Thanks again!

[2019-08-14 04:27] #2892 closed

[2019-08-14 04:33] msridhar commented on #2892
@noahdietz @hzyi-google quick question.  Would it be of interest for us to put up a pull request adding our checker to the CI builds for gapic-generator, once it is more mature and ready?

[2019-08-14 17:19] hzyi-google commented on #2893
DPE still needs gapic config for a while.

[2019-08-14 17:32] #2627 closed

[2019-08-14 17:33] hzyi-google commented on #2599
Not needed until we have a use  case.

[2019-08-14 17:33] #2599 closed

[2019-08-14 17:42] hzyi-google commented on #2492
There doesn't seem to be a plan to solve this issue in the monolith, but the micro generator will handle it.

[2019-08-14 17:42] #2492 closed

[2019-08-14 17:47] hzyi-google commented on #2235
This has already been solved by: https://github.com/googleapis/gapic-generator/pull/2795

[2019-08-14 17:47] #2235 closed

[2019-08-14 18:34] noahdietz commented on #2106
@jbolinger has this issue been moved to the gapic-generator-ruby repo? If it won't be fixed here, the issue should be tracked where it'll be fixed. This issue is out of SLO right now. I'm happy to open the issue myself if preferred.

[2019-08-14 18:35] noahdietz commented on #2196
@jbolinger @dazuma  has this issue been moved to the gapic-generator-ruby repo? If it won't be fixed here, the issue should be tracked where it'll be fixed. This issue will eventually be out of SLO, especially if folks aren't tracking it where it's actually going to be fixed. I'm happy to open the issue myself if preferred.

[2019-08-14 18:39] noahdietz commented on #2766
@dazuma @jbolinger is this going to be fixed in this generator? I imagine with the microgenerator coming out and the reroute feature not being supported, it won't be "fixed" in there.

I would like to close it if it's not going to be addressed or lower the priority.

[2019-08-14 18:46] noahdietz commented on #1983
Per the last comment, without a motivating case, we will not prioritize this work. I am closing this as "won't fix" because it is out of SLO. The issue being here is documentation that the problem exists and our reasoning for not addressing it. We can reopen and address it when an error scenario arises.

[2019-08-14 18:46] #1983 closed

[2019-08-14 18:51] noahdietz commented on #1215
This issue is out of its SLO.

Reassigning this issue to @hzyi-google as it is a sample issue AFAICT. Please reassign if you feel this is not appropriately assigned.

[2019-08-14 19:33] jbolinger commented on #2106
We can track it here: https://github.com/googleapis/gapic-generator-ruby/issues/63 and close this here since there is no plan to fix this in the legacy generator (synth workarounds are available).

[2019-08-14 19:33] #2106 closed

[2019-08-14 19:34] jbolinger commented on #2196
It's not really relevant in gapic-generator-ruby and we are not planning to fix it here, so I'll close this out.

[2019-08-14 19:34] #2196 closed

[2019-08-14 19:36] jbolinger commented on #2766
I don't think this is relevant in gapic-generator-ruby since the configuration is totally different. We're not planning to fix it here so I'll close this and we can open new issues if there are problems with how the micro-generator creates docs.

[2019-08-14 19:36] #2766 closed

[2019-08-14 20:16] hzyi-google opened #2928 "Python Samples style change"
- [ ] Remove the calling_form sample ID combination in the `DO NOT EDIT` warning
- [x] Imports should have an empty line above them from the comment
- [x] Remove the blank line between region tag and first import
- [x] Comment blocks shouldn't have a newline at the end
- [x] Remove unused `import sys`

cc/ @nnegrey Please let me know if I missed a thing or two :stuck_out_tongue_closed_eyes:

[2019-08-14 21:14] noahdietz commented on #2892
@msridhar Thanks for offer. We will discuss it and get back to you in a few days.

[2019-08-14 21:59] noahdietz commented on #1811
@lukesneeringer any ideas for this?

[2019-08-14 22:01] noahdietz commented on #2736
@lukesneeringer any ideas here? Should we reassign to @software-dov or @hzyi-google ?

[2019-08-14 22:14] hzyi-google opened #2930 "Support sample config input when gapic-generator runs as a protoc Java plugin"

[2019-08-14 22:16] vchudnov-g opened #2931 "samplegen: satisfy generation semantics depending on user-specified files/directories"
As per [this PR comment thread](https://github.com/googleapis/gapic-generator/pull/2924#discussion_r313184210) referencing [this design discussion](https://docs.google.com/a/google.com/document/d/1g6M5gl2gdrefQGyCW_MHAqZPRBiobCNJ4XChJJ4ufq4/edit?disco=AAAADYbhLxU), the semantics for sample generation should be that

1. if no sample files/directories are specified, no samples files, manifest files,

[2019-08-14 22:24] hzyi-google commented on #2931
I really _don't_ think this is a P1 and I am quite unsure about this is what we should force every micro generator and artman to implement it.

I don't think the requirement has been well communicated to customers (If so, and this is what customers wanted, I apologize and will get to it as soon as possible). I sincerely don't think we should continue to push out features that customers don't care

[2019-08-14 23:13] vchudnov-g commented on #2931
We discussed it in the spec and have it in there for a reason (it's a conclusion in a comment thread, and we need to update the main doc), so this is a requirement for having parity with microgenerators. And while it's not a blocker per se for the samplegen launch this quarter, it will lead to incompatibilities when everything moves over to the microgenerator invocation paradigm. So this is a non-

[2019-08-14 23:34] hzyi-google commented on #2931
It is not clear how this conclusion is reached:

This is the base of all other comment threads that talks about details of each parameter is handled but does not address why the flag `samples` have to take repeated fields, and whether this should be a required feature.

From how I have observed DPEs authoring samples there is a high chance they won't need to pass in a list of `--samples`, as long

[2019-08-15 00:03] #2847 closed

[2019-08-15 14:32] igorbernstein2 commented on #2742
Also related: it would be nice for gapic to generate a GrpcBaseStub. That exposes the base callables w/o retries. This would allow manually written clients avoid unnecessary links in the callable chains

[2019-08-15 21:39] #2578 closed

[2019-08-15 21:58] software-dov commented on #2931
I'd argue that it's not a feature request, it's establishing a standard. Bringing artman or a microgenerator into conformance with that standard would be a series of feature requests.

Not the focus of the thread, but just want to get my $0.02 in: I am against globbing because of complications it brings to build tools, and the intersection of recursive-directory-traversal and explicitly-named-file

[2019-08-15 23:03] hzyi-google commented on #2931
IMHO recursive-directory-traversal is enough.

I want to hear user's opinion on this. I put this topic on next week's samplegen team meeting.

[2019-08-16 15:55] vchudnov-g commented on #2928
We haven't decided to do the first item yet. I'm not opposed, but let's discuss metadata in general and where we want it to live.

[2019-08-17 00:20] vchudnov-g commented on #2931
I do see your POV, @hzyi-google . It's adding new functionality. OTOH, it's also fixing functionality that was added incompletely in the previous PR. That's how I was approaching it. :man_shrugging:

In regards to passing sample configs in, I really do think only allowing dirs will be too restrictive and un-intuitive. We're building this for more than one customer.

WRT globbing: I'm of mixed mind

[2019-08-19 18:00] noahdietz commented on #2892
Hi @msridhar so this sounds interesting. Why don't you come back in a few months when it is fully ready and we can discuss the possibility of integrating it. Thanks!

[2019-08-19 18:22] hzyi-google commented on #2931
Users can still pass in an arbitrary path, which can be either a directory or a file.

My main concern is to not support multiple entries at the moment, i.e.,

I am OK with:
[code]
or, in artman config,

[code]

But I don't quite like (at least not for now):
[code]
or in artman config,
[code]

I do agree only allowing directories is counter-intuitive, but I think it's good enough to allow both a s

[2019-08-19 19:40] software-dov commented on #2931
The important point seems to be that, whatever complicated use case the user has, their needs can be met with a combination of existing tools and functionality plus tweaking their directory structure somewhat.

[2019-08-19 20:52] software-dov commented on #2854
Bump for open bug @hzyi-google @beccasaurus @vchudnov-g

[2019-08-19 21:07] hzyi-google commented on #2854
Let's make sure this goes into v1.3.

[2019-08-19 22:33] msridhar commented on #2892
Sounds good @noahdietz! I’ll open a proposal issue before creating a full PR so I can give more details and we can have a discussion.

[2019-08-19 22:36] software-dov commented on #2779
Bump @lukesneeringer @busunkim96
Is this being worked on?

[2019-08-19 22:37] software-dov commented on #2709
@vam-google @igorbernstein2 can you two hash out importance/fixibility?

[2019-08-19 22:44] jbolinger commented on #1810
I think this issue is no longer relevant given the current sample gen spec. Feel free to reopen if you feel otherwise.

[2019-08-19 22:44] #1810 closed

[2019-08-19 22:44] jbolinger commented on #1749
Done in https://github.com/googleapis/gapic-generator-ruby.

[2019-08-19 22:44] #1749 closed

[2019-08-19 22:45] jbolinger commented on #1704
No longer relevant given the customizations available in https://github.com/googleapis/gapic-generator-ruby.

[2019-08-19 22:45] #1704 closed

[2019-08-19 22:46] jbolinger commented on #1403
Done in https://github.com/googleapis/gapic-generator-ruby.

[2019-08-19 22:46] #1403 closed

[2019-08-19 22:48] jbolinger commented on #977
These languages all have new generators. If this is still relevant please open an issue on any or all of the following:

https://github.com/googleapis/gapic-generator-ruby
https://github.com/googleapis/gapic-generator-python
https://github.com/googleapis/gapic-generator-typescript

[2019-08-19 22:48] #977 closed

[2019-08-19 22:50] jbolinger commented on #975
These languages all have new generators. If this is still relevant please open an issue on any or all of the following:

https://github.com/googleapis/gapic-generator-ruby
https://github.com/googleapis/gapic-generator-python
https://github.com/googleapis/gapic-generator-typescript
etc.

[2019-08-19 22:50] #975 closed

[2019-08-19 23:51] hzyi-google opened #2943 "SampleGen: initializing map fields"
- [x] - In Java: the key should be boxed type (`Integer`)
- [ ] - In C#: the format is broken
- [ ] - In Python: we need to use objects instead of dictionaries when used as a map value (to be verified)
- [x] - In Node.js: there seems to be an extra comma(?)

[2019-08-19 23:51] hzyi-google commented on #2943
cc @googleapis/samplegen

[2019-08-20 00:48] vam-google commented on #2709
I want to say that this can be closed. @igorbernstein2 WDYT?

[2019-08-20 14:59] igorbernstein2 commented on #2709
The practical issue for me is that it forces me to keep the generated gapic clients as part of the public surface in the Bigtable client. (Bigtable client provides a manually written layer on top of the gapic generated stub, it doesn't need the generated client).

However, I don't think moving this to the stub w/o api breakage will be easy, the classes are way too intertwined to split the layers.

[2019-08-20 14:59] #2709 closed

[2019-08-20 16:52] busunkim96 commented on #2779
@software-dov Not that I know of. I see this the most with AutoML, which has some pretty long proto comments to explain file formats.

[2019-08-20 17:24] software-dov commented on #2849
Fixed by #2940 2940

[2019-08-20 17:24] #2849 closed

[2019-08-20 18:26] hzyi-google commented on #2779
Hmmm, I can take this up if no one has cycles, but I need someone to translate Python terminology to something I can understand :(

[2019-08-20 18:35] software-dov commented on #2779
I can translate python terminology. Not sure I really understand the issue, though.

[2019-08-21 23:48] hzyi-google commented on #2943
https://github.com/googleapis/gapic-generator/pull/2946 Fix Java and Node.js

[2019-08-22 19:07] hzyi-google commented on #2928
2 - 5 are fixed. We don't have any immediate work item for 1. Close this issue.

[2019-08-22 19:07] #2928 closed

[2019-08-24 17:39] lukesneeringer commented on #2310
Closing this as very stale given @noahdietz and @jadekler have done signficant work on retries, with an AIP pending.

[2019-08-24 17:39] #2310 closed

[2019-08-28 13:44] tseaver opened #2952 "Python: Fix intersphinx mapping URL for google-api-core."
E.g., https://github.com/googleapis/google-cloud-python/pull/9134/files reverts the change to host the files on googleapis.dev.

[2019-08-28 19:13] beccasaurus opened #2954 "[SampleGen] 🚀 Enable Google Cloud client library repo support"
## 🚀 Enable SampleGen functionality for client library repos

» Tracking issue 🐞

Now that `gapic-generator` supports generating code samples in C#, Go, Java, Node.js, PHP, Python, and Ruby, each of the respective client library repositories should enable support for generated code samples so that `autosynth` distributes generated samples for publication.

----

#### 🖋 Sample Authoring [Journey] –

[2019-08-28 22:34] vchudnov-g commented on #2931
We discussed offline and arrived at the following requirement:

µgenerators can accept multiple `--sample` flags, each specifying one yaml file that must contain one or more sample-config doc (but may contain other types of docs as well). Directories may NOT be specified via the `--sample` flag; it is the job of the caller to glob files as needed.

(If there's demand/reason to, we may relax this r

[2019-08-28 22:39] #2898 closed

[2019-08-29 19:24] busunkim96 commented on #2952
Resolved via #2947

[2019-08-29 19:24] #2952 closed

[2019-08-31 01:34] beccasaurus opened #2961 "SampleGen: sample metadata usage rendering wrong with "[String Values in Brackets]""
### Steps to Reproduce
 - Set the value of any input_parameter to a string wrapped in brackets

 - Generate code samples (tested with Python)

### Expected Result
 - Usage metadata should look like this:
[code]

### Actual Result
 - The first bracket is missing!!
[code]

I have tools which treat [bracket wrapped] values in a special way (I've been using this as a convention for required values)

@

[2019-08-31 01:47] beccasaurus opened #2962 "SampleGen: change Node.js service var to [PascalCaseServiceName]Client"
Rather than:
[code]

Let's change it to be this:
[code]

----

Example of where I ran into problems with the current naming... checkout this excerpt from a Natural Language generated code sample:

Note: this sample doesn't work, the syntax is invalid and Node.js raises an error before running it. The request requires a field named `language` and, because we [needlessly] make these temp variables,

[2019-08-31 01:48] beccasaurus commented on #2962
@googleapis/samplegen

Note: this is a good first issue (@nnegrey)

[2019-08-31 02:30] beccasaurus opened #2963 "SampleGen: can't find field on request object? [TranslationService.CreateGlossary]"
I can no longer generate the sample below.

Error message:
[code]

I'm calling:
[code]

![Screen Shot 2019-08-30 at 7 28 43 PM](https://user-images.githubusercontent.com/280/64058190-6432ee80-cb5c-11e9-88d6-a17c42c24b7b.png)

This Request requires that 2 fields be set: `parent` and `glossary`

The Error message seems to imply that it's only seeing the `parent` field and not the `glossary` field (t

[2019-08-31 02:35] beccasaurus commented on #2963
Note: the `glossary.name` `project/location/glossary` come from the defined collections:
[code]

This sample used to generate as-is for me afaicr 😕

[2019-08-31 03:16] beccasaurus commented on #2962
Muhahaha...

[code]

Sending PR

[2019-08-31 03:30] beccasaurus commented on #2962
Fixed the snip. Feeling the pain of updating the baselines. Challenging because the baseline doesn't just include the standalone samples. Oof. @hzyi-google do you have scripts to make this easier?

The small .snip change: https://github.com/googleapis/gapic-generator/compare/master...beccasaurus:samplegen-change-varname-for-node-package?expand=1

[2019-08-31 07:45] beccasaurus commented on #2963
Duplicate of https://github.com/googleapis/gapic-generator/issues/2586

... I always remember `collections:` but forget `field_name_patterns:` 😅

[2019-08-31 07:50] #2963 closed

[2019-09-03 15:26] jbolinger commented on #2961
@vchudnov-g could you take a look and prioritize?

[2019-09-03 17:17] hzyi-google commented on #2961
I'll take it since most likely I introduced the bug. :stuck_out_tongue:

[2019-09-03 17:50] hzyi-google commented on #2962
All the generated stuff are in `/tmp/com.google.api.codegen.gapic_testdata` or `/tmp/com.google.api.codegen.protoannotations_testdata`. Just override the baseline files in `src/java/test/com/google/api/codegen/gapic/testdata/` and `src/java/test/com/google/api/codegen/protoannotations/testdata/` with these generated files.

(Or I can rebase off your PR and do that for you)

[2019-09-06 15:19] lukesneeringer opened #2971 "gapic-generator can not generate without empty collections list."
This GAPIC config v2 is able to generate a Java GAPIC:

[code]

However, if the last four lines are removed (as they should be), generation crashes with:

[code]

[2019-09-06 15:37] lukesneeringer opened #2972 "gapic-generator does not understand projects"
Many GCP APIs have the (shared) concept of a _project_, which is at the top of the hierarchy for most GCP resources.

Accordingly, the GAPIC config often has a block that looks like this:

[code]

Generating C# with this block crashes with the error described here: https://github.com/googleapis/google-cloud-dotnet/issues/3423

Generating C# with this block removed (which would be a problem for the

[2019-09-06 16:29] eoogbe commented on #2971
This is as intended. Delete the collections field if it is empty.

[2019-09-06 18:29] hzyi-google commented on #2971
Okay some progress.

@lukesneeringer Please add a `proto_package` in artman config if you delete all the interfaces (per: https://github.com/googleapis/artman/pull/636)

But that is causing another issue in generating Java `package-info.java` file, which I am still investigating.

[2019-09-06 18:44] hzyi-google commented on #2971
Whoops that was me adding the wrong proto package.
For this case, please update artman yaml this way:

[code]

My understanding on why this is needed:

gapic-generator needs this information to find `service`s we need to generate gapic for. When we were using gapic config, we generate clients for all services with a corresponding interface config. But when we remove the gapic config (or remove all

[2019-09-06 18:44] #2971 closed

[2019-09-09 16:56] lukesneeringer commented on #2971
I have confirmed the approach that @hzyi-google provides here does work.

[2019-09-09 21:00] ludoch opened #2974 "Support well known env variable name to configure local emulators"
I am starting developing a new Cloud Tasks emulator.
It is very similar to the PubSub emulator.

I see that in order to use it, one must change the application code to access the emulator:
See https://cloud.google.com/pubsub/docs/emulator#accessing_environment_variables

In Cloud Datastore emulator, one does not need to change the client code, as seen in:
https://cloud.google.com/datastore/docs/to

[2019-09-09 21:01] ludoch commented on #2974
+lesv@

[2019-09-09 22:33] ludoch commented on #2974
Java pubSub section is what I was referring to:
https://cloud.google.com/pubsub/docs/emulator#pubsub-emulator-java

[2019-09-10 16:44] vam-google commented on #2974
@ludoch Can you please clarify you request please.
From what I understood, there is a missing feature in the generated GAPIC clients, because to to switch between real service and an emulator one would need to change code in their application. Is it correct?

If yes, can you please clarify which code change that would be (an example would be ideal)?

Do I understand it right, that the suggestion i

[2019-09-10 17:40] ludoch commented on #2974
The example is in the public documentation, but I can copy paste if you want:

Production code for PubSub shown in the doc:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/snippets/TopicAdminClientSnippets.java#L52

[code]
Emulator: https://cloud.google.com/pubsub/docs/emulator#pubsub-emulator-java
[code]

As you can

[2019-09-10 17:53] ludoch commented on #2974
Datastore emulator documentation, simple and elegant:

https://cloud.google.com/datastore/docs/tools/datastore-emulator

Ideally, the Cloud SDK should even be using these settings, i'e to create a pubsub or task via CLI would talk to the emulator if the env variable is set....But maybe the Cloud SDK is not using the Client APIs?

[2019-09-11 22:29] xiaozhenliu-gg5 opened #2975 "gapic-generator does not support multiple patterns for resources"
One use case [dataproc_v1]:

message WorkflowTemplate {
  option (google.api.resource) = {
    type: "dataproc.googleapis.com/WorkflowTemplate"
    pattern: "projects/{project}/regions/{region}/workflowTemplates/{workflow_template}"
    pattern: "projects/{project}/locations/{location}/workflowTemplates/{workflow_template}"
    history: ORIGINALLY_SINGLE_PATTERN
  };
...
}

We have two patterns fo

[2019-09-12 01:43] hzyi-google commented on #2975
@xiaozhenliu-gg5 Can you dump the whole error here? Thanks!

[2019-09-13 15:53] nnegrey opened #2977 "Samplegen: Streaming in Python Speech-to-Text"
@googleapis/samplegen

[speech_streaming.yaml](https://paste.googleplex.com/5401745645633536)

[speech_streaming.py](https://paste.googleplex.com/4637460141178880)

[handwritten_speech_streaming.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming.py)

Error:
[code]

Cause:
Generated: `client.streaming_recognize(requests)`
Handwritten:

[2019-09-13 16:00] nnegrey commented on #2977
If you make the quick change by hand:
[code]

You still get some other error:
[code]

[2019-09-13 16:09] nnegrey commented on #2977
To get it working, had to modify these lines to use the protobuf objects.

OLD:
[code]
NEW:
[code]

[2019-09-13 17:38] nnegrey commented on #2977
Might even be because the helper method expects objects of protbuf type.

[2019-09-13 21:21] hzyi-google commented on #2975
Some progress:

The actual code that causes this issue is the resource name plugin, but some design decisions must be made before we precede. I'll capture the problem in a doc.

[2019-09-18 17:09] hzyi-google opened #2981 "code formatters sometimes break up sample metadata into multiple lines"
When we have a very long sample metadata:

[code]

Formatters will think the last line is a comment because, well, it is a comment, and break it up:

[code]

And therefore the YAML structure is broken.

While we can manually check line length and break the line up in the generator in a valid YAML syntax, it is quite lousy and probably hard to satisfy different languages.

The best way to solve thi

[2019-09-18 17:10] hzyi-google commented on #2981
cc/ @googleapis/samplegen Feel free to bump the priority.

[2019-09-18 17:13] hzyi-google opened #2982 "Java sample metadata: change gradle to maven"
Java client library uses maven. The sample metadata will be used to generate user-facing README files, which should instruct users to use maven to run the samples.

Not super urgent because Java hasn't been generating READMEs from sample metadata. But we need to do this sooner or later.

[2019-09-18 17:24] hzyi-google opened #2983 "Code formatter can't remove unused imports in Java"
We have a very unique style in Java samples on showing users what imports are needed:

[code]

We have this comment showing which imports are needed instead of showing the real import statements on the devsite because:
1. We would have to show the entire file on the devsite if we show the imports, because otherwise there would be unmatching braces
2. We didn't want to show imports used only in the

[2019-09-18 17:25] hzyi-google commented on #2983
cc/ @googleapis/samplegen

[2019-09-18 17:52] vchudnov-g commented on #2983
Let's see whether there are other possible solutions, but the `ApplicationChooser` sounds like a very reasonable one. We should collect use cases (like this one) for `ApplicationChooser`, as well as any cons of implementing it to help us decide.

[2019-09-18 17:57] vchudnov-g commented on #2981
There's been some very casual mention of having the metadata live in the manifest file, which would be the ideal place for it, especially since we already have it.

As I understand it, we are blocked on having the tooling that relies on the current metadata location changing to also get the metadata from manifest files. After that, we can do this.

I don't think this is a blocker for our "1.2" lau

[2019-09-18 19:04] nnegrey opened #2984 "Special Characters parsed out of generated samples"
@googleapis/samplegen

For Dialogflow samples there needs to be special characters in some fields, but samplegen edits it out.

Yaml: https://paste.googleplex.com/5494533670305792
Generated: https://paste.googleplex.com/6222908395356160
Handwritten Optimized: https://paste.googleplex.com/5432050028904448 (aka Noah's wishes)

Yaml: Line 52
Generated: Line 70 missing ‘@’

Yaml: Line 85
Generated: Li

[2019-09-19 21:27] lukesneeringer opened #2986 "Resource Name Renaming"
A small-but-nonzero number of APIs (currently known: Cloud Functions) used a name that is different from their [AIP-123](https://aip.dev/123) unified resource name (e.g. `Function` vs. `CloudFunction`). We have no way of mapping the URT name to a different name to preserve backwards compatibility.

We need to learn the scope of the problem and then determine an appropriate solution.

[2019-09-19 21:29] lukesneeringer opened #2987 "Strings should always be accepted for resource names"
In Java and C#, we generate methods that take resource name classes _instead of_ generating methods that take strings. In order to adhere to [AIP-4231](https://aip.dev/client-libraries/4231), we need to generate methods that accept strings all the time.

Justification:

1. An existing API that adds resource descriptor annotations should be able to do so without incurring a breaking change.
2. Reso

[2019-09-20 19:32] #2961 closed

[2019-09-20 20:03] lukesneeringer commented on #2987
Worth noting: As best as @jskeet or I can tell, this is already the case. @vam-google has said there are some exceptional cases where they are not generated, but I have not found them yet.

[2019-09-20 20:05] lukesneeringer commented on #2972
Fixed by #2979.

[2019-09-20 20:05] #2972 closed

[2019-09-23 23:21] beccasaurus commented on #2838
Re-opening (with PR coming shortly)

[2019-09-25 05:33] beccasaurus opened #2988 "YAML parser breaks when using Merge Key <<"
When **writing samples**, YAML gives the benefit of using `&anchors` and `*aliases` [`^`](https://yaml.org/spec/1.1/#id863390)

I can't get key merging to work, however.

[code]

Example:
[code]

[2019-09-25 05:33] beccasaurus commented on #2988
@googleapis/samplegen

[2019-09-25 05:39] beccasaurus commented on #2988
**Note:** this is not a minor feature. This is one of the most used, critical features of YAML.

For GAPIC samples, request fields are: `Array<Map>` with a YAML Map representing each field.

The most common needs for anchors/aliases when authoring code samples IME:
 - Including common `request:` fields (usually tweaking the `value:` or `comment:`)
 - Including whole shared response block (**✓** wo

[2019-10-01 17:45] michaelbausor commented on #1915
Closing as no longer relevant - if there is still a need for this, please reopen.

[2019-10-01 17:45] #1915 closed

[2019-10-01 17:47] michaelbausor commented on #2229
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:47] #2229 closed

[2019-10-01 17:48] michaelbausor commented on #1815
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:48] #1815 closed

[2019-10-01 17:48] michaelbausor commented on #1437
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:48] #1437 closed

[2019-10-01 17:48] michaelbausor commented on #1409
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:48] #1409 closed

[2019-10-01 17:49] michaelbausor commented on #1353
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:49] #1353 closed

[2019-10-01 17:50] michaelbausor commented on #1225
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:50] #1225 closed

[2019-10-01 17:50] michaelbausor commented on #1224
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:50] #1224 closed

[2019-10-01 17:50] michaelbausor commented on #1223
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:50] #1223 closed

[2019-10-01 17:50] michaelbausor commented on #1048
Closing as no longer relevant - if this is still needed, please reopen.

[2019-10-01 17:50] #1048 closed

[2019-10-07 20:55] noahdietz opened #2993 "all: require an LRO config when RPC returns google.longrunning.Operation"
Microgenerators fail if an RPC returns a `google.longrunning.Operation` and **does not** define the `operation_info` for it, per https://aip.dev/client-libraries/4210#long-running-operations.

gapic-generator does not fail, but simply generates the GAPIC method as a normal Unary RPC. We should make it fail during generation instead if none of the LRO config is available for the RPC.

[2019-10-08 18:47] noahdietz opened #2995 "go: update Go version used in CI"
The `go-1.10-test` [job](https://github.com/googleapis/gapic-generator/blob/1bfe1a98586744038019f1d0bd90817a170f22d2/.circleci/config.yml#L670) should be updated to Go 1.13. This will require some refactoring as the test job is heavily based on pre-Go modules code structure

[2019-10-09 23:00] vchudnov-g opened #2997 "inconsistent sample config `type` value across repos"
*(cross-repo issue, filing here as the most central reference place in use)*

For the sample configs, gapic-generator [expects](https://github.com/googleapis/gapic-generator/blob/master/src/test/java/com/google/api/codegen/testsrc/common/samples/babble_about_book.sample.yaml#L2)
[code]
but gapic-generator-python [expects](https://github.com/googleapis/gapic-generator-python/blob/00fdb08bdce5d7c1ea

[2019-10-09 23:00] vchudnov-g commented on #2997
cc/ @googleapis/samplegen

[2019-10-10 16:49] hzyi-google commented on #2997
I don't have any preference between the two. Switching from the former to the latter will make the monolith slightly unhappy, but should be very easy to fix.

[2019-10-14 16:21] software-dov commented on #2975
Ping @hzyi-google : any progress? Can you post a link to the doc?

[2019-10-14 16:28] software-dov commented on #2997
I'm actually leaning towards (2); it's not a lot worse of a config, and it means the fewest changes all around.

[2019-10-14 18:08] software-dov commented on #2360
@vam-google Any update?

[2019-10-14 18:24] software-dov commented on #2445
Any update?

[2019-10-14 18:44] software-dov commented on #2988
Marking as P2.
Is this a bug or missing feature in the YAML library in question? Who would be the best person to work on this? @hzyi-google @vam-google

[2019-10-14 18:46] hzyi-google commented on #2988
Yeah P2 feature request sounds reasonable. I'll self-assign. Thanks!

[2019-10-14 18:50] hzyi-google commented on #2984
Hey Noah, this is probably already fixed by https://github.com/googleapis/gapic-generator/pull/2966. Can you try again?

[2019-10-14 21:50] hzyi-google commented on #2975
@software-dov thanks for pinging.

For anyone who is interested in this, see go/multi-pattern-resource-names

[2019-10-16 22:07] software-dov commented on #2977
I was confused at first because I couldn't see how the handwritten helper was getting enmeshed in the construction of the client.

It looks like the primary reason for the handwritten layer is the dual-state config/request; is that a common pattern for streaming methods? Do we need to augment the client library surface to better handle streaming methods? I'm hesitant to start discussing fixing thi

[2019-10-18 20:44] software-dov commented on #2984
Any update on whether this is still an issue?

[2019-10-18 20:45] nnegrey commented on #2984
Howdy, I won't have time to touch samplegen till Dec.

[2019-10-18 20:46] software-dov commented on #2893
Any update on this task?

[2019-10-18 20:52] hzyi-google commented on #2893
Still blocked.

[2019-10-18 23:29] busunkim96 opened #3004 "Python: `expected_request` in unit test does not have all required fields"
A generated unit test for videointelligence has an `expected_request` that does not have all the required fields.

Function `annotate_video` has required parameters `features` and `input_uri`. The unit test constructs a `AnnotateVideoRequest` with only the `features` and no `input_uri`.

The library was generated with Artman 0.38.0

See https://github.com/googleapis/google-cloud-python/pull/9440/f

[2019-10-21 17:30] software-dov commented on #3004
Can you post the annotated proto or the gapic_yaml just we're looking at the same inputs?

[2019-10-21 17:44] busunkim96 commented on #3004
* [annotated proto](https://github.com/googleapis/google-cloud-python/blob/6e72f9d9e444725f347bc6744a494a584a96b6f3/videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto)
* [gapic_yaml](https://github.com/googleapis/googleapis/blob/9d52ad21797ef188d73b36f633467c1319765df9/google/cloud/videointelligence/v1/videointelligence_gapic.yaml)

[2019-10-21 22:48] #2962 closed

[2019-10-22 16:47] noahdietz opened #3005 "configgen: investigate GAPIC configgen required field assignments"
An API producer ([datacatalog](https://github.com/googleapis/googleapis/commit/fcdec366bb4076be75649031706548128a01fc02#diff-de1cdcae48b5fd3ea0207e7de1bbfcb0R121)) used the configgen tooling to regenerate their GAPIC config. A field was then marked as being required when it wasn't before, which is a breaking change in many client library languages. Need to investigate why this happened and report

[2019-10-23 17:41] software-dov commented on #3004
This should be fixed by https://github.com/googleapis/gapic-generator/pull/3006 . Let me know if the problem persists.

[2019-10-24 01:37] vchudnov-g opened #3007 "consider emitting java manifest with two environments, mvn and gradle"
Given current offline discussions, if we decide to have the Java samples be readily executable by both maven and gradle, and we generate the necessary helper files for both, we should consider emitting each sample twice (probably once in each of two manifest files). One listing could have an `env` of `java-gradle` and a corresponding `invocation`, and the other would be similar but for `mvn`.

Pro

[2019-10-24 02:55] hzyi-google commented on #3007
Why is Gradle needed?

[2019-10-24 17:26] software-dov commented on #2360
@vam-google I remember that python bazel gapic support landed recently; does that mean this bug is now closable?

[2019-10-24 17:33] software-dov commented on #2838
Any update on the PR? Should this issue be re-closed?

[2019-10-25 20:24] #2893 closed

[2019-10-25 20:26] hzyi-google commented on #2997
Okay let's do 2. I'll close it since 2) requires no work in this generator.

[2019-10-25 20:26] #2997 closed

[2019-10-25 20:29] hzyi-google commented on #2984
I verified it locally and it worked. Please feel free to ask for reopening it the issue persists.

[2019-10-25 20:29] #2984 closed

[2019-10-25 20:33] hzyi-google commented on #2977
blocked by: https://github.com/protocolbuffers/protobuf/issues/6746

[2019-10-29 18:15] noahdietz commented on #3005
Cannot reproduce. I believe this is actually working as intended.

[2019-10-29 18:15] #3005 closed

[2019-10-30 19:24] hzyi-google commented on #3004
Closing it. Please yell at us if the bug is still there.

[2019-10-30 19:24] #3004 closed

[2019-10-30 19:24] hzyi-google commented on #2987
@vam-google care to dump those exceptional cases here?

[2019-10-31 18:17] busunkim96 opened #3012 "Python: Deprecate resource name helper functions"
These functions will be going away in the microgenerator.

[2019-10-31 18:43] hzyi-google commented on #3012
Is this a proper way to deprecated a method in Python?

[code]

[2019-10-31 19:11] software-dov commented on #3012
[code]
https://python-deprecated.readthedocs.io/en/latest/installation.html

If we don't want the extra dependency it's easy to write a custom decorator that does the same thing.

[2019-10-31 19:47] busunkim96 commented on #3012
@hzyi-google that looks to be how stuff has been deprecated in the past:

[2019-10-31 21:10] busunkim96 commented on #3012
@software-dov I would lean towards not adding the extra dependency.

The deprecation should also be noted in the docstring (so it is visible in the [published documentation](https://googleapis.dev/python/cloudtasks/latest/gapic/v2/api.html#google.cloud.tasks_v2.CloudTasksClient.location_path)).

[code]

[2019-10-31 23:36] software-dov commented on #3012
Something like
[code]

should work. Just a pet peeve, but a decorator feels like a better fit than generating all the warnings in situ.

[2019-10-31 23:49] busunkim96 commented on #3012
:+1: I have no strong feelings on the implementation, as long as there is (1) a warning and (2) something in the docstring.

Would adding the decorator to `google-api-core` work?

CC @crwilcox @tseaver @tswast who may have more opinions about this.

[2019-11-01 02:03] tamngonesv030 opened #3013 "Request had insufficient authentication scopes"
I'm using google api for Server java:
InputStream inputStream = new ByteArrayInputStream(serviceAccountContent.getBytes());
 credential =GoogleCredential.fromStream(inputStream).createScoped(Collections.singleton(AndroidPublisherScopes.ANDROIDPUBLISHER));

String endPoint = "https://indexing.googleapis.com/v3/urlNotifications:publish";
            GenericUrl genericUrl = new GenericUrl(endPoint);

[2019-11-01 15:59] vam-google commented on #3013
Hi @tamngonesv030. Can you please clarify your issue. This is a client generator repository - a tool, which generates gRPC-based clients for google api. The issue description looks more like an Authentication problem and probably belongs to https://github.com/googleapis/google-auth-library-java/issues.

If you do not experience issues with the generator itself, please close the issue here and reop

[2019-11-01 17:11] software-dov commented on #3012
It sounds fine to have the decorator in `google-api-core`, but other people should weigh in too.

[2019-11-01 19:28] vchudnov-g opened #3015 "Ensure we don't generate standalone samples if `sample_type` says not to"
As of #2996 , there is now a `sample_type` field in the sample config. If not present, it defaults to standalone samples, so current configs will continue to work.

However, some upcoming configs may have it set to produce in-code samples only. In that case, we should make sure we don't produce standalone samples.

[2019-11-01 19:45] tseaver commented on #3012
Seems like gratuitous breakage to drop the name / path helper functions in the microgenerator:  what is the rationale?

[2019-11-01 20:10] software-dov commented on #3012
Paraphrasing @lukesneeringer :they're very thin wrappers around string formatting, and python's string manipulation and formatting support is excellent. It's arguably nicer to just do the formatting by hand.

[2019-11-01 20:18] tseaver commented on #3012
The current helpers encapsulate knowledge of the required format strings:  making users type those strings in their code will be a bug magnet.  In any case, this is going to be a breaking change for anybody using the helpers:  is *that* the barricade we want to die on?

[2019-11-01 20:22] tseaver commented on #3012
Re: bug magnet -- consider *this* path template:

[code]
Note the oddness (plurals in some parts of the path, not in others, and the easy-to-overlook camelCase in one element.

[2019-11-01 20:23] vchudnov-g commented on #3007
It sounded like both are in widespread use, no? If that's not the case, then just switching to the one we want to support (which sounds like `mvn`) is enough

[2019-11-01 20:35] hzyi-google commented on #3007
The client library repos are structured heavily around maven, thus generating `invocations` with gradle in the manifest file does not bring us any benefit.

[2019-11-01 20:35] #3007 closed

[2019-11-01 20:53] hzyi-google commented on #3012
@tseaver not sure if I am understanding you correctly, but to the best of my knowledge all the paths should be plurals. The path template of this resource has `annotationSpecs` in it ([here](https://github.com/googleapis/google-cloud-python/blob/48359eb74b9d251c5ffd20d9dc3b1fd29310660d/automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py#L108)).

Honestly, it should be very rare that users n

[2019-11-01 20:55] software-dov commented on #3012
^Just the person to weigh in!

There are other problems with providing the wrapper methods.
The monolithic generator used the names provided by the GAPIC yaml file, which the microgenerator doesn't read and which does not have a good maintenance prognosis due to the adoption of proto annotations.

@hzyi-google has a document where he highlights the problem and proposes per-language solutions. The

[2019-11-01 21:02] busunkim96 commented on #3012
The path will be specified in the docstring, so folks shouldn't have to do too much typing.

[code]

[2019-11-04 20:44] hzyi-google commented on #3012
@software-dov I'm totally happy to tweak the generator to generate whatever you and @busunkim96 loves most, but IMHO if it requires work in api-core it seems to be an overkill, unless this is something that will likely be widely used in the future too.

The warning style is already used in our [client libraries](https://github.com/googleapis/google-cloud-python/blob/6b5218b20d3fa69c96f9690eac07f5a

[2019-11-04 22:07] software-dov commented on #3012
My vote is to deprecate.

[2019-11-04 22:22] software-dov commented on #2360
There's been no action on this in a year and no obvious sign that it's a problem. Closing.

[2019-11-04 22:22] #2360 closed

[2019-11-07 04:23] #3012 closed

[2019-11-21 23:26] noahdietz opened #3039 "go: auto pagination shouldn't happen unless the required fields are present"
Today, Go GAPICs are generated regardless of if the required fields (page_size & page_token) or not. The resulting output cannot be compiled. Instead, if there is no page_size || no page_token fields, auto pagination should not be generated.

[2019-11-24 00:53] alexander-fenster commented on #2054
So, it's finally (!) here, in a separate repo https://github.com/googleapis/gapic-generator-typescript - closing this issue.

[2019-11-24 00:53] #2054 closed

[2019-12-02 21:59] software-dov commented on #2159
Please correct me if I'm wrong, but this looks like a protobuf generator issue, at least at a glance.

[2019-12-02 22:02] software-dov commented on #2736
Fixed up via synth, the transition to the microgenerator obviates a real fix.

[2019-12-02 22:02] #2736 closed

[2019-12-03 18:24] hzyi-google commented on #2536
We do not produce any samples using the flattening overload version of an API method and do not foresee any adoption of that in the near future. Flattening samples themselves may need some style reviews and correctness validations before we can use them. Therefore converting this issue to a feature request.

[2019-12-10 20:24] #2127 closed

[2019-12-12 00:56] #2761 closed

[2019-12-12 19:27] software-dov commented on #1786
Leaning towards won't fix due to microgenerator transition timeline.

[2019-12-12 19:27] #1786 closed

[2019-12-12 19:28] software-dov commented on #401
Leaning towards won't fix due to microgenerator transition timeline

[2019-12-12 19:28] #401 closed

[2019-12-12 19:28] software-dov commented on #2779
Leaning towards won't fix due to microgenerator transition timeline.

[2019-12-12 19:28] #2779 closed

[2019-12-17 18:06] ludoch commented on #2974
Any interest in helping user experience?

[2019-12-19 23:36] mmladenovski opened #3056 "Java code generator generates unit tests that fail when comparing floating point numbers with assertEquals"
I do not have all the protos related to the issue checked in. The following example will illustrate the problem.

Let's assume that the service proto has the following definition:

[code]
The BAZEL build files have Java targets declared similar to this one:
https://github.com/googleapis/googleapis/blob/d9e328eaf790d4e4346fbbf32858160f497a03e0/google/cloud/bigquery/storage/v1beta1/BUILD.bazel#L85-L

[2019-12-20 19:13] lesv commented on #2974
I'm working on a PRD for this.  Will share when I'm done.

[2019-12-27 19:12] software-dov opened #3061 "Python: Un-deprecate resource-name helper functions"
Resource-name helper functions have been added back to the microgenerator surface, and as such should not be deprecated in the monolithic surface.

[2019-12-27 22:19] software-dov commented on #3061
Fixed by #3062

[2019-12-27 22:19] #3061 closed

[2020-01-06 21:12] bdhess opened #3066 "[py] GRPC routing metadata is incorrectly computed for update calls"
As an example:
https://github.com/googleapis/google-cloud-python/blob/de73e45a7183a638113153d0faec105cfc437f0e/kms/google/cloud/kms_v1/gapic/key_management_service_client.py#L1569

When the `crypto_key` argument to UpdateCryptoKey is a dict, the attempt to resolve `crypto_key.name` results in an AttributeError ("'dict' object has no attribute 'name'").  The error is caught and ignored, so this fai

[2020-01-06 21:42] BinarSkugga commented on #3066
The bug also happens with UpdateCryptoKeyVersion

[2020-01-08 18:05] #3013 closed

[2020-01-16 17:40] busunkim96 opened #3073 "Python: _pb2 files generated with invalid syntax"
`_pb2` files are generating with invalid Python syntax around `__doc__`.  This blocks Python regenerations using the latest Artman version (0.44.0). 0.43.0 does not have this issue.

[code]

[code]

[2020-01-21 17:32] busunkim96 commented on #3073
@software-dov Friendly ping

[2020-01-22 00:27] software-dov commented on #3073
I think this may really be an issue in [protoc-docs-plugin](https://github.com/googleapis/protoc-docs-plugin). Investigating.

[2020-01-22 00:46] software-dov commented on #3073
Tentative fix is described in https://github.com/googleapis/protoc-docs-plugin/pull/22

[2020-01-22 20:53] chingor13 opened #3074 "Java: generated resource name class license headers malformed"
All of our linting tools for headers expect the license header to be in a certain format.

The generated headers use abnormal line breaks:

[code]

The correct format should be:
[code]

We are currently working around this in synthtool by replacing the unexpected header.

[2020-01-22 23:46] hzyi-google commented on #3074
Did the header start to be malformed recently? Or is it always so?

[2020-01-24 22:28] #2536 closed

[2020-01-28 01:51] yihanzhen opened #3077 "Paging: error when paging response messages do not meet prerequisites"
The prerequisites of the response message of an auto-paging method are listed in [AIP-4233](https://aip.dev/client-libraries/4233).

[2020-02-04 20:00] vchudnov-g commented on #1357
SLO update? Sounds like we should keep this at P3 for now

[2020-02-04 20:02] vchudnov-g commented on #2683
@hzyi-google Any updates on this? When do you expect you'll have bandwidth to address this?

[2020-02-04 20:04] vchudnov-g commented on #2449
@software-dov Any updates on this? Feel free to close if this becomes a non-issue because of the µ-generators.

[2020-02-04 20:05] vchudnov-g commented on #1057
@chrisdunelm Any updates on this? Feel free to close if this is now in the µ-generator domain.

[2020-02-04 20:06] vchudnov-g commented on #2693
@hzyi-google Any updates on this?

[2020-02-04 20:07] vchudnov-g commented on #1215
@hzyi-google Any updates on this?

[2020-02-04 20:09] vchudnov-g commented on #1811
@software-dov Is this still an issue for, say, Python? If so, we should make sure we address it consistently across µ-generators.

[2020-02-04 20:11] vchudnov-g commented on #2943
Lowering priority as we are pausing samplegen work for now.

[2020-02-04 20:12] vchudnov-g commented on #2931
Update: we're putting samplegen eng work on hold for the moment, so we won't address this in 2020q1.

[2020-02-04 20:13] vchudnov-g commented on #2977
Any updates, @software-dov ?

[2020-02-04 20:14] vchudnov-g commented on #3073
@software-dov We're out of SLO on this. Could you provide an update?

[2020-02-04 20:15] vchudnov-g commented on #3015
Update: We're putting samplegen eng work on hold for 2020q1, but this will need to be addressed when we resume.

[2020-02-04 20:17] chrisdunelm commented on #1357
gRPC interceptors now provide this functionality in all languages as far as I know.
If no-one disagrees, this issue should be closed.

[2020-02-04 20:19] busunkim96 commented on #3073
I can confirm that this has been fixed and released. Closing.

[2020-02-04 20:19] #3073 closed

[2020-02-04 20:19] vchudnov-g commented on #2120
@alexander-fenster Could you update this issue? Was this fixed in gapic-generator (in which case, feel free to close this) or addressed some other way elsewhere (in which case feel free to leave a note why this will not be fixed here). Thanks!

[2020-02-04 20:24] alexander-fenster commented on #2120
@vchudnov-g It's fixed in https://github.com/googleapis/gapic-generator-typescript/pull/155 (for the TypeScript generator). I'll close this issue here.

[2020-02-04 20:24] #2120 closed

[2020-02-04 20:42] hzyi-google commented on #2693
I believe this has already been fixed, as we've already have APIs without `- interfaces`.

[2020-02-04 20:42] #2693 closed

[2020-02-05 16:57] chingor13 opened #3082 "Java (Discogapic): incorrect sample documentation for resource name usage"
An example: https://github.com/googleapis/java-compute/issues/25

[2020-02-07 19:37] hzyi-google commented on #393
Fixed by #3087

[2020-02-07 19:37] #393 closed

[2020-02-07 19:40] hzyi-google commented on #2975
Fixed by #3044 #3031 #3087

[2020-02-07 19:40] #2975 closed

[2020-02-07 19:42] hzyi-google commented on #2850
Doesn't seem executable.

[2020-02-07 19:42] #2850 closed

[2020-02-07 19:45] hzyi-google commented on #2987
Fixed by #3081 when all APIs move over to proto annotations.

[2020-02-07 19:45] #2987 closed

[2020-02-07 19:48] hzyi-google commented on #2982
Obsolete.

[2020-02-07 19:48] #2982 closed

[2020-02-07 19:50] hzyi-google commented on #2816
Hey @noahdietz  this is done right?

[2020-02-07 19:51] #2449 closed

[2020-02-07 19:54] hzyi-google commented on #2067
Node generation is moving out of the repo.

[2020-02-07 19:54] #2067 closed

[2020-02-07 19:54] hzyi-google commented on #2068
Node generation is moving out of the repo.

[2020-02-07 19:54] #2068 closed

[2020-02-07 19:55] #385 closed

[2020-02-07 19:56] hzyi-google commented on #803
Obsolete.

[2020-02-07 19:56] #803 closed

[2020-02-07 19:59] hzyi-google commented on #1328
As moving to annotations, this issue becomes won't fix.

[2020-02-07 19:59] #1328 closed

[2020-02-07 20:03] hzyi-google commented on #1852
Obsolete. Gapic generator does not handle packagegen any more.

[2020-02-07 20:03] #1852 closed

[2020-02-07 20:04] hzyi-google commented on #2481
Obsolete as Gapic config is deprecated.

[2020-02-07 20:04] #2481 closed

[2020-02-07 20:10] hzyi-google commented on #2734
No longer supported as we decided to redesign multi-pattern resource names and generate all the overloads in cases of child_type.

[2020-02-07 20:10] #2734 closed

[2020-02-08 00:13] noahdietz commented on #2816
This is actually just a tracking bug for adopting remote resolution of grpc service config. It is not implemented completely today in the grpc layer and so its unsupported in client libraries today. Furthermore, it requires API implementation at the serving layer to supply the config.

I am tracking this work in an internal bug, so maybe we can close this one.

[2020-02-08 03:23] hzyi-google commented on #2816
Oh gotcha. Feel free to leave it open then.

[2020-02-11 23:54] hzyi-google commented on #2760
Obsolete due to the new design of resource sets.

[2020-02-11 23:54] #2760 closed

[2020-02-11 23:55] hzyi-google commented on #2311
Obsolete.

[2020-02-11 23:55] #2311 closed

[2020-02-13 17:14] #3056 closed

[2020-02-18 19:02] xiaozhenliu-gg5 opened #3095 "fix: update gapic-showcase version to latest in circleCI test"
In circleCI test for showcase, it downloads `gapic-showcase v0.2.0` from the release page, while for this version, resource `Blurb` has the wrong type `google.showcase.com/Blurb` which should be `showcase.googleapis.com/Blurb` (this is fixed in the newer version). This needs update for the `gapic-showcase` verison.

[2020-02-18 20:16] #3095 closed

[2020-03-03 18:43] busunkim96 opened #3108 "Python: generated documentation should specify API version in title"
See https://github.com/googleapis/python-bigquery-storage/issues/18

![image](https://user-images.githubusercontent.com/8822365/75808216-97d51800-5d3b-11ea-969a-1be8f3960521.png)

[2020-03-06 21:39] jpoehnelt opened #3129 "google.cloud hardcoded into node snip"
https://github.com/googleapis/gapic-generator/blob/e3501faea84f61be2f59bd49a7740a486a02fa6b/src/main/resources/com/google/api/codegen/nodejs/version_index.snip#L12

[2020-03-06 21:45] jpoehnelt opened #3130 "Support TypeScript in rules_gapic"
TypeScript support was added in a different tool: https://github.com/googleapis/gapic-generator-typescript See #2054 for context.

[2020-03-06 21:48] jpoehnelt commented on #3130
Related https://github.com/googleapis/gapic-generator-typescript/issues/87

[2020-03-09 17:29] hzyi-google commented on #3130
Hello @jpoehnelt ! Thanks for reaching out. Unfortunately this generator won't support TypeScript. Please switch to use gapic-generator-typescript. Please contact @alexander-fenster and @xiaozhenliu-gg5

[2020-03-09 17:31] hzyi-google commented on #3129
@alexander-fenster How do we handle this for Ads (which I assume isn't under cloud namespace)?

[2020-03-09 22:54] alexander-fenster commented on #3129
We don't handle this. JavaScript generation is being deprecated in gapic-generator and is moving to https://github.com/googleapis/gapic-generator-typescript. We are not going to onboard any new users to JavaScript and/or fix any issues here.

[2020-03-09 22:55] alexander-fenster commented on #3130
Yeah, we're deprecating this, and https://github.com/googleapis/gapic-generator-typescript is a fully compatible replacement. If you are missing any feature, let me know (here or in that repo). Bazel build is being taken care of, expect to see it soon!

[2020-03-10 18:47] hzyi-google commented on #3130
Closing the issue for there's no action item. Please feel free to continue the discussion here.

[2020-03-10 18:47] #3130 closed

[2020-03-10 18:48] hzyi-google commented on #3129
Closing the issue for there's no action item. Please feel free to continue the discussion.

[2020-03-10 18:48] #3129 closed

[2020-03-10 18:57] hzyi-google commented on #2691
This issue doesn't seem fixable from the generator - PHP uses protobuf over HTTP transport model. If there are methods without HTTP annotation then there's no way to generate a PHP gapic.

[2020-03-10 18:57] #2691 closed

[2020-03-10 21:25] yihanzhen opened #3137 "retry: `idompotent_2` retry code names when API has non-default `idompotent` retry code definitions"
Repro:
[code]

In the generated clients, the method `CreateSubscription` will use the `idempotent` retry definition, and `GetSubscription` will have an `idempotent_2` retry code definition, whose value is the same as the "default" idempotent retry code definiton.

[2020-03-11 20:50] hkdevandla commented on #3137
I'm bumping down the priority as P3 considering that this issue has been in place for quite sometime and will not cause major issue or break clients using re-try logic. @hzyi-google , please correct me if I'm wrong. Thanks!

[2020-03-11 22:05] hzyi-google commented on #3137
Yep that's fine by me!

[2020-03-19 11:10] aohren opened #3145 "Support StringValue as resource_references"
Gapic-generator should support adding `google.api.resource_reference` annotations to `StringValue` fields. Currently, it only appears to support annotating plain `string` fields with `resource_reference`.

[2020-03-27 10:55] aohren commented on #3145
We updated some Bazel build target arguments that were being specified incorrectly. Once we did this, the errors related to resource_references resolved. So this might doesn't appear to be an issue anymore.

[2020-03-29 16:10] Thar-Ngel opened #3153 "> Currently, the output build.gradle assumes that the proto/grpc classes will be in a separate package. For many APIs, it may be simpler to just bundle it all together; we should add an option to make this possible."
_Originally posted by @Thar-Ngel in https://github.com/googleapis/gapic-generator/issues/1917#issuecomment-605659968_

[2020-03-29 16:10] #3153 closed

[2020-04-02 01:31] jpoehnelt opened #3157 "Python: Nox is not up to date"
There seems to be two issues, that I hit in https://github.com/googleapis/gapic-generator/pull/3156.

1. googleapis/nox:0.17.0 docker image #2208 still using https://pypi.org/project/nox-automation/0.17.0/ from 2017
1. the noxfiles are using the old nox interface(actually nox-automation) which changed in version 2018.8.23 #rnox

This is probably blocking #1768.

[2020-04-02 22:51] #2208 closed

[2020-04-02 23:52] chingor13 opened #3160 "Java: generator is not respecting the default_host option annotation"
This proto: https://github.com/googleapis/java-document-ai/blob/5244424f217ed31e5a86086196c8027257c0a6da/proto-google-cloud-document-ai-v1beta2/src/main/proto/google/cloud/documentai/v1beta2/document_understanding.proto#L36

is generating this settings configuration:

https://github.com/googleapis/java-document-ai/blob/master/google-cloud-document-ai/src/main/java/com/google/cloud/documentai/v1bet

[2020-04-03 20:36] summer-ji-eng commented on #3160
Working on migrating gapic v1 to v2. I will keep update here.

[2020-04-06 16:34] jpoehnelt commented on #3157
closed via #3156

[2020-04-06 16:34] #3157 closed

[2020-04-06 22:12] #3160 closed

[2020-04-06 22:12] hzyi-google commented on #3160
Thanks Summer!

[2020-04-07 12:38] aohren commented on #3145
Confirmed this is no longer an issue.

[2020-04-07 12:38] #3145 closed

[2020-04-07 12:52] aohren opened #3164 "google.api.resource patterns don't support '~' character"
Specifying a compound resource pattern like the following (that includes non-'/' separators between variables) throws an error.

[code]

gapic-generator fails with the following exception:

[code]
This is preventing generation of useful resource name parsing code. For example in Java, we're trying to generate *Name classes that use the above pattern and have builders like:

[code]

Instead, we're

[2020-04-07 12:54] nwbirnie commented on #3164
+1 to this, it causes issues with all resource names in Google Ads API.

[2020-04-08 17:15] jpoehnelt opened #3166 "Python: setup.py hardcoded google.cloud namespace"
I am trying to generate python code for `google/maps/*` and the namespace in the setup.py always adds `google.cloud`.

See these lines: https://github.com/googleapis/gapic-generator/blob/master/src/main/resources/com/google/api/codegen/py/setup.py.snip#L48-L49

[2020-04-08 20:36] hkdevandla commented on #3066
@software-dov ,  can you clarify this issue happens in the micro-generator or is this something that we should fix in the current monolithic?

[2020-04-08 20:44] hkdevandla commented on #3166
@software-dov , can you check if the microgenerator has this issue i.e hardcoded namespaces?

[2020-04-08 20:45] hkdevandla commented on #3164
@chrisdunelm , assigning this to you since you have started looking into it.

[2020-04-08 23:20] yihanzhen opened #3167 "Java: breaking change when a string becomes a resource name"
In Java, if a method has fields referencing resource names, we generate overloads that cover all combinations of resource name types as well as an extra one where all fields are treated as strings. This may cause breaking changes if a ordinary string becomes a resource name string:

For example, if we used to have:

[code]

we generate:
[code]

Now we want to make `bar` a resource name, or we real

[2020-04-09 00:21] hzyi-google opened #3168 "Java: breaking change when `operation_info` annotation is added to a method"
Case in point: https://github.com/googleapis/java-cloudbuild/pull/128

For now, if an LRO method does not have `google.longrunning.operation_info` annotation, the generator treats it as a normal unary call. This would lead to breaking changes when the `operation_info` is added to an LRO method. To solve this, we should either:

1) fail if a method returning `google.longrunning.Operation` does not

[2020-04-09 00:27] hzyi-google commented on #3137
@miraleung the issue we had with firestore might be related to this - if gapic config has both `default` retry parameters and some other retry parameters, the default config has to be explicitly specified.

[2020-04-09 00:28] hzyi-google commented on #3077
Update: there are several APIs that do not conform to this rule. We should still add this check, but maybe whitelist those APIs.

[2020-04-09 00:33] hzyi-google commented on #3039
@noahdietz I created https://github.com/googleapis/gapic-generator/issues/3077 to track the work for all languages. I'll close it here if you don't mind!

[2020-04-09 00:33] #3039 closed

[2020-04-09 00:47] hzyi-google commented on #3015
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 00:47] #3015 closed

[2020-04-09 00:48] hzyi-google commented on #2988
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 00:48] #2988 closed

[2020-04-09 00:50] hzyi-google commented on #2986
@miraleung FYI. We should probably just take a major bump for all of such cases.

[2020-04-09 00:50] hzyi-google commented on #2981
moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 00:50] #2981 closed

[2020-04-09 00:51] hzyi-google commented on #2954
Moved to backlog. https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 00:51] #2954 closed

[2020-04-09 00:53] hzyi-google commented on #270
Obsolete.

[2020-04-09 00:53] #270 closed

[2020-04-09 00:56] hzyi-google commented on #233
Obsolete.

[2020-04-09 00:56] #233 closed

[2020-04-09 00:58] hzyi-google commented on #1120
Transferred to ruby microgenerator.

[2020-04-09 00:58] #1120 closed

[2020-04-09 00:59] hzyi-google commented on #1113
Obsolete.

[2020-04-09 00:59] #1113 closed

[2020-04-09 01:03] hzyi-google commented on #1074
I believe it should still be valid, but would _likely_ need a major bump in gax-java and all client. Would be great to look into it when gax needs a 2.0

[2020-04-09 01:06] hzyi-google commented on #1061
Implementing https://github.com/googleapis/gapic-generator/pull/2516 would solve this issue.

[2020-04-09 01:11] hzyi-google commented on #1057
To sum up: implement this statement in AIP:

[2020-04-09 01:16] hzyi-google commented on #945
Moved to backlog. https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 01:17] #945 closed

[2020-04-09 01:24] hzyi-google commented on #698
@jskeet Can this be translated to "output a warning if an API does not have `(google.api.oauth_scopes)` annotation" four years later?

[2020-04-09 01:27] hzyi-google commented on #2829
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:27] #2829 closed

[2020-04-09 01:28] hzyi-google commented on #2830
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:28] hzyi-google commented on #2854
moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:28] #2854 closed

[2020-04-09 01:29] hzyi-google commented on #2884
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:29] #2884 closed

[2020-04-09 01:30] hzyi-google commented on #2930
Moved to backlog: [SampleGen] In-line literal values when building request (don't create new locals) #2884

[2020-04-09 01:30] #2930 closed

[2020-04-09 01:30] hzyi-google commented on #2874
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 01:30] #2874 closed

[2020-04-09 01:31] hzyi-google commented on #2983
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 01:31] #2983 closed

[2020-04-09 01:32] hzyi-google commented on #2809
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:32] #2809 closed

[2020-04-09 01:32] hzyi-google commented on #2762
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:32] #2762 closed

[2020-04-09 01:33] hzyi-google commented on #2943
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:33] #2943 closed

[2020-04-09 01:34] hzyi-google commented on #2838
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:34] #2838 closed

[2020-04-09 01:35] hzyi-google commented on #2759
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 01:35] #2759 closed

[2020-04-09 01:37] #2706 closed

[2020-04-09 01:38] #2237 closed

[2020-04-09 01:39] hzyi-google commented on #2624
Move to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 01:39] #2624 closed

[2020-04-09 05:51] jskeet commented on #698
@hzyi-google: Yes, I suspect that's the case :)

[2020-04-09 22:08] hzyi-google commented on #1446
Obsolete.

[2020-04-09 22:08] #1446 closed

[2020-04-09 22:09] hzyi-google commented on #1429
Obsolete.

[2020-04-09 22:09] #1429 closed

[2020-04-09 22:12] #1357 closed

[2020-04-09 22:15] hzyi-google commented on #1986
I'm closing this as Java and PHP already has such headers while other languages are no longer supported by this generator.

[2020-04-09 22:15] #1986 closed

[2020-04-09 22:18] hzyi-google commented on #1929
@jskeet @chrisdunelm would you mind transfer this issue to gapic-generator-scharp?

[2020-04-09 22:19] hzyi-google commented on #1918
With bazel in place we should just stop generating gradle files.

[2020-04-09 22:23] hzyi-google commented on #1755
@hkdevandla It's somewhat related to how we are going to support googleapis_private... so bringing this to your attention for you to decide whether to proceed.

[2020-04-09 22:24] hzyi-google commented on #1732
Looks it still applies to bazel generation.

[2020-04-09 22:29] hzyi-google commented on #1809
Moved to backlog. https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 22:29] #1809 closed

[2020-04-09 22:31] hzyi-google commented on #1802
Smoke tests generation support is dropped.

[2020-04-09 22:31] #1802 closed

[2020-04-09 22:38] hzyi-google commented on #636
Moved to backlog. https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 22:38] #636 closed

[2020-04-09 22:42] #2830 closed

[2020-04-09 22:43] hzyi-google commented on #2797
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 22:43] #2797 closed

[2020-04-09 22:44] hzyi-google commented on #2931
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog/

[2020-04-09 22:44] #2931 closed

[2020-04-09 23:46] #2589 closed

[2020-04-09 23:47] hzyi-google commented on #2600
Moved to backlog. https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 23:47] #2600 closed

[2020-04-09 23:48] hzyi-google commented on #1668
Dup of #2648

[2020-04-09 23:48] #1668 closed

[2020-04-09 23:49] hzyi-google commented on #2804
Moved to backlog: https://github.com/googleapis/gapic-generator/wiki/feature-backlog

[2020-04-09 23:49] #2804 closed

[2020-04-09 23:55] hzyi-google commented on #2299
Configgen is deprecated.

[2020-04-09 23:55] #2299 closed

[2020-04-10 00:00] hzyi-google commented on #2137
Fixed in #3081

[2020-04-10 00:00] #2137 closed

[2020-04-10 00:04] hzyi-google commented on #1184
@jskeet @chrisdunelm Let's move this to gapic-generator-csharp if it's still valid?

[2020-04-10 07:41] jskeet commented on #1929
I don't have permission to transfer it there - not sure why. (I can transfer to other repos.)
I suspect we want to close it, but it would be better to be closed *in* the gapic-generator-csharp repo in case we revisit it.

[2020-04-10 07:43] jskeet commented on #1184
I believe it's still valid - again, I can't transfer it, but agree it should be transferred.

[2020-04-13 17:59] hzyi-google commented on #1929
@jskeet It _might_ be because you don't have write permission to gapic-generator-csharp?

[2020-04-13 20:32] jskeet commented on #1929
@hzyi-google: I think I have write permission (I'm pretty sure I've merged PRs) but not admin permission. Anyway, I'm sure Chris can do it tomorrow :)

[2020-04-13 21:24] igorbernstein2 commented on #2742
I was able to address the GrpcBaseStub need in gax:
https://github.com/googleapis/gax-java/pull/891

And I don't think it will be possible to disable generation of clients as they have a circulat dependency with the stubs.

So I'm going to close this

[2020-04-13 21:24] #2742 closed

[2020-04-14 18:46] aohren opened #3173 "Multiple *Name.java classes for a single resource"
If we have a proto package hierarchy as follows (i.e., the [googleads](https://github.com/googleapis/googleapis/tree/master/google/ads/googleads) project)
[code]
where [campaign_service.proto](https://github.com/googleapis/googleapis/blob/master/google/ads/googleads/v3/services/campaign_service.proto) has rpc methods that depend on [campaign.proto](https://github.com/googleapis/googleapis/blob/mas

[2020-04-16 23:05] danoscarmike opened #3178 "Python 2.7 Deprecation Warning is missing whitespace"
e.g. [`python-automl/google/cloud/automl_v1/__init__.py:30`](https://github.com/googleapis/python-automl/blob/master/google/cloud/automl_v1/__init__.py#L30)
'''
DeprecationWarning: A future version of this library will drop support for Python **2.7.More** details about Python 2 support for Google Cloud Client **Librariescan** be found at https://cloud.google.com/python/docs/python2-sunset/
'''

[2020-04-18 00:52] miraleung commented on #3168
Summarizing a discussion with @vam-google: Doing nothing is probably the best approach. Here's an analysis of the approaches:

1. This approach will break firestore, cloudbuild, dialogflow, gameservices, and vision (the last of which is in GA).
2. This will generate many more unused methods.
3. Doing nothing achieves the best tradeoff between #1 and #2, and breaks the least number of clients (just

[2020-04-20 17:30] hzyi-google commented on #3168
Soooo if we do nothing, cloudbuild generation will not break but it will still has breaking changes (The return type changed for this specific method).

It may be worth considering continuing with 1 and whitelist the 5 APIs in the generator (a.k.a hard-coding). We can't avoid breaking changes for them but it will prevent other APIs from ending up in the same situation as the 5 APIs listed above.

[2020-04-20 19:18] stephaniewang526 opened #3181 "Incorrect code generated"
Hi,
We have some issues with the code generated in `MockBigQueryWriteImpl.java` file which resulted in synth tool proposing this following PR: https://github.com/googleapis/java-bigquerystorage/pull/191/files

The element is never used before being popped so we would like to get it fixed to what we have on https://github.com/googleapis/java-bigquerystorage/blob/d810b819e386a69df1781d3ed4b47f75f63a

[2020-04-20 20:14] miraleung commented on #3168
@vam-google

[2020-04-20 20:45] vam-google commented on #3168
@miraleung I don't like option 2, as it bloats the client surface even more (btw, if we add it, it will immediately generate many new methods on all of our existing clients which have LRO methods, many of which are GA; it will be a non-breaking change, but a massive and weird one).

Option 1 is Ok, I just feel uncomfortable hard-codding client names in generic tool (which gapic-generator is).

If

[2020-04-20 20:48] hzyi-google commented on #3168
It's strictly disallowed: https://aip.dev/151#guidance

[2020-04-20 20:54] vam-google commented on #3168
@hzyi-google Ok, then failing is good. Hardcodding - I can pretend that i did not see it during review =)

[2020-04-20 20:58] hzyi-google commented on #3168
They are not hard-coded, they are prearranged :)

[2020-04-22 20:56] hkdevandla commented on #3181
@miraleung , can you please take a look?

[2020-04-22 22:11] miraleung commented on #3168
After digging into this a bit more, doing nothing seems to be an optimal approach because:

- The whitelisting mechanism would be brittle and error-prone. We can only rely on string-searching response, return, and metadata types in the method in question.
- We may have to support these in the new microgenerator.
- Cloudbuild will have a breakage either way.

Please LMK what you think. If there's a

[2020-04-22 22:11] #3168 closed

[2020-04-22 22:18] vam-google commented on #3168
LGTM

[2020-04-22 22:28] miraleung commented on #3181
We haven't updated bigquery/storage/v1alpha2 gapic configs, nor have related changes gone into the generator (that I know of).

@vam-google for his thoughts as well.

[2020-04-22 22:51] stephaniewang526 commented on #3181
That might be the case, the code generated has not been correct all along. We would like to have it corrected so that our test cases don't fail. It's a two-line change.

[2020-04-22 23:26] miraleung commented on #3181
Could you please clarify if the request is for a change in the generator, or just the specified two lines? The former would be likely be complex, the latter trivial.

[2020-04-22 23:32] stephaniewang526 commented on #3181
If there's an easier way to have the generated file include the two lines that we specified instead of the one line generated by gapic then that works for us (just want to make sure this is corrected every time when the file is generated).

[2020-04-23 04:15] vam-google commented on #3181
@stephaniewang526 @miraleung Those two lines where are currently missing in the autogenerated PR were added 6 days ago manually in the generated class by [this PR](https://github.com/googleapis/java-bigquerystorage/pull/165/files#diff-728743ad17cb157fe55ecc5d3128af6c).

Please never edit manually generated classes, as the chagnes will be overwritten  on next synth PR. You can tell if the file was

[2020-04-24 17:38] #3181 closed

[2020-04-30 13:59] aohren opened #3186 "LRO polling settings have no effect in V2 of gapic.yaml"
I'm attempting to override the default LRO polling settings for a specific method of a specific service. The following config gives no error and lib generation succeeds, but the `long_running` section ultimately has no effect:

[code]

In generated Java code, for example, the corresponding `OfflineUserDataJobServiceStubSettings.java` file does not contain `RetrySettings` according to above.

Is th

[2020-04-30 19:16] aohren commented on #3186
It turns out this was due to a missing `google.longrunning.operation_info` annotation on `RunOfflineUserDataJob` in the service's protobuf definition. Adding that in caused the above settings to take effect properly.

[2020-04-30 19:16] #3186 closed

[2020-05-20 17:00] failure-checker[bot] opened #3203 "Warning: a recent release failed"
The release PR #3202 is still in a pending state after several hours

[2020-05-26 18:16] alexander-fenster commented on #3203
We don't do releases here.

[2020-05-26 18:16] #3203 closed

[2020-05-27 17:17] miraleung commented on #3167
Discussion resolved in #3177.

[2020-05-27 17:17] #3167 closed

[2020-05-27 20:39] hkdevandla commented on #3137
This will be fixed as part of the new Java microgenerator.

[2020-05-27 20:44] hkdevandla commented on #2683
@dwsupplee , Not sure about the next steps here. It looks like non-actionable at this point. So I will close this bug for now. Please re-open if there is anything that needs to be done or fixed.

[2020-05-27 20:44] #2683 closed

[2020-05-27 20:45] hkdevandla commented on #1215
Obsolete. So closing this.

[2020-05-27 20:45] #1215 closed

[2020-05-27 20:48] hkdevandla commented on #1057
Obsolete since it is not the requirement now that oneoff needs to be flattened. Hence closing this.

[2020-05-27 20:48] #1057 closed

[2020-05-27 20:50] hkdevandla commented on #1918
This is will closed as part of the Java Microgenerator.

[2020-05-27 20:51] hkdevandla commented on #990
Obsolete.

[2020-05-27 20:51] #990 closed

[2020-05-27 20:52] hkdevandla commented on #62
Obsolete.

[2020-05-27 20:52] #62 closed

[2020-05-27 20:53] hkdevandla commented on #274
Obsolete.

[2020-05-27 20:53] #274 closed

[2020-05-27 20:54] hkdevandla commented on #1685
Obsolete.

[2020-05-27 20:54] #1685 closed

[2020-05-27 20:57] hkdevandla commented on #3077
I think we have fixed this and there is no action to be taken on this. Please re-open if there is anything else to be done or fixed.

[2020-05-27 20:57] #3077 closed

[2020-05-29 02:00] failure-checker[bot] opened #3208 "Warning: a recent release failed"
The release PR #3205 is still in a pending state after several hours

[2020-05-30 00:58] pradn opened #3209 "Python/PubSub: update_subscription and update_snapshot examples are wrong"
The [example](https://github.com/googleapis/python-pubsub/blob/cf9e87c80c0771f3fa6ef784a8d76cb760ad37ef/google/cloud/pubsub_v1/gapic/subscriber_client.py#L528) subscription object doesn't have a 'name' field.  Same with [update_snapshot](https://github.com/googleapis/python-pubsub/blob/cf9e87c80c0771f3fa6ef784a8d76cb760ad37ef/google/cloud/pubsub_v1/gapic/subscriber_client.py#L1496). Where can we f

[2020-05-30 01:14] busunkim96 commented on #3209
Looks like the template code for method samples is in this file: https://github.com/googleapis/gapic-generator/blob/77fe13498b62ee75be88cdfbcd17b8a6dbd821c6/src/main/resources/com/google/api/codegen/py/method_sample.snip#L4-L10

[2020-06-01 18:11] miraleung commented on #3209
This generator is no longer used for Python, please use [gapic-generator-python](https://github.com/googleapis/gapic-generator-python) instead.

[2020-06-01 18:27] miraleung commented on #3208
The PR has been merged.

[2020-06-01 18:27] #3208 closed

[2020-06-01 19:00] failure-checker[bot] opened #3210 "Warning: a recent release failed"
The release PR #3207 is still in a pending state after several hours

[2020-06-01 19:07] miraleung opened #3211 "Update api-common-java, guava, and auto-value dep versions"

[2020-06-01 19:20] miraleung commented on #3209
TIL parts of the monolith are still used for Python, reopening.

[2020-06-01 19:23] #3178 closed

[2020-06-01 19:26] miraleung commented on #3074
Checked several files, this seems to be fixed now.

[2020-06-01 19:26] #3074 closed

[2020-06-01 19:27] miraleung commented on #2986
Noted, thanks. Closing since we likely won't change the monolith for such cases.

[2020-06-01 19:27] #2986 closed

[2020-06-01 19:41] miraleung commented on #2751
Looks like we're on 1.53 already, closing.

[2020-06-01 19:41] #2751 closed

[2020-06-01 19:43] miraleung commented on #2648
Closing as obsolete.

[2020-06-01 19:43] #2648 closed

[2020-06-01 19:43] #1918 closed

[2020-06-01 19:45] miraleung commented on #3210
Closing, looks like it was merged.

[2020-06-01 19:45] #3210 closed

[2020-06-01 20:00] failure-checker[bot] opened #3214 "Warning: a recent release failed"
The release PR #3207 is still in a pending state after several hours

[2020-06-01 21:27] vam-google commented on #2537
With adoption of microgenerators this became obsolete.

[2020-06-01 21:27] #2537 closed

[2020-06-02 18:19] miraleung opened #3217 "Remove artman checks from CircleCI"

[2020-06-02 18:27] miraleung commented on #3214
Closing. Checked the release and it looks fine.

[2020-06-02 18:27] #3214 closed

[2020-06-02 19:00] failure-checker[bot] opened #3219 "Warning: a recent release failed"
The release PR #3207 is still in a pending state after several hours

[2020-06-03 05:24] vam-google commented on #2690
Discogapic config for Compute client is now [generated automatically](https://github.com/googleapis/discovery-artifact-manager/blob/master/gapic/google/compute/v1/BUILD.bazel#L12) via bazel (and this is how Yoshi generates the client for publishing).

Closing as obsolete.

[2020-06-03 05:24] #2690 closed

[2020-06-03 17:14] #331 closed

[2020-06-03 17:27] miraleung commented on #1732
Marking this as obsolete since artman is now deprecated.

[2020-06-03 17:27] #1732 closed

[2020-06-03 18:27] miraleung commented on #331
Looks like this is fixed for Java, and most other languages (save PHP) have migrated to microgenerators. Closing as obsolete.

[2020-06-03 18:40] miraleung commented on #661
Noted and will put on the internal backlog for v2 of the Java microgenerator. Closing as obsolete.

[2020-06-03 18:40] #661 closed

[2020-06-03 18:43] miraleung commented on #1805
Noted and will put on our backlog for v2 of the Java microgenerator. Closing as obsolete.

[2020-06-03 18:43] #1805 closed

[2020-06-03 18:44] miraleung commented on #1806
Noted and will put on the internal backlog for v2. Closing as obsolete due to the new Java microgenerator.

[2020-06-03 18:44] #1806 closed

[2020-06-03 18:45] miraleung commented on #1917
Noted and will put on the internal backlog. Closing as obsolete due to the new Java microgenerator.

[2020-06-03 18:45] #1917 closed

[2020-06-03 18:47] miraleung commented on #2974
Noted and will put on the internal FR backlog. Closing as obsolete given the new Java microgenerator.

[2020-06-03 18:47] #2974 closed

[2020-06-03 18:55] miraleung commented on #2116
Closing as obsolete due to the new Java microgenerator.

[2020-06-03 18:55] #2116 closed

[2020-06-03 19:53] miraleung commented on #3217
These are still being used, closing as infeasible.

[2020-06-03 19:53] #3217 closed

[2020-06-03 20:44] hkdevandla commented on #2816
There is no concrete plan for this to be implemented in the near future. We will track this internally if it requires work / implementation. Closing.

[2020-06-03 20:44] #2816 closed

[2020-06-03 20:46] hkdevandla commented on #2780
@noahdietz , can you take a look at this and see if this is still relevant?

[2020-06-03 20:46] hkdevandla commented on #2778
@noahdietz , can you take a look and see if this is still relevant?

[2020-06-03 20:47] hkdevandla commented on #2569
@vam-google , can you take a pass at this and see if it is still relevant?

[2020-06-03 20:48] hkdevandla commented on #2320
Obsolete.

[2020-06-03 20:48] #2320 closed

[2020-06-03 20:52] hkdevandla commented on #1755
This will be not be supported.

[2020-06-03 20:52] #1755 closed

[2020-06-03 20:53] hkdevandla commented on #1408
Obsolete

[2020-06-03 20:53] #1408 closed

[2020-06-03 20:53] hkdevandla commented on #1321
Obsolete. Not actionable at this point.

[2020-06-03 20:53] #1321 closed

[2020-06-03 20:54] hkdevandla commented on #1149
Obsolete.

[2020-06-03 20:54] #1149 closed

[2020-06-03 20:54] noahdietz commented on #2778
This is done. Thanks for circling back to this.

[2020-06-03 20:54] #2778 closed

[2020-06-03 20:56] hkdevandla commented on #1061
Obsolete.

[2020-06-03 20:56] #1061 closed

[2020-06-03 20:57] hkdevandla commented on #1058
Obsolete.

[2020-06-03 20:57] #1058 closed

[2020-06-03 20:58] hkdevandla commented on #996
Obsolete.

[2020-06-03 20:58] #996 closed

[2020-06-03 20:59] hkdevandla commented on #946
@alexander-fenster, can you take a pass at this and see if it is still relevant?

[2020-06-03 20:59] #946 closed

[2020-06-03 21:00] hkdevandla commented on #937
Obsolete.

[2020-06-03 21:00] #937 closed

[2020-06-03 21:03] noahdietz commented on #2780
This is essentially fixed by moving to grpc_service_config, which we will be working through for monolith languages (micro-generators are already using this new config). There is only one place to set a timeout on an RPC in that config and `gapic-generator` will set that timeout in the generated client such that there is a single RPC made with that exact deadline. We can probably close this becaus

[2020-06-03 21:03] #2780 closed

[2020-06-03 23:51] alexander-fenster commented on #946
We generate tests for client streaming in the micro-generator.

[2020-06-04 21:09] #3211 closed

[2020-06-04 21:47] chingor13 opened #3220 "Java: provide a VERSION constant for client."
In gax, we have [`GaxProperties.getLibraryVersion(Class)`](https://googleapis.dev/java/gax/latest/index.html?com/google/api/gax/core/GaxProperties.html#getLibraryVersion-java.lang.Class-) which we can use to populate a String constant (perhaps in [Service]Client.java).

[2020-06-04 22:51] stephaniewang526 opened #3221 "Improve generated code coverage"
Gapic generated code typically has <80% code coverage which causes codecov check failure in client libraries. Example:
https://codecov.io/gh/googleapis/java-bigqueryreservation/compare/f5c77ebc885826da17cb3581e7a0edbc1a4e2643...ff846813a146c7d081f2c8dc82b2955d4e06b6af

java-bigqueryreservation is a generated client and has never ever passed the codecov check (which requires 80%).

Please take a lo

[2020-06-16 23:39] noahdietz opened #3236 "build_gen: don't hard code parts of the assembly_pkg target name"
The assembly_pkg target names have a hard coded prefix ([example](https://github.com/googleapis/gapic-generator/blob/720e000e68a85161e7179b7aad560653dbb518bb/rules_gapic/bazel/src/main/java/com/google/api/codegen/bazel/BUILD.bazel.gapic_api.mustache#L78)) that includes "cloud" in the name.

There are non-cloud APIs that use build_gen and they must manually remove the hard coded "cloud" in the targ

[2020-06-18 20:35] noahdietz commented on #3236
This is partially addressed by #3237 in that the feature gives teams a "break glass" method of changing the generated assmebly_pkg names and preserving them. It still might be good to remove the Cloud-specific verbiage from the generated target to reduce the need for manual changes on first generation.

[2020-06-19 05:28] hengfengli opened #3238 "Java: default timeouts are not respected in the generated code (cloud spanner)"
The following issue is reported by @olavloite:

## Issue

The 'timeout_millis' configuration values in the _gapic.yaml files and the "timeout" configuration values in the _service_config.json files are ignored. These are the specific timeout values for each method definition.

Config files:

* https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/spanner_gapic.yaml
* https://githu

[2020-06-25 04:32] hengfengli opened #3242 "PHP(spanner): inconsistent generated code from gapic timeout/retry config files"
We found an issue that both `ExecuteStreamingSql` and `StreamingRead` have `retry_codes_name` and `retry_params_name ` in gapic config files:

https://github.com/googleapis/googleapis/blob/cf41866c6f14f10a07aa1e2a1260fc0a2727d889/google/spanner/v1/spanner_gapic.yaml#L88-L91

https://github.com/googleapis/googleapis/blob/cf41866c6f14f10a07aa1e2a1260fc0a2727d889/google/spanner/v1/spanner_gapic.yaml#

[2020-06-29 05:26] QusayERP opened #3244 "Graphics Generator"
Tools for generating API client libraries from API Service Configuration descriptions.

[2020-06-30 02:35] alexander-fenster commented on #3244
Hi @QusayERP, did you have any specific question about this product? I'll close this for now but feel free to reopen with anything more specific. Thanks!

[2020-06-30 02:35] #3244 closed

[2020-06-30 10:41] chrisdunelm commented on #3164
This is fixed.

[2020-06-30 10:45] aohren commented on #3164
We just discovered an issue with this that causes the GAPIC generated Name classes to not work properly. Reported separately in api-commons-java as https://github.com/googleapis/api-common-java/issues/154.

But want to flag here as well, since it ultimately means this isn't working properly yet.

[2020-06-30 10:47] chrisdunelm commented on #3164
Oops, my mistake - I thought this was in the C# repo!
Re-opening now.

[2020-07-10 13:11] aohren opened #3249 "Broken layout of `java_gapic_assembly_gradle_pkg` output"
Up until recently, the `java_gapic_assembly_gradle_pkg` rule would product a .tar.gz packaging with the following directory hierarchy:

[Gradle build files + 3 top level directories (for a `java_gapic_assembly_gradle_pkg` with `name = "googleads-java"`)]:
[code]

Now, the above hierarchy is nested 1-level deep, and two new additional directories (`gapic-googleads-java` and `proto-googleads-java`)

[2020-07-14 20:31] vam-google commented on #3249
This is googelapis-wide issue. Something is completely broken here. May be related to the update to protobuf 3.12.1

[2020-07-21 17:03] vam-google commented on #3249
Fixed

[2020-07-21 17:03] #3249 closed

[2020-07-24 03:54] alexander-fenster commented on #3219
We need to make the bot ignore this repo and other repos that do not actually release stuff, just tag it on GitHub.

The bot logic is that some other bot should come, make an actual release (e.g. to npm, pypi, etc.) and remove the `autorelease:tagged` tag. This other bot does not come here, hence the issue about the "pending state" which does not apply to our use case.

[2020-07-24 03:54] #3219 closed

[2020-07-24 03:54] alexander-fenster commented on #3219
@bcoe Is there any kind of ignore list for the bot that creates these issues?

[2020-07-24 05:45] gattytto opened #3258 "OFFTOPIC release request: Grpc Config Json and yaml Generator"
Hello I have seen [this google ads json](https://github.com/googleapis/googleapis/blob/master/google/ads/googleads/v4/googleads_grpc_service_config.json) and it mentions a generator I can't find anywhere and looks very useful.

[code]

I don't know where to file this request but I figured I may as well ask for guidance on where to make this request.

thanks in advance

[2020-07-24 17:00] failure-checker[bot] opened #3259 "Warning: a recent release failed"
The release PR #3256 is still in a pending state after several hours

[2020-07-24 18:58] #3259 closed

[2020-07-24 19:00] failure-checker[bot] opened #3260 "Warning: a recent release failed"
The release PR #3212 is still in a pending state after several hours

[2020-07-24 19:03] alexander-fenster commented on #3258
Hi @gattytto,

This is an internal tool. Can you share with us what exactly are you trying to do? This gRPC service config JSON just lists retry settings for RPC calls and is pretty straightforward to generate, the tool was used in Ads use case because the settings were taken from elsewhere, and it won't be useful for any general use case.

[2020-07-25 00:25] gattytto commented on #3258
@alexander-fenster thank you so much for the detailed explanation, first to answer your question I am learning to dev so it'd be first for achive and study purpose, then maybe try use parts of it some other way, currently I am looking for protoc-gen-crd implementation and that is why I asked also for Yaml generators (if they are actually generated be it in ads or maybe any part of googleapis/cloud

[2020-07-28 17:29] matetukacs commented on #2778
@noahdietz Any news on grpc-js supporting "grpc.service_config_disable_resolution" grpc option? The TXT DNS queries that are made to attempt to resolve the config are massively slowing down the dns lookups of firestore and pubsub for us. I tried using the c++ grpc lib but node-firestore does not seem to be compatible with it.

Thanks in advance!

[2020-07-28 18:05] noahdietz commented on #2778
@matetukacs hi there. I'm not personally familiar with grpc-js, and in https://github.com/googleapis/gapic-generator/issues/2778#issuecomment-498744216 I was relaying what I had heard from others.

This repo is for a code generator that generates code dependent on grpc-js. I recommend opening an issue on the grpc-js repo inquiring about support for this option, including any information you can sh

[2020-07-29 08:57] matetukacs commented on #2778
Thanks @noahdietz! Creating an issue as you suggested.

[2020-08-06 13:23] aohren opened #3264 "Changed layout of `java_gapic_assembly_gradle_pkg` output"
The output file hierarchy of .tar.gz files produced by `java_gapic_assembly_gradle_pkg` has changed again (similar to #3249), though at least this time it doesn't appear to be as broken. But all the `*ServiceGrpc.java` classes appear to have been moved to their own top-level folder.

Before, we had:
[code]

Now we have a new top-level `grpc-googleads-java` folder, and all the `*ServiceGrpc.java` f

[2020-08-06 17:02] vam-google commented on #3264
The new structure is correct, the old one was incorrect. All cloud client have always had the new structure. The difference is not caused by changes in the `java_gapic_assembly_pkg`, but by the recent change in the grpc target naming in ads (i.e. change from `java_grpc` target name to `<service>_<lang>_grpc` target name). Unless the target was named `<service>_<lang>_grpc` it was not recognized by

[2020-08-06 17:02] #3264 closed

[2020-08-11 02:39] #3260 closed

[2020-08-28 01:07] hkdevandla commented on #3258
Closing this out. Please re-open or an other issue if you have questions. Thanks!

[2020-08-28 01:07] #3258 closed

[2020-08-30 07:24] long1eu opened #3270 "`identitytoolkit/v3/relyingparty` proto definitions"
Usually I can find all google apis proto definitions here (https://github.com/googleapis/googleapis). But there is no definitions for `identitytoolkit/v3/relyingparty`.

Sorry if this is missplaced, `googleapis` repo doesn't allow issues.

[2020-08-31 21:03] SurferJeffAtGoogle opened #3271 "Gapic generator broke nodejs and java last night"
See the many failures here:
https://fusion.corp.google.com/label/268750848

Error messages like this:
[code]

[2020-08-31 21:04] SurferJeffAtGoogle commented on #3271
@bcoe
@chingor13

[2020-09-01 16:42] bcoe commented on #3271
cross posting some of the information @chingor13 dug up.

It would appear that version 50 of setuptools is breaking many libraries in the ecosystem:

https://github.com/pypa/setuptools/issues/2353

* some folks in that thread suggest pinning to an alternate version.
* some folks suggest setting `SETUPTOOLS_USE_DISTUTILS=stdlib`, which I assume forces a different version of the library for installa

[2020-09-01 18:03] miraleung commented on #3270
It doesn't look like that API is on the googleapis repo, please try the [identitytoolkit documentation](https://developers.google.com/identity/toolkit/web/reference) instead.

[2020-09-01 18:06] long1eu commented on #3270
Well I need the proto files to generate code. Should I recreate them based on documentation? Also the documentation seems incomplete.

For example:

The iOS SDK uses an endpoint that is not documented, that is `signInWithGameCenter`.

https://github.com/firebase/firebase-ios-sdk/blob/42655733d51214ee83362afab0b0f545ce3b2102/FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterRequest.m

[2020-09-01 18:09] long1eu commented on #3270
Also @chingor13 @miraleung, can you make sure to tell me if this is the right repo. And if not, witch one is it?

[2020-09-02 15:57] SurferJeffAtGoogle commented on #3271
@vam-google and @alexander-fenster
How goes your investigation?

[2020-09-02 17:42] vam-google commented on #3271
Hi Jeff,
Working on it, will post an update soon.

[2020-09-03 00:00] vam-google commented on #3271
There seems to be some conflict with synthool installation itself.
As a workaround for now (should be easy to do), can you please pin the version of setuptools used by synthtool to 49.6.0 here:
https://github.com/googleapis/synthtool/blob/master/requirements.txt#L2 and check if that works, please?

Currently autosynth must be pulling the 50.0 ("broken") version of setuptools in the python dev envi

[2020-09-03 16:46] SurferJeffAtGoogle commented on #3271
Last night's build succeeded.  Thanks for the fix!

[2020-09-03 16:46] #3271 closed

[2020-09-14 12:33] Robert-Aron293 opened #3276 "Adding support for a new programming language"
I am trying to add support for D language and I don't know where to start.
What are the steps that I should follow?

[2020-09-23 20:54] hkdevandla commented on #3276
@Robert-Aron293  , can you clarify what exactly are you trying to request here. This code in this repo is used for generating Java client libraries. So not sure what exact support that you want to add. Please clarify.

[2020-09-24 09:06] Robert-Aron293 commented on #3276
@hkdevandla i thought this code is used for generating client libraries for more than 1 language.
I wanted to know how the code generation works, so I can write a generator for another language (in my case D). Can you help me with that? Thanks!

[2020-09-24 16:22] software-dov commented on #3276
I strongly, strongly recommend that you don't use this codebase as the basis for a generator for a new language. It is in maintenance mode now, and some of the interfaces and datastructures are overly broad and general in an effort to support languages with highly different surfaces and semantics. Current best practice is to write a generator per target language as a protoc plugin.

[This](https:/

[2020-09-26 15:35] Robert-Aron293 commented on #3276
Hello @software-dov !
I am currently working on "D Language Client Libraries for Google APIs" project[0][1].
I have 2 questions:
The only thing that I have to do is to write a protoc plugin?
If so, can you explain how the code generation works or where can I find some documentation on that?

Thanks!

[0] https://github.com/dlang/projects/issues/66
[1]https://forum.dlang.org/post/eaefvlbgikujonfjjz

[2020-09-28 17:26] software-dov commented on #3276
Correct, writing a protoc plugin is all that is needed. Protoc itself is responsible for parsing and serializing input proto files *and* deserializing the generated client library surface.

This [post](https://expobrain.net/2015/09/13/create-a-plugin-for-google-protocol-buffer/) is a good introduction into how protoc plugins work and how they interact with protoc. The example is in python, but the

[2020-09-30 12:50] aohren opened #3284 "Error on fields with `optional` keyword and `REQUIRED` annotation"
gapic-generator throw an error on fields that have both the protoe3 `optional` keyword and a `(google.api.field_behavior) = REQUIRED` annotation.

For example, given the following field definition in a .proto file:
[code]
gapic generation fails with the following error:
[code]

The microgenerator GAPIC protoc plugins (e.g. gapic-generator-csharp, gapic-generator-python) allow this without error. S

[2020-09-30 15:52] software-dov commented on #3284
This sounds like a question to escalate to @lukesneeringer .

[2020-10-06 22:55] AlanGasperini commented on #3284
We decided that this pattern should not be supported.  I am going to close this bug.

[2020-10-06 22:55] #3284 closed

[2020-10-06 23:12] lukesneeringer commented on #3284
I have https://github.com/googleapis/api-linter/issues/641 to track this in the linter.

[2020-10-07 15:18] Robert-Aron293 commented on #3276
@software-dov thanks for the help! Have you tried to generate client libraries for google drive api, for example? If so, how can I do it? I can't really find the protos associated with this api.

[2020-10-07 17:08] software-dov commented on #3276
To the best of my knowledge neither this generator nor any of the generators listed above have ever been used to create client libraries for Drive. I'm not sure where the Drive protos are; they don't appear to be visible within [googleapis/googleapis](https://github.com/googleapis/googleapis), which has the proto definition for most of the other APIs.

[2020-10-12 11:23] Robert-Aron293 commented on #3276
But do those Drive protos exists? If not, should I write them or should I write the client library for GDrive API?

[2020-10-12 20:47] igorbernstein2 opened #3291 "Generated java Gapic client tests don't include @RunWith annotation"
Example:
https://github.com/googleapis/java-bigtable/blob/8f53b43880be905ea0221d255fe6f81ffe7161e9/google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BaseBigtableTableAdminClientTest.java#L92-L93

[2020-10-13 06:37] arithmetic1728 commented on #3082
any updates as we are out of slo

[2020-10-13 17:00] failure-checker[bot] opened #3297 "Warning: a recent release failed"
The release PR #3290 is still in a pending state after several hours

[2020-10-19 20:47] #3297 closed

[2020-10-24 02:00] failure-checker[bot] opened #3303 "Warning: a recent release failed"
The release PR #3302 is still in a pending state after several hours

[2020-10-30 18:45] miraleung commented on #3173
Fixed and verified to be working in the microgenerator.

[2020-10-30 18:45] #3173 closed

[2020-11-12 19:58] #3303 closed

[2020-12-18 06:37] alexander-fenster opened #3320 "in BUILD.bazel, java_gapic_test has no test classes"
Empty list of `test_classes` is generated.

[2020-12-26 17:00] failure-checker[bot] opened #3321 "Warning: a recent release failed"
The following release PRs may have failed:

* #3316

[2020-12-29 17:00] #3321 closed

[2021-01-01 17:00] failure-checker[bot] opened #3324 "Warning: a recent release failed"
The following release PRs may have failed:

* #3323

[2021-01-04 17:00] #3324 closed

[2021-01-08 17:00] failure-checker[bot] opened #3327 "Warning: a recent release failed"
The following release PRs may have failed:

* #3326

[2021-01-11 17:00] #3327 closed

[2021-01-21 02:00] failure-checker[bot] opened #3331 "Warning: a recent release failed"
The following release PRs may have failed:

* #3336
* #3330

[2021-01-21 13:06] forking-renovate[bot] opened #3332 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:15] #3332 closed

[2021-01-21 18:31] SurferJeffAtGoogle opened #3334 "71 of 95 python APIs fail to build with error ModuleNotFoundError: No module named 'google.api_core'"
First saw around 2021-01-21 05:00.

https://fusion.corp.google.com/runanalysis/test/prod:cloud-devrel%2Fclient-libraries%2Fautosynth%2Fpython/prod:cloud-devrel%2Fclient-libraries%2Fautosynth%2Fpython/KOKORO/bd126a99-ddcf-4060-b192-d54993a500bc/1611250467223/build%20%231040/Targets?target=logs%2Fpython-bigquery&drilldownTab=logs
[code]

[2021-01-21 23:45] SurferJeffAtGoogle commented on #3334
It's running version 3.0.0 of bazel, so I don't think this is related to bazel 4.0.0 being released last night.

[2021-01-25 19:00] #3331 closed

[2021-01-25 23:16] vam-google commented on #3334
Most probably the failure was caused by this change in protobuf: https://github.com/protocolbuffers/protobuf/commit/7daf0aa7b00261bc8e0a433c58e74083cd58ea43

The "Pythony" gist of the problem (regardless of bazel) is that protobuf 3.14.0 removed the support for legacy types of packages (in the PR listed above). At the same time, some of our other google-namespaced packages (like google-api-core) s

[2021-01-27 09:30] vam-google commented on #3334
An update:
The https://github.com/googleapis/gapic-generator-python/pull/753 should fix one half of the problem (Python names package consistency within bazel itself)

Once the fix above is integrated to `googleapis`, it should fix all of the builds on clean systems (systems which do not have any of google-namespace Python packages installed system-wide), which is most often the case. For anyone w

[2021-01-27 09:33] vam-google commented on #3334
@busunkim96 @noahdietz FYI (see the previous comment)

[2021-01-27 18:39] vam-google commented on #3334
@software-dov Hey Dov! Can you please take a look at the comment above and tell me if that makes sense from the Python perspective (i.e. provide some Python expert opinion, because the complexity of this issue is way above my Python level).

[2021-01-28 18:41] busunkim96 commented on #3334
I have cut pre-releases of `googleapis-common-protos`, `google-api-core`, and `google-auth` that follow the guidance in https://github.com/googleapis/gapic-generator/issues/3334#issuecomment-768156415

[code]

[2021-02-01 20:07] SurferJeffAtGoogle opened #3338 "PHP gapic generator is not deterministic"
It generates different output for the same input on consecutive runs.

Example: https://github.com/googleapis/googleapis-gen/commit/a7dd37b1d69d4a274613cff07dd58eb1aefac1e4

Looks like chunks get generated in a different order depending on no variable I can observe.
![image](https://user-images.githubusercontent.com/11778530/106512035-f17f1e80-6485-11eb-8c88-64ec637636bb.png)

This is fatal to all

[2021-02-01 20:13] SurferJeffAtGoogle opened #3339 "Golang generator is not deterministic"
It outputs the current year:
https://github.com/googleapis/googleapis-gen/commit/a7dd37b1d69d4a274613cff07dd58eb1aefac1e4#diff-698fa77b258b372c984a50e633f74ced694582e1cdc73729c654e44d0ae328bf

[2021-02-01 20:51] busunkim96 commented on #3334
Fixed by https://github.com/googleapis/gapic-generator-python/pull/757

[2021-02-01 20:51] #3334 closed

[2021-02-01 21:26] SurferJeffAtGoogle opened #3340 "9% of targets in googleapis/googleapis failed to build"
From https://00f74ba44bf7bdc99d8b74c989644d72b425ce6532-apidata.googleusercontent.com/download/storage/v1/b/856896688174.cloudbuild-logs.googleusercontent.com/o/log-1fdfb45f-7f1c-4ca9-8c77-b7d7a145f8e9.txt?jk=AFshE3U4ZHgtebAOxj-CwF0Ycc7k4axWKRjYt0DPR_IybSEPM8ssFhRHihfBofJ_edtFZbXof45lUgE2SsjDogUz4OkszxDrYvTSgVCZ7QG2xYTbQyBmfkqLWRbwHE_eBmGrNsBJjKoKL7Myl4oA8JffKfFErtAYugtarYFCprrk-djSHIwlnhUSTXC173g

[2021-02-01 23:48] SurferJeffAtGoogle commented on #3340
After the recent fix to Python, the failure rate is down to 9%.

[code]

[2021-02-02 00:29] vam-google commented on #3340
@SurferJeffAtGoogle I can't open the link, it seems like it is temporary. When I click on it I get the following response:
[code]

[2021-02-02 00:59] SurferJeffAtGoogle commented on #3338
The diff is for RecommendationService.php.

[2021-02-02 01:24] SurferJeffAtGoogle commented on #3340
Here's an example build failure:

[code]

[2021-02-06 01:24] viacheslav-rostovtsev commented on #3340
The error is failing to delete a file with an empty character in its name, which triggers a known bazel issue.
- does the environment where this is being run has `find`?
- what are the contents of the `bazel-<foldername>/external/bundler_gapic_generator_cloud/logs/commands/bundle_install.log` and `bazel-<foldername>/external/bundler_gapic_generator_cloud/logs/commands/bundle_list.log`

[2021-02-08 17:22] SurferJeffAtGoogle commented on #3340
It's very easy to reproduce this failure:
[code]

[2021-02-08 17:28] SurferJeffAtGoogle commented on #3340
The environment it's running is is the docker image gcr.io/gapic-images/googleapis-bazel

[2021-02-08 19:11] viacheslav-rostovtsev commented on #3340
it works* when I repro it in this docker image

* I do get an error, but a different, later-stage one, with ruby template engine complaining about the locale
The locale currently has to be set in a docker image, like this: https://github.com/googleapis/gapic-generator-ruby/blob/2567688b1dc4cdfc0df9fdad11cbafcd6cf9a439/rules_ruby_gapic/docker_testing/Dockerfile#L50-L56

Since I am running in the ma

[2021-02-08 19:19] SurferJeffAtGoogle commented on #3340
Ok.  I'll dig deeper.

On Mon, Feb 8, 2021 at 11:11 AM Viacheslav Rostovtsev <
notifications@github.com> wrote:

[2021-02-11 18:04] SurferJeffAtGoogle commented on #3340
@vam-google Could you update `gcr.io/gapic-images/googleapis-bazel` and set the locale as @viacheslav-rostovtsev described?

[2021-02-11 19:49] olavloite opened #3345 "NodeJS generator seem to generate clients with memory leak"
The NodeJS gapic clients seem to have a memory leak that can be triggered using the following steps:
1. Open a gapic client.
2. Execute one simple request.
3. Close the gapic client.
4. Repeat.

This issue was first reported for the [Spanner hand-written client](https://github.com/googleapis/nodejs-spanner/issues/1306), but seems to be more of a generic problem with the generated gapic clients.

T

[2021-02-12 00:11] SurferJeffAtGoogle commented on #3340
I want to leave this open 'til it's fixed in `gcr.io/gapic-images/googleapis-bazel`.

[2021-02-16 21:46] SurferJeffAtGoogle commented on #3340
Recorded bug 180430671 in buganizer.

[2021-02-18 01:20] miraleung commented on #3345
Is this issue for the monolith or gapic-generator-typescript](https://github.com/googleapis/gapic-generator-typescript)?

[2021-02-18 05:33] alexander-fenster commented on #3345
By looking at the paths (`build/src/...`) I understand it's for gapic-generator-typescript. I'll move the issue over there.

[2021-02-23 18:55] viacheslav-rostovtsev commented on #3340
the locales issue is fixed in ruby generators v0.6.15, you no longer has to set locale one the host system

[2021-02-23 18:58] viacheslav-rostovtsev commented on #3340
for the record, currently the main reason for the **initial** bug (ruby builds failing complaining about space in file names) is building on a system without `/usr/bin/mkdir` (e.g. older debian versions and systems that were upgraded in-place from older debial versions). There is a make file in Ruby native extension with `/usr/bin/mkdir` hardcoded and the failure cascades into complaining about sp

[2021-02-24 13:46] chrisdunelm commented on #3164
This has been fixed, closing.

[2021-02-24 13:46] #3164 closed

[2021-03-02 21:38] SurferJeffAtGoogle commented on #3338
I haven't seen it in about 3 weeks.  I'll re-open if I see it again.

[2021-03-02 21:38] #3338 closed

[2021-03-25 21:39] miraleung commented on #3340
Closing in favor of the bugzanizer bug.

[2021-03-25 21:39] #3340 closed

[2021-04-05 15:28] SurferJeffAtGoogle commented on #3339
Most languages behave this way, and I think it's something we have to solve in post processing.

[2021-04-05 15:28] #3339 closed

[2021-08-02 21:47] hkdevandla commented on #3291
@miraleung , is this still valid issue to be tracked in this repo?

[2021-08-25 04:58] forking-renovate[bot] opened #3369 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update dependency com.google.auto.value:auto-value to v1.8.2
 - [ ] chore(deps): update dependency io.grpc:grpc-netty-shaded to v1.4

[2021-09-01 21:21] hkdevandla commented on #3369
@vam-google  can you please take a look at this? We probably have to disable like how we did for other repos - https://github.com/googleapis/gapic-generator-go/pull/755. Thanks!

[2021-09-01 23:16] hkdevandla commented on #3291
This repo will be deprecated soon. If this is still an issue in the gapic-generator, can you please open up an issue in https://github.com/googleapis/gapic-generator-java?

[2021-09-01 23:16] #3291 closed

[2021-09-07 17:15] chingor13 commented on #3270
Sorry, did not see this issue. We do not publish a gRPC endpoint for this API. You can use the HTTP/JSON API https://github.com/googleapis/google-api-java-client-services/tree/master/clients/google-api-services-identitytoolkit/v3/1.31.0

[2021-09-07 17:15] #3270 closed

[2021-09-07 20:57] long1eu commented on #3270
Almost all Google apis are gRPC.

[2021-09-11 22:19] Admin8818 commented on #1917
Hi

[2021-10-07 09:01] google-cloud-policy-bot opened #3384 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [ ] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [ ] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-20 22:34] hkdevandla commented on #3082
Closing this since we moved away from gapic-generator. If this is still an issue for java, can you please fill a bug at https://github.com/googleapis/gapic-generator-java?

[2022-06-27 17:46] noahdietz commented on #3137
Closing this as fixed in microgenerator as the retry configuration is supplied via a different config now.

[2022-06-27 17:46] #3137 closed

[2022-06-27 17:49] #2993 closed

[2022-06-27 17:49] #3320 closed

[2022-06-27 17:49] #3369 closed

[2022-06-27 17:49] #3384 closed, assigned to hkdevandla