[2017-02-08 11:35] chrisdunelm commented on #996
Some questions (apologies if some of these are obvious!):
* What defines the content of the "StartStreamingPullRequest" and "IncrementalStreamingPullRequest" messages? I.e. which fields of the underlying proto will be contained in each. Will this be specified in the gapic config?
* And are these going to be full protos? Or just plain (language-specific) objects?
  * If protos, how/where will these

[2017-02-08 18:26] vchudnov-g commented on #995
We came up with a  plan for run-time checking earlier, and decided on synthetic APIs so we would test against code output by real library generators. We haven't gotten around to implementing it. Let's circle back on that with the current architecture....but let's be mindful of our priorities with upcoming work.

[2017-02-08 19:19] jmuk commented on #996
What I wrote above is my summary for the internal discussion between you and @garrettjonesgoogle -- I believe @garrettjonesgoogle would have more detailed answers, but:

Should be in the gapic config, at the `...` part in the sample yaml above.

You meant "these" for the parameters like `"my-subscription"`, `10`, or acks, right? I believe that they should be in the same rule as the normal flattene

[2017-02-08 19:43] garrettjonesgoogle commented on #996
Actually, the original proposal was to handcraft additional proto declarations for the partial messages.

[code]

The fields would have to match the original exactly.

Using gapic config is an interesting alternative, but then we need to figure out how to do the following:

1. Generate a proto file from the GAPIC declaration
2. Run the proto compiler on the generated .proto declarations from withi

[2017-02-10 02:56] landrito opened #1015 "Create config for generator version."
For ruby (and other languages I think) the version of the gapic code generator is hard coded in. Lets get this moved into it's own config file.

[2017-02-10 18:36] jmuk opened #1018 "NodeJS: the generated class should provide the accessor to the project ID"
From the request for the developers of google-cloud-node: since the auth library knows the current project ID, the generated class shouldn't block doing the information.

The class will have the method of `getProjectId` with the same interface as in the google-auto-auth library (see https://github.com/stephenplusplus/google-auto-auth#authgetprojectidcallback).

[2017-02-10 23:10] #1018 closed

[2017-02-10 23:56] tcoffee-google commented on #692
Fixed by:
https://github.com/googleapis/toolkit/pull/880
https://github.com/googleapis/toolkit/pull/989
https://github.com/googleapis/toolkit/pull/987
https://github.com/googleapis/toolkit/pull/986
https://github.com/google/google-api-ruby-client/pull/528
https://github.com/google/google-api-python-client/pull/330
https://github.com/google/google-api-go-client/commit/af8034156250c1b5b37af228eef7fe

[2017-02-10 23:56] #692 closed

[2017-02-11 00:38] swcloud opened #1022 "googleapis url is broken in README.md from ruby packagemetadata gen"
One example is monitoring:

[googleapis]: https://github.com/googleapis/googleapis/tree/master/google/google/cloud/monitoring/v3

[2017-02-11 00:46] swcloud opened #1023 "Enhance generated Rakefile to include tests and rubocop for Ruby"
Generated Rakefile should be able to

- [ ] call rubocop for style check

- [x] call unit test

- [x] call smoke test

[2017-02-13 16:58] neozwu commented on #874
I'll resolve this issue with "won't fix" for now, since other google java libraries still use the lowercase string, and we probably want them to be consistent.

[2017-02-13 16:58] #874 closed

[2017-02-13 18:59] #915 closed

[2017-02-13 18:59] tcoffee-google commented on #915
Fixed by https://github.com/googleapis/toolkit/pull/1026.

[2017-02-14 17:00] geigerj opened #1031 "Update year in conf.py"
### What

Change 2016 to 2017 in conf.py template (https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/py/docs/conf.py.snip#L65).

### Why

It's 2017. P2 priority because we are not currently generating docs.

[2017-02-14 17:08] geigerj commented on #1031
Also, in `index.rst`, `google` is duplicated on the proto path.

[2017-02-14 17:51] geigerj opened #1033 "Update proto comment regexes to match unordered lists"
### What

The comment fixers (e.g., https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/py/PythonSphinxCommentFixer.java) don't handle Markdown unordered lists correctly. They seem to be mis-recognized as code blocks.

### Example

proto: https://github.com/googleapis/googleapis/blob/af42d585cfd43537fc21f3e950b1db2210e0cd9e/google/logging/v2/logging_config.proto#

[2017-02-14 18:00] #1031 closed

[2017-02-14 22:47] shinfan opened #1034 "Allows dynamic values in baseline test."
PR reference: https://github.com/googleapis/toolkit/pull/1029

We need to support dynamic values in the baseline tests so that every time we bump up the version we do not need to update the baseline.

[2017-02-14 23:06] jcanizales commented on #976
Very old conversation with plenty of baggage :) I hope we finally do it.

[2017-02-15 09:36] jskeet commented on #869
This affects the Spanner API, which uses this format extensively.

[2017-02-15 20:01] lukesneeringer opened #1037 "Artman cannot execute pipelines."
I just pulled `master` from toolkit, and now Artman cannot successfully build a GAPIC anymore:

[code]

The problem seems to be this line added to `build.gradle` in 758ecf343:

    project.version = new File("version.txt").text.trim()

The problem is that my working directory is not the root directory of toolkit (it is the root of Artman). This probably needs to be explicitly made relative to the

[2017-02-15 20:23] lukesneeringer commented on #1037
Found the problem, see #1038.

[2017-02-15 21:34] #1037 closed

[2017-02-20 13:51] chrisdunelm commented on #869
Fixed with #1045.

[2017-02-20 13:51] #869 closed

[2017-02-20 14:14] chrisdunelm commented on #430
This was done in C# a while ago. I only just noticed this outstanding bug.
Looks like all languages are now done, so I'll close the bug.

[2017-02-20 14:14] #430 closed

[2017-02-20 14:16] chrisdunelm commented on #331
Not necessary in C#. The C# documentation processors handle markdown fine.

[2017-02-20 14:22] jskeet commented on #331
@chrisdunelm: Well, sort of. docfx does, but Visual Studio doesn't (for Intellisense) - and we don't resolve all the inter-proto references etc. It would definitely be *better* if we could generate idiomatic XML documentation, IMO.

[2017-02-20 14:32] chrisdunelm commented on #331
OK, marking this as not done for C# again ;)

[2017-02-20 15:53] #784 closed

[2017-02-20 15:58] chrisdunelm commented on #495
This was fixed a while ago in #710.

[2017-02-20 15:58] #495 closed

[2017-02-20 16:01] chrisdunelm commented on #834
@michaelbausor, @garrettjonesgoogle C# implements this using `null`. If Java has also resolved this issue, then it can be closed.

[2017-02-20 16:15] chrisdunelm commented on #644
Examples of this bug have moved: https://github.com/googleapis/toolkit/blob/master/src/test/java/com/google/api/codegen/testdata/csharp_gapic_resourcenames_library.baseline#L77

[2017-02-20 17:19] #644 closed

[2017-02-21 17:13] chrisdunelm opened #1048 "Honor "required_fields" in flattened methods"
E.g. https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging_gapic.yaml#L341
This should mean that all non-required flattened-method parameters can be passed null, which causes the relevant field(s) will be left unset on the request object.

- [ ] Java
- [x] C#

[2017-02-22 23:25] landrito commented on #1022
This issue was caused by an error in packman. After migrating metadata generation over to toolkit, this has been fixed.

[2017-02-22 23:25] #1022 closed

[2017-02-23 09:05] jskeet commented on #843
I think this is now completely done, isn't it? Suggest closing.

[2017-02-23 09:06] jskeet commented on #834
@garrettjonesgoogle Ping for closing?

[2017-02-23 09:07] jskeet commented on #541
I don't think anything specific is required for the C# here. Each whole package is alpha/beta/GA.

[2017-02-23 09:08] jskeet commented on #385
I remember there being discussions around this, but I *thought* the consensus was that we should just stick with what was given.

@omaray and @anthmgoogle to comment - we definitely need to determine this before GA!

[2017-02-23 09:09] jskeet commented on #274
The *message* documentation is presumably down to proto. For methods with parameter flattening, I think we may still have an issue for C# and Java, but it's a slightly different one. It was considered around the time of resource name design, but not implemented. Will raise a separate issue for this, but "tick" C# as done for this one.

[2017-02-23 09:13] jskeet opened #1057 "Oneofs and parameter flattening"
Consider a oneof with two options, both of which are strings - and which we want to include in parameter flattening. We definitely can't use overloads for that, as they're the same types.

Definitely an issue for Java and C# - not sure about Go.

We spotted this a while ago, decided (I think) to implement it using oneof types like we do for resource names, but I don't think that's been implemented

[2017-02-23 17:08] garrettjonesgoogle commented on #834
This is done in Java.

[2017-02-23 17:08] #834 closed

[2017-02-23 17:20] theacodes opened #1058 "Generated clients should contain a constant containing the audience / service URL"
(Examples in Python, but applicable to all languages)

For authentication purposes, we should expose the audience / service URL (I'm not picky on name) as a constant in the client class, e.g.:

[code]

The audience / service URL can be determined by:

[code]

Where SERVICE_ADDRESS is the existing constant [here](https://github.com/googleapis/api-client-staging/blob/d0682de146e60af7fe1084d8b1a9906c

[2017-02-23 18:06] geigerj commented on #274
Agree that this documentation work is not applicable to languages that will address oneofs through #1057.

[2017-02-23 18:31] michaelbausor commented on #843
Yes, this is complete.

[2017-02-23 18:31] #843 closed

[2017-02-23 19:10] bjwatson commented on #1057
@jskeet I added the `Release Blocking` tag, since you said this needs to be addresed before GA.

[2017-02-23 21:06] landrito opened #1060 "Config Gen: config gen is producing subfields for field_name_patterns."
We think it's a [bug](https://github.com/googleapis/googleapis/pull/263#discussion_r102775344).

Either confirm it's a bug or intended.

[2017-02-23 21:13] landrito commented on #1060
For example, this was produced:

[code]

[2017-02-24 00:27] bjwatson opened #1061 "Enforce oneofs with client-side validation"
### What
For an example proto request message:

[code]

We should enforce in our GAPIC client code that no more than one field in `oneof target` is allowed to be passed into a method.

### Why
We currently allow the service to enforce this, but the quality of the error message returned by the service might vary across APIs. We can do a better, more consistent job of telling the user what they did

[2017-02-24 00:29] bjwatson commented on #1061
Language leads: if this issue does not apply to you, then please remove the label and bullet point above for your language.

[2017-02-24 00:49] garrettjonesgoogle commented on #1061
We don't put one of fields in parameter lists in Java currently.

[2017-02-24 00:55] eoogbe commented on #975
Note that, despite the reduction of function length, the line length difference in the suggested solution is minimal. I don't think it solves the problem, and in fact it introduces a new one. What should we return if the developer passes in a dictionary with multiple entries? If we handle only the first entry, we’re misleading the developer. If we handle all the entries, returning some sort of dic

[2017-02-24 00:59] eoogbe commented on #975
This has been solved in Java and C# by using objects. The C# solution is pretty clear:
1. Create the resource wrapper classes
2. reopen the request classes and have them accept the new classes in their constructor

This solution will work for Ruby (and I think Node.js), but in the other languages, you can't reopen classes. You also can't reopen classes in Java, and for the life of me I can't figur

[2017-02-24 01:00] garrettjonesgoogle commented on #975
@michaelbausor implemented the Java magic for this.

[2017-02-24 01:04] remi commented on #975
Another tool to consider is shortening identifiers such as `monitored_resource_descriptor_name` to `resource`.

The Logging library uses `resource` as a name for a `monitored_resource`: [Writing Log Entries](monitored_resource_descriptor_name)

[2017-02-24 01:08] remi commented on #975
Can you show an example of what the C# solution that you're referring to, which you like?

Looking through the C# [Monitoring client](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Monitoring.V3/api/Google.Cloud.Monitoring.V3.MetricService.MetricServiceBase.html#Google_Cloud_Monitoring_V3_MetricService_MetricServiceBase_ListMetricDescriptors_Google_Cloud_Monitoring_V3_

[2017-02-24 01:09] eoogbe commented on #975
@remi The link is broken

The resource name generation for c#: https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/transformer/csharp/CSharpGapicClientTransformer.java#L127

[2017-02-24 01:09] eoogbe commented on #975
Test example: https://github.com/googleapis/toolkit/blob/master/src/test/java/com/google/api/codegen/testdata/csharp_gapic_resourcenames_library.baseline

[2017-02-24 01:10] remi commented on #975
Whoops ~  [Writing Log Entries](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.25.0/google/cloud/logging#writing-log-entries)

Sweet, thanks!

[2017-02-24 01:11] remi commented on #975
What does the developer surface look like for the end user for one of these calls?

[2017-02-24 01:15] eoogbe commented on #975
I think this uses the gapic but unsure: https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Monitoring.V3/index.html#list-metric-descriptors

[2017-02-24 01:23] eoogbe commented on #975
Going back to the name-shortening:
Because the functions are in the form `match_{potentially long thing}_from_{potentially long thing2}_name` and thing2 gets repeated for every field in the path, it would be hard to come up with unambiguous yet short names in many cases. Even `monitored_resource` => `resource` still produces `def match_resource_descriptor_from_resource_descriptor_name resource_des

[2017-02-24 01:25] remi commented on #975
+1

[2017-02-24 01:28] remi commented on #975
Are these `match_x_from_y` methods only used internally by the client library?  Should they actually be public at all?  IIUC these feel like internal private helper methods for parsing display names from namespaced resource strings.

From a quick skim of the C# client, I don't see any similar functionality being exposed.  And I can't think of a developer use case.

[2017-02-24 01:36] eoogbe commented on #975
The `match_x_from_y` functions are intended to be used by the developer. As far as I know, they aren't used internally. They allow the developer to parse resource paths into the field parts. For example:
[code]

The C# client doesn't have `match_x_from_y`. (Or maybe it does, but doesn't really use it. Moot either way.) Instead, it has resource classes. From the earlier link, `ProjectName` is a res

[2017-02-24 01:53] jmuk commented on #1061
ProtoBuf.js reports errors when both of `oneof` are specified. I don't think GAPIC layer should do something for Node.

[2017-02-24 07:11] jskeet commented on #1061
Removed C#:

- The protobuf message handles oneof appropriately (it only stores a single value, and remembers which field it's associated with, then serializes appropriately)
- So long as we never create a flattening with more than one field from the oneof in, we'd never be generating anything that leads to a problem

[2017-02-24 15:17] bjwatson commented on #1061
My main concern is that the user either gets a helpful error message when they define more than one field in a oneof block, or that the GAPIC surface for a language makes this impossible.

It sounds like C# is the latter, is that correct @jskeet? @garrettjonesgoogle Is the same true for Java?

@jmuk Is the ProtoBuf.js error message is helpful enough for the user? If so, then I agree we don't need

[2017-02-24 15:20] jskeet commented on #1061
Assuming the GAPIC config has been done separately, it is indeed the latter for C#, and I'd assume that's the case for Java too.

[2017-02-24 15:44] bjwatson commented on #1061
@jskeet Do you think you can resolve https://github.com/googleapis/toolkit/issues/1057 without introducing the possibility that multiple field in a `oneof` block can be defined by the user?

[2017-02-24 15:46] jskeet commented on #1061
@bjwatson: I don't understand your comment, I'm afraid - but it's a somewhat separate issue to this one, so should probably be discussed there. Note that while we *could* avoid ever specifying any oneof-related fields in flattenings, that would be bad in terms of usability.

[2017-02-24 16:13] bjwatson commented on #1061
It's actually a concern on both issues, but I think it's easier to discuss in the context of this one. My understanding is that for the proto in my description above, you generate overloaded C# methods like this:

[code]

There's no risk here of the user specifying both `time` and `snapshot`. However, it's not clear to me what you would do if the proto defined both fields to be `string`. For examp

[2017-02-24 17:03] jskeet commented on #1061
We had previously considered creating a `TargetOneof` type, and make that the parameter. You'd then call it with something like:

[code]

Then it's fine to add more fields to the oneof later - nothing needs to change.

[2017-02-24 17:11] lukesneeringer commented on #1061
I can confirm that Python silently ignores one of the arguments:

[code]

[2017-02-24 18:12] jmuk commented on #1061
Okay, that's fair. ProtoBuf.js's error message is indeed not quite friendly: `Error: Illegal value for Message.Field .google.cloud.speech.v1beta1.SyncRecognizeRequest.audio: .google.cloud.speech.v1beta1.RecognitionAudio (Error: Illegal value for Message.Field .google.cloud.speech.v1beta1.RecognitionAudio.content of type bytes: object (proto3 field without field presence cannot be null))`

Another

[2017-02-24 18:58] bjwatson commented on #1061
@jskeet I see. You're wrapping the parameter to ensure that it's a unique type. That sounds great, and I have not concerns in this regard for C#.

@garrettjonesgoogle @pongad Can you confirm that you're doing the same for Java and Go, or are you doing something different for `oneof`?

@lukesneeringer Thanks for confirming. That's a good question about the cardinality. If we had a way of saying the

[2017-02-24 19:01] geigerj commented on #1061
@bjwatson re: cardinality, I agree with your assessment.

[2017-02-24 21:19] jskeet commented on #1061
To be clear - we're not doing that *yet*. That's what our best thinking was back when we were looking at resource names. Implementing that is how we fix #1057.

[2017-02-24 21:55] garrettjonesgoogle commented on #1061
@bjwatson for Java: If someone configures one-of parameters to be flattened, as things stand now, the client would be broken. We are intending on following the strategy that @jskeet mentioned, where a one-of type will be generated and used as the parameter type, so new one-of variants won't break anything.

[2017-02-24 22:10] jmuk opened #1064 "nodejs: lodash.merge is conditionally necessary"
The package.json generator doesn't say about this, but `lodash.merge` package is necessary for running pubsub API. It is conditional, it's only used when mixin exists; https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/nodejs/main.snip#L41

This is not a serious issue for now, since the generated package.json is not used in pubsub so far (hand-written one i

[2017-02-24 22:26] shinfan commented on #1064
Is this some exception of nodejs pubsub or there is some general logic we can apply here?

[2017-02-24 22:44] jmuk commented on #1064
It's the APIs using `reroute_to_grpc_interface` config. Right now only Pubsub is using that (for merging with IAM; see https://github.com/googleapis/googleapis/search?utf8=%E2%9C%93&q=reroute_to_grpc_interface)

[2017-02-24 22:45] jmuk commented on #1064
Hm, but the usage (https://github.com/googleapis/googleapis/search?utf8=%E2%9C%93&q=reroute_to_grpc_interface) looks like we could use `extend` instead of this `merge` function.
@landrito, let's talk this offline.

[2017-02-24 22:52] landrito commented on #1064
I remember trying to use extend but since often the protos loaded are in the same google path, they will be overwritten as we continue to extend.

[code]

[2017-02-24 23:24] lukesneeringer commented on #1061
I have a WIP branch [here][1] (just pending unit tests and more testing of pubsub).

Other language leads might want to wait until I get this tested and merged, so they can use `methodConfig.getOneofs()`.

  [1]: https://github.com/lukesneeringer/toolkit/tree/issue-1061-python

[2017-02-24 23:35] bjwatson commented on #1061
@jskeet @garrettjonesgoogle No worries. If you're implementing these one-of types, it sounds like you won't have this issue by time we go GA for the Logging client.

[2017-02-24 23:35] bjwatson commented on #1061
Thanks @lukesneeringer!

[2017-02-25 01:57] lukesneeringer opened #1065 "Python: Make sure GRPC is actually optional on proto- packages."
@geigerj and I went through and thought we made GRPC optional on `proto-*` packages, but it may not be done correctly, as they still have a hard dependency on `grpcio`.

Investigate.

[2017-02-25 01:59] lukesneeringer commented on #1065
It is because I never merged #980.

[2017-02-27 10:40] jskeet opened #1066 "Resource names as strings in APIs"
In a few places we're calling ToString on resource names in generated snippets.
I suspect that this may be due to a poor configuration in some places. As an example, for Spanner the CreateSession method accepts a string rather than a DatabaseName:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.V1/Google.Cloud.Spanner.V1/SpannerClient.cs#L569

...

[2017-02-27 17:44] landrito commented on #1057
Until we have a solution, the status quo causes a bug in method samples.

Since the oneof fields will not be required the samples do not pass in a oneof field.

A temporary solution would be to add a sample code init field to the gapic yaml.

[2017-02-27 17:54] michaelbausor opened #1070 "PHP - Ensure client options are correctly enabled for LRO"
Pass all options to enable correct operation to the OperationsClient constructor

[2017-02-27 23:10] pongad commented on #1057
I think we should remove Go. Go doesn't implement any flattening.

[2017-02-28 15:56] lukesneeringer commented on #1061
Python is merged.

[2017-02-28 18:15] lukesneeringer commented on #1065
#980 is merged; closing.

[2017-02-28 18:15] #1065 closed

[2017-02-28 18:49] garrettjonesgoogle opened #1074 "Remove `throws IOException` from `XSettings.Builder.build()`"
This also means the transitive calls that it makes should have `throws IOException` removed also; none of them actually throw it. This must be a holdover from when `IOException` was actually thrown.

[2017-02-28 23:00] jmuk opened #1075 "package name with hyphens causes errors"
Generation of spanner_admin_database (or instance) causes the following error:

[code]

[2017-03-01 02:58] pongad commented on #1061
Removed Go. Details below.

Go uses composite literal to initialize the request object. (Example not checked, but shouldn't too far off)
[code]
It is never possible to set the `oneof` multiple times the same way it is impossible to set any field to multiple values.

[2017-03-01 15:31] lukesneeringer commented on #1061
So, you get an exception if you do:

[code]

[2017-03-01 16:14] bjwatson opened #1077 "Define GAPIC version for Ruby client libraries"
### What
Currently the Ruby GAPIC client libraries report no version for the `gapic/` token in the `x-goog-api-client` header. This should be fixed.

### Why
The `gapic/` token indicates two things: that a GAPIC layer is being used, and what version it is. We're only satisfying the first requirement.

It's okay if the `gapic/` version is the same as what we use for the `gccl/` version, since Ruby

[2017-03-01 20:36] jskeet opened #1080 "Add Unavailable to list of codes to retry for non-idempotent calls"
I believe this should just be a case of editing https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/configgen/RetryGenerator.java#L46

We may want to investigate other statuses as well:

- Internal
- Unknown
- DataLoss

[2017-03-02 05:11] pongad opened #1084 "Go imports multiple "google_protobuf"s"
If one file needs to import both `github.com/golang/protobuf/ptypes/empty` and `github.com/golang/protobuf/ptypes/timestamp`, the two are both imported under "google_protobuf".

We need to rename them to different things.

[2017-03-02 15:58] chrisdunelm opened #1085 "[C#] Incorrect snippet initialization type for repeated resource-name fields"
Snippets are being generated with incorrect initialization code for repeated resource-name fields.

Example: `IEnumerable<BookNameOneof> optionalRepeatedResourceNameOneof = new List<string>();`
This should be: `IEnumerable<BookNameOneof> optionalRepeatedResourceNameOneof = new List<BookNameOneof>();`

[2017-03-02 16:01] chrisdunelm commented on #1066
This is due to incomplete resourcename configuration in the relevant gapic.yaml.
We need to find all configs where resource_name_treatment is not STATIC_TYPES and complete the configuration.

[2017-03-02 16:29] chrisdunelm commented on #1057
https://github.com/googleapis/googleapis/pull/272 prepared to remove the datastore RunQuery flattenings that work-around the lack of proper oneof handling.
This will affect C#; do any/all other languages use gapic-generated datastore code?

[2017-03-02 16:54] #1077 closed

[2017-03-02 16:57] garrettjonesgoogle commented on #1057
Java isn't using a GAPIC client for Datastore, so Java won't be affected.

[2017-03-02 19:14] #349 closed

[2017-03-02 19:40] bjwatson commented on #349
Woo hoo! Good job, Eva!

[2017-03-03 00:20] pongad commented on #1061
@lukesneeringer That code doesn't compile, because `SeekRequest_Snapshot` type doesn't have a `Time` member. If you want to use a timestamp:

[code]

Go protobuf essentially created the oneof type for us, so we don't have to.

[2017-03-03 15:17] lukesneeringer commented on #1061
Got it.

[2017-03-03 16:28] michaelbausor opened #1089 "Add params and returns to PHP generated methods"
In particular for format and parse methods, to improve generated documentation

[2017-03-03 16:55] chrisdunelm commented on #1066
https://github.com/googleapis/googleapis/issues/278 filed, which lists all GAPIC configs and methods with incomplete resource-name configurations.
So closing this issue.

[2017-03-03 16:55] #1066 closed

[2017-03-04 02:04] eoogbe opened #1094 "config.proto changes too frequently to move to the service config"
And I don’t think the changes will settle. If a client adds a feature we didn’t anticipate, the gapic config will change again. We need to decide if merging the two configs is still a goal. If it is, we need the gapic config not to change when we add new features somehow.

[2017-03-06 15:06] garrettjonesgoogle commented on #1094
I don't quite understand what the problem is. Changes can either be additive (new config entries) or breaking (deletes, renames, type changes). If we restricted ourselves to additive changes when adding new features, I don't think there would be a problem.

[2017-03-06 15:17] lukesneeringer opened #1097 "Deal with google.longrunning."
Right now, our Python auto-gen creates a package based on the `longrunning` service YAML, which does a few things that are strange/exceptional:

  * It writes a package that is not really a package, and instead a subset of it is put within `google.gax`. This might be a reasonable strategy in principle (if we did it everywhere), but it is inconsistent with how every other package works.
  * Our pac

[2017-03-06 17:44] bjwatson commented on #270
@geigerj Has this been partially done?

[2017-03-06 17:50] geigerj commented on #270
@bjwatson This is done for Python. (Just checked the box.)

[2017-03-06 18:14] lukesneeringer commented on #1061
Python GAPICs with this change are all released. Removing the Python label.

[2017-03-06 18:36] eoogbe commented on #1094
I was of the understanding that merging with the service config required more stability than that

[2017-03-06 18:39] garrettjonesgoogle commented on #1094
@ethanbao do you have more insight on that?

[2017-03-06 19:08] ethanbao commented on #1094
I recommend that we merge the two configs once gapic config surface becomes stable, and will only have non-breaking changes.

[2017-03-06 19:16] eoogbe commented on #1094
What if the gapic config doesn't stabilize?

[2017-03-06 19:19] ethanbao commented on #1094
Then we need to figure out why it cannot be, even after the toolkit becomes GA quality.

[2017-03-06 19:19] garrettjonesgoogle commented on #1094
Back to my point about different types of changes: We can decide at some point to make the config.proto surface "GA", since that we only do additive changes after that point. I think it's a separate question of the rate of change: we could still have a lot of additive changes even after we declare that there are no new breaking changes. So at which point do we merge: after we declare the config su

[2017-03-06 19:24] jmuk opened #1100 "index.js should not use lodash.union"
We want to minimize the dependencies. When there are multiple services but their auth scopes are completely same, we don't have to use `lodash.union` for merging them into a single list.

Since the codegen of index.js comes to the toolkit itself, it should know the full list of the scopes. It does not declare per-service `ALL_SCOPES` and `SERVICE_ADDRESS` -- index.js can just keep them directly.

[2017-03-06 19:24] jmuk commented on #1100
cc: @shinfan @landrito

[2017-03-06 19:53] jmuk commented on #1064
It seems `extend` accept optional `deep` flag at the beginning. And when it's set `true`, it can behave as same as `merge` (see https://github.com/justmoon/node-extend#usage)

i.e. `extend(true, {}, ...);`

[2017-03-06 19:54] jmuk commented on #1064
updated the title because of this.

[2017-03-06 20:18] bjwatson commented on #270
Thanks @geigerj!

[2017-03-06 21:57] eoogbe commented on #1094
Closing because gapic config should not be merged with service config

[2017-03-07 11:42] chrisdunelm commented on #1085
[InitCodeTransformer.cs line 415](https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java#L415) is where the wrong type is used to generate this snippet initialization code.

Instead of `item.getType()`, the `TypeRef` needs to be a repeated of the resource-name type.
It's not clear to me if this `TypeRef` is available or can be co

[2017-03-07 11:45] chrisdunelm commented on #1085
@garrettjonesgoogle, @michaelbausor if you or someone else who is familiar with this `InitCodeTransformer` code could have a quick look I would appreciate it. Thanks.

[2017-03-07 16:05] garrettjonesgoogle commented on #1085
I think @michaelbausor should take a look first since he is the most familiar with this at the moment.

[2017-03-07 17:38] michaelbausor commented on #1085
@chrisdunelm You are right, the existing logic is not correct for C# - in Java we use `new ArrayList<>()` so the type is not required in the repeated field case.

I will have a look now and propose a fix for the C# case.

[2017-03-07 19:38] jmuk opened #1108 "NodeJS: tests for streaming methods with errors fail"
Through the regeneration of spanner API, I've met unit test failures for `invokes executeStreamingSql with error` and `invokes streamingRead with error`.

The real reason for this is a misunderstanding on nodejs handling. In short, it turns out that `mockStream.write()` is invoked earlier.

- for normal `'data'` events, the written data is queued, and the data events are emitted for the first time

[2017-03-07 20:09] shinfan commented on #1108
Our users will not append the `write` method to their method calls. Will this cause any issue in the production environment?

[2017-03-07 21:34] #1085 closed

[2017-03-07 22:27] jmuk commented on #1108
Technically this is not in production since the generated tests are not running in CI, but it fails when I run them manually on api-client-staging repository.

Regarding `write`: that's fair enough. In that case maybe we want to switch the design back to the original one -- I remember that originally `mockStream.write()` was placed at the end of the each test case but I recommended to move into th

[2017-03-08 00:53] jmuk commented on #1108
I've also noticed that we could simply delay calling `mockStream.write()`. This means to replace `mockStream.write()` by `setTimeout(function() { mockStream.write(); }, 0);`

[2017-03-10 23:42] geigerj opened #1113 "Pass list of common protos to toolkit via artman"
### What

The list of common protos is configured in https://github.com/googleapis/googleapis/blob/master/gapic/packaging/common_protos.yaml. Toolkit should have knowledge of this list.

### Why

We are duplicating logic by hardcoding common proto in toolkit code, e.g., https://github.com/googleapis/toolkit/pull/1053/files#r105066100. Having access to this configuration will also be useful once `t

[2017-03-14 22:13] pongad opened #1114 "go: forward in grpc.CallOption"
cc @jba , sorry I lost track of this

Some APIs will need to specify grpc.CallOption to get gRPC header and trailer from the RPC call.
The easiest way to deal with this is probably to change the surface from
[code]
to
[code]

@saicheems @jmuk what do you think?

[2017-03-14 23:54] saicheems commented on #1114
Well, it was once like this. Wasn't there a way to pass options as a property of the context?

It was something like
[code]

[2017-03-15 02:10] pongad commented on #1114
@saicheems Are you referring to [this](https://golang.org/pkg/context/#WithValue)? That is useful for passing things into the request. But now we need to take the header/trailer set by the server *out* of the response. The mechanism to do this with gRPC-generate client is documented [here](https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-metadata.md#unary-call).

Perhaps you meant us

[2017-03-15 03:18] saicheems commented on #1114
I see, I misunderstood, thanks for the clarification.

I think what you're suggesting is reasonable.

IIRC the interface used to look like this:
[code]

except `grpc.CallOption` was `option.ClientOption` - do you think it's better to only expose the `grpc` options or to wrap the call as a `ClientOption` here?
https://github.com/google/google-api-go-client/blob/master/option/option.go#L27

[2017-03-15 03:30] pongad commented on #1114
I am thinking grpc.CallOption because that's what the grpc generated code [supports natively](https://github.com/google/go-genproto/blob/master/googleapis/pubsub/v1/pubsub.pb.go#L1382).

From what I can see, it feel likes `option.ClientOption` is more geared towards option to build a client, not how to build a call. I might be reading this wrong though.

[2017-03-15 18:09] jmuk commented on #1114
+1 for additional optional parameters.

An idea is to use `gax.CallOption` here instead of `grpc.CallOption`, and add a function like `WithGrpcOption` in gax to wrap a grpc's CallOption as a gax's CallOption. This way, the call will look like
`client.GetShelf(ctx, req, gax.WithGrpcOptions(grpc.Header(header)))`.

This adds additional function call but allows customizing other gax parameters (like

[2017-03-16 23:19] garrettjonesgoogle commented on #803
So if I was going to migrate generation of grpc packages in Java to toolkit, would that fall under this issue?

[2017-03-16 23:23] geigerj commented on #803
Yes, I had intended to use this issue as a checklist for all of the languages that use Packman, but forgot to finish filling out the list. I'll do that now.

[2017-03-17 16:34] jba commented on #1114
I agree with Jun: let's use gax so we can tweak retry. (Even if retry ends
up inside gRPC, this will future-proof against new features we want to
layer on top of gRPC.)

On Wed, Mar 15, 2017 at 2:09 PM Jun Mukai <notifications@github.com> wrote:

[2017-03-17 22:26] landrito opened #1120 "Ruby: Generate rubocop config and make sure generated clients pass rubocop."
Currently, when running the rubocop task on the generated client. Many errors are found. We should resolve this by doing two things:

- [ ] Generate a custom rubocop.yml to make rubocop more reasonable for generated clients. This should be based on the rubocop.ymls already present in google-cloud-ruby.
- [ ] Make the generated code pass for the generated clients using the custom rubocop.yml
- [ ]

[2017-03-17 23:25] bjwatson commented on #307
@geigerj Does this affect the other four languages?

[2017-03-17 23:30] geigerj commented on #307
@bjwatson I don't know; when I created the issue, it was specifically in reference to the fact that in the Python libraries, we do things like [setting integer fields to 0](https://github.com/googleapis/toolkit/blob/b4df82d87f0ebfa57f9c5b510be8dd6f37f45194/src/test/java/com/google/api/codegen/testdata/python_main_library.baseline#L711), which isn't really necessary, and it might slightly simplify

[2017-03-17 23:31] geigerj commented on #307
I think it probably makes sense to keep the scope of this issue as Python-specific clean-up.

[2017-03-18 02:15] pongad commented on #1114
SGTM, I'll work on this Monday

[2017-03-18 03:47] landrito opened #1121 "Ruby: Consider changing smoketest output path"
It may be better to have ruby smoketests generate to the 'smoke_test/' path. This issue is to start a discussion to weigh the pros and cons of changing the path.

[2017-03-18 17:49] shinfan commented on #1121
FYI right now in Java we put all tests under the same path. Maybe worth considering changing the smoke test path across languages.

[2017-03-20 17:42] saicheems commented on #422
Going through old bugs, Michael does this seem like something worth doing anywhere? I don't think there's much reason to do it in discovery, but maybe in toolkit?

Feel free to close if not.

[2017-03-20 17:44] saicheems commented on #494
Obsolete, guess it was an out of date library issue.

[2017-03-20 17:44] #494 closed

[2017-03-20 17:45] #795 closed

[2017-03-20 20:03] eoogbe commented on #1094
Reopening because the issue of whether the gapic config and the service config should be merged is not resolved.

[2017-03-20 23:38] jba commented on #422
@pongad I do think this is valuable and should be easy (?). And we must do it before we release.

[2017-03-21 00:03] pongad commented on #422
If I remember right, there might already be a support in toolkit for this. I'll investigate.

[2017-03-21 00:13] #1114 closed

[2017-03-21 06:15] pongad commented on #422
I have thought about this a little more. I think we shouldn't do this in gapic. It's been a while since I last worked on Discovery. It might be useful there; I'm not sure.

My reasoning is that doing this will make us consistent with Go style guide but inconsistent with generated protobuf code. For Pubsub, the [`message_id`](https://github.com/googleapis/googleapis/blob/9bab31c7a52dc33a5301cfa50b9

[2017-03-21 17:28] #422 closed

[2017-03-22 16:25] saicheems commented on #602
Submitted an issue under discovery-artifact-manager for the first item. The overrides in toolkit should eventually only be used to ensure the baselines are generated as expected.

[2017-03-22 16:28] saicheems commented on #552
I think we should claim wontfix or say that we're at a good enough point on this, I think we've gotten a significant amount of input from language experts, that may be enough to close this one.

[2017-03-22 16:33] saicheems commented on #631
Thoughts on this one? I'm thinking wontfix

[2017-03-22 16:40] saicheems commented on #655
I'm thinking we leave this as-is? If I'm not mistaken this should only affect OAuth2 samples. It would require a day or two of work at least as well.

[2017-03-22 16:41] saicheems commented on #995
Not sure if we have the development bandwidth for this item anymore :(

[2017-03-22 16:42] saicheems commented on #648
May not have bandwidth for this item anymore :(

[2017-03-22 16:55] saicheems commented on #965
I'm claiming wontfix, feel free to change if either of you disagree.

[2017-03-22 16:55] #965 closed

[2017-03-22 16:58] jonparrott opened #1128 "[Python] remove dependency on oauth2client"

[2017-03-22 16:58] lukesneeringer commented on #1128
For documentation: @jonparrott is saying that the dependency is bogus and we do not _actually_ use it.

[2017-03-22 17:06] jonparrott opened #1129 "Fix Python packaging issues"
1. `setup.py`
   - [ ] use `io.open` over `open`.
   - [ ] use `Apache 2.0` instead of `apache-2.0`.
2. `setup.cfg`
   - [ ] Add [setup.cfg](https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/master/setup.cfg) to enable wheel distribution. (We should additionally ensure packages are published as wheels).
3. `MANIFEST.in`
   - [ ] use `recursive-include google *.json *.proto` ov

[2017-03-22 17:08] tcoffee-google commented on #552
AFAICT, we have not made a full update of live samples since last summer, and some of the samples specifically relevant to this issue are not live; so absence of negative feedback may not be indicative. I think once we have a fully passing set of samples, it would still make sense to get a final round of user feedback of some kind.

[2017-03-22 17:16] tcoffee-google commented on #631
I suggest demoting to P3, behind feature changes.

[2017-03-22 17:19] tcoffee-google commented on #655
I suggest also demoting to P3, the implied taxonomy being:
P1 ~ sample bug corrections (including consistency bugs)
P2 ~ sample functionality enhancements
P3 ~ sample style or tooling improvements

[2017-03-22 17:24] tcoffee-google commented on #995
I would leave this as P1, coming next after https://github.com/googleapis/toolkit/issues/587, because otherwise we still leave considerable room for bugs in sample correctness. I would say that the synthetic API concept partially overlaps the proposal here.

[2017-03-22 17:28] lukesneeringer commented on #1128
This is a P1 priority because oauth2client will be officially (externally) deprecated at the end of April.

[2017-03-22 17:41] tcoffee-google commented on #965
Reclassifying as P3, per https://github.com/googleapis/toolkit/issues/655#issuecomment-288473547

[2017-03-23 17:32] vchudnov-g commented on #995
Demoting to P2 due work priorities, not that this wouldn't be important to have.

[2017-03-23 17:35] vchudnov-g commented on #552
Demoting to P2 because of other priorities.

[2017-03-27 17:57] shinfan opened #1137 "Access artman config data from toolkit"
Use case:
The Java generated code requires `api_name` field in the api gapic config.

[2017-03-28 23:17] eoogbe opened #1143 "Improve testing coverage of exceptions"
The design of GaxError needs to be revisited. Once that is settled, exception testing in Python should be improved to check for the error code and message.

[2017-03-28 23:45] #1084 closed

[2017-03-29 17:56] geigerj commented on #1143
Context: https://github.com/googleapis/toolkit/pull/1141#discussion_r108524164

[2017-03-29 22:52] garrettjonesgoogle opened #1145 "Java: split grpc-generated packages into two packages: protobuf types and grpc stub types"

[2017-03-29 22:53] garrettjonesgoogle commented on #1145
googleapis/toolkit#803 is a prerequisite.

[2017-03-30 23:02] garrettjonesgoogle opened #1149 "Implement oneof support for flattened methods in Java"
This is necessary for Seek in Pub/Sub.

[2017-03-30 23:03] garrettjonesgoogle commented on #1149
(as discussed in https://github.com/googleapis/toolkit/issues/1057 )

[2017-04-04 11:28] jskeet opened #1161 "Spanner CommitRequest.transaction is required"
The [GAPIC config for Commit](https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/spanner_gapic.yaml#L163) doesn't list it as a required field, but the [proto](https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/spanner.proto#L312) does.

I suspect it's due to this that we're generating a snippet that doesn't include the transaction, which has confused a user.

[2017-04-04 15:28] bjwatson opened #1162 "Ensure that gapic/ header version is incremented"
### What

The `gapic/` header version is currently `0.1.0` for NodeJS and PHP. We need to ensure that this increments with each new release.

### Why

If the `gapic/` version does not change, then its useless data. It would be better to report no version (i.e. `'gapic/'`) rather than a stale version.

[2017-04-04 21:39] lukesneeringer commented on #1162
This is not broken in Node; however, many GAPICs had not been regenerated since it was fixed.

[2017-04-04 21:39] #1162 closed

[2017-04-05 10:12] jskeet opened #1165 "Perform validation of inputs for clarity of errors"
Several times I've run the Toolkit code and ended up with a NullPointerException with no indication of what's wrong.

The latest case is generating the Speech API:

[code]

I'm assuming some filename I've passed in can't be found, or something similar - but without digging through the code, it's going to be really hard to work out what's going on. A tool user shouldn't have to look through the cod

[2017-04-05 22:58] eoogbe commented on #347
#1110  and #1117 closes

[2017-04-05 22:58] #347 closed

[2017-04-06 19:15] bshaffer opened #1173 "PHP Sample generation: Error from try/catch block"
For some packages (e.g. `google-cloud-php-speech`), composer.json does not install the required `grpc/grpc`, `google/gax`, or `google/proto-client-php` packages. The user ends up with warnings that `$speechClient` doesn't exist.

[code]

[code]

This highlights two issues:

1. The try/catch block should only exist after the $speechClient object is successfully initialized, to avoid an error in the

[2017-04-07 15:25] chrisdunelm opened #1175 "C# empty flattening causes error in generated Async methods"

[2017-04-11 10:14] #1175 closed

[2017-04-12 06:54] jskeet opened #1184 "Sample for method with required oneof wouldn't work"
For example, `SubscriberClient.Seek`:

[code]

In reality, you need to specify a `Time` or `Snapshot` - but we don't have support for request oneofs yet. Updating the "build a request" sample should be part of the work for this.

[2017-04-13 19:57] jonparrott commented on #1128
ping on this issue

[2017-04-13 22:09] lukesneeringer commented on #1128
Have not done it yet, but I am still tracking it.

[2017-04-14 16:48] geigerj commented on #307
This is actually blocking Pub/Sub snap-seek implementation, as setting the default for non-primitive types is not the same as leaving it unset. Bumping to P1.

cc: @lukesneeringer

[2017-04-14 17:20] #307 closed

[2017-04-20 05:49] jskeet opened #1199 "Use ConfigureAwait(false) or ContinueWith when awaiting in generated code"
Currently we have code like this:

[code]

This should either be:

[code]

or we could make the method not-async and use

[code]

The latter would probably be cleaner.

[2017-04-20 08:12] jskeet commented on #1199
Given https://blog.stephencleary.com/2015/01/a-tour-of-task-part-7-continuations.html, it would probably be better to use `ConfigureAwait` unless we add a nicer conversion method in GAX.

[2017-04-20 08:36] #1199 closed

[2017-04-24 09:52] jskeet opened #1210 "Create LRO partial class for gRPC automatically"
I suspect files like this could now be autogenerated by toolkit:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Speech.V1/Google.Cloud.Speech.V1/CloudSpeechGrpcPartial.cs

[2017-04-24 15:09] lukesneeringer opened #1211 "Python unit test failure."
There are still 30 failures on the pubsub API with the newest toolkit changes:

A quick eyeball suggests most of them look like this:

[code]

I _think_ that this is because this line:

[code]

...is probably wrong. I think the `[0]` is errant there.

[2017-04-24 15:10] lukesneeringer commented on #1211
Confirmed:

[code]

[2017-04-24 15:12] lukesneeringer commented on #1211
Tagging #1207, which is related (it is the previous fix which turned out to be incorrect).

[2017-04-24 16:24] lukesneeringer opened #1213 "Remaining Python unit test failures."
After #1212 is merged, there are five unit test failures left.

Four of them look like this:

[code]

The last one is this:

[code]

[2017-04-24 18:35] #1211 closed

[2017-04-24 18:41] eoogbe commented on #1213
My first guess would be `self.assertEqual(messages, list(actual_request.messages))` but that changes a lot  of stuff in the view model and the test case transformer. We could also replace the asserts with one `assertEqual` with an expected request.

[2017-04-24 18:45] lukesneeringer commented on #1213
I forgot to call out: I am using pubsub as my test case.

[2017-04-24 18:47] eoogbe commented on #1213
For the first one: might have to do with response streaming or paging throwing different errors.

[2017-04-25 15:06] michaelbausor opened #1215 "Bidi streaming sample is misleading in some cases"
For APIs like Speech, interspersing calls to `write()` with calls to `read()` can block until timeout - the generated samples should reflect this.

[2017-04-26 08:05] jskeet opened #1219 "Specify metadata in LRO generated code"
Use the new `Operation<TResponse, TMetadata>`.

[2017-04-26 20:43] michaelbausor opened #1223 "Generate per-method wrappers for helper classes in PHP"
Assess whether we should generate per-method wrappers for paging, LRO and streaming response objects. This would allow us to generate correct type documentation, which will be helpful particularly for users of IDEs like PHPStorm

[2017-04-26 20:45] michaelbausor opened #1224 "Update tags in all generated doc blocks in PHP"
Ensure that all documented methods have correct tags to help with IDE type hinting

[2017-04-26 20:47] michaelbausor opened #1225 "Generate PHP method samples that use optional args array"
Some users have not known how to use the optional args array - we should include usage in our generated samples. We should also have usage of the pageSize parameter for paged methods.

[2017-04-27 19:01] jonparrott opened #1227 "[Python] Change Python import package names"
``google.cloud.gapic.{api}.{api_version}`` should become ``google.cloud.gapic.{api}_{api_version}`` or ``google.cloud.{api}_{api_version}``.

[2017-04-27 19:04] jonparrott opened #1228 "[Python] expose clients at top level package"
The following should hold true:

[code]

This can be easily accomplished with an ``__init__.py`` in ``language_v1beta2``:

[code]

[2017-04-27 19:04] jonparrott opened #1229 "[Python] Expose enums at the top-level package"
The following should hold true:

[code]

This can be easily accomplished with an ``__init__.py`` in ``language_v1beta2``:

[code]

[2017-04-27 19:07] jonparrott opened #1230 "[Python] expose protobuf classes in top-level package"
The following should hold true:

[code]

This can be easily accomplished with an ``__init__.py`` in ``language_v1beta2``:

[code]

[2017-04-27 21:56] eoogbe opened #1232 "Allow service config with multiple APIs"
The service config allows exposure of multiple APIs in one yaml file. Toolkit does not handle this case, resulting in hacks where what would normally be one service config is split into multiple. (See https://github.com/googleapis/googleapis/tree/master/google/cloud/language which has a language_v1.yaml and a language_v1beta2.yaml instead of just a language.yaml). Let's get rid of the hacks, and a

[2017-04-27 22:52] geigerj opened #1233 "API Explorer links in documentation require trailing slash"
Some of our GAPIC docs link to API Explorer. The API pages must end in a trailing slash, or the links will not work, e.g.,

`https://developers.google.com/apis-explorer/?hl=en_US#p/clouderrorreporting/v1beta1/`

not

`https://developers.google.com/apis-explorer/?hl=en_US#p/clouderrorreporting/v1beta1`

See https://github.com/googleapis/api-client-staging/pull/239/files for context.

[2017-04-28 15:04] lukesneeringer commented on #1213
These are fixed.

[2017-04-28 15:04] #1213 closed

[2017-04-28 20:11] #1233 closed

[2017-05-03 03:27] lukesneeringer commented on #1230
@jonparrott I went to do this with Vision tonight, but there are actually some potential problems:

  1. There could be a naming collision between _pb2 files. (I am probably willing to risk that within the scope of one API).
  2. Importing each item manually has some non-trivial future-proofing issues. We need things to automatically be pulled in as the protos change. We could use `*` for this (th

[2017-05-03 03:31] lukesneeringer commented on #1229
No longer going into codegen at this time.

[2017-05-03 03:31] #1229 closed

[2017-05-03 03:31] lukesneeringer commented on #1228
No longer going into codegen in the very near term.

[2017-05-03 03:31] #1228 closed

[2017-05-03 03:32] lukesneeringer commented on #1227
@jonparrott and I decided to tackle this a different way.

[2017-05-03 03:32] #1227 closed

[2017-05-03 16:44] jonparrott commented on #1230
I'd be interested to see if we can prove out (1). Totally agree on (2), although we could do a little "magic" to only import `Message` subclasses.

Seems we should file a bug on protoc?

I'd mostly be okay with this.

[2017-05-03 16:56] lukesneeringer commented on #1230
https://github.com/google/protobuf/issues/3050

[2017-05-05 22:44] pongad opened #1249 "Remove t.Log from smoke tests"

[2017-05-08 22:17] #1249 closed

[2017-05-09 16:32] #1219 closed

[2017-05-09 21:10] landrito opened #1255 "Ruby/Node: Generated smoke tests are broken when config uses optional parameters"
# What
Smoke tests that are given a config that has optional parameters set causes the optional parameters to be passed in a required parameters

### Example in Logging
[code]

The method call should actually look like this:
[code]

[2017-05-09 21:11] landrito commented on #1255
cc @swcloud @geigerj

[2017-05-10 22:18] saicheems opened #1260 "Change behavior of default values"
Be more intelligent about mapping of default values:

ex:
for a string type
in Java
`defualtValue: " "` should map to `x = " ";`
in Python
`defualtValue: " "` should map to `x = ' ';`

for an int64 type
in Java
`defaultValue: 0` should map to `x = 0L;`
in Go
`defaultValue: 0` should map to `x := int64(0);`

[2017-05-16 09:02] jskeet opened #1271 "Streaming C# samples create task without awaiting it"
This generates a CS4014 warning. [Sample code](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/06746f648a8aefa08fe7b847971801e801242bc8/apis/Google.Cloud.Speech.V1/Google.Cloud.Speech.V1.Snippets/SpeechClientSnippets.g.cs#L306)

[2017-05-16 16:48] michaelbausor opened #1272 "Accept optional Channel in PHP GAPIC client constructor"
Related to https://github.com/GoogleCloudPlatform/google-cloud-php/issues/491

[2017-05-17 15:24] lukesneeringer opened #1273 "Add protobuf type coercion of native Array/Hash to GAPIC."
/cc @remi for tracking

One usability concern for using our autogenerated libraries in Ruby is that having to import protobuf message types and instantiate them manually can be a real pain in the neck, especially for APIs (like Vision) with deeply nested protobuf messages.

In Python and Node, it is possible to send native types (dicts or objects, respectively) that conform to the appropriate stru

[2017-05-17 17:05] landrito commented on #1273
I did some research. Looks like the native protobuf initialization does not "just work" 😞. Submessage fields must either be nil or of the submessage type as seen [here](https://github.com/google/protobuf/blob/master/ruby/ext/google/protobuf_c/storage.c#L192). That being said, we'll have to do the coercion ourselves.

I wrote up a quick example of how we can do that: https://gist.github.com/landrit

[2017-05-17 17:07] landrito commented on #1273
Also, I think the samplegen update is P0. With the samplegen update, we'll be able to rely on generated unit tests to verify the coercion is working.

[2017-05-17 17:09] lukesneeringer commented on #1273
That is fair. :-)

[2017-05-17 21:45] michaelbausor opened #1276 "Remove PHP class comment when no resource format methods are generated"

[2017-05-17 22:27] michaelbausor opened #1277 "Update PHP doc generation for enum parameters"

[2017-05-17 22:29] michaelbausor opened #1278 "Escape only */ exactly in PHP comments"

[2017-05-18 07:23] landrito opened #1280 "Ruby: Do not use default user credentials in unit tests"
Causes the build to fail as seen here: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1490#issuecomment-302299672

[2017-05-22 21:02] ethanbao opened #1286 "Make a copy of generated gapic config to output_dir"
Currently, the gapic config will be outputed to the specified gapic yaml location in artman config, and it will fail if the gapic config already exists. Make a copy of the generated gapic config to output_dir, and always do that no matter the gapic config already exists or not.

[2017-05-22 23:40] geigerj opened #1287 "Fix Ruby proto doc formatting"
### Why

Some documentation markup is not rendering properly.

### What

Current state of things from, e.g., [error reporting docs](http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-error_reporting/v0.24.0/google/devtools/clouderrorreporting/v1beta1/deleteeventsrequest):
![dpsyug3wdkx](https://cloud.githubusercontent.com/assets/14222439/26332612/a7abe5ec-3f0c-11e7-817f-afe

[2017-05-22 23:42] geigerj commented on #1287
Assigning to @landrito to provide a work estimate. Please feel free to unassign afterward if you don't have the bandwidth for this in the coming days.

[2017-05-23 23:10] landrito opened #1290 "NodeJS: Add support for hyphen separated package names"
In https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2327, it was pointed out that the package name for video intelligence should be hyphen separated. This is not currently supported.

[2017-05-23 23:30] landrito opened #1291 "NodeJS: Move all dependencies in package.json to the package yaml in googleapis."
Some dependencies are hard coded. These should be added to the package yaml for consistency.

[2017-05-30 17:16] michaelbausor opened #1307 "Migrate client config gen to MVVM"
Client config gen needs to be migrated to use MVVM, similar to language generation

[2017-05-31 17:48] geigerj opened #1311 "Ruby array (and hash?) type documentation should specify element type"
### What

We document that input types are arrays but don't specify what type the arrays contain. (We should similarly confirm that we document the parameterized types for inputs that come from proto `map` types.)

### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1476

[2017-05-31 17:52] geigerj opened #1312 "Ruby types in documentation should be hyperlinked"
### What

Documented types are not currently hyperlinked to the type documentation; we should do this.

### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1473

[2017-05-31 17:58] geigerj opened #1313 "Ruby enum types are not documented"
### What

We don't autogenerate proto/gRPC reference documentation for enum types. We should.

### Context

This was encountered in the form of missing docs for `TimeSeriesView` here: https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1473

[2017-06-02 15:59] lukesneeringer opened #1320 "Python: Auto-gen Improvements"
This is a "catch-all ticket" of things I have identified that need doing in Python auto-gen.
Examples in this ticket will follow Vision (which I have hand-edited).

More important items are marked with :warning:; this ticket should be demoted to P2 once those are completed.

### *_client.py (e.g. image_annotator_client.py)

  * [x] :warning: In docstrings, references to `string` should be spelled

[2017-06-02 16:00] lukesneeringer commented on #1320
/cc @landrito (I intend to ask you to give me a hand with these.)

[2017-06-02 17:14] shinfan opened #1321 "Support LRO in config gen"

[2017-06-02 17:43] jonparrott commented on #1320
Couple of thoughts:

1. I'm concerned about `gapic` (the term) being surfaced in the docs.
2. add google-auth-client and requests. - it's `google-auth`.
3. `namespace_packages` this needs to be done with some care depending on which namespace package strategy you're using, please make me a review on this PR. Getting it wrong is disaster.

[2017-06-02 21:06] lukesneeringer commented on #1320
Affirmative re: the second two.

What is your concern about the first one? I am not surfacing the term in the docs themselves, only in the docs' _directory structure_.

The only difference is in the toctree, really:

[code]

[2017-06-02 21:09] jonparrott commented on #1320
That's fine.

[2017-06-05 19:24] geigerj opened #1323 "Reduce number of optional params to construct client object"
### What

Currently, the GAPIC client object `new` method takes many optional parameters:

[code]

Of these, only the most commonly used should remain in place. @lukesneeringer has begun the conversation on this; we should probably follow whatever Python does.

### How

#### Option 1

Create a configuration object (i.e., a hash) that stores the optional params. Mark the optional params as deprecat

[2017-06-05 19:27] geigerj opened #1324 "Allow passing path to keyfile to use for credentials"
### Context

### What

We don't want to force users to read gRPC docs and construct a `Grpc::ChannelCredentials` in the common situation that they want to use a keyfile.

### How

Allow the `initialize` method of the client object to accept either a `string` representing the path to a keyfile, or a `Grpc::ChannelCredentials` as the value to `chan_creds`. If a `string` is received, GAX should const

[2017-06-05 19:41] blowmage commented on #1324
Can the object also be an IO object, so users can pass a File object instead of the file's path?

[2017-06-05 20:02] geigerj commented on #1324
@blowmage Sure, that makes sense.

[2017-06-06 17:52] geigerj opened #1328 "Configure LRO client settings per-product"
### What

Currently client libraries that use LRO construct a LRO client within the product client. This LRO client retains the [settings configured in the `googleapis` repo](https://github.com/googleapis/googleapis/blob/19379991783c56a47ab4927a60ea47fb09afe8b8/gapic/api/artman_longrunning.yaml). We should allow this to be configured per-product.

This will likely require toolkit changes to propag

[2017-06-06 18:03] bjwatson commented on #1328
@geigerj Can you assign a priority and type?

[2017-06-07 23:36] tigersoldier opened #1335 "Incorrect node.js path mapping for alpha/beta versions"
https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/nodejs/NodeJSCodePathMapper.java#L30

There shouldn't be any number required after alpha/beta. The regex doesn't match version names like v1alpha.

[2017-06-08 21:48] lukesneeringer opened #1336 "Provide the ability to set a namespaced variable as a default argument."
In NL, we want to set a sensible default for `encoding`. However, the value is different per-environment and per-language.

For example, in Python, the correct value properly defined as:

[code]

For Node, the correct value is always `utf-16`.

And so on and so forth.

I would like these to be values defined in `google.gax`, and set the toolkit default to something like `google.gax.utils.ENCODING`

[2017-06-09 01:38] frankyn opened #1337 "Ruby: Provide a friendly workflow for enums"
Hi,

I have the following snippet for the Video Intelligence API below and I'm trying to improve the developer experience. Using the enum `Google::Cloud::Videointelligence::V1beta1::Feature::LABEL_DETECTION` could be better if the namespace was consistent with the namespace used for the `VideoIntelligenceServiceClient` class **OR** using symbols such as `:LABEL_DETECTION`.

I'm open to interpretat

[2017-06-09 16:58] tigersoldier opened #1344 "node.js: comments are not escaped properly"
It's common for one platform APIs to have proto documentation for resource path patterns that contains `*/`. For example `/libraraies/*/books/*/`. The generated node.js code simply put that into the jsdoc without escaping, causing `*/` ending the jsdoc incorrectly.

[2017-06-09 17:24] lukesneeringer commented on #1344
Do JavaScript block comments even _have_ escaping?

[2017-06-09 17:26] lukesneeringer commented on #1344
I just checked the documentation and can not tell (although obviously something mangled-looking is better than a syntax error, so we should definitely do this.)

[2017-06-13 18:42] sundewei commented on #1324
Hi,
Sorry to jump in but we are in need of evaluating GCP Monitoring quickly.
May I know if you have an ETA of this case?
Thanks.
Dewei

[2017-06-13 18:45] landrito commented on #1324
I'll get started on it soon! I am thinking I can get it merged by end of week.

[2017-06-13 18:46] geigerj commented on #1324
Hi @sundewei. Our ETA for this change is July 1. In the meantime, it should be already be possible to construct a `Grpc::ChannelCredentials` from a keyfile, although it's more verbose than what we're proposing here.

[2017-06-13 18:55] sundewei commented on #1324
Hi Geigerj,
Would you mind providing me with an example?
Here is my code:
`CredentialsProvider credentialsProvider = FixedCredentialsProvider.create(
            ServiceAccountCredentials.fromStream(new FileInputStream(gcpJsonKeyFilePath)));

final MetricServiceClient client = MetricServiceClient.create((MetricServiceSettings)MetricServiceSettings.newBuilder().setCredentialsProvider(credentialsPro

[2017-06-13 18:56] frankyn commented on #1337
After speaking with @remi, she prefers option 2:

Use symbols such as `:LABEL_DETECTION` instead of`Google::Cloud::Videointelligence::V1beta1::Feature::LABEL_DETECTION` because it's idiomatic in Ruby. Similar to `:VIDEO_LEVEL` shown in the previous comment.

[2017-06-13 18:58] geigerj commented on #1324
@sundewei Ah, sorry. This issue is tracking a change for the Ruby client library, not Java. Can you re-file this under https://github.com/GoogleCloudPlatform/google-cloud-java/issues/new and tag @garrettjonesgoogle? He should be able to help you over there.

[2017-06-13 19:06] sundewei commented on #1324
Thanks a lot for the pointer, I have created a new ticket for it.

Dewei

[2017-06-13 19:06] geigerj commented on #1337
From experience with Python, the enums require namespacing, since we have examples of APIs that have different enums of the same name under different namespacing.

For Python we alias the enums under the same namespace as the client, e.g., https://github.com/googleapis/toolkit/blob/b4df82d87f0ebfa57f9c5b510be8dd6f37f45194/src/test/java/com/google/api/codegen/testdata/python_doc_enum_library.baseli

[2017-06-13 19:17] frankyn commented on #1337
Follow-up to disambiguate the symbols. I was thinking the method could map the symbol to available enums such as:

[code]

Not sure how difficult it would be to implement though. Thanks for feedback!

[2017-06-13 19:28] geigerj commented on #1337
@frankyn The concern is more that a particular API might have two enums with the same name, so you can't construct the `enum_values` map you're showing. For example, bigtable defines two different STATE_NOT_KNOWN enums in [instance.proto](https://github.com/googleapis/googleapis/blob/5fc7a79958827d505671a14c1343087a45b567e6/google/bigtable/admin/v2/instance.proto#L36). This is not uncommon.

We ca

[2017-06-13 19:37] frankyn commented on #1337
Ah, IIUC symbols would introduce a pigeonhole problem if generalized over all methods. So it would depend on the signature of the method. I updated my previous comment to have an example of what the generated output may look like. Is this what you were thinking?

[2017-06-13 21:35] michaelbausor opened #1353 "FieldConfig code is poorly documented"
The code in https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/config/FieldConfig.java does not clearly explain the purpose of the `createMessageFieldConfig` and `getMessageFieldConfig` methods, and how a message field config differs from a field config in other contexts. This should be fixed either by refactoring or documentation.

cc @geigerj

[2017-06-14 15:49] geigerj commented on #1336
Per offline discussion with @lukesneeringer, we are going to shelve this proposal. A key problem is that the constant value, like `ENCODING`, may be present in a nested message within the request, and there's no easy way to set _and_ document the default value with our current generator set-up; this limits the applicability of this code generator feature. Getting this right in the code generator i

[2017-06-14 15:49] #1336 closed

[2017-06-14 21:08] geigerj opened #1357 "Deserialize custom errors"
### Context

Original report was at https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1438

### What

Google APIs can return custom error types. These custom types are represented as proto messages in the API. These types are not currently available on GitHub.

### How

gRPC returns a serialized instance of the custom error type as ~~an `Any` proto~~ a proto. These types need to be m

[2017-06-14 21:11] geigerj commented on #1357
cc: @qingling128

[2017-06-14 21:19] jba commented on #1357
gax for Go does not try to interpret the errors returned by gRPC. Users can always use the [grpc/status](https://godoc.org/google.golang.org/grpc/status) package to access the parts of the error.

Should we be doing more? Presumably we'd need another type that wrapped `grpc.status.Status`.

[2017-06-14 22:11] geigerj commented on #1357
@jba Right -- the problem is that users can access the parts of the error, but those parts might be serialized protos representing custom errors. The user cannot easily deserialize the proto because the custom error proto definitions themselves are not open sourced. Even if users could, I think it's a bad user experience to ask users to deserialize the error details if we're able to do that for th

[2017-06-15 01:27] pongad commented on #1357
To make sure I'm understanding this right: The custom error is API specific right? Say, method `Foo` might return error with details typed `AErrorDetail` and method `Bar` might have `BErrorDetail`. The issue is that we should deserialize the Detail into either `AErrorDetail` or `BErrorDetail` (I assume we'll know which error it is by some config)? First we need to open source both detail types?

[2017-06-15 01:38] geigerj commented on #1357
Correct, although the errors are API- (not necessarily method-) specific.

We'll know which error it is from the [`type_url` field of the original `detail`](https://github.com/google/protobuf/blob/master/src/google/protobuf/any.proto#L135). (Annoyingly, in the original issue report that sparked this, the user could therefore see the name of the proto message, but the message definition itself was

[2017-06-15 13:36] jba commented on #1357
@pongad, we don't have to worry about the types. We just use `ptypes.UnmarshalAny`. The problem is that that won't work unless the right proto is linked in to the binary.

So we need to know what to link in, if the messages aren't part of the service protos. (They should be, but they don't have to be, and you'll never know until you try to access error details.)

We also might want to make it easi

[2017-06-15 19:25] michaelbausor commented on #1070
Fixed in https://github.com/googleapis/toolkit/pull/1283

[2017-06-15 19:25] #1070 closed

[2017-06-15 19:30] michaelbausor commented on #883
Tracking in https://github.com/googleapis/toolkit/issues/1276

[2017-06-15 19:30] #883 closed

[2017-06-16 00:13] michaelbausor opened #1362 "Process links that are split across lines in proto file"
Links such as this one are not correctly processed: https://github.com/googleapis/googleapis/blob/master/google/cloud/speech/v1beta1/cloud_speech.proto#L40

[2017-06-16 04:53] pongad commented on #1357
@jba You're right. I didn't realize the `details` field is repeated. I was thinking about wrapping the error earlier, but that would mess with `status.FromError`.

I think it's probably best to lobby gRPC. I'll see what I can do :smile:

[2017-06-16 06:25] techpavan commented on #1165
Just to help others who might end up here, I encountered the same issue and the cause was due the files being inaccessible. In my case, it was a git bash environment on Windows platform and the file path passed on was in Windows format (\), changing it to Linux format(/) helped.

[2017-06-16 18:14] swcloud opened #1364 "Handle non-cloud API proto file loading for nodejs"
For Nodejs, for cloud APIs, the proto files are packaged in a separate package called 'google-proto-files', for non-cloud APIs, it is not correctly handled.

[2017-06-19 16:46] frankyn commented on #1337
(ping @landrito) do you have an estimate for long this could take?

[2017-06-19 20:03] landrito commented on #1337
I think that the disambiguation of the labels can happen at the protobuf level.

ie This should 'just work'
[code]

That being said I make a PR to have the samples updated to use labels in today and probably have it merged by wednesday at the latest.

[2017-06-19 20:18] landrito commented on #1337
Actually! I just remembered that I made it such that the samples worked this way in https://github.com/googleapis/toolkit/pull/1253.

As seen in this file: https://github.com/googleapis/toolkit/blob/master/src/test/java/com/google/api/codegen/testdata/ruby_doc_main_library.baseline#L914

It also is being tested in generated tests
https://github.com/googleapis/toolkit/blob/master/src/test/java/com/

[2017-06-19 22:13] #1364 closed

[2017-06-19 22:45] frankyn commented on #1337
Ah, thanks @landrito! I just tried it and it worked.

[2017-06-19 22:45] #1337 closed

[2017-06-20 00:00] geigerj opened #1374 "Remove over-long match_* methods"
### What

Several weeks ago, we decided to remove the Ruby path template match_* methods. This was because they had overly long names (sometimes violating line length limits), non-idiomatic, and (to our knowledge) unused. We should do this before we start declaring beta on GAPIC-only packages.

### How

Remove this section from the template

[2017-06-20 00:01] geigerj commented on #1374
@landrito Do you think you fit this in this week?

[2017-06-20 00:03] landrito commented on #1374
Yep shouldn't take too long.

[2017-06-20 03:42] #1374 closed

[2017-06-21 18:40] geigerj commented on #1335
@swcloud @lukesneeringer

[2017-06-21 18:42] geigerj commented on #1335
Hi @tigersoldier, this tool is currently written with certain Google API conventions assumed. Under those conventions, alpha/beta releases are followed by a number. (Please feel free to re-open if that doesn't address your concern.)

[2017-06-21 18:47] geigerj commented on #1323
@lukesneeringer Was there any decision on which option is preferred here? If not, I think we should move forward with option #1, which seems better than having totally undocumented features.

[2017-06-21 20:37] saicheems opened #1377 "Populate empty arrays with at least one value"
For example, a Python array:

    foo = []

should be populated with at least one value

    foo = ['']

The motivation is that some clients will not send requests where empty arrays are passed. Plus, it's more useful from a user perspective.

[2017-06-21 21:42] geigerj commented on #1335
I was mistaken; the tooling framework is more permissive here. See https://github.com/googleapis/api-compiler/blob/master/src/main/java/com/google/api/tools/framework/aspects/versioning/model/ApiVersionUtil.java#L40

[2017-06-22 19:08] shinfan opened #1379 "Make Java sample generator optional"
Skip the sample generation if the 'smoke_test' config is not populated in the gapic config yaml.
Currently if the config is not found it will throw an exception.

cc/ @ethanbao @garrettjonesgoogle

[2017-06-22 23:55] saicheems opened #1380 "Support nested resources in Discovery samplegen"
For example, it would be useful to generate

    String zone = "my-zone";

    Settings settings = new Settings();
    settings.zone(zone);

[2017-06-23 19:23] shinfan opened #1383 "Duplicate cloud token in generated Java package config"

[2017-06-28 18:59] swcloud opened #1393 "Figure out code gen version"
In src/main/resources/com/google/api/codegen/nodejs/main.snip

  var CODE_GEN_NAME_VERSION = 'gapic/{@xapi.packageVersion}';

The version here should be @xapi.toolkitVersion.

[2017-06-29 17:17] geigerj opened #1396 "google-cloud-ruby rubocop failures for GAPIC Gemfile"
### Context:

See https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/1695

Relevant snippet:

[code]

### What

Fix the Gemfile template.

[2017-06-29 17:20] geigerj opened #1397 "google-cloud-ruby rubocop failures for GAPIC version module"
### Context

See https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/1695

Relevant snippet:

[code]

### What

Fix the version module template template. As a cheap stopgap we can insert a line break after the links. Ideally use a line-breaking mechanism for GAPIC comments if one's available, but it's probably overkill to implement one just for this.

[2017-06-30 22:49] landrito opened #1399 "NodeJS: add the ability to black list words dynamically in the init code generator."
# Context
When generating language, it generated a unit test that had the init code override one of the imports causing the test to fail. To alleviate this we should be able to pass in the import names to the init code generator to make it such that those words are blacklisted.

# Shortterm fix
A short term fix for language would be to append Service to the import name.

# Example
[code]

[2017-06-30 22:50] landrito commented on #1399
Regeneration for all the tests will be needed after this.

[2017-07-05 17:15] lukesneeringer opened #1401 "Reorganize GAPIC tests"
Python smoke tests have recently been added to autogen. Yay!

They are being put in a place where they will never run, though, because the default test loader for `unittest` requires a `test_` prefix for every file.

Right now the directory structure is:

[code]

This should become:

[code]

The split for `unit/` and `system/` is also critical because our test setup in CI knows when to run and not

[2017-07-05 17:15] lukesneeringer commented on #1401
@landrito Assigning to you because I assign all auto-gen things to you. :-) But feel free to reassign if you are not the right person.

[2017-07-05 17:17] lukesneeringer commented on #1401
Also note the use of "system" and not "smoke". We consistently call them "system tests" in google-cloud-python.

[2017-07-06 23:56] landrito opened #1403 "Ruby: Google-cloud credentials environment variables should only be used for gcloud apis"
# What
A the credentials class that is generated uses gcloud environment variables by default. It should only be the case if the orginization name is google-cloud.

[2017-07-10 17:32] #1312 closed

[2017-07-11 06:22] omaray opened #1407 "Add "Enable billing for your project" step in auto-gen README"
Looking at the [README for Monitoring in Ruby](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-monitoring), we notice that the second step, which is to enable billing, is missing. The following text and link should be shown as step 2:

2. [Enable billing for your project](https://support.google.com/cloud/answer/6293499#enable-billing)

[2017-07-11 16:29] michaelbausor opened #1408 "Add support for async method calls in PHP"

[2017-07-11 19:04] michaelbausor opened #1409 "Strip html tags from proto documentation for PHP"
Html tags in proto documentation often make for poor documentation generated PHP docs. We should consider stripping them out and replacing them with something more appropriate if possible. It may be difficult to do this, given that the context could vary quite a lot for a particular tag.

[2017-07-11 19:08] #1401 closed

[2017-07-17 19:44] qingling128 commented on #1357
Hi @pongad, any update on this one?

[2017-07-18 04:43] pongad commented on #1357
@qingling128 Go is being tracked by https://github.com/grpc/grpc-go/pull/1358 . @ghasemloo beat me to the issue :)

[2017-07-18 14:15] lukesneeringer opened #1414 "Node.js: Client constructors needs samples."
Right now, some client constructors (such as DLP; see GoogleCloudPlatform/google-cloud-node#2400) do not show any kind of sample or how to construct the object and use it to do anything.

[2017-07-18 15:08] qingling128 commented on #1357
Cool cool. Thanks for checking! Is the change specific to Go blocking the open sourcing? Or are they two separate things? Just wondering which one I should track.

[2017-07-19 04:11] bootstraponline opened #1418 "Cache maven dependencies on Travis"
Travis spends a bunch of time downloading gradle and dependencies from maven. The builds would be faster if the artifacts were cached.

- https://docs.travis-ci.com/user/caching/

[2017-07-19 04:26] bootstraponline opened #1419 "Update to latest stable gradle"
Gradle 2.7 is pretty old. Fixed in https://github.com/googleapis/toolkit/pull/1417

[2017-07-19 05:56] pongad commented on #1357
No problem! I wasn't being very clear; let me back up. IIUC, there are two pieces to this problem.

1. We need to open source the error protos. Otherwise, we don't know how to deserialize the errors

2. Each language needs to provide a way to get to the deserialized error.

Both are required, but they can be implemented separately. The issue I linked will fix (2) for Go. Am I making any sense?

[2017-07-20 15:55] #379 closed

[2017-07-20 15:55] #1419 closed

[2017-07-20 17:53] bootstraponline opened #1424 "Drop oracle jdk7 from CI?"
It seems like we should drop oraclejdk7. Is there any issue with requiring JDK 8 and above?

[2017-07-20 18:16] garrettjonesgoogle commented on #1424
Yeah, looks like we should drop oraclejdk7, but I think we want to retain openjdk7 for now.

[2017-07-20 18:29] bootstraponline commented on #1424
openjdk7 is broken on trusty. looks like we are stuck on the legacy Ubuntu for now. 😭

- https://github.com/docker-library/openjdk/issues/117
- https://travis-ci.org/googleapis/toolkit/jobs/255774665 `no such provider: SunEC`

[2017-07-21 20:08] qingling128 commented on #1357
Yup, that makes total sense! Thank you so much for the clarification.

BTW, do we have a rough idea how long the open sourcing process like this takes in general? Is it like days, weeks or over a month? (Trying to take this into consideration with our Q3 planning. This has been blocking one of our P0 requests for a month. If it takes a while, we might need to seek for some workaround.)

Thanks,
Li

[2017-07-21 22:27] jonparrott opened #1426 "Generated Python libraries should use google.cloud.future.operation instead of google.gax._OperationFuture"
`google.cloud.future.operation` is in `google-cloud-core`.

[2017-07-24 03:39] pongad commented on #1357
I don't really know. I believe @geigerj is the one open sourcing this.

[2017-07-24 19:31] qingling128 commented on #1357
Cool cool. Thanks anyway!

@geigerj - Any chance you know the answer to the question above?

[2017-07-24 19:39] geigerj commented on #1357
@qingling128 The open sourcing process generally takes on the order of days, almost entirely toward setting up some tooling and going through code reviews inside Google. Once that's done, the code is synchronized automatically to GitHub.

I'll update in the next day or so with an ETA.

[2017-07-24 20:33] qingling128 commented on #1357
Glad to hear that. Thanks @geigerj!

[2017-07-24 20:56] geigerj commented on #1357
@eoogbe will be working on open sourcing the custom error types for Logging in the next week or two.

[2017-07-24 23:27] eoogbe commented on #1357
[They are already in googleapis](https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging.proto#L152)

[2017-07-25 01:08] qingling128 commented on #1357
I vaguely remember we reviewed these protos in the meeting and figured there were still something missing. @geigerj might have a better idea than I do.

[2017-07-25 01:13] geigerj commented on #1357
I think the message that Eva linked to is the one that's needed.

(I also can't recall exactly how we determined that there was more open sourcing needed during our last meeting -- that might have been a mistake. It looks like the message was open sourced after the initial bug report but before our meeting, which might have led to some confusion.)

[2017-07-25 01:18] qingling128 commented on #1357
Thanks for the clarification! So we are unblocked for that part.

Is there additional work needed in `GAX` for Ruby support of custom errors?

[2017-07-25 01:19] geigerj commented on #1357
Right, we still need to update `GAX` to deserialize the error.

[2017-07-25 02:08] geigerj commented on #1426
This is similar to the discussion we've been having elsewhere about `core` and `gax`, but we should not be introducing dependencies on `google.cloud` packages in generated Python libraries, which might not be for cloud APIs.

[2017-07-25 02:12] jonparrott commented on #1426
How do we feel about introducing it in the interim until core/gax converge?

[2017-07-25 02:13] geigerj opened #1429 "Confusing error message for sample_code_init_fields"
### What

If a `sample_code_init_field` for a repeated field is missing the index, the validator produces a confusing error message.

For example,

[code]

results in `java.lang.IllegalArgumentException: Could not assign value 'interval' to type uint64`, which is confusing: there is no value called "interval" in this configuration, and it's unclear what relevance "unit64" has to this config.

###

[2017-07-25 02:15] geigerj commented on #1426
I have no objection to that as long there's plan to change the dependency namespace in a way that'll be transparent to users.

FYI @ethanbao, who's working with our non-cloud APIs.

[2017-07-25 02:18] jonparrott commented on #1426
yep, that's the idea as mentioned in the internal doc about the convergence (under 'Concern over the name google.cloud.core')

[2017-07-25 20:05] qingling128 commented on #1357
Sounds good! Is that tracked in this ticket as well? Any rough ETA?

[2017-07-26 21:38] vchudnov-g opened #1433 "PHP template causes cryptic exception when no service doc is present"
I have a proto with no doc comment for the service it describes. When I try to generate the PHP GAPIC, I get:
[code]
If I add a dummy comment to the service, the generation succeeds.

I think we should either generate code even with a missing service doc (like the other languages do), or explicitly check and have an informative error message rather than this exception.

[2017-07-27 03:37] jonparrott commented on #1128
@lukesneeringer can we please do this asap? oauth2client is long deprecated and once httplib2 is gone from google-cloud-python these libraries will be pulling in completely unused dependencies.

[2017-07-27 04:55] pongad commented on #1433
Related: #1411 . I'm not completely sure how to address the comments in the review though :(

[2017-07-27 14:45] geigerj commented on #1357
@qingling128 Yes, that's tracked in this ticket, too. I think we should be able to get a change out in GAX next week.

[2017-07-27 18:56] qingling128 commented on #1357
Sounds great. Thanks for the heads up!

[2017-07-28 16:46] michaelbausor opened #1437 "Support DISABLED visibility in all languages"
We would like to support using the DISABLED visibility to hide methods that should not be in the generated GAPIC clients, such as [pubsub UpdateSnapshot](https://github.com/googleapis/googleapis/blob/master/google/pubsub/v1/pubsub.proto#L183)

cc @garrettjonesgoogle

[2017-07-28 17:18] michaelbausor opened #1438 "PHP samples incorrect when using enums"
See SpeechClient: https://github.com/googleapis/api-client-staging/blob/master/generated/php/google-cloud-speech-v1/src/Speech/V1/SpeechClient.php#L54

[2017-07-28 18:39] vchudnov-g opened #1439 "Stutter in generated comments"
In some proto files, the comments in the service declaration already begin with the service or method name (in a way reminiscent of Go style).  The generated Go GAPIC seems to assume that  the comments start with verbs, so it always prepends the identifier name. This results in stutter for these cases. For example, the proto
[code]
results in Go code
[code]

I suggest that instead we implement som

[2017-07-31 00:27] pongad commented on #1357
Since Go is already finished (I take no credit, since I didn't do anything), I'll un-assign myself. Please let me know if anyone needs anything.

[2017-07-31 15:17] qingling128 commented on #1357
@geigerj - Hi, does it make sense to have this assigned back to you? Feel free to re-assign if necessary. Thanks!

[2017-07-31 19:27] geigerj opened #1440 "Incorrect googleapis-common-protos dependency in Ruby gemspec"
### What

The Ruby gemspec currently specifies a dependency on `google-common-protos` (which does not exist). In fact, the dependency should be on `googleapis-common-protos`.

[2017-07-31 22:26] geigerj opened #1441 "Ruby client files need to `require 'pathname'`"
### What

Recent changes introduced a dependency on `Pathname`, which the generated code does not require. This leads to failures like:

[code]

[2017-08-01 16:27] geigerj commented on #1441
cc: @landrito

[2017-08-01 16:27] geigerj commented on #1440
cc: @landrito

[2017-08-01 17:24] landrito commented on #1441
😭 I found the problem. I use [`pry`](https://github.com/pry/pry) a different repl than irb. Apparently it implicitly requires `pathname` at the global scope which made it such that this error never appeared for me in my tests.

I guess I have go back to using irb.

[2017-08-01 17:45] landrito commented on #1440
This is resolved in googleapis here https://github.com/googleapis/googleapis/blob/master/gapic/packaging/dependencies.yaml#L84

#1442 should be able to resolve this for the test cases in toolkit.

[2017-08-01 18:04] geigerj commented on #1440
Thanks, Ernest. This must be a problem with my local environment.

[2017-08-01 18:04] #1440 closed

[2017-08-01 18:28] #1441 closed

[2017-08-02 19:50] #348 closed

[2017-08-02 19:50] #490 closed

[2017-08-02 19:50] #535 closed

[2017-08-03 00:51] pongad opened #1446 "go: fill in structs in examples"
We should also use the more idiomatic
[code]
rather than
[code]

[2017-08-03 00:54] pongad commented on #1439
The API style guide mandates that the documentation should start with a verb though. I'm OK with fixing this, but I think it's better to either ask API team to fix doc or just fix it for them. WDYT?

[2017-08-03 16:00] jskeet commented on #1357
It's unclear to me whether C# needs anything for this or not. The exception is thrown by Grpc.Core, and we don't intercept it.

If the error protos are public, then users who wish to *can* deserialize appropriately, although currently they need to specify which type to *try* to deserialize as. Maybe the simplest next step is to take a concrete example and show what the client code looks like.

[2017-08-03 16:41] dklimkin commented on #1357
@jskeet Ideally, I'd like to specify message name in the apiname.yml or apiname_gapic.yml and have toolkit intercept the grpc core error, deserialize my message and wrap in a ApiNameException with details filed of this message.

[2017-08-03 16:44] jskeet commented on #1357
@dklimkin: Changing the exception that's thrown for all APIs is a *big* change at this point (especially given that some APIs have shipped). I see the point, but I'm not sure that giving every API its own exception type is a good idea either. (Deriving the new exception from the currently-thrown exception type would be reasonable though... will consider that more.)

[2017-08-03 16:47] dklimkin commented on #1357
Extending the existing one should solve issues with the already shipped code.

As per per-API exceptions, consider a user code that uses multiple APIs simultaneously. They would need to distinguish which of the calls failed -- and create API-specific exceptions on the client side anyway.

[2017-08-03 16:51] jskeet commented on #1357
I've confirmed that the gRPC `RpcException` in C# is unsealed, so that part should be okay. Considering it at the moment. (But we have a *ton* of other work going on as well...)

[2017-08-03 17:54] ethanbao opened #1450 "Make gapic/packaging/dependencies.yaml part of toolkit binary"
Context:
Today, toolkit is relying on {googleapis repo}/gapic/packaging/dependencies.yaml when generating the GAPIC packages. The value in that config file is strongly coupled with toolkit, and will cause toolkit-generated package to not build if the toolkit doesn't match dependencies.yaml in github repo. This coupling is problematic because we won't eventually expect all artman users to always us

[2017-08-03 17:55] ethanbao commented on #1450
Garrett, temporarily assign this issue to you.

[2017-08-03 18:40] vchudnov-g commented on #1439
In this case, it was an external API that exhibited this situation. I suppose we have the option of being opinionated and assuming everyone uses this particular style convention, or being able to somewhat easily accommodate another reasonable (and common?) style pattern.

(And I say this pattern is reasonable because it's what Go uses, after all :-) )

[2017-08-03 19:09] #968 closed

[2017-08-03 22:33] #1280 closed

[2017-08-04 01:00] pongad commented on #1439
Ah I see. I didn't realize this was from external API. I'll fix it during the fixit week.

[2017-08-04 17:01] qingling128 commented on #1357
Hi @geigerj, any chance you've got some time to look into the GAX lib change in Ruby yet this week?

[2017-08-04 17:05] geigerj commented on #1357
Hi @qingling128 -- sorry, I haven't had a chance to make the GAX change yet. It is on my radar and I will update once it's done.

[2017-08-04 17:06] qingling128 commented on #1357
Cool cool. Let me know when it's out. I could help test the change. Thanks!

[2017-08-07 17:52] geigerj commented on #1311
@eoogbe is there any update on this issue?

[2017-08-07 17:52] geigerj commented on #1313
@landrito is there any update on this issue?

[2017-08-07 17:55] landrito commented on #1313
This was done with @eoogbe yard link fixes.

Heres where the fix is.
https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/ruby/message.snip#L52

Heres an example of it in generated code.
https://github.com/googleapis/api-client-staging/pull/386/files#diff-b6bf314e9c12a857b36107e499f53e60R134

[2017-08-07 17:55] #1313 closed

[2017-08-07 21:05] geigerj opened #1455 "Exclude "real" _pb files in favor of docs/ for Ruby documentation"
### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1655/

### What

Exlude the gRPC codegen in `.yardopts`

### Why

gRPC codegen files shadow the "fake" protobuf files in `docs/`. We actually intend to show the "fake" files, rather than the real ones, because the real ones do not contain documentation.

[2017-08-07 22:58] eoogbe commented on #1311
Toolkit is documenting appropriately. (Compare [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-monitoring/v0.24.0/google-cloud-monitoring/lib/google/cloud/monitoring/v3/metric_service_client.rb#L617) and [here](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-monitoring/v0.24.0/google/cloud/monitoring/v3/metricserviceclient?method=create

[2017-08-07 22:58] #1311 closed

[2017-08-07 23:42] eoogbe opened #1456 "Remove trailing commas from package.json"
It's invalid json to have trailing commas.

[2017-08-08 00:08] #1456 closed

[2017-08-08 22:55] iantalarico commented on #1165
I'm hitting the same issue, have anyone had luck figuring this out?

[2017-08-08 23:44] pongad commented on #1357
Looks like Go might not actually be done after all. We need to make sure to link in the error types, otherwise we cannot serialize.
@geigerj is there a way to tell what types the errors could be? I thought it was in YAMLs somewhere but I can't seem to find it....

[2017-08-09 16:03] geigerj commented on #1357
@pongad I don't think they're in the YAMLs. The types should be defined in the APIs' source protos ([example](https://github.com/googleapis/googleapis/blob/f781f331a0d0269725d33c715e68fae9129f0214/google/logging/v2/logging.proto#L152)), so they should be automatically included in the protoc-generated library.

As far as determining which error type is being returned so that you can deserialize, I'

[2017-08-09 21:07] #1278 closed

[2017-08-09 21:08] #1277 closed

[2017-08-09 21:09] #1276 closed

[2017-08-10 18:07] eoogbe commented on #1276
Closed via #1361.

[2017-08-10 18:07] eoogbe commented on #1277
Closed via #1361.

[2017-08-10 18:08] eoogbe commented on #1278
Closed via #1361.

[2017-08-10 20:47] landrito commented on #1290
Starting work on this.

[2017-08-10 22:32] #1290 closed

[2017-08-10 23:59] pongad opened #1467 "go: hide SetGoogleClientInfo if there's no handwritten layer"

[2017-08-11 22:14] geigerj commented on #1324
@landrito This can be closed, right?

[2017-08-11 22:17] landrito commented on #1324
Correct.

[2017-08-11 22:17] #1324 closed

[2017-08-11 23:47] eoogbe commented on #10
@pongad Is this still relevant?

[2017-08-11 23:49] eoogbe commented on #143
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 23:49] #143 closed

[2017-08-11 23:50] eoogbe commented on #183
@pongad Is this still relevant?

[2017-08-11 23:52] eoogbe commented on #203
@garrettjonesgoogle Is this still relevant?

[2017-08-11 23:54] garrettjonesgoogle commented on #203
Sounds done to me

[2017-08-11 23:54] #203 closed

[2017-08-11 23:58] eoogbe commented on #252
@bjwatson @geigerj Is this still relevant?

[2017-08-12 00:40] lukesneeringer commented on #252
I think protoc-docs-plugin likely solved this.

[2017-08-12 01:43] geigerj commented on #252
@lukesneeringer I'm not sure it has. The original issue was around protos that don't have comments on the service (or request/response messages). I'm not sure whether the issue was coming up in the gRPC docs or the GAPIC docs. It's probably worth just testing it out -- delete the proto comments from a service, plus a few methods/request/responses, and see how sphinx handles it.

[2017-08-14 04:13] pongad commented on #183
I'm not sure. This was created when I was working on discovery stuff. @saicheems I'll assign this to you. Could you resolve if this has already been done?

[2017-08-14 04:13] pongad commented on #10
@saicheems Could you resolve if this has been finished?

[2017-08-14 05:40] #183 closed

[2017-08-14 05:40] #10 closed

[2017-08-14 14:42] lukesneeringer opened #1472 "Allow an API endpoint to be explicitly passed"
We currently hardcode `api-name.googleapis.com` in the Node.js API clients. We should take an `options.apiEndpoint` that allows the user to override this. This is useful for API producers wanting to use staging servers, customers wanting to test with emulators, etc.

See https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1630#issuecomment-322207900

[2017-08-14 19:01] eoogbe commented on #287
@geigerj Is this still relevant?

[2017-08-14 19:02] eoogbe commented on #308
@shinfan Is this still relevant?

[2017-08-14 19:02] geigerj commented on #287
Nope, we don't support bundling anymore. Closing as obsolete.

[2017-08-14 19:02] #287 closed

[2017-08-14 19:05] eoogbe commented on #365
@bjwatson Is this still relevant?

[2017-08-14 19:08] eoogbe commented on #385
@omaray @anthmgoogle @jskeet What was the conclusion of the discussions?

[2017-08-14 19:09] jskeet commented on #385
Well for C#, we're still just generating what we already have - we don't remove anything.

[2017-08-14 19:31] eoogbe commented on #387
@shinfan Are you still working on this?

[2017-08-14 19:32] eoogbe commented on #385
Does it still make sense to try to add this change?

[2017-08-14 19:34] eoogbe commented on #393
@shinfan Are you still working on this?

[2017-08-14 19:35] shinfan commented on #387
I feel this is now irrelevant. We have already shared the common logic under `TestCaseTransformer`. It is probably not worth refactoring the logic with the surface generation at this point.

[2017-08-14 19:35] #387 closed

[2017-08-14 19:36] shinfan commented on #393
We have already supported request object for streaming methods. Right now we don't have plan to test non-flattening unary methods yet.

[2017-08-14 19:39] bjwatson commented on #365
Probably not. Let's create a new issue if we ever see this again.

[2017-08-14 19:39] #365 closed

[2017-08-14 19:59] eoogbe commented on #425
@geigerj Is this still relevant?

[2017-08-14 20:04] eoogbe commented on #437
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-14 20:04] #437 closed

[2017-08-14 20:06] eoogbe commented on #484
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-14 20:06] #484 closed

[2017-08-14 20:11] geigerj commented on #425
I think this was fixed by https://github.com/googleapis/api-compiler/commit/c6d2d33609b60241db80a4015cb0b91b45b28fac. If not, it should probably be tracked in the `api-compiler` repo, rather than here.

[2017-08-14 20:11] #425 closed

[2017-08-14 20:11] geigerj commented on #423
I think this was fixed by https://github.com/googleapis/api-compiler/commit/c6d2d33609b60241db80a4015cb0b91b45b28fac. If not, it should probably be tracked in the `api-compiler` repo, rather than here.

[2017-08-14 20:11] #423 closed

[2017-08-14 20:23] jskeet commented on #385
I don't think it does for C#. Other languages may wish to make different decisions.

[2017-08-14 21:51] eoogbe commented on #385
@garrettjonesgoogle @lukesneeringer @michaelbausor @geigerj Is this relevant to your languages?

[2017-08-14 21:54] geigerj commented on #385
@landrito has already done this for Ruby.

[2017-08-14 22:07] eoogbe commented on #552
@tcoffee-google @vchudnov-g  Is this still relevant?

[2017-08-14 22:09] eoogbe commented on #561
@michaelbausor Is this still relevant?

[2017-08-14 22:09] eoogbe commented on #563
@garrettjonesgoogle Is this still relevant?

[2017-08-14 22:11] saicheems commented on #552
Unlikely to happen at this point, closing.

[2017-08-14 22:11] #552 closed

[2017-08-14 22:11] michaelbausor commented on #561
This was actually closed just a few hours ago in https://github.com/googleapis/toolkit/pull/1454, thanks for the ping! :-)

[2017-08-14 22:11] #561 closed

[2017-08-14 22:12] eoogbe commented on #564
@saicheems Is this still relevant?

[2017-08-14 22:15] eoogbe commented on #587
@vchudnov-g What was the conclusion of the internal doc?

[2017-08-14 22:17] eoogbe commented on #593
@saicheems Is this still relevant?

[2017-08-14 22:17] saicheems commented on #564
Current situation is fine, really.

[2017-08-14 22:17] #564 closed

[2017-08-14 22:18] #593 closed

[2017-08-14 22:19] saicheems commented on #587
This is in progress, client libraries are almost all automatically updated, I'll close when that's done.

[2017-08-14 22:19] #1380 closed

[2017-08-14 22:19] #1377 closed

[2017-08-14 22:20] #1260 closed

[2017-08-14 22:20] #962 closed

[2017-08-14 22:20] #773 closed

[2017-08-14 22:20] #703 closed

[2017-08-14 22:21] #602 closed

[2017-08-14 22:23] eoogbe commented on #615
@landrito Is this still relevant?

[2017-08-14 22:24] eoogbe commented on #620
@geigerj Can we get a priority on this?

[2017-08-14 22:25] chrisdunelm commented on #615
This is not an issue for C#

[2017-08-14 22:26] eoogbe commented on #623
@pongad Is this still relevant?

[2017-08-14 22:28] eoogbe commented on #615
What about in NodeJS and PHP?

[2017-08-14 22:29] landrito commented on #615
This is still relevant for Node.js.

[2017-08-14 22:31] eoogbe commented on #628
@geigerj Can you check if this is still relevant?

[2017-08-14 22:32] eoogbe commented on #615
@landrito Can you add a priority?

[2017-08-14 22:32] landrito commented on #628
This is no longer relevant. Closing.

[2017-08-14 22:32] #628 closed

[2017-08-14 22:37] landrito commented on #615
Done.

[2017-08-14 22:37] michaelbausor commented on #615
This is not an issue for PHP as we escape the close comment sequence. In case it is helpful for Node, the code is here: https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/util/php/PhpCommentReformatter.java#L28

[2017-08-14 22:44] eoogbe commented on #682
@michaelbausor Is this still relevant?

[2017-08-14 22:45] michaelbausor commented on #385
I think this makes sense to do in PHP, but it is not yet done, so we should leave PHP on the list.

[2017-08-14 22:47] eoogbe commented on #698
@bjwatson Please reassign

[2017-08-14 22:49] michaelbausor commented on #682
No - this is done

[2017-08-14 22:49] #682 closed

[2017-08-14 22:54] eoogbe commented on #712
@tcoffee-google Is this still relevant?

[2017-08-14 22:55] bjwatson commented on #698
This is P2, so no one needs to be assigned.

[2017-08-14 22:56] saicheems commented on #712
Technically done.

[2017-08-14 22:56] #712 closed

[2017-08-14 23:00] eoogbe commented on #722
This should now be the CommentReformatters.

[2017-08-14 23:02] eoogbe commented on #736
@tcoffee-google Is this still relevant?

[2017-08-14 23:03] eoogbe commented on #768
@michaelbausor Is this still relevant?

[2017-08-14 23:03] geigerj commented on #722
Ack. Specifically, if I recall correctly, the context was that the regexes were quite complicated and some test cases would have helped, so that would mean testing [CommentPatterns](https://github.com/googleapis/toolkit/blob/d31e0d89453f19511d34aa60e10171da0193bd59/src/main/java/com/google/api/codegen/CommentPatterns.java).

[2017-08-14 23:05] michaelbausor commented on #768
This can be closed

[2017-08-14 23:05] #768 closed

[2017-08-14 23:17] garrettjonesgoogle commented on #563
no

[2017-08-14 23:17] #563 closed

[2017-08-14 23:17] eoogbe commented on #808
@geigerj Can you add a priority to this?

[2017-08-14 23:19] eoogbe commented on #832
@jskeet Is this still relevant?

[2017-08-14 23:20] eoogbe commented on #833
@lukesneeringer Do you know if we're still working on this?

[2017-08-14 23:21] eoogbe commented on #850
@michaelbausor Can you add a priority to this?

[2017-08-14 23:25] geigerj commented on #808
Arbitrarily declaring #1120 as the canonical tracking issue for this and closing other rubocop-related issues as dups.

[2017-08-14 23:25] #808 closed

[2017-08-14 23:25] garrettjonesgoogle commented on #385
This was done using config for Java.

[2017-08-14 23:26] geigerj commented on #1023
Arbitrarily declaring #1120 as the canonical tracking issue for this and closing other rubocop-related issues as dups.

The other aspects of this issue are already resolved.

[2017-08-14 23:26] #1023 closed

[2017-08-14 23:26] geigerj commented on #1396
Arbitrarily declaring #1120 as the canonical tracking issue for this and closing other rubocop-related issues as dups.

[2017-08-14 23:26] #1396 closed

[2017-08-14 23:26] geigerj commented on #1397
Arbitrarily declaring #1120 as the canonical tracking issue for this and closing other rubocop-related issues as dups.

[2017-08-14 23:26] #1397 closed

[2017-08-14 23:27] geigerj commented on #1120
Bumping to P1 -- this is more important to have as we more forward with GAPIC-only releases.

[2017-08-14 23:29] pongad commented on #623
I think we should leave this here for now. Thank you for taking a look!

[2017-08-14 23:29] eoogbe commented on #901
@landrito @shinfan Is this still relevant?

[2017-08-14 23:30] eoogbe commented on #623
Can you add a priority?

[2017-08-14 23:31] eoogbe commented on #916
@lukesneeringer Is this still relevant?

[2017-08-14 23:33] eoogbe commented on #937
@pongad Can you add a priority to this?

[2017-08-14 23:34] eoogbe commented on #940
@garrettjonesgoogle Can you add a priority to this?

[2017-08-14 23:35] eoogbe commented on #945
@garrettjonesgoogle Is this still relevant?

[2017-08-14 23:35] garrettjonesgoogle commented on #940
Done - p2.

[2017-08-14 23:37] garrettjonesgoogle commented on #945
It's still something we could do that would be helpful.

[2017-08-15 02:16] landrito commented on #901
This is probably unnecessary. Closing.

[2017-08-15 02:16] #901 closed

[2017-08-15 05:43] jskeet commented on #832
It's now being generated.

[2017-08-15 05:43] #832 closed

[2017-08-15 05:44] jskeet commented on #385
Mmm... if there's config for Java, we *may* want to follow it after all for C#. @garrettjonesgoogle do you have any specific examples I could look at?

cc @chrisdunelm

[2017-08-15 14:16] garrettjonesgoogle commented on #385
Here is the config for Java for Logging:

https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging_gapic.yaml#L5

[code]

We take the interface name `Logging` and add `Client` to get `LoggingClient` and we add `Settings` to get `LoggingSettings`.

[2017-08-15 14:28] jskeet commented on #385
@garrettjonesgoogle: Thanks. Although the ship has sailed for logging in C# (we've gone GA) we may want to do this for other APIs.

@chrisdunelm is this something that would make sense to do in your current toolkit work?

[2017-08-15 21:09] michaelbausor commented on #1272
Implemented in https://github.com/googleapis/gax-php/pull/91

[2017-08-15 21:09] #1272 closed

[2017-08-15 21:13] michaelbausor commented on #1089
Fixed in https://github.com/googleapis/toolkit/pull/1361

[2017-08-15 21:13] #1089 closed

[2017-08-15 21:22] eoogbe commented on #541
@garrettjonesgoogle Can you add a priority?

[2017-08-15 21:24] eoogbe commented on #661
@garrettjonesgoogle Can you add a priority?

[2017-08-15 21:25] eoogbe commented on #803
@geigerj Can you add a priority?

[2017-08-15 21:27] eoogbe commented on #868
@lukesneeringer Can you add a priority?

[2017-08-15 21:27] eoogbe commented on #888
@michaelbausor Can you add a priority?

[2017-08-15 21:28] eoogbe commented on #946
@michaelbausor Can you add a priority?

[2017-08-15 21:30] eoogbe commented on #950
@geigerj Can you add a priority?

[2017-08-15 21:31] eoogbe commented on #963
@pongad Can you add a priority?

[2017-08-15 21:32] eoogbe commented on #972
@shinfan Can you add a priority?

[2017-08-15 21:34] eoogbe commented on #977
cc/ @geigerj for Ruby
@lukesneeringer Can you add a priority?

[2017-08-15 21:36] eoogbe commented on #983
This issue may no longer be relevant. Feel free to re-open.

[2017-08-15 21:36] #983 closed

[2017-08-15 21:37] eoogbe commented on #990
@shinfan @garrettjonesgoogle Can you add a priority?

[2017-08-15 21:40] eoogbe commented on #996
@garrettjonesgoogle Can you add a priority?

[2017-08-15 21:40] geigerj commented on #950
To my knowledge this is obsolete. @lukesneeringer are there any existing cases where toolkit should *not* generate package metadata for NodeJS? If there are, please re-open.

[2017-08-15 21:40] #950 closed

[2017-08-15 21:42] eoogbe commented on #1015
This issue may no longer be relevant. Feel free to re-open.

[2017-08-15 21:42] #1015 closed

[2017-08-15 21:44] eoogbe commented on #1048
@chrisdunelm Can you add a priority to this?

[2017-08-15 21:46] eoogbe commented on #1057
@jskeet Can you add a priority to this?

[2017-08-15 21:47] eoogbe commented on #1058
@lukesneeringer Can you add a priority to this?

[2017-08-15 21:51] eoogbe commented on #1075
@lukesneeringer Can you add a priority to this?

[2017-08-15 21:53] geigerj commented on #541
Nothing is required for Ruby. Like Go, we use the README in `google-cloud-ruby` for this purpose.

[2017-08-15 23:09] eoogbe commented on #868
Duplicate ##1100

[2017-08-15 23:09] #868 closed

[2017-08-15 23:14] eoogbe commented on #1129
@lukesneeringer Can you add a priority to this?

[2017-08-15 23:14] eoogbe commented on #1137
@shinfan Can you add a priority to this?

[2017-08-15 23:16] eoogbe commented on #1145
@michaelbausor Can you add a priority to this?

[2017-08-15 23:17] eoogbe commented on #1149
@pongad Can you add a priority to this?

[2017-08-15 23:17] eoogbe commented on #1161
@jskeet Can you add a priority to this?

[2017-08-15 23:20] shinfan commented on #1137
This should now be irrelevant. Closing

[2017-08-15 23:20] #1137 closed

[2017-08-15 23:21] michaelbausor commented on #1145
This is done

[2017-08-15 23:21] #1145 closed

[2017-08-15 23:22] eoogbe commented on #1173
@michaelbausor Can you add a priority to this?

[2017-08-15 23:26] eoogbe commented on #1184
@jskeet Can you add a priority for this?

[2017-08-15 23:28] eoogbe commented on #1210
@jskeet Can you add a priority to this?

[2017-08-15 23:28] eoogbe commented on #1215
@michaelbausor Can you add a priority to this?

[2017-08-15 23:29] eoogbe commented on #1224
@michaelbausor Can you add a priority to this?

[2017-08-15 23:30] eoogbe commented on #1225
@michaelbausor Can you add a priority to this?

[2017-08-15 23:30] eoogbe commented on #1255
@landrito Can you add a priority to this?

[2017-08-15 23:31] eoogbe commented on #1271
@jskeet Can you add a priority to this?

[2017-08-15 23:33] landrito commented on #1255
Done.

[2017-08-15 23:34] eoogbe commented on #1287
@landrito Can you provide a work estimate?

[2017-08-15 23:34] eoogbe commented on #1255
@landrito If it's P1, can you assign it?

[2017-08-15 23:36] eoogbe commented on #603
@geigerj Can you assign someone to this P1 issue?

[2017-08-15 23:37] eoogbe commented on #996
@garrettjonesgoogle Can you assign someone to this P1 issue?

[2017-08-15 23:37] eoogbe commented on #1128
@lukesneeringer Can you assign this P1 issue?

[2017-08-15 23:40] eoogbe commented on #1291
@landrito Can you confirm if this is done?

[2017-08-15 23:40] landrito commented on #1255
Done.

[2017-08-15 23:41] eoogbe commented on #1307
@michaelbausor Can you add a priority to this?

[2017-08-15 23:42] landrito commented on #1291
Fixed in #1406

[2017-08-15 23:42] #1291 closed

[2017-08-15 23:44] eoogbe commented on #1335
@geigerj Can you add a priority to this?

[2017-08-15 23:46] eoogbe commented on #1344
Duplicate #615

[2017-08-15 23:46] #1344 closed

[2017-08-15 23:47] eoogbe commented on #1353
@michaelbausor Can you add a priority to this?

[2017-08-15 23:55] eoogbe commented on #1437
@michaelbausor Can you add a priority to this?

[2017-08-15 23:57] eoogbe commented on #1362
@michaelbausor Can you add a priority to this?

[2017-08-15 23:58] eoogbe commented on #1379
@shinfan Can you add a priority to this?

[2017-08-16 00:00] eoogbe commented on #1383
@shinfan Can you add a priority to this?

[2017-08-16 00:00] eoogbe commented on #1393
@landrito Can you add a priority to this?

[2017-08-16 00:01] eoogbe commented on #1399
@landrito Can you add a priority to this?

[2017-08-16 00:01] eoogbe commented on #1407
@landrito Can you add a priority to this?

[2017-08-16 00:01] eoogbe commented on #1408
@michaelbausor Can you add a priority to this?

[2017-08-16 00:02] eoogbe commented on #1409
@michaelbausor Can you add a priority to this?

[2017-08-16 00:02] eoogbe commented on #1414
@lukesneeringer Can you add a priority to this?

[2017-08-16 00:02] landrito commented on #1393
This has been fixed.

[2017-08-16 00:03] eoogbe commented on #1429
@geigerj Can you add a priority to this?

[2017-08-16 00:04] shinfan commented on #1379
This is already fixed.

[2017-08-16 00:04] #1379 closed

[2017-08-16 00:04] landrito commented on #1393
Oh sorry, this is incorrect.

[2017-08-16 00:04] eoogbe commented on #1438
@michaelbausor Can you add a priority to this?

[2017-08-16 00:06] eoogbe commented on #1446
@pongad Can you add a priority to this?

[2017-08-16 00:08] eoogbe commented on #1472
@lukesneeringer Can you add a priority to this?

[2017-08-16 05:38] jskeet commented on #1057
It's low priority until it's high priority, basically - we don't have any APIs that need it right now, but as soon as we do, we'll need to get it done. Setting to P2 for the moment.

[2017-08-16 05:42] jskeet commented on #1161
Setting to P1 as we should get the config right ASAP. Assigning to Luke as most probably person to know about this.

[2017-08-16 05:44] jskeet commented on #1184
@chrisdunelm: I've set this to P2, but if it's not difficult, it would be good to get it done. I don't know enough about the details...

[2017-08-16 05:44] jskeet commented on #1210
This is now complete (very recently).

[2017-08-16 05:44] #1210 closed

[2017-08-16 08:42] chrisdunelm commented on #1048
This is done for C#, and I suspect also done for Java. @garrettjonesgoogle can you confirm.

[2017-08-16 15:18] #1271 closed

[2017-08-16 15:39] garrettjonesgoogle commented on #1048
I don't think we have done this for Java - @michaelbausor do you know?

[2017-08-16 23:56] eoogbe commented on #270
@bjwatson Is this still relevant?

[2017-08-17 00:05] eoogbe commented on #1100
@landrito Is this still relevant?

[2017-08-17 00:07] eoogbe commented on #1064
@shinfan @landrito Is this still relevant?

[2017-08-17 00:10] bjwatson commented on #270
@eoogbe This needs to be evaluated by the language leads for the remaining languages.

@geigerj Why do http://pythonhosted.org/gax-google-pubsub-v1/ and http://pythonhosted.org/gax-google-logging-v2/ show the wrong names? They should be "Google Cloud Pub/Sub API" and "Stackdriver Logging API", respectively.

[2017-08-17 00:19] eoogbe commented on #270
cc/ @jskeet @pongad @garrettjonesgoogle @lukesneeringer @michaelbausor @geigerj Language leads for remaining languages

[2017-08-17 00:24] eoogbe commented on #196
@geigerj Is this still relevant?

[2017-08-17 00:25] eoogbe commented on #197
@geigerj Is this still relevant?

[2017-08-17 00:26] eoogbe commented on #358
@pongad Is this still relevant?

[2017-08-17 00:28] eoogbe commented on #390
@bjwatson Is this still relevant?

[2017-08-17 00:30] eoogbe commented on #850
Is this the case for server streaming or client streaming?

[2017-08-17 00:35] michaelbausor commented on #850
This is true for bidi and client streaming. For server streaming, I think a case can be made for specifying this field, because a server streaming method can support a flattened signature.

[2017-08-17 01:05] geigerj commented on #270
@bjwatson Those pages are out-of-date. The packages are called `gapic-google-{api}` now (not `gax-...`). For example, here's an [index.rst](https://github.com/googleapis/api-client-staging/blob/master/generated/python/gapic-google-cloud-pubsub-v1/docs/index.rst) checked into `api-client-staging` that shows "Google Cloud Pub/Sub API".

[2017-08-17 01:06] geigerj commented on #196
Not sure, re-assigning to @lukesneeringer to confirm the current status of Python GAPIC docs.

[2017-08-17 01:07] geigerj commented on #197
Yes, AFAIK we still don't document the default method configuration in any of the GAPIC docs.

[2017-08-17 01:08] geigerj commented on #197
Unassigning to go back on the backlog -- I'm not going to have bandwidth for this in the near future.

[2017-08-17 01:34] pongad commented on #358
Yup, still relevant. I'll assign to myself so this doesn't get lost.

[2017-08-17 05:03] jskeet commented on #270
We don't generate the README for C#, and probably won't any time soon.
This will be relevant when generating the csproj (project) file, so cc @chrisdunelm but I'm going to tick C# as the README part is irrelevant.

[2017-08-17 16:29] garrettjonesgoogle commented on #270
We don't generate the README yet for Java either, so checking the box since it is N/A.

[2017-08-17 16:49] chrisdunelm opened #1483 "ErrorMarkdownVisitor in wrong place?"
Is `ErrorMarkdownVisitor.java` in the wrong place? Its package name doesn't agree with its directory path:
https://github.com/googleapis/toolkit/blob/5d78b272f7271c138457067fd56e22ad3cda4096/src/main/java/com/google/api/codegen/util/ErrorMarkdownVisitor.java#L15

[2017-08-17 16:52] landrito commented on #1064
Still looks relevant.

[2017-08-17 16:54] landrito commented on #1100
This looks still relevant. But low priority.

[2017-08-17 17:51] bjwatson commented on #270
@jskeet @garrettjonesgoogle We should think more broadly than just the README. We autogen the API name in other places. For example, I see that the [Maven Logging package](https://search.maven.org/#artifactdetails%7Ccom.google.cloud%7Cgoogle-cloud-logging%7C1.3.1%7Cjar) shows:

[code]

This should be "Stackdriver Logging API".

[2017-08-17 17:53] jskeet commented on #270
Within google-cloud-dotnet we have an API catalog which includes all manner of things like this, that most code doesn't care about (and which we don't want to have to rerun codegen to change):
https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/apis.json

While eventually it might be nice to have all the config in a single place, the reality is that we're finding this split

[2017-08-17 17:56] bjwatson commented on #270
As long as the .NET generated artifacts are showing the correct API names, then there's no problem within the scope of this issue.

[2017-08-17 18:08] bjwatson commented on #390
This is up to @lukesneeringer to determine whatever is most correct. Feel free to close if the status quo is good enough.

[2017-08-17 22:21] #850 closed

[2017-08-17 23:37] #1439 closed

[2017-08-18 15:46] lukesneeringer commented on #390
It is "nice to have" but the status quo is perfectly acceptable.

[2017-08-18 17:09] michaelbausor opened #1488 "Add support in PHP for passing a custom json retrying config"

[2017-08-22 03:11] #1467 closed

[2017-08-22 22:16] eoogbe opened #1495 "Move test source files from testdata to testsrc folder"
The testdata folder is getting unwieldy and currently houses two concerns:
- test source files - input for tests
- test data files - baseline output for tests

These concerns should be in their own directories, both for better organization and to ease comprehension of the test input and output files.

cc/ @shinfan @garrettjonesgoogle

[2017-08-23 17:39] geigerj commented on #1495
@eoogbe A step further, would it make sense to have subdirectories per-lang in `testdata`? There are an enough baseline files now to be unwieldy to sort through manually.

[2017-08-23 19:31] eoogbe commented on #1495
@geigerj That's a good idea. PR forthcoming.

[2017-08-23 19:46] #1495 closed

[2017-08-23 20:17] geigerj opened #1501 "Config gen: "spi" in Java package"
### What

The Java configgen produces a "spi" in the package path. @shinfan can you confirm whether this should be generated, and remove it if it shouldn't be?

https://github.com/googleapis/toolkit/blob/605c05d02897d0a1f3e1b0cf4949df52ed63d746/src/main/java/com/google/api/codegen/configgen/transformer/LanguageTransformer.java#L39

### Why

No packages configured in https://github.com/googleapis/g

[2017-08-23 20:19] garrettjonesgoogle commented on #1501
This should be removed.

[2017-08-23 20:21] geigerj opened #1502 "Configgen: update Python package name"
### What

Change the configgen to produce Python package names of the form `...{api}_{version}.gapic`

### Why

All configs in googleapis/googleapis use this newer form, but the generator produces the older form `{api}.{version}.gapic`

[2017-08-23 21:16] lukesneeringer commented on #1437
Why is this needed? I would expect the sanitized proto would not have anything with a visibility flag of `DISABLED`.

[2017-08-23 21:22] garrettjonesgoogle commented on #1437
The general usage for this feature is hiding something from a GAPIC client when you want the user to use a handwritten entry point for that particular feature instead. (This is what we use in Java for Pub/Sub.)

[2017-08-24 00:25] #1483 closed

[2017-08-24 19:03] landrito commented on #1320
I think this has been resolved:
- Change the author from jjg+google-cloud-python@google.com to googleapis-packages@google.com.

https://github.com/googleapis/googleapis/blob/master/gapic/packaging/api_defaults.yaml#L19

[2017-08-25 22:00] eoogbe commented on #196
Closing because this code appears to be removed.

[2017-08-25 22:00] #196 closed

[2017-08-25 22:14] eoogbe commented on #391
@bjwatson Is this still relevant?

[2017-08-25 22:28] bjwatson commented on #391
I'm not sure. @lukesneeringer would know better than I at this point whether these constructor arguments are well documented.

[2017-08-25 23:19] eoogbe commented on #804
Closing because these classes do not appear to exist any longer.

[2017-08-25 23:19] #804 closed

[2017-08-25 23:27] eoogbe commented on #933
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-25 23:27] #933 closed

[2017-08-25 23:32] #464 closed

[2017-08-25 23:40] eoogbe commented on #1074
@garrettjonesgoogle Can you add a priority?

[2017-08-25 23:44] eoogbe commented on #1080
@jskeet Can you add a priority to this?

[2017-08-25 23:48] eoogbe commented on #1128
Via #1508

[2017-08-25 23:48] #1128 closed

[2017-08-26 00:07] eoogbe commented on #1472
Isn't this already covered in the `serviceAddress` option?

[2017-08-26 17:24] jskeet commented on #1080
Assigned P2 to it, but I believe we first did it and then *undid* it after further discussion. @garrettjonesgoogle does that sound right to you? If so, we can just close.

[2017-08-30 16:20] garrettjonesgoogle commented on #1080
@jskeet - I believe you are correct.

- Your commit to add UNAVAILABLE: https://github.com/googleapis/googleapis/commit/b01f986d341005ee0c98ac3d3af764d974715091
- Your commit to remove UNAVAILABLE: https://github.com/googleapis/googleapis/commit/e6f2d2b99e28f40ad827e23d0b27ce2242705c40

https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/configgen/transformer/Ret

[2017-08-30 16:20] #1080 closed

[2017-08-30 21:11] eoogbe opened #1527 "Is PUBLISHING.rst still correct?"
The PUBLISHING.rst for the generated Python code references tox, but I believe we removed tox. Are we still using it for publishing docs?
/cc @lukesneeringer

[2017-08-30 22:49] geigerj opened #1530 "Ensure argument type doc is on same line as argument"
### What

The `credentials` type doc needs to be on the same line as the argument name doc.

### Why

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1698

[2017-08-31 21:26] michaelbausor opened #1533 "PHP: switch all documentation from array to type[] style"
Method parameters that must be an array of a particular type (e.g. string, protobuf object, etc.) should be documented as e.g. `@type string[]` instead of `@type array`

[2017-08-31 23:35] #620 closed

[2017-09-01 01:43] #1502 closed

[2017-09-01 15:59] geigerj opened #1536 "Rubocop offenses for top-level API file"
### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1702

### What

Fix style-guide violations:

[code]

[2017-09-06 19:13] qingling128 commented on #1357
Hi @geigerj, we are expecting b/65028199 to be fixed by the end of this week. If that's possible, how long do you think would the remaining work take to expose the deserialized details in the GAX error (at least for Ruby if it needs to be done per language)?

[2017-09-06 19:17] geigerj commented on #1357
Hi @qingling128, Assuming the fix for that internal bug results in an accessor for an instance of `status.proto` (as discussed in an offline thread), I should be able to update GAX within a few days of the fix. This work will need to be done per-langauge.

[2017-09-06 19:32] qingling128 commented on #1357
Thanks @geigerj! Will let you know as soon as that internal bug is fixed. We are observing some significant amount of dropped logs (b/65328414). It would be highly appreciated if we could enable partial success in the Logging Agent asap. Right now we have no way to tell apart "good" and "bad" log entries, so we end up retrying over and over, which ultimately drops "good" entries as well and crashe

[2017-09-06 19:33] geigerj commented on #1357
@qingling128 Acknowledged. I will keep you updated after the internal bug unblocks this work.

[2017-09-06 19:36] qingling128 commented on #1357
Great, thanks!

[2017-09-07 19:09] geigerj opened #1543 "Ruby: deprecation warning even if deprecated params not being used"
### Original report

From @frankyn:

@frankyn is using a GAPIC-only Natural Language surface from https://github.com/geigerj/google-cloud-ruby/tree/lang, and running

[code]

They report

  `service_path` and `port` parameters are deprecated and will be removed

### What

This warning should be displayed only if the user tries to set these parameters.

[2017-09-07 21:01] #1543 closed

[2017-09-07 23:07] landrito opened #1548 "NodeJS: figure out a way to track imported modules."
## What

Currently imported modules are added to the import transformer manually. This works reasonably under the assumption that every client will need a the modules. Using conditional logic for adding a module makes it harder especially if the information needed for the conditional logic is not readily available. The current pattern doesn't scale well and is error prone and should be changed.

#

[2017-09-11 15:25] lukesneeringer commented on #1527
It is almost definitely wrong.

[2017-09-11 20:17] #1129 closed

[2017-09-11 20:33] eoogbe commented on #1527
Should we get rid of it or update it to be correct?

[2017-09-12 05:32] lukesneeringer commented on #1527
Scrap it. We have an overall one in google-cloud-python.

[2017-09-12 23:50] geigerj opened #1558 "Ruby .yardopts excludes wrong directory"
### What

.yardopts should exclude proto files but instead seems to exclude GAPIC files. This breaks documentation generation.

### Context

With Video Intelligence we generate:

[code]

We should generate:

[code]

[2017-09-12 23:52] geigerj opened #1559 "Ruby files should end in newline"
### What

SnippetSet doesn't by default output a trailing newline. We should ensure one is added for all files. (For example, `Gemfile` currently lacks the trailing newline.) This isn't strictly a bug, but it does go against widespread convention.

[2017-09-14 20:56] #1527 closed

[2017-09-15 21:17] lukesneeringer opened #1567 "Node.js: Unit tests have a naming collision in NL."
https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2612/commits/f83b8cb528d4a9a9dc9e41f688ac7883ba8b6cb8

[2017-09-15 23:43] geigerj opened #1568 "Incorrect capitalization in Ruby proto link"
### Context

The display text for a `next_page_token` link in Spanner is rendered with incorrect capitalization as `Next_page_token`: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1727#pullrequestreview-63183238. The first character should not be capitalized.

### What

This logic seems to come from the CommentReformatter:

https://github.com/googleapis/toolkit/blob/e76951c7474be01

[2017-09-15 23:50] geigerj opened #1569 "Allow Google::Cloud::Credentials to be passed to GAPIC"
### What

GAPIC classes that take a credentials class should be able to be used with instances of `Google::Cloud::Credentials` when they are used to implement manually written client libraries.

This means loosening a type check (see, for example, https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1727/commits/c439522aec458db7f0853daae9631c1a9584031b).

It also means that we probably sh

[2017-09-18 17:14] landrito commented on #1569
Hm. Doing this will cause an added dependency on google-cloud-core. Are you okay with adding that dependency?

[2017-09-18 17:31] geigerj commented on #1569
Good point. It is better to make `Google::Cloud::Credentials` subclass `Google::Gax::Credentials` for the first problem. We'd still need to configure the path for the second problem.

[2017-09-21 15:36] #1501 closed

[2017-09-21 17:38] landrito opened #1585 "NodeJS: through2 incorrectly being added as a dependency"
if an API doesn't have a streaming method it is incorrect to add through2 as a dependency.

[2017-09-22 15:32] qingling128 commented on #1357
Hi @geigerj, great news! The internal bug has just been fixed. Could you help update Ruby GAX accordingly?

[2017-09-22 17:51] lukesneeringer opened #1587 "Move Markdown -> RST conversion to pandoc"
Right now, toolkit converts documentation from protos to the `*_client.py` files using some internal mechanism.

It should use pandoc (like protoc-docs-plugin does), so we are not having to roll our own. This would avoid errors like those encountered here: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4030/commits/6efa645e253754a88eee923480680c28fd34dc0e

[2017-09-22 20:13] eoogbe commented on #1567
Duplicate #1399

[2017-09-22 20:13] #1567 closed

[2017-09-23 01:10] #1558 closed

[2017-09-26 00:40] geigerj opened #1590 "Ruby: smoke test/README sample does not handle keyword args"
### What

The Ruby smoke test/README sample treats all arguments as required, even when they are in fact keyword arguments. This results in the sample/system test failing with syntax errors.

### Example

See the hand-edits necessary here:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1750/commits/23f468b85bb0bfac1ffd4a6e955a6bdbcc2ddd8e

/cc @landrito

[2017-09-26 00:42] geigerj opened #1591 "Ruby: ensure all output ends in newline"
### What

Some of the Ruby rendered templates do not end in a newline. Ensure that all do.

[2017-09-26 18:34] eoogbe commented on #1590
Duplicate #1255

[2017-09-26 18:34] #1590 closed

[2017-09-26 18:39] geigerj commented on #1255
@landrito What's the status of this issue?

[2017-09-26 18:40] landrito commented on #1255
Haven't gotten around to this issue.

[2017-09-26 18:42] geigerj commented on #1255
@eoogbe, could you PTAL?

[2017-10-03 16:06] jmdobry opened #1597 "[nodejs]: Generate doc/namespaces.js file"
This file would contain a de-duped list of all the package names of all the proto files associated with an API. For example, in https://github.com/googleapis/nodejs-firestore we would end up with a `nodejs-firestore/src/doc/namespaces.js` file with the following:

[code]

[2017-10-03 16:06] jmdobry commented on #1597
/cc @landrito

[2017-10-03 16:14] jmdobry opened #1598 "[nodejs]: require() path in example isn't correct"
Related to #1599

The problem is in [src/v1beta1/firestore_client.js#L407](https://github.com/googleapis/nodejs-firestore/blob/master/src/v1beta1/firestore_client.js#L407) and appears in a bunch of other places in the file:

[code]

[2017-10-03 16:18] jmdobry opened #1599 "[nodejs]: client instantiation isn't correct"
Related to #1598

The problem is in [src/v1beta1/firestore_client.js#L409](https://github.com/googleapis/nodejs-firestore/blob/master/src/v1beta1/firestore_client.js#L409) and appears in a bunch of other places in the file:

[code]

[2017-10-03 16:18] jmdobry commented on #1599
/cc @landrito @lukesneeringer

[2017-10-03 16:19] jmdobry commented on #1598
/cc @landrito @lukesneeringer

[2017-10-03 17:24] landrito commented on #1598
Looks like there is a problem in the gapic yaml.

https://github.com/googleapis/googleapis/blob/master/google/firestore/v1beta1/firestore_gapic.yaml#L18

[code]

Should be changed to:

[code]

[2017-10-03 17:29] landrito commented on #1599
I don't think this is actually a problem general to all generated clients but to how firestore made manual edits to the client. This example shows how to use the generated `src/index.js` to get the v1beta1 client.

This line:
https://github.com/googleapis/nodejs-firestore/blob/master/src/index.js#L1124
for generated clients is actually a function that initializes the firestore client.

[2017-10-03 19:20] jmdobry commented on #1598
how about

[code]
?

[2017-10-03 19:22] jmdobry commented on #1599
Invoking the `v1beta` function returns an instance of `FirestoreClientBuilder`, on which you then need to call `FirestoreClientBuilder#firestoreClient()`. [Here it is in action](https://github.com/googleapis/nodejs-firestore/blob/master/src/index.js#L235).

[2017-10-03 19:46] landrito commented on #1599
Agreed, but that is firestore specific since it is not using the generated v1beta1 export. What would be generated would look like this: https://github.com/googleapis/toolkit/blob/master/src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_version_index_library.baseline#L94.

[2017-10-03 19:48] landrito commented on #1598
The `.v1beta1` is correct. in that configuration.

[2017-10-03 19:56] jmdobry commented on #1599
So what's our action?

[2017-10-03 20:06] landrito commented on #1599
@lukesneeringer Should we switch firestore `src/index.js`'s v1beta1 module export to be the generated one?

[2017-10-03 23:47] lukesneeringer commented on #1599
I am discussing this with @landrito in chat right now (sorry, I had an emergency dental appointment followed by having to go to the airport). I think it is fine for the `.v1`, `.v1beta1`, etc. exports to be the generated client always. That is what we have been doing for a long time, and it is the only way to keep the auto-generated samples sane.

[2017-10-04 00:00] landrito commented on #1598
Closing this. I made a change upstream that should propogate this change to googleapis/googleapis.

[2017-10-04 00:00] #1598 closed

[2017-10-04 00:00] landrito commented on #1599
Moving this issue over to https://github.com/googleapis/nodejs-firestore

[2017-10-04 17:52] lukesneeringer commented on #1599
I think I may not have understood this issue. In particular, @jmdobry points out that a solution that does the double-invocation for you will not work well for APIs with more than one service client.

[2017-10-09 16:41] geigerj commented on #1357
Done in Ruby GAX at https://github.com/googleapis/gax-ruby/pull/89, https://github.com/googleapis/gax-ruby/pull/93

[2017-10-09 22:36] lukesneeringer commented on #1599
#1406 ends up addressing this.

[2017-10-09 22:36] #1599 closed

[2017-10-12 17:59] lukesneeringer commented on #1597
Would this replace the long `@namespace` definitions in `index.js`?

[2017-10-12 18:01] lukesneeringer opened #1615 "Node.js Ensure a correct package name."
Transform [this](https://github.com/googleapis/toolkit/pull/1614/files/986573343ff7d0ecded8e9a8b545bfe17e8df61d#r144363560) into an acceptable name. Perceivably this name can have a hyphen in it like shown in the multiple-services baseline, which would cause an error.

[2017-10-12 18:02] lukesneeringer opened #1616 "Node.js: Fix @namespace declarations."
Reference: https://github.com/googleapis/toolkit/pull/1614/files/986573343ff7d0ecded8e9a8b545bfe17e8df61d#r144363773

It should follow the proto path. Related to #1597; implementing it may supercede this.

[2017-10-12 19:26] jmdobry commented on #1597
Yes

[2017-10-13 10:17] stephenplusplus opened #1623 "`_pageDescriptors` is not defined"
Testing this branch: https://github.com/googleapis/nodejs-logging/tree/new-gapic

[code]

This is the line: https://github.com/googleapis/nodejs-logging/blob/057f37571f1081d91f9a4c89d185b6bed361e3cb/src/v2/config_service_v2_client.js#L362

cc @lukesneeringer

[2017-10-13 10:19] stephenplusplus commented on #1623
It looks like it should be:

`this._descriptors.page`

Instead of:

`this._pageDescriptors

[2017-10-13 19:23] #1623 closed

[2017-10-13 19:56] saicheems commented on #308
Doesn't appear to be relevant anymore.

[2017-10-13 19:56] #308 closed

[2017-10-13 19:58] #991 closed

[2017-10-13 19:58] #648 closed

[2017-10-13 19:58] #631 closed

[2017-10-13 19:58] #587 closed

[2017-10-16 20:45] landrito commented on #1255
cc @lukesneeringer This is a problem with nodejs as well as seen in this CI build error. https://circleci.com/gh/googleapis/nodejs-logging/162?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-10-17 23:21] chrisdunelm opened #1631 "C# generated csproj contains illegal nested XML comments"

[2017-10-17 23:23] chrisdunelm opened #1632 "C# snippets build warnings"
Generated snippets have two issues that cause warnings:

* Missing `.ConfigureAwait(false)`
* Missing XmlDoc

[2017-10-18 11:21] #1631 closed

[2017-10-18 15:55] #1632 closed

[2017-10-18 18:03] #1255 closed

[2017-10-19 04:29] lukesneeringer opened #1638 "Node.js: Optional array documentation designation is wrong."
The JSDoc build on logging is barfing with [an error](https://circleci.com/gh/googleapis/nodejs-logging/205).

While attempting to fix said error, I gallantly (cue awesome "the cavalry is coming" music here) tracked down the problem to [this spot](https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSApiMethodParamTransformer.java#L82-L87).

[2017-10-19 04:32] lukesneeringer commented on #1638
/cc @jmdobry or @ace-n to confirm that "dropping the trailing `=`" is the correct remedy. (I am not 100% sure.)

[2017-10-19 06:12] jmdobry commented on #1638
We should just not use `=` to denote optional arguments at all, instead we should wrap the full argument name in square brackets, e.g.

[code]
becomes
[code]

[2017-10-19 06:48] saicheems opened #1639 "all: drop path templates, replace with string concatenation"
**Note**: don't escape input strings.

Want to go from
[code]

to
[code]

- [x] C#
- [x] Go
- [ ] Java
- [x] Node.js
- [ ] PHP
- [x] Python
- [ ] Ruby

[2017-10-19 07:55] jskeet commented on #1639
C# has never done this. From [PathTemplate.cs](https://github.com/googleapis/gax-dotnet/blob/master/src/Google.Api.Gax/PathTemplate.cs)

URL encoding is required.

(We do validation and some other work, so the PathTemplate class still has value, but we don't do URL escaping.)

[2017-10-19 11:47] lukesneeringer commented on #1639
For languages not exposing this on a GA surface yet, should we just remove them entirely? At least in dynamic languages, they seem less intuitive to me than "bring your own string substitution".

I assume they are more valuable in C# and Java where more full-featured IDEs cause them to provide more value.

In Python and Node, I feel like they just clutter the method list in the docs and make it ha

[2017-10-19 11:49] lukesneeringer commented on #1639
Counter-argument: Removing them arguably causes unnecessary customer churn.

[2017-10-19 12:31] jskeet commented on #1639
For C# they very significantly improve usability, so I don't think we need to remove them there. I would imagine Java is the same.

[2017-10-19 13:18] lukesneeringer commented on #1639
@jskeet Curious question: Is the usability improvement more or less tethered to "the IDE does nice auto-completion-y things for you?" Or does it offer benefits even outside of that?

My intuition above was, "I bet they are valuable in C# and Java because the ecosystem derives more benefit from them there." But if you think they offer a separate usability improvement that I am missing, I would want

[2017-10-19 13:26] lukesneeringer commented on #1639
Regardless on where we end up on my grenade toss, [Python's new implementation does no url-escaping](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/api_core/google/api_core/path_template.py).

[2017-10-19 13:32] lukesneeringer commented on #1639
As best as I can tell, [Node does not either](https://github.com/googleapis/gax-nodejs/blob/master/lib/path_template.js), although [this thing](https://github.com/googleapis/gax-nodejs/blob/master/lib/path_template_parser.js) defies comprehension at 6:30 AM, so it is a bit hard to be sure.

If there is any URL encoding in Node, it is not using `encodeURI` or `encodeURIComponent`, which is the buil

[2017-10-19 13:42] jskeet commented on #1639
@lukesneeringer: Not so much auto-completion as "It's absolutely clear what value I should pass in - and the compiler will even prevent me from passing in the wrong kind of resource name."

We saw in UX testing that developers would get stuck not knowing what string to pass into methods (even if they'd previously deleted sample code that did that) whereas when they have something like `TopicName`,

[2017-10-19 13:43] garrettjonesgoogle commented on #1639
It should be noted that with generated classes like `TopicName`, the user still doesn't interact with `PathTemplate`, which is just an implementation detail at that point.

[2017-10-19 14:26] lukesneeringer commented on #1639
@jskeet Thanks, that sounds convincing.

[2017-10-19 22:37] geigerj opened #1643 "Ruby: MockCredentialsClass cannot be extended across credentials superclasses"
### What

Ruby GAPIC generates multiple service credentials classes when there multiple service modules are defined. Each Ruby unit test file defines a `MockCredentialsClass` that inherits from the service credentials class. This leads to failure when the Ruby attempts to have the mock credentials class extend multiple service credentials superclasses.

### Error message

With the bigtable admin u

[2017-10-20 17:28] #1638 closed

[2017-10-20 17:34] #1643 closed

[2017-10-20 22:12] landrito opened #1648 "Fail early if there is a missing method config for a method."
## What

We encountered an issue where nodejs would fail if there was not a method config for a method whereas ruby and python would generate a client with the method in question missing. This should be changed to fail with a list of methods without config if any are missing.

cc @lukesneeringer @geigerj

[2017-10-20 22:20] garrettjonesgoogle commented on #1648
I'm wondering if we should stop enforcing this in toolkit and depend on enforcement upstream. In toolkit, we could just skip generation of methods that aren't configured.

[2017-10-20 22:32] geigerj commented on #1648
@garrettjonesgoogle I think this eventually belongs in the config advisor that @eoogbe is building (as part of toolkit). I am hoping the will config advisor will consolidate most of this validation logic that's currently floating around in the transformers and in the  `com.google.api.codegen.config.*Config` classes.

[2017-10-20 22:35] garrettjonesgoogle commented on #1648
Another option is allowing for two modes, strict (fail when a method isn't configured) and non-strict (allow unconfigured methods). A non-strict mode would be very nice for doing development work.

[2017-10-21 00:10] jmdobry opened #1649 "Node.js: example captions need to be one line or they break"
For example:

[code]
needs to be changed to
[code]

[2017-10-21 00:11] jmdobry commented on #1649
cc/ @lukesneeringer

[2017-10-23 04:49] pongad commented on #1357
Done for Go by gRPC layer.

[2017-10-23 16:37] geigerj opened #1652 "Ruby: exclude all GAPIC files from rubocop until style issues are fixed"
### What

GAPIC files have rubocop violations (tracked in #1120 and #1536). Until these are fixed, GAPIC files should be excluded from the rubocop check so as not to cause CI failures.

[2017-10-23 21:08] eoogbe commented on #1648
The plan for the config adviser is to eventually replace all the validation logic from the `com.google.api.codegen.config.*Config` classes. It will check that all the IDL methods are defined and that there a no duplicate or extra methods.

[2017-10-24 17:10] #1649 closed

[2017-10-25 23:02] eoogbe commented on #1033
This appears to be resolved

[2017-10-25 23:02] #1033 closed

[2017-10-26 00:27] #1568 closed

[2017-10-26 20:21] geigerj commented on #1591
Dupe of #1559

[2017-10-26 20:21] #1591 closed

[2017-10-26 23:07] #1559 closed

[2017-10-27 22:16] geigerj commented on #1323
Obsolete.

[2017-10-27 22:16] #1323 closed

[2017-10-27 22:18] geigerj commented on #1652
Closed by #1660

[2017-10-27 22:18] #1652 closed

[2017-10-30 21:08] saicheems commented on #1639
Looks like the decision is to do nothing more, for now.

[2017-10-30 21:08] #1639 closed

[2017-10-30 21:10] #995 closed

[2017-10-30 21:11] #655 closed

[2017-11-01 16:31] jmdobry opened #1666 "Node.js - Enums are not properly documented in generated proto JSDoc files."
See googleapis/nodejs-firestore#50

[2017-11-01 23:22] geigerj commented on #1273
I am going to close this issue, since Hash coercion has already been implemented.

[2017-11-01 23:22] #1273 closed

[2017-11-01 23:41] dhermes opened #1667 "Python: Generated version dependencies should have whitespace between operators"
[code]

This is **very** low-priority.

[2017-11-02 00:48] eoogbe commented on #1407
@landrito Are you still working on this? I can take over if not.

[2017-11-02 02:46] eoogbe commented on #1287
- Return type: The page is showing `<h4>Returns</h4>` and combining the type with the next paragraph. The jsondoc is separating the description from the type, so the problem must be in the angular app.
- `+` for code: A transformer is changing all the backquotes to pluses. Just needs to be removed
- markdown link: errorreporting hasn't been regenerated since a fix to the links. It's a multiline li

[2017-11-02 04:29] eoogbe commented on #603
Should mixin interfaces be defined in the gapic config?

[2017-11-05 17:05] garrettjonesgoogle opened #1668 "Package metadatagen: accept GAPIC yaml as input"
Once this is done, use the GAPIC yaml data for Java to determine if resource names are used, and if not, trim dependencies.

[2017-11-06 23:37] michaelbausor opened #1673 "PHP smoketest error with environment variable not set"
When the PROJECT_ID environment variable is not set, we should give a user-friendly error when running smoke tests. cc @saicheems

The error I got was:

[code]

[2017-11-08 00:22] #1673 closed

[2017-11-08 15:23] lukesneeringer opened #1676 "Packaging: Auto-generated modules are missing a `setup.cfg`"
_From @dhermes on November 1, 2017 18:50_

Was [#4307](https://github.com/GoogleCloudPlatform/issues/4307).

_Copied from original issue: GoogleCloudPlatform/google-cloud-python#4314_

[2017-11-08 18:24] dhermes commented on #1676
I'd expect the content to simply be:

[code]

This way wheels will be universal (and not just for the given Python version that compiled them).

[2017-11-09 20:21] pongad opened #1677 "go: make interface renaming work"

[2017-11-09 21:11] geigerj opened #1678 "Ruby: Investigate suspected doc regression"
### What

Investigate whether a code generator bug is suppressing documentation output for certain types.

### Context

A GAPIC refresh caused documentation for certain enum types to disappear. See https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1804#discussion_r150072904, https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1727#discussion_r139265901.

[2017-11-09 21:48] eoogbe opened #1679 "Merge service config deadline into gapic config timeout"

[2017-11-09 23:12] pongad commented on #623
So far this is not needed. I'll close this out for now and reopen if it comes up again.

[2017-11-09 23:12] #623 closed

[2017-11-09 23:12] pongad commented on #358
Most repos added this to README, which is probably good enough. Will close this for now and reopen if it comes back up.

[2017-11-09 23:12] #358 closed

[2017-11-13 06:09] pongad opened #1685 "java: consider rewording client doc"
Feedback from @domesticmouse on a generated client for currently-Google-internal API. Reproduced here with permission.

Both points concern text generated from [java/main.snip](https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/java/main.snip)

Please replace "backing service" with "API". Everything behind the exposed API is invisible to the client library

[2017-11-13 17:26] geigerj opened #1686 "Ruby: Modify LRO client creation to follow new service path pattern"
### What

Ruby GAPICs now support modifying the service path by subclassing and overriding the path attribute on the service object. Passing a service path directly to the service object constructor is deprecated. We should follow our own recommended pattern in GAPICs that instantiate LRO clients; currently, we pass the service path to the constructor, which is not recommended.

### Context
https:

[2017-11-13 23:44] geigerj opened #1688 "Ruby: Rake `acceptance` task should invoke `acceptance:run`"
### What

Currently toolkit generates an unused `acceptance:run` task. This should be invoked when calling `acceptance`, similarly to how the manually written client libraries in google-cloud-ruby do.

[2017-11-14 03:12] garrettjonesgoogle commented on #1685
Maybe this instead:

"This class issues calls to the API methods of the underlying API."

[2017-11-14 21:48] geigerj opened #1689 "Ruby: Use service-level comments in doc ToC"
### What

The Ruby documentation ToC uses the API description as the summary of each service object. This one-line description confusingly ends up repeated if there are multiple services in a single API. We should instead use service-level comments from the proto if available. (Potentially we should truncate such comments to the first line to prevent too much verbosity.)

### Context
https://githu

[2017-11-15 19:18] geigerj opened #1690 "GAPIC config generation: domain_layer_location"
### What

NodeJS sets `domain_layer_location` to `google-cloud` for all Cloud APIs. We should probably add this to the GAPIC config generator if it already favors Cloud default values in the package naming. (If the config generator does not default to Cloud values, please close this issue and we can continue configuring this manually.)

cc: @landrito

[2017-11-15 19:19] landrito opened #1691 "NodeJS: Have config generator generate domain layer location for google cloud."
### What

We can semi reliably infer if an api is a google cloud api by checking if the proto package name of the service begins with `google.cloud`. When we come across this situation, the nodejs package name should have the domain layer location set to be `google-cloud`.

[2017-11-15 19:20] landrito commented on #1691
@alexander-fenster This might be a good issue for you to take on if you want to get your feet wet in toolkit. Feel free to reassign to yourself! 😄

[2017-11-15 19:22] geigerj commented on #1690
Duplicate of #1691

[2017-11-15 19:22] #1690 closed

[2017-11-16 20:04] geigerj opened #1696 "Ruby: Add unit test coverage for credentials.rb"
### What

The new `credentials.rb` file does not have autogenerated test coverage. We should add coverage, will would be able to catch issues like https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1837. This could either involve modifying the existing autogenerated unit tests to mock at the `googleauth` layer rather than at the `Credentials` class layer, or it could involve generatin

[2017-11-20 23:04] geigerj opened #1701 "Ruby: Load x-goog-api-client gapic version from gemspec"
### What

The GAPIC version sent in the x-goog-api-client header should be loaded from the gemspec, rather than hardcoded into the generated service client file. One way to do this might be to do:

[code]

### Why

Hardcoding does not work if the gemspec is maintained manually, as happens in practice for google-cloud-ruby.

[2017-11-21 22:34] geigerj opened #1704 "Ruby: Smoke tests should use standard google cloud env variables for cloud APIs"
### What

Currently the Ruby rake smoke test task attempts to use the environment variable `SMOKE_TEST_PROJECT` to determine the project to use when running smoke tests. For non-cloud APIs, that's a fine default, but if we know it's a cloud API, we should use `GCLOUD_TEST_PROJECT || {API}_TEST_PROJECT`.

### Why

Consistency with existing APIs in google-cloud-ruby.

[2017-11-21 23:29] michaelbausor opened #1706 "PHP: sample_code_init_fields not used for optional arguments"
See for example in [this PR](https://github.com/googleapis/api-client-staging/pull/467/files#diff-02204bf51b0fe557a422ca5967d33136R488), the parameter was made optional, and the init fields are excluded from the sample.

cc @ethanbao If other languages are found to be affected, we can expand the scope of this issue

[2017-11-21 23:43] #1688 closed

[2017-11-22 00:18] geigerj opened #1707 "Ruby: Move smoke tests out of tests/ directory"
### What

Move Ruby smoke tests from tests/ directory to acceptance/smoketest/ directory.

### Why

Consistency with google-cloud-ruby. This will also be safer, reducing the risk of over-the-network calls being made when users are trying to run unit tests in the tests/ directory against a mock service.

[2017-11-22 00:26] landrito opened #1708 "Python: Fix python namespace init files."
### What
I had originally thought that the logic for python namespace files had to do with the position the of the namespace in relation to the full package path.

### Short term fix
Change the logic to simply make `google` and `google.cloud` namespace packages.

### Long term fix
Design a way for the user to specify which packages are namespace packages.

[2017-11-22 22:54] geigerj commented on #1704
`{API}_TEST_PROJECT` is now accepted. Reclassify as enhancement to support `GCLOUD_TEST_PROJECT`.

[2017-11-23 06:21] pongad opened #1711 "SSL version of sample app build.gradle is too old"
Currently the SSL is hardcoded to `io.netty:netty-tcnative-boringssl-static:1.1.33.Fork26`.
This doesn't work with the latest gax and throws exception at runtime.

[2017-11-27 18:17] #1707 closed

[2017-11-27 23:26] ethanbao opened #1715 "Setup hook to trigger artman auto build"
Whenever a toolkit commit gets submitted, make a change to artman Dockerfile (https://github.com/googleapis/artman/blob/master/Dockerfile#L176). When that change gets merged to artman/master, a new artman Docker image will be automatically built and published if all tests pass.

[2017-11-28 22:08] landrito commented on #1121
@geigerj I think your work to put the smoke tests in the acceptance test scope makes this obsolete. Closing. Reopen if I am incorrect.

[2017-11-28 22:08] #1121 closed

[2017-11-28 22:19] landrito commented on #1060
Closing since due to how old this bug is. I assume that if it was a bug that we would have raised an exception here over the course of generating new apis.

[2017-11-28 22:19] #1060 closed

[2017-11-28 22:21] theacodes opened #1718 "Python clients should have `from_service_account_file` helper constructors."
The hand-written libraries all have `from_service_account_file` helper constructors, the auto-generated ones should likewise have the same.

It should be implemented as:

[code]

[2017-11-28 22:21] landrito commented on #1120
Hey @geigerj, I think you did some work similar to this recently. Is this still relevant? If so, what is left to be done?

[2017-11-28 22:28] geigerj commented on #1120
Yup, still relevant. Unfortunately what I did recently was in the opposite direction; I excluded even more files from rubocop checking.

[2017-11-28 22:28] geigerj commented on #1120
Reducing to P2, as this does not qualify as "release blocking".

[2017-11-28 22:30] lukesneeringer commented on #1718
Help me understand why this should be auto-generated rather than in `google.api_core`?

[2017-11-28 22:30] lukesneeringer commented on #1718
Nevermind, the return of the actual instantiated client.

[2017-11-28 22:32] jonparrott commented on #1718
I'm also intending to completely remove the `Client` base class.

[2017-11-29 00:06] eoogbe commented on #253
This appears to be fixed

[2017-11-29 00:06] #253 closed

[2017-11-29 00:13] eoogbe commented on #274
Is this still relevant?

[2017-11-29 00:27] eoogbe commented on #352
This appears to be fixed with the path mappers

[2017-11-29 00:27] #352 closed

[2017-11-29 00:30] eoogbe commented on #394
@lukesneeringer Is this still relevant?

[2017-11-29 00:33] eoogbe commented on #401
@lukesneeringer @geigerj Is this still relevant?

[2017-11-29 00:34] eoogbe commented on #496
@geigerj @lukesneeringer Is this still relevant?

[2017-11-29 00:35] #1679 closed

[2017-11-29 01:11] eoogbe commented on #736
@jskeet @vam-google @lukesneeringer @geigerj Is this still relevant to your languages?

[2017-11-29 01:14] eoogbe commented on #881
@lukesneeringer Is this still relevant?

[2017-11-29 01:19] eoogbe commented on #972
@jba @alexander-fenster Is this still relevant to your languages? What's the priority?

[2017-11-29 01:22] eoogbe commented on #977
@geigerj @lukesneeringer @alexander-fenster Is this still relevant for your languages? Can you add a priority?

[2017-11-29 01:26] eoogbe commented on #996
@garrettjonesgoogle Had to unassign shinfan as he has left the team. Can you assign this issue again?

[2017-11-29 01:28] eoogbe commented on #1034
@saicheems I'm not following the importance of this. If the baseline tests are dynamic, are they still baseline? Maybe we should replace tests that depend on versions with unit tests.

[2017-11-29 01:31] eoogbe commented on #1058
@jskeet @jba @garrettjonesgoogle @alexander-fenster @vam-google @lukesneeringer @geigerj Is this still relevant to your language? What is the priority?

[2017-11-29 01:34] jonparrott commented on #1058
This is less severe in Python because we do some cleverness in the auth library to not require the audience up-front.

[2017-11-29 01:34] eoogbe commented on #1061
@alexander-fenster @geigerj @michaelbausor Is this still relevant to your languages?

[2017-11-29 01:37] eoogbe commented on #1058
This doesn't seem so hard to add, but I don't want to get into a situation where I send out a bunch of PRs and then people tell me why they aren't necessary. Want to make sure this feature is still relevant before I do anything.

[2017-11-29 01:44] eoogbe commented on #1075
@alexander-fenster Can you add a priority to this?

[2017-11-29 01:47] eoogbe commented on #1097
@lukesneeringer Is this still relevant?

[2017-11-29 01:50] eoogbe commented on #1143
This appears to be fixed

[2017-11-29 01:50] #1143 closed

[2017-11-29 01:52] eoogbe commented on #1165
@jskeet Can you add a priority to this?

[2017-11-29 01:54] eoogbe commented on #1223
@michaelbausor Can you add a priority to this?

[2017-11-29 01:56] eoogbe commented on #1286
I believe this is no longer relevant due to the config adviser plans.

[2017-11-29 01:56] #1286 closed

[2017-11-29 02:04] eoogbe commented on #1321
@ethanbao There's no indication in the IDL what the return type or metadata is. Is this even possible?

[2017-11-29 02:05] eoogbe commented on #1328
@geigerj Is this still relevant?

[2017-11-29 02:06] eoogbe commented on #1335
Fixed #1545

[2017-11-29 02:06] #1335 closed

[2017-11-29 02:11] eoogbe commented on #1414
@alexander-fenster Can you add a priority to this?

[2017-11-29 02:14] eoogbe commented on #1418
@vam-google Is this still relevant? What is the priority?

[2017-11-29 02:16] eoogbe commented on #1424
Fixed

[2017-11-29 02:16] #1424 closed

[2017-11-29 02:18] eoogbe commented on #1426
This appears to be done

[2017-11-29 02:18] #1426 closed

[2017-11-29 02:21] eoogbe commented on #1472
@lukesneeringer @alexander-fenster Is this still relevant?

[2017-11-29 02:25] eoogbe commented on #1569
@geigerj Can you add a priority?

[2017-11-29 02:26] eoogbe commented on #1585
@landrito Can you add a priority?

[2017-11-29 02:27] eoogbe commented on #1587
@lukesneeringer Can you add a priority?

[2017-11-29 02:29] eoogbe commented on #1597
@lukesneeringer @landrito Can you add a priority?

[2017-11-29 02:31] eoogbe commented on #1615
Duplicate of #1075

[2017-11-29 02:31] #1615 closed

[2017-11-29 02:32] eoogbe commented on #1616
@lukesneeringer @landrito Can you add a priority?

[2017-11-29 02:35] eoogbe commented on #1666
@alexander-fenster What is the priority?

[2017-11-29 02:38] eoogbe commented on #1676
This appears to be fixed

[2017-11-29 02:38] #1676 closed

[2017-11-29 02:39] eoogbe commented on #1668
@garrettjonesgoogle Can you add a priority?

[2017-11-29 02:40] eoogbe commented on #1691
Duplicate of #972

[2017-11-29 02:40] #1691 closed

[2017-11-29 02:41] eoogbe commented on #1677
@pongad Can you add a priority?

[2017-11-29 02:42] eoogbe commented on #1685
"This class issues calls to the methods of the underlying API." Probably don't want to repeat API

[2017-11-29 02:43] eoogbe commented on #1685
@pongad Can you add a priority?

[2017-11-29 02:48] eoogbe commented on #1706
@michaelbausor Can you add a priority?

[2017-11-29 02:50] eoogbe commented on #1708
Related #881

[2017-11-29 02:52] eoogbe commented on #1715
@garrettjonesgoogle Can you add a priority?

[2017-11-29 02:53] eoogbe commented on #1718
@lukesneeringer Can you add a priority?

[2017-11-29 05:52] saicheems commented on #1034
Yeah I'm not sure it makes sense to support dynamic values in baselines. Unit makes more sense.

[2017-11-29 07:16] jskeet commented on #736
I don't know the context here. @chrisdunelm might.

[2017-11-29 07:18] jskeet commented on #1058
There is an ongoing internal discussion about using JWTs with gRPC-based Google APIs. I would suggest holding on until that's resolved. (I don't know much about JWT audiences myself. I know that for some APIs at least, you need to add scopes to the credentials in order to get them to work, but that's all I know...)

[2017-11-29 07:18] jskeet commented on #1165
Set as P2, but fairly arbitrarily. It will always be "nice to have" but there are *lots* of these. Probably a good candidate for a fixit at some point.

[2017-11-29 07:41] #1034 closed

[2017-11-29 08:18] chrisdunelm commented on #736
I also don't know the context. Where is `getStringFormatExample` defined? I expected to see it in [SurfaceNamer.java](https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/transformer/SurfaceNamer.java), but it doesn't appear to be there.

[2017-11-29 14:56] geigerj commented on #274
@eoogbe I think so -- we should still be documenting proto3 `oneof`s (clearly, although I don't think it's accurate to say we've been treating this missing additional documentation as release-blocking.

[2017-11-29 14:58] geigerj commented on #401
I'd assume so, but @lukesneeringer to confirm.

[2017-11-29 15:00] geigerj commented on #496
The sample generator handles subfields now ([test example](https://github.com/googleapis/toolkit/blob/6d55c9ce9cb1cc636797da9b8253283fb9c911fb/src/test/java/com/google/api/codegen/testdata/py/py_library.baseline#L1934)), so I don't think so.

[2017-11-29 15:00] #496 closed

[2017-11-29 15:07] geigerj commented on #977
These seem like valuable but non-urgent doc improvements. Setting as P2.

[2017-11-29 15:18] geigerj commented on #1569
This is obsolete. Both `Google::Cloud::Credentials` and `Google::Gax::Credentials` have been deprecated in favor of `Google::Auth::Credentials`, which is now supported.

[2017-11-29 15:18] #1569 closed

[2017-11-29 15:20] geigerj commented on #1328
Yes, as far as I know no work was ever done here, and we worked around the Video Intelligence bug by increasing the timeouts for `GetOperation` across all APIs.

[2017-11-29 15:28] geigerj commented on #736
I am also unsure what `getStringFormatExample` refers to.

[2017-11-29 16:59] geigerj commented on #1061
I've just confirmed Ruby is in the same situation as Python was before the fix. That is, the proto runtime allows attempting to set multiple subfields of a oneof, and ignores all but the last. As such, I think Ruby should do the same thing as Python for validation.

[code]

[2017-11-29 17:38] eoogbe commented on #736
I'm going to assume this is obsolete if it can't be found in the codebase

[2017-11-29 17:38] #736 closed

[2017-11-29 18:01] lukesneeringer commented on #1587
I thought we did not put priorities on enhancements, but yes. :-)

[2017-11-29 18:17] landrito commented on #972
This is still relevant in NodeJS.

[2017-11-29 18:32] landrito commented on #1075
Fixed with https://github.com/googleapis/toolkit/pull/1466/files

[2017-11-29 18:32] #1075 closed

[2017-11-29 19:11] #1667 closed

[2017-11-29 19:13] dhermes commented on #1667
:tada:

[2017-11-29 19:15] alexander-fenster commented on #1075
Thanks!

On Wed, Nov 29, 2017 at 10:32 AM, Ernest Landrito <notifications@github.com>
wrote:

[2017-11-29 19:53] #1407 closed

[2017-11-29 22:09] #615 closed

[2017-11-30 19:31] #1701 closed

[2017-12-01 20:44] kmjung opened #1730 "Artman code generation: emitted test code doesn't build"
(copied from https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2673)

I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: googleapis/artman@d065fbb.

The emitted production code builds and runs, but the test code doesn't compile as it's emitted. Two fixes are required to make it build:

[2017-12-01 20:45] kmjung opened #1731 "Artman code generation: wrong version of netty-tcnative"
(copied from https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2674)

I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: googleapis/artman@d065fbb.

The emitted code builds, but I can't use it to talk to my service since the Gradle dependencies specify the wrong version of the netty-t

[2017-12-01 20:46] kmjung opened #1732 "Artman code generation: can't configure channel size"
(copied from https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2675)

I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: googleapis/artman@d065fbb

My service interface requires that I increase the inbound message size up to 10 mb. However, it doesn't appear that this option is suppor

[2017-12-05 18:33] ethanbao opened #1733 "GAPIC advisor should not include "cloud" in go package"
The go package name should for example be "cloud.google.com/go/pubsub/apiv1" instead of "cloud.google.com/go/cloud/pubsub/apiv1"

[2017-12-05 20:13] michaelbausor opened #1734 "Unrecognized resource name type error"
I think that https://github.com/googleapis/toolkit/pull/1692 has introduced a bug in toolkit. When I try to generate pubsub locally with toolkit checked out to (dbbbaa4ce659310d07393e3881c3a259473db0ad), I get the error pasted below.

When I check out the previous commit (bde101fd1927c7a6bc7fb66f28a885253c31d906) I get no errors and generate successfully. This is using local generation with artman

[2017-12-05 23:37] pongad commented on #1677
Added priority and assigned Andrea instead.

[2017-12-06 17:45] lukesneeringer commented on #1708
Also: `namespace_packages` in `setup.py` needs to match.

[2017-12-06 19:36] michaelbausor commented on #1061
PHP is similar to Ruby, and should be fixed in the same way.

[2017-12-06 20:01] michaelbausor commented on #1488
Fixed in https://github.com/googleapis/toolkit/pull/1552

[2017-12-06 20:01] #1488 closed

[2017-12-06 20:37] geigerj opened #1736 "Latest release candidate of artman breaks toolkit GAPIC config parsing"
I've noticed the latest release candidate of artman seems to ignore the configured package in the GAPIC config. For example, Ruby's LRO package is incorrectly parsed as `Google::Cloud::Longrunning` instead of `Google::Longrunning`; VideoIntelligence as `Google::Cloud::Videointelligence` instead of `Google::Cloud::VideoIntelligence`. I suspect the config advisor is passing the GAPIC generator defau

[2017-12-06 20:37] geigerj commented on #1736
I am going to see if I can workaround by selectively reverting ConfigAdvisor changes to `CodeGeneratorApi`.

[2017-12-06 21:18] geigerj commented on #1736
Selectively reverted ConfigAdvisor changes to `CodeGeneratorApi` in #1737. Downgrade to P2 and reassign for investigation of root cause.

[2017-12-06 22:17] michaelbausor commented on #1734
I believe this is fixed by https://github.com/googleapis/toolkit/pull/1737. Closing this now, ongoing tracking in https://github.com/googleapis/toolkit/issues/1736

[2017-12-06 22:17] #1734 closed

[2017-12-13 21:12] #1708 closed

[2017-12-13 23:40] pongad commented on #1149
@neozwu I think you're working on this? I don't think this is P1 anymore though.

[2017-12-14 22:35] michaelbausor commented on #1173
1. Will be fixed in https://github.com/googleapis/toolkit/pull/1747
2. This is fixed in the composer.json files, which now require proto-client-php and gax. The requirement for the grpc extension will be fixed by the http/json transport

[2017-12-14 22:47] #1173 closed

[2017-12-15 19:14] geigerj opened #1749 "Use version constant checked in to version control instead of dynamically loading gem metadata"
### What

When setting version in the GCCL headers, instead of

[code]

use

[code]

This, of course, requires generating a `Google::{API}::VERSION`.

### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1881#discussion_r157274655

[2017-12-15 19:15] geigerj opened #1750 "Ruby: Improve Rakefile smoke_test task"
### What

The Rake task `ci:smoke_test` is unused and should be removed from the Rakefile template.

[2017-12-15 19:18] geigerj opened #1751 "Give SERVICE_ADDRESS scope explicitly when subclassing Operations Client"
### What

For readability, instead of

[code]

do

[code]

It is difficult to tell what the currently generated code does.

### Context

https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1881#discussion_r157271830

[2017-12-15 19:57] geigerj opened #1752 "Do not autogenerate some dependencies in gemspec"
### What

We can allow dependencies on common protos and googleauth to be pulled in transitively from GAX instead of explicitly setting them in the gemspec. This reduces the risk of version conflicts.

### Context

https://github.com/geigerj/google-cloud-ruby/commit/8682c7d8f0849e347ece239f377a51a80765b7f5#diff-0ee68bc1b35563909430d4b42adbcce1

[2017-12-19 23:23] geigerj opened #1755 "Add configuration for whitelist-only methods"
### Context

Bigtable added EAP methods to their public protos. See: https://github.com/googleapis/googleapis/blob/546d3afd75187e65229a2670eb440e84a05f5d9d/google/bigtable/v2/bigtable.proto#L86

### What

APIs may have features or methods in their IDL that are only accessible to certain, whitelisted users. In some cases, it may be desirable for client libraries to annotate such methods, or guard t

[2017-12-20 22:05] stephenplusplus opened #1756 "Restore `types` property with raw proto contents"
*This issue inspired by https://github.com/googleapis/nodejs-vision/issues/17*

As explained in the issue above, in pre-GAPIC Node.js API client libraries, we had a `types` property exposed directly from the module:

[code]

Expand to see the contents of `types`:

<details>
<pre>
{ Vertex:
   { [Function: Message]
     encode: [Function],
     decode: [Function],
     decodeDelimited: [Function],

[2017-12-20 22:06] stephenplusplus commented on #1756
cc @lukesneeringer (original implementer, I believe) && @alexander-fenster

[2017-12-20 23:32] geigerj opened #1758 "Ruby: Smoke test usage is broken"
### What

Fix the usage message in Ruby smoke tests to show the command `rake smoke_test`.

### Why

Usage message for the smoke test prints out the name of the current process rather than the actual usage:

[code]

cc: @landrito

[2017-12-20 23:34] geigerj opened #1759 "Ruby: Smoke tests check the wrong project"
### What

Smoke tests should check the `{API}_TEST_PROJECT` environment variable to determine the project-id parameter sent in requests.

### Why

Smoke tests currently derive the `project-id` to send in the request from the environment variable `SMOKE_TEST_PROJECT`, but the Rake `smoke_test` task verifies that `{API}_TEST_PROJECT` is set.

cc: @landrito

[2017-12-21 00:00] geigerj opened #1760 "Ruby: Toolkit snake cases gRPC stub methods incorrectly"
### What

The gRPC stub translates CamelCased proto method names differently from toolkit when the method contains multiple capitalized letters in a row, resulting in a runtime error when the Ruby service object is initialized.

### Context

Container contains the method [`StartIPRotation`](
https://github.com/googleapis/googleapis/blob/e94093478ca3860066b254663abf0704de484cbd/google/container/v1/

[2017-12-21 08:40] landrito commented on #1760
Did some digging. It seems the exact logic that controls the camel to snake casing is here: https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/generic/service.rb#L33

[2017-12-21 16:46] geigerj commented on #1760
@landrito Wow, great find! Thanks for digging into this!

[2017-12-21 17:20] #1760 closed

[2017-12-21 17:24] #1759 closed

[2017-12-21 21:25] geigerj opened #1763 "Ruby: Unit tests refer to nonexistent proto types"
### What

Ruby unit tests get confused on map types and refer to non-existent types. For example, the autogenerated unit tests for google-cloud-container has the line

[code]

where Google::Container::V1::SetLabelsRequest::ResourceLabelsEntry doesn't exist. In this case, this assertion should be skipped altogether, as map types are proto primitives and should not be converted `to_proto`.

cc: @lan

[2017-12-21 23:22] #1108 closed

[2017-12-21 23:34] eoogbe commented on #1736
The reverted generation of `ConfigProto` from `ConfigNode` didn't work properly when used with multiple config files. It merged each file's `ConfigNode` with the IDL independently before merging the generated `ConfigProto`s with each other. This ordering doesn't work when the main config file gets read before a simple config file with lots of defaults overrides it.

The fix is to merge the `Config

[2017-12-22 01:17] garrettjonesgoogle opened #1766 "Java: Support LRO methods in smoke tests"
Video Intelligence v1 has a smoke test configured, but it doesn't compile in Java because it is an LRO method, which isn't supported yet for Java.

This issue currently blocks Java batch regeneration. (Workaround: remove the smoke test for Video Intelligence v1; unfortunately that affects all languages.)

[2017-12-22 01:19] garrettjonesgoogle opened #1767 "Java: don't do header assertions in tests for LRO"
These tests fail on api-client-staging.

This issue currently blocks Java batch regeneration.

[2017-12-22 01:24] garrettjonesgoogle commented on #1766
Fixing this would conflict with the changes in https://github.com/googleapis/toolkit/pull/1757, so https://github.com/googleapis/toolkit/pull/1757 needs to be submitted first.

[2017-12-22 01:29] geigerj commented on #1750
Additionally, remove the environment variable check from the `smoke_test` task. For context: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1898/files/3cbf1216016cb735f1faae789bd92813dba54db4#r158398616

[2017-12-22 16:16] lukesneeringer opened #1768 "Python: Add coverage session to nox."
* [ ] Get autogen unit test coverage to 100%
  * [ ] Add `cover` session to nox.py

[2017-12-24 22:17] geigerj commented on #1686
This was done in #1702.

[2017-12-24 22:17] #1686 closed

[2017-12-28 01:03] geigerj commented on #1678
The specific case in the context (loss of documentation for the enum `google.iam.v1.BindingDelta.Action`) appears to be caused by that type failing a reachability check in [GrpcElementDocTransformer](https://github.com/googleapis/toolkit/blob/d395fdb0fb1c557054e748dafe564a35804f18db/src/main/java/com/google/api/codegen/transformer/GrpcElementDocTransformer.java#L83). @eoogbe added this check durin

[2017-12-28 22:38] #1533 closed

[2017-12-28 22:45] michaelbausor commented on #975
PHP updated format and parse methods in this PR: https://github.com/googleapis/toolkit/pull/1485

[2017-12-29 14:50] stephenplusplus opened #1778 "Expose method to access LRO"
(Node.js)

In [this Speech issue](https://github.com/googleapis/nodejs-speech/issues/10), a user brought up a good point-- we don't expose a method to reference an existing LRO. Can we add one, so that users can provide the operation's ID, then access the methods that GAX exposes?

[2017-12-29 14:51] stephenplusplus commented on #1778
cc @alexander-fenster @landrito

[2018-01-02 16:03] garrettjonesgoogle commented on #1778
Cross-language note: Java and C# already support this - our terminology is "resume X" (where X is the operation).

[2018-01-03 01:23] #1677 closed

[2018-01-03 20:08] eoogbe commented on #1678
- NodeJS: Same as Ruby (i.e. adds documentation for unreachable enums)
- Python: Adds every unreachable enum in all the files under the model to `enums.py`

From my understanding of reachability, an unreachable type should not be publicly documented. Right now, we only enforce that for enums We need to also enforce that for messages. Because the container for a top-level enum is a file, not a mess

[2018-01-03 20:17] geigerj commented on #1678
Ack. This sounds like the right approach to me, too.

[2018-01-03 22:11] eoogbe opened #1783 "Generate resource names from proto"
In order to simplify the gapic config generation process for API producers, we should generate the resource names from proto. Discogapic already fills in the `resource_name_generation` fields, so we should match that feature when generating from proto.

[2018-01-05 21:10] michaelbausor commented on #1706
Fixed in #1775

[2018-01-05 21:10] #1706 closed

[2018-01-05 22:28] #1689 closed

[2018-01-08 17:14] lukesneeringer opened #1786 "Python: Markdown conversion issue."
There is an issue converting documentation from Markdown to ReST when the documentation is offering a literal backtick: https://github.com/GoogleCloudPlatform/google-cloud-python/commit/78dc4b0475f9dff491bd4e375a19d6b8dab02bd8

This is most likely a problem in pandoc.
Action items: prove that, then post a bug there.

[2018-01-08 17:24] jonparrott commented on #1786
See also https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4695/commits/a44f6ceff101b338ae5c3e1718b378887ec6fd12

[2018-01-08 19:10] #1767 closed

[2018-01-09 01:20] #1438 closed

[2018-01-09 17:06] #1433 closed

[2018-01-10 00:34] pongad opened #1794 "java: add @Generated to generated package-info files"
It helps automated tools, like ones in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2763.

The annotation can be added to the `package` statement per [spec](https://docs.oracle.com/javase/specs/jls/se7/html/jls-18.html).

[2018-01-11 01:55] geigerj opened #1796 "Ruby: all releases are marked "alpha" regardless of configuration"
### What

Toolkit currently seems to be ignoring the release_level configuration for Ruby and marking all releases as "alpha". Investigate and correct if needed.

### Repro

Generate `google-cloud-container` (currently configured at beta release level). The output contains several instances of "alpha".

[2018-01-11 19:20] #1763 closed

[2018-01-11 19:26] #1758 closed

[2018-01-11 21:06] #1752 closed

[2018-01-11 21:23] #1751 closed

[2018-01-12 00:45] #1796 closed

[2018-01-12 18:39] geigerj opened #1800 "Ruby: exclude smoke test from rubocop"
### What

Exclude Ruby smoke tests from linting until we can do a review of the Ruby GAPIC surface (including tests) for style conformance. Otherwise, the linting stage of CI will fail.

### Repro

Generate google-cloud-container.

[code]

[2018-01-12 19:37] garrettjonesgoogle opened #1802 "Support test subsetting"
Motivating case: in https://github.com/googleapis/toolkit/pull/1799 , smoke tests for Java had to be fixed because they were broken in #1757 . There are no baseline tests for anything but a simple-call smoke test, because only one smoke test can be defined per API, and adding a new API to test something brings in a crap-ton of baggage.

Thus, I propose that we support "test subsetting": this would

[2018-01-12 19:41] #1766 closed

[2018-01-12 23:33] garrettjonesgoogle opened #1804 "Discogapic: support setX(String) / (String)getX methods when X is a resource name type"

[2018-01-12 23:36] garrettjonesgoogle commented on #1804
Note: after https://github.com/googleapis/toolkit/pull/1803 is submitted, discogapic samples will be broken until this change is made.

[2018-01-12 23:42] ejona86 opened #1805 "java: Generate lite protos and lite-enabled grpc"
com.google.api.grpc has artifacts for full protobuf and grpc, but not for protobuf lite. This means there is not a canonical library to use on Android, which means libraries can't use any of the services (otherwise it'd risk duplicated classes in the class path).

Note that this will require at least a little care because lite protobuf generated code will conflict with full protobuf generated code

[2018-01-12 23:42] garrettjonesgoogle opened #1806 "Java: Support repeated oneofs"
Currently code generation works for repeated fields or non-repeated oneofs, but not repeated oneofs.

[2018-01-12 23:48] garrettjonesgoogle commented on #1805
Should we do an approach like guava and add a qualifier to the version? We'd probably want '-lite' to take precedence over the non-lite version, so it would need to be alphabetically following "lite". Or we could do "-a-lite" and "-b-full".

[2018-01-15 18:02] jskeet opened #1807 "Smoke test regression in C#"
The generated smoke tests now have two issues:

- If it's a paginated call, it expects the native response type instead of `PagedEnumerable<...>`. This used to work.
- If it's a long-running operation call, it expects a response type of `Operation` rather than `Operation<...>`, and just prints that response rather than waiting for the operation to complete. This may never have worked.

[2018-01-17 00:20] geigerj opened #1809 "Method sample initialization uber-issue"
### What

Toolkit current generates sample code for each client library method, but the values of the API request are generally uninitialized. This issue tracks process in configuring the values of the API request so that the method samples can be used to make successful requests.

### Why

Uninitialized method samples may denote a valid API call if a required field is excluded.

### How

Configur

[2018-01-17 00:30] geigerj opened #1810 "Uninitialized required fields should have a comment"
### Context
https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1866#issuecomment-358061944

### What

If a field is required, it should be populated. Currently, an empty object may be created if the sample initialization values are not configured. In this case, we should generate an explanatory comment to populate the object.

For example, currently, one unconfigured Ruby NL method sa

[2018-01-17 00:31] geigerj commented on #1810
Temporarily assigning to myself to look into for Ruby, but ultimately, this could be done cross-language.

cc: @vchudnov-g

[2018-01-17 17:39] #1750 closed

[2018-01-17 23:26] geigerj opened #1811 "Documentation links to cloud.google.com are incorrect"
### What

Currently client library documentation contains autogenerated links to cloud.google.com. The URLs are derived heuristically, and are sometimes incorrect. For example, autogenerated Natural Language docs point to https://cloud.google.com/language/ instead of the expected https://cloud.google.com/natural-language/ ([context](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1

[2018-01-18 18:28] vchudnov-g commented on #1810
I agree we should do this cross-language. This has some implications for samplegen.

[2018-01-23 00:11] michaelbausor opened #1815 "Copyright year should vary by API"
Current guidance is that the copyright year in license headers should remain fixed after changes to a file. Currently, when toolkit updates the copyright year, all generated clients will be refreshed to the new year, when instead they should be pinned to the year in which they were created.

This could be solved using an optional gapic configuration that specifies the copyright year to use. This c

[2018-01-23 00:20] garrettjonesgoogle commented on #1815
This gets tricky: what about new client files added in years after the year that the client was first created?

[2018-01-23 13:18] #1807 closed

[2018-01-23 19:00] michaelbausor opened #1821 "Common protos used for testing are out of date"
Toolkit requires the common protos in order to run baseline tests. Currently toolkit can get these protos from two different places: 1) From the [google-common-protos package](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.api.grpc%22%20AND%20a%3A%22grpc-google-common-protos%22), and 2) from the googleapis submodule.

If the submodule has been initialized, those protos are used. Ot

[2018-01-23 19:01] michaelbausor commented on #1821
This PR will fix Java proto packages so that they include the proto files: https://github.com/googleapis/toolkit/pull/1820

[2018-01-23 20:47] michaelbausor opened #1823 "Remove googleapis submodule"
The googleapis submodule is not necessary, as proto files can be provided by the google-common-protos packages. Once google-common-protos [publishes a 1.1 version](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.api.grpc%22%20AND%20a%3A%22proto-google-common-protos%22), we should remove the googleapis submodule and take a hard dependency on google-common-protos.

[2018-01-23 22:53] alexander-fenster opened #1825 "no baseline test coverage for long_running methods"
In #1816 the error in the smoke test snippet in Node.js was noticed. That was in the method that's marked as long_running in gapic yaml, and we don't have any tests that covers this use case. Would be good to add one.

[2018-01-24 21:55] geigerj commented on #1810
Done for Ruby in #1813. I'll look into other languages as time permits (or open this up to language leads if not).

[2018-01-24 23:50] andreamlin commented on #1804
@garrettjonesgoogle If there's an Address message type with an address entity `projects/{project}/regions/{region}/addresses/{address}`, should the generated Address message class have getters and setters for project, region, and address; or should Address only have methods to interact with a formatted AddressName?

[2018-01-24 23:52] garrettjonesgoogle commented on #1804
It is unfortunately neither: there should jus be methods to interact with the String form of the address name. The generated sample code should direct people to the AddressName class to help them with parsing/formatting.

[2018-01-29 04:44] pongad opened #1829 "bidi method samples have unbalanced parens"
Originally reported by @lama0206 in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2764/.

[This line](https://github.com/googleapis/toolkit/blob/3bac8312816b25bca87daac46c1b9cbf33cf17ed/src/test/java/com/google/api/codegen/testdata/java/java_library.baseline#L2072) has one extra closing paren.

[2018-02-05 23:47] #1823 closed

[2018-02-07 22:12] pongad opened #1839 "document client goroutine-safety"
We should document that RPC methods are safe to use concurrently.

[2018-02-08 00:36] jbolinger commented on #1810
Python added in #1840 - not sure if I'll have time to do the others but it was a good introduction.

[2018-02-08 17:14] chrisdunelm opened #1841 "C# possible snippet generation ambiguity on List methods"
Occurs when there are two flattenings, where one has one extra string parameter.

[2018-02-16 18:17] andreamlin opened #1848 "Discogapic: support setX(String) / (String)getX methods when X is a resource name type in samplegen"
Samplegen should show users how to use the ResourceName marshalling functions.

[2018-02-22 18:29] jonparrott opened #1849 "Update Python setup.py template"
See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4909

[2018-02-22 23:40] pongad opened #1852 "java: allow UTF-8 encoding in generated code"
By default, Java seems to assume that source files are ASCII-encoded.

However, some proto files have unicode characters in comments. When protoc generates java source files from these proto files, these characters are copied verbatim into Java comments. Compiling these file fails.

Since proto files are UTF8 encoded, we should include line `compileJava.options.encoding = 'UTF-8'` in generated `bu

[2018-02-26 23:55] geigerj commented on #1800
Fixed in #1808

[2018-02-26 23:55] #1800 closed

[2018-03-02 21:34] carl-mastrangelo opened #1856 "Stale gRPC stubs used for cloud spanner"
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2989    fails due to an old version of the generated grpc code in use.  Looking on maven, it looks like 1.2.0, which is a few months old at this point.  It would be nice if this could be bumped to 1.10.0

@garrettjonesgoogle would you mind taking a look?

[2018-03-04 23:55] andreamlin commented on #1804
Done.

[2018-03-04 23:55] andreamlin commented on #1848
Done.

[2018-03-04 23:55] #1848 closed

[2018-03-04 23:56] andreamlin commented on #1804
Done when https://github.com/googleapis/gax-java/pull/481 gets merged in.

[2018-03-05 19:55] michaelbausor opened #1861 "Missing format methods for shared resource names"
In languages that generate format and parse methods for configured resource names, we currently generate such methods on a particular client class only for resource names defined under the corresponding interface in the gapic config. This means that format/parse methods are omitted for resource names that are used in the interface, but defined outside of the interface section in the gapic config.

[2018-03-06 23:07] anthmgoogle commented on #1861
Blocking a P1 issue.

[2018-03-07 01:32] #1861 closed

[2018-03-09 18:50] theacodes opened #1866 "Python enum classes should provide a way to get the string name of a value"
When working with enums, you often just get back a number from the API, for example:

[code]

Right now if you want to turn that number into a nice, human-readable string you gotta do some craziness like this:

[code]

Since we already generate friendly enum classes, can we add a method to grab the string name from the numeric value? I'm flexible on the name `name_by_value` works.

[2018-03-09 18:56] lukesneeringer commented on #1866
Honestly, I would really love to change this to use `enum` from the standard library (and `enum34` in Python 2.7), but it would be a backwards incompatible change. Also, to really do it right, it would have to be in protobuf.

Since that is out of bounds at the moment, I agree with having a method on the enum classes that does that thing. I would prefer name it whatever it is called in the `enums`

[2018-03-09 19:00] lukesneeringer commented on #1866
Bah, there is no converse of `__members__`. Something like what you proposed is fine.

[2018-03-09 19:01] jonparrott commented on #1866
Love it, let's do that.

How so?

Agree, but it's actually not that easy to emulate without just using enum. The interface is:

[code]

Or just

[code]

[2018-03-12 08:58] jskeet opened #1868 "C#: use fully-qualified names for system Task types in snippets"
Currently if an API describes a Task type, the generated snippets don't compile:

[code]

... that `Task` isn't the right Task type.

[2018-03-12 09:02] jskeet opened #1869 "C#: RPCs returning empty should have tweaked documentation"
Example: https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/77d506dadb8bceccd3757e9d82b8ed233c7aa189/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/PublisherServiceApiClient.cs#L1260

[code]

A `void` method shouldn't have `<returns>` XML doc at all, and the XML doc for the async equivalent returning just `Task` should be tweaked too.

[2018-03-12 10:07] jskeet commented on #1868
Also affects non-snippets.

[2018-03-12 17:14] #1841 closed

[2018-03-13 09:24] #1869 closed

[2018-03-13 14:43] chrisdunelm opened #1872 "C# Add unit test generation"
C# doesn't currently generate unit tests. This needs fixing.

[2018-03-16 16:26] #1872 closed

[2018-03-19 23:23] carl-mastrangelo commented on #1856
@garrettjonesgoogle friendly ping.   Any chance these could be rolled out in the near future?

[2018-03-19 23:48] #1804 closed

[2018-03-20 09:47] chrisdunelm opened #1883 "C# no unit tests generated for in some projects"

[2018-03-20 12:14] #1883 closed

[2018-03-23 21:47] beccasaurus opened #1893 "Node.js: please default request object to empty {} object to allow for empty request objects (to support optional fields)"
From: [googleapis/nodejs-text-to-speech #3](https://github.com/googleapis/nodejs-text-to-speech/issues/3) **listValues() should allow no-arguments**

### Given a Request message with only optional params

[code]

### When I make a request, I should not have to provide a request object

[code]

### Today, however, I have to...

[code]

### Or else it explodes

[code]

[2018-03-26 08:40] chrisdunelm opened #1895 "C# generate async request object methods with CancellationToken param"

[2018-03-26 11:32] #1895 closed

[2018-03-26 14:31] chrisdunelm opened #1897 "C# global resource-names"
Support hand-picked global resource-names.
E.g. `Project` is used in the same way in many APIs

* Don't generate the per-API resource-name class.
* Qualify every reference to the class (in method names and proto partial classes) via Google.Api.Gax.ResourceNames, but only if it's not in the set of GA APIs

[2018-03-28 20:32] lukesneeringer opened #1901 "Python gRPC Stubs have moved."
With the upgrade to gRPC 1.10 and protoc 3.5 (in artman 0.8.0), the Python gRPC stubs have moved.

[code]

Toolkit must generate GAPIC clients which read from the new location.

[2018-04-10 11:58] #1868 closed

[2018-04-10 17:08] michaelbausor opened #1915 "PHP: Generate per-option docs for oneof fields"
Some oneof fields don't have proto docs for each item in the oneof, e.g. https://github.com/googleapis/googleapis/blob/master/google/privacy/dlp/v2/dlp.proto#L2074

In this case, toolkit should pull the docs from the oneof type.

[2018-04-10 21:19] garrettjonesgoogle opened #1917 "Java: Support bundling of proto/grpc classes in same package"
Currently, the output build.gradle assumes that the proto/grpc classes will be in a separate package. For many APIs, it may be simpler to just bundle it all together; we should add an option to make this possible.

[2018-04-10 21:35] landrito commented on #1393
Closing, this has been refactored out.

[2018-04-10 21:35] #1393 closed

[2018-04-10 22:08] garrettjonesgoogle opened #1918 "Java: Don't put gradle files in parent directory of output"
Java generation will dump gradle files into the parent directory of the output. This is somewhat rude, and could even be dangerous if it overwrites user files that they don't want overwritten.

[2018-04-10 23:43] #1733 closed

[2018-04-11 18:18] #1839 closed

[2018-04-12 10:31] #1897 closed

[2018-04-12 20:18] beccca opened #1929 "C#: Generate more idiomatic API Exception class for API error handling"
**tl;dr** The current Exception thrown on API Error in the C# GAPIC isn't developer-friendly

### Idiomatic Expectation _(what a developer might **'guess'**)_

[code]

### Current Exception handling in GAPICs

[code]

_**Observe!**_ Me poking around, trying to find relevant info on the gRPC RpcException...

![screen shot 2018-04-12 at 12 45 00 pm](https://user-images.githubusercontent.com/280/3870

[2018-04-13 12:46] jskeet commented on #1929
I wouldn't want to generate a product-specific exception when it would no extra properties. We do provide the ability to transform exceptions so any APIs that want to perform a transformation can do so, if they have extra information (e.g. in response headers).

I've usually found the `RpcException` message to contain everything I need to know (status code and description) - or when it hasn't, tha

[2018-04-13 12:48] jskeet opened #1932 "Consider changing gradle artifacts to match repo name"
As the repo name has changed, I'm having to change my build scripts for C# to account for that. The change is only partial though - the gradle artifact is still "toolkit".

I'm partly filing this bug so that hopefully when this is changed, the issue will be closed and I'll get notified, so I'll know to change my script again...