[2018-04-13 12:52] jskeet commented on #1932
Okay, I'm confused. It's building a gapic-generator-0.0.5-all.jar for me, despite the artifact having an id of toolkit. Oh well... closing this for now...

[2018-04-13 12:52] #1932 closed

[2018-04-13 13:51] garrettjonesgoogle commented on #1932
Yeah the artifact was already renamed in https://github.com/googleapis/gapic-generator/pull/1916 (right before the repo rename)

[2018-04-13 19:39] simonz130 commented on #1929
So what happens if there are 5 potential reasons for RpcException? Developer needs to write something like this?
`catch (RpcException e) when e.InnerCode == X {...}`
`catch (RpcException e) when e.InnerCode == Y {...}`

And what if in one of the cases there is additional information while in another there isn't?

Finally, what if developer wants to write a code that retries an operation based on t

[2018-04-13 19:58] jskeet commented on #1929
@simonz130: It's not clear how `ProductApiException` would improve that - or how it should be determined when to throw what kind of exception.

Personally I don't mind using multiple catch blocks with exception filters vs multiple catch blocks with different types - and I don't think checking a code is significantly worse than having to look up which type of exception might be thrown in different

[2018-04-13 20:25] simonz130 commented on #1929
Agree on the status code in RpcException.

HttpRequestException is actually a bad example to follow IMO. HttpRequestException does not carry any extra info besides the message. It doesn't have Status code either. Status code is part of the message string, which is weird. You are expected to call "EnsureSuccessStatusCode" on httpResponseMessage, which will throw the HttpRequestException in case the

[2018-04-16 18:32] crwilcox opened #1938 "Python: incorrect dependencies in generated setup.py"
When I generated dialogflow, the following was in install_requires:

[code]

instead of googleapis-common-protos I would expect the following

[code]

[2018-04-16 19:47] garrettjonesgoogle commented on #1938
@vam-google tee hee hee

[2018-04-16 19:49] vam-google commented on #1938
Perfect timing...

[2018-04-16 20:15] jonparrott commented on #1938
I'm going to mark this as a P1 - but feel free to reprioritize.

Reasoning: we are unable to depend on generated setup.py files working with the known-good set of Python libraries because of the incompatible version ranges.

[2018-04-16 20:16] jonparrott commented on #1866
This has been identified multiple times as a significant user experience issue for Python clients. Please prioritize accordingly.

[2018-04-16 20:17] jonparrott commented on #1938
Note, you might as well go ahead and do https://github.com/googleapis/gapic-generator/issues/1849 as well.

[2018-04-16 20:41] landrito commented on #1901
Ah forgot to merge. I'll merge when build is green for my PR.

[2018-04-20 15:00] jskeet commented on #1929
Filed https://github.com/grpc/grpc/pull/15140

Very happy to listen to further suggestions, of course.

[2018-04-20 17:58] garrettjonesgoogle commented on #1856
We need to change this line: https://github.com/googleapis/gapic-generator/blob/master/build.gradle#L426

[2018-04-20 22:02] #1856 closed

[2018-04-25 21:25] eoogbe commented on #1821
Did that PR address the issue?

[2018-04-25 21:32] michaelbausor commented on #1821
Yes, this can be closed.

[2018-04-25 21:32] #1821 closed

[2018-04-27 20:44] #603 closed

[2018-04-30 14:11] garrettjonesgoogle commented on #1856
Follow-up: this has been released in google-cloud-spanner.

[2018-05-02 14:03] stephenplusplus opened #1959 "Using the API with Authentication"
###### Copied from original issue: https://github.com/googleapis/nodejs-speech/issues/69

<a href="/taf2"><img src="https://avatars2.githubusercontent.com/u/1568?s=88&v=4" height=44 width=44 align=left></a>@taf2<br>April 29, 2018 6:36 PM

Browsing samples authentication appears to be ignored.   So we get errors like the one below:

[code]

It might be nice to include examples that show how to exac

[2018-05-02 14:03] stephenplusplus commented on #1959
<a href="/phsultan"><img src="https://avatars2.githubusercontent.com/u/4329537?s=88&v=4" height=44 width=44 align=left></a>@phsultan<br>April 29, 2018 7:10 PM

I guess the most common way to use this package is to authenticate using a service account and set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to point to the JSON file that matches with the created service account. The token

[2018-05-02 14:03] stephenplusplus commented on #1959
<a href="/taf2"><img src="https://avatars2.githubusercontent.com/u/1568?s=88&v=4" height=44 width=44 align=left></a>@taf2<br>April 29, 2018 7:43 PM

Definitely, I just think the readme's on most of the API language bindings should provide a bit more of a complete example... while it's nice that most if not all google API's authenticate in a similar if not unified way... because it is not similar t

[2018-05-02 14:04] taf2 commented on #1959
My original point was the documentation in general for this API fails to make it easy for new people starting out to quickly get started... Closing this out doesn't really change that right?

[2018-05-02 20:29] jadekler opened #1960 "redis go gapic libraries are being generated with wrong time imports"
Relevant cl: https://code-review.googlesource.com/c/gocloud/+/27230

Relevant errors:

[code]

[2018-05-03 09:13] jskeet commented on #1929
We've just had more discussion of this in the summit, and may well go for a per-API or per-service (unclear) exception. We'd like to be able to hook into gRPC to avoid having to catch RpcException and then rethrow a new one (losing stack trace). We can make this a partial class which enables API producers to add more information based on trailers as well.

[2018-05-03 22:18] #1960 closed

[2018-05-04 21:03] #1849 closed

[2018-05-04 21:03] #1938 closed

[2018-05-04 21:12] lukesneeringer commented on #1866
@jonparrott I am so sorry, I lost track of this.

The reason why I said it would be a backwards incompatible change is because right now someone might do:

[code]

And that is not how enum classes from Python 3.4 enums work. If we changed it so that we _output_ the enum values, then anyone who was previously using `== 4` (as an example) would break.

If there is a way to make this change though, I

[2018-05-04 21:14] lukesneeringer commented on #1815
The best thing would be to use `XXXX-YYYY` (where XXXX is specified and YYYY is generation-time-based) everywhere.

I assume this would move into package generation though.

[2018-05-04 21:36] jonparrott commented on #1866
[IntEnum](https://docs.python.org/3/library/enum.html#enum.IntEnum) exists exactly for this purpose.

[2018-05-07 17:53] jbolinger opened #1971 "Ruby: Duplicate require paths"
The Ruby generator is creating duplicated require statements (possibly a bug introduced by #1922).

For example, https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2078 (specifically https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/38a48ffdf421e0fa2d61749d85bdd5fc26510a52)

[2018-05-07 22:54] jbolinger opened #1972 "Ruby: Broken unit tests for LRO and streaming API calls"
Unit tests were updated in #1865 but did not change streaming or LRO tests to be compatible with changes in GAX.

[2018-05-07 22:57] jbolinger commented on #1972
Originally discovered: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2078

[2018-05-09 05:54] michaelbausor opened #1978 "PHP: generated path for VERSION file is sometimes incorrect"
Cases where we have problems:
- The VERSION file is not expected (longrunning)
- The folder structure is more deeply nested

[2018-05-11 02:10] michaelbausor opened #1983 "Optional args conflicts in dynamic languages"
If a proto field on the request message has the same name as an optional argument such as `timeout`, there is a conflict in some of the dynamic languages.

PHP and Python are definitely affected; Node and Ruby seem OK, but folks who know those languages better should also weigh in.

Here is a dummy PR showing baselines when a request message contains problematic fields: https://github.com/googleap

[2018-05-12 02:30] JustinBeckwith opened #1986 "Warnings for all auto-generated files"
Greetings folks! 👋
I'm starting to look through some of our new repositories, and noticing a trend.  I have no idea which files are hand written, and which ones are auto-generated.  I'd love to be able to tell at a glance :)

Is there any way we could add a big fat header to every auto-generated file that said "WARNING:  This file is AUTO-GENERATED!!!!1"?

[2018-05-12 05:46] alexander-fenster commented on #1986
+1 on this. Can someone more familiar with the code let me know if you think there is another way of doing that, other than just editing templates of all generated files?

[2018-05-12 07:10] michaelbausor commented on #1986
PHP does have something like this: https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/Bigtable/src/V2/BigtableClient.php#L19

It is just in the templates: https://github.com/googleapis/gapic-generator/blob/master/src/main/resources/com/google/api/codegen/php/partial_veneer_client.snip#L16

[2018-05-15 22:10] #1972 closed

[2018-05-16 17:04] michaelbausor opened #1999 "PHP generated unit tests take a long time to execute"
The PHP generated unit tests take multiple minutes for the full suite of cloud apis - this should be an order of magnitude less. Watching test progress, it seems some tests take much longer than others - it isn't clear why this should be without further investigation.

[2018-05-16 18:16] #1866 closed

[2018-05-22 18:11] crwilcox opened #2014 "Python: Attempting to append to None value object"
In the generated code for IoT, there are multiple methods that have `metadata=None` as a default and later we try to append. This will fail. The following code needs to be added to set a better default. See attached commit for more context.
[code]

https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5355/commits/2a97ee519ee0fd354a870d8e082e409696e6cbd5

cc: @theacodes

[2018-05-22 18:12] crwilcox opened #2015 "Python: attempt to read nonexistent attr"
In the generated code for IoT, there are two locations (ln 380, 755) in    `google/cloud/iot_v1/gapic/device_manager_client.py` where attempts are made to read non-existent attributes.

[code]

https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5355/commits/2a97ee519ee0fd354a870d8e082e409696e6cbd5

cc: @theacodes

[2018-05-22 18:15] crwilcox opened #2016 "Python: routing_header object called as method (actually module)"
While generating IoT I found that there are calls to routing_header that should be modified as follows:

in `google/cloud/iot_v1/gapic/device_manager_client.py`:
[code]

cc @theacodes

[2018-05-22 18:20] crwilcox opened #2017 "Python: Update nox.py to use 3.7 for unit tests and system tests"
nox.py still uses 3.4 and doesn't specify 3.7. The generator should be updated to emit `@nox.parametrize('py', ['2.7', '3.5', '3.6', '3.7'])` for unit tests. system tests should be similarly updated to be `@nox.parametrize('py', ['2.7', '3.7'])`

[2018-05-22 18:31] theacodes commented on #2015
Since `device_registry` can also be a dict, this code is really brittle.

[2018-05-23 21:46] michaelbausor commented on #1978
Based on https://github.com/googleapis/gax-php/pull/179, we should remove references to VERSION file in generated clients.

[2018-05-24 16:29] quartzmo opened #2022 "Ruby: Add logging configuration instructions to README and guide docs"
Please add the following static text to the generator template for package `README.md` and top-level "guide" documentation. No customization is needed for package name. The location at which to insert the text is shown in  this [commit for manually adding to existing READMEs](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2094/commits/3358a1710d6a8ffe4390dcd81bfba37f33de6c08) and th

[2018-05-24 16:53] jbolinger commented on #2022
@quartzmo minor thing, but did you mean for the header to be `##` instead of `###`?

Sort of looks strange to me as a second level header because of what comes after it.

[2018-05-24 16:56] jbolinger commented on #2022
Also the "Supported Ruby Versions" is not generated - worth adding that to the generated README now as well?

[2018-05-24 17:07] quartzmo commented on #2022
Good catch! Looking at the [whole, rendered file](https://github.com/quartzmo/google-cloud-ruby/blob/3358a1710d6a8ffe4390dcd81bfba37f33de6c08/google-cloud-bigquery-data_transfer/README.md), I would say that `## Enabling Logging` is correctly at the same level as `## Quick Start`, but that `### Next Steps` should be changed to `## Next Steps`. It doesn't make sense to me to include the extensive re

[2018-05-24 17:08] quartzmo commented on #2022
I vote for the inclusion of "Supported Ruby Versions". (Although I have no idea of why it wasn't included, maybe there was a good reason?)

[2018-05-24 18:14] jbolinger commented on #2022
Yup, sounds good. I'll add the supported version as well and I think it also makes sense to promote that to a second level along with next steps header so it's not under the logger setup section.

[2018-05-24 18:44] jbolinger commented on #2022
Oh, so it looks like changing to `## Next Steps` is going to be a problem. That change would impact every language. Still possible, but it will require more discussion if we want to push for it.

Do you think it would be okay to move the logging and ruby version sections below `### Next Steps` as second level `##` headers instead? That layout seems natural to me.

[2018-05-24 20:33] quartzmo commented on #2022
@jbolinger Yes, sounds good. I'll update GoogleCloudPlatform/google-cloud-ruby#2094 to move the logging and ruby version sections below `### Next Steps` as second level `##` headers instead.

[2018-05-25 16:55] michaelbausor commented on #1978
Fixed in https://github.com/googleapis/gapic-generator/pull/2021

[2018-05-25 16:55] #1978 closed

[2018-05-25 19:59] #1999 closed

[2018-05-29 20:45] garrettjonesgoogle commented on #1450
This was done in https://github.com/googleapis/gapic-generator/pull/1984 plus https://github.com/googleapis/gapic-generator/pull/2010 .

[2018-05-29 20:45] #1450 closed

[2018-05-29 23:53] pongad opened #2033 "go: import for LRO metadata missing"

[2018-05-29 23:54] pongad opened #2034 "go: List methods don't respect requests' PageSize"

[2018-05-30 05:38] #2022 closed

[2018-06-01 17:15] vchudnov-g opened #2044 "samplegen: fixes to and for check-calling-form-in-baseline: yaml file updates, tag string format"
Some additional changes are needed on top of #2012

1. The library_gapic.yaml should be migrated to proper `callingFormCheck` strings. Sorry I overlooked this in #2012
1. We should add `callingFormCheck` lines for the additional languages
1. The multi-line yaml literal suggested for the multi-language `callingFormCheck` lines is not working for me. Let's either update the doc or revisit the format

[2018-06-01 17:55] vchudnov-g commented on #2044
See a [PR in progress](https://github.com/vchudnov-g/toolkit/commit/5ba84da483ccaac6e383209ff21f105d7c177bc9) in my fork that begins to address items 1 and 2. I am blocked on 3, so will let @pongad handled that, as well as doing 5.

[2018-06-01 18:02] vchudnov-g opened #2045 "samplegen: check-baselines should check that each calling form is used in the language listed"
Right now `check-baselines` only checks that each calling form appears in at least one language baseline.

It should also check that each calling form also appears in each of the languages listed in its comment in `CallingForm.java`. We can do this either by checking directly against the baseline, or by checking against the `library_gapic.yaml` (and then relying on `check-calling-forms-in-baseline

[2018-06-04 18:42] pongad commented on #2034
Fixed by #2041.

[2018-06-04 18:42] #2034 closed

[2018-06-09 19:35] JustinBeckwith opened #2054 "TypeScript support"
It would be rad if we could generate TypeScript libraries as well as JavaScript.  Putting this here for tracking purposes :)

[2018-06-11 20:06] #2016 closed

[2018-06-11 21:42] crwilcox opened #2058 "[Python] types.py should have separate local and shared modules loops"
PR https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5364 shows the change we want. The generator is currently undoing this fix. The transform we are using right now is as follows:

[code]

[2018-06-12 17:51] #2015 closed

[2018-06-12 17:57] andreamlin commented on #2014
Resolved by https://github.com/googleapis/gapic-generator/pull/2061.

[2018-06-12 17:57] #2014 closed

[2018-06-12 18:12] andreamlin commented on #1718
@theacodes is this still an issue?

[2018-06-12 18:14] theacodes commented on #1718
Yes, it is.

[2018-06-12 18:50] #2017 closed

[2018-06-12 20:49] andreamlin opened #2064 "[Python] Check for attribute in dict for metadata assignee"
Address comments in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5472

[2018-06-12 22:17] kinwa91 opened #2065 "Node.js: UnhandledPromiseRejection in createStub when keyfile path doesn't exist"
Original issue https://github.com/googleapis/nodejs-text-to-speech/issues/12

Promise rejection from [createStub](https://github.com/googleapis/gax-nodejs/blob/da7a0bd4001f6cbe42d198e52e8ad3896d3d461f/src/grpc.ts#L257-L281) (due to missing auth keyfile, etc..) is not caught, causing UnhandledPromiseRejection warning:

https://github.com/googleapis/gapic-generator/blob/55975094fff73249d12052dfe0f46

[2018-06-13 21:38] jba opened #2066 "go: run gofmt on output"
Some of the generator output isn't formatted according to `gofmt`. See https://github.com/GoogleCloudPlatform/google-cloud-go/pull/1031.

[2018-06-13 21:44] JustinBeckwith opened #2067 "Update mocha to 5.2"
We're currently pulling in an ancient version of mocha when we generate new node.js libs.  We should update what's in there to 5.2.

[2018-06-13 21:45] JustinBeckwith opened #2068 "Strategy for keeping npm module versions up to date"
The node.js ecosystem moves fast and breaks things.  We need to find a way to keep package versions of our dependencies up to date so that we don't need to upgrade them every time we create a new library.  This would help generalize #2067.

[2018-06-13 21:46] jba opened #2069 "go: strip HTML tags from doc"
Remove HTML tags (and all markup) from the docs when generating Go.

Originally GoogleCloudPlatform/google-cloud-go#750.

[2018-06-13 21:51] JustinBeckwith opened #2070 "Update node.js templates for new version of google-gax"
We recently shipped a new version of google-gax that had a breaking change:
https://github.com/googleapis/gax-nodejs/releases/tag/v0.17.0

The breaking change was around how you import the library, relating to changes in es modules.  The TL;DR is:

[code]

The generator needs to be updated to pull in `google-gax@0.17.1`, and to take into account the breaking change.

[2018-06-13 22:19] jbolinger opened #2071 "Update Ruby version support in README.md"
Please apply the following patch to generated README files. This change is being applied manually to existing generated files in GoogleCloudPlatform/google-cloud-ruby#2130.

[code]

[2018-06-13 22:28] dazuma commented on #2071
/sub

[2018-06-13 23:03] blowmage commented on #2071
Do we also want to add the section about enabling logging?

[2018-06-13 23:09] jba opened #2073 "Go: change Copyright notice"
The copyright notice should read

`Copyright `YEAR` Google LLC`

[2018-06-13 23:27] blowmage commented on #2071
Yep. I didn't see it in the new Speech README, but I may have removed the sections while resolving some conflicts.

[2018-06-14 00:48] #2045 closed

[2018-06-14 22:33] JustinBeckwith opened #2077 "Generator creates invalid JavaScript"
I'm trying to generate the code for googleapis-private/automl.  After running prettier and trying to run `npm run lint`, I get the following error:

[code]

The code in question looks like this:

[code]

This is currently blocking a launch.

[2018-06-14 22:33] JustinBeckwith commented on #2077
cc @danoscarmike - this was a high priority ask, right?

[2018-06-14 23:14] andreamlin opened #2078 "Make STATIC_TYPES the default for resource_name_treatment in configgen"
Make resource_name_treatment: STATIC_TYPES default in config gen.

[2018-06-15 22:24] TheRoyalTnetennba opened #2080 "Generator creates invalid Ruby Tests"
MiniTest no method named assert_not_nil. Looks like it should be refute_nil as http://ruby-doc.org/stdlib-2.0.0/libdoc/minitest/rdoc/MiniTest/Assertions.html#method-i-refute_nil

[2018-06-15 22:41] dazuma opened #2081 "When generating Ruby texttospeech v1, credentials.rb gets generated in the wrong place"
Ran the Ruby generator on texttospeech v1.

It generated the file `lib/google/cloud/text_to_speech/v1/credentials.rb`.
This file is supposed to be located at `lib/google/cloud/text_to_speech/credentials.rb`

[2018-06-15 22:45] jbolinger commented on #2081
This one should be fixed by #2079 and the new behavior is to version this file (i.e it should go in the v1 directory).

Also, @landrito this is the kind of thing your recent testing proposal would help catch... so let's push for that soon.

[2018-06-15 22:48] dazuma commented on #2081
Ah, that makes sense. Okay, closing.

[2018-06-15 22:48] #2081 closed

[2018-06-15 22:56] jbolinger commented on #2080
Thanks for reporting this @TheRoyalTnetennba. I'm surprised it hasn't come up before.

[2018-06-15 23:06] #2078 closed

[2018-06-16 00:41] #2077 closed

[2018-06-16 00:45] JustinBeckwith commented on #2077
Thank you!  How do I pick up the change?  Do we need to wait for a new docker image?

[2018-06-16 00:49] garrettjonesgoogle commented on #2077
@alexander-fenster , We should give instructions to @JustinBeckwith for using a local version of gapic-generator...

[2018-06-18 17:21] garrettjonesgoogle commented on #541
@alexander-fenster can you see if there is anything to do for Node?

[2018-06-18 17:23] garrettjonesgoogle commented on #1161
@jskeet is this still relevant?

[2018-06-18 17:33] #2080 closed

[2018-06-18 17:45] #2071 closed

[2018-06-18 17:46] crwilcox opened #2086 "[Node] Generated streaming tests for nodejs-speech do not run"
The tests generated for streamingRecognize currently fail. @alexander-fenster told me that the tests have been removed in the past. Is fixing these a generator issue or is the configuration used for generation incorrect?

Code that fails:
[code]

Failures:
[code]

[2018-06-18 22:32] crwilcox commented on #2086
So, the issue is the manually written helpers are interfering with the generated code?

We shouldn't be deleting parts of the generated code because they don't pass. If the solution is to remove/refactor this manual code then we can do that.

[2018-06-18 22:39] #2070 closed

[2018-06-18 22:43] alexander-fenster commented on #2086
Yes, I would vote for changing the `helpers.js` so that the generated tests pass as it looks like the best solution in terms of a clean code. Not sure if it's a breaking change though.

[2018-06-18 23:50] JustinBeckwith commented on #2070
👏👏👏

[2018-06-19 09:17] jskeet commented on #1161
Hmm. It's required, but it's a one-of which I don't believe we support anyway.

Given that we don't expect users to use the client code here directly anyway, I'd be okay with closing this one - it avoids worrying about backward compatibility etc. @garrettjonesgoogle does that sound right to you?

[2018-06-19 16:34] JustinBeckwith opened #2089 "Generated code produces unit tests that don't pass"
Trying to generate the AutoML client library.  After generating the code, I am running `npm test` and getting this now:

[code]

If I had to guess, it looks like an issue with nodejs-proto-files.

[2018-06-19 16:35] JustinBeckwith commented on #2089
FYI @ethanbao

[2018-06-19 16:49] alexander-fenster commented on #2089
I've never seen this one so I assume it's something to do with AutoML GAPIC yaml, service yaml, or protos. I will investigate.

[2018-06-19 17:01] pongad commented on #2069
Some problem analysis: I ran `grep -ro // | grep apiv | grep '<'` to print all HTML tags in comments. The result is

[code]

In spanner, the `<` is used to document resource name. It's not HTML.

In dialogflow, I don't think the `<` are HTML tags, but perhaps we should just delete these because they don't add real value to users.

For errorreporting, I think we should ask/help API to convert the d

[2018-06-19 17:08] JustinBeckwith commented on #2069
I completely defer to @jba  :)

[2018-06-19 17:44] eoogbe opened #2090 "Configgen: Gracefully handle page streaming resource field heuristic"
The config generator will fail with an error if the page streaming resources field cannot be heuristically determined. Throwing an exception breaks config generation for libraries with multiple repeating fields in the response of their page streaming methods.

Since the determination is a heuristic, it should use the best guess for Cloud conventions and add a FIXME comment to ensure the config is

[2018-06-19 18:10] eoogbe commented on #2090
Found a workaround, bumping to P2

[2018-06-19 19:31] jba commented on #2069
I agree with all of Michael's suggestions.

[2018-06-19 21:08] alexander-fenster commented on #2089
Fixed this issue in the (internal) proto file. The file defining long running operations metadata was not included from the main service proto file which caused Node.js generated code to fail.

[2018-06-19 21:08] #2089 closed

[2018-06-19 21:39] dazuma opened #2093 "Ruby: Add CHANGELOG.md to the set of initial assets"
The generated assets for Ruby should include a `CHANGELOG.md` file at the root level (alongside the Gemfile, Rakefile, etc.) Its contents should be simply the following static line:

[code]

[2018-06-19 22:58] eoogbe opened #2094 "Configgen: Generate collections in top-level config"
The [per-service `collections`](https://github.com/googleapis/gapic-generator/blob/bd7c8fc6f866ffa5104fe8fb27c5073124e2aace/src/main/proto/com/google/api/codegen/config.proto#L168) will be deprecated. Config generation should move the `collections` definition to the top-level config.

[2018-06-20 17:48] andreamlin opened #2096 "discogapic: handle fieldmask in flattened methods"
Flattened methods must contain `fieldMask` as a parameter because `fieldMask` is a required field in the implicitly-created `Update[Resource]HttpRequest` request object.

[2018-06-21 00:13] crwilcox opened #2097 "[Python] some py files from generator contain utf-8 chars but are missing the source encoding header"
*.py files that contain utf-8 characters should specify the encoding with the following header
[code]

[2018-06-21 00:14] crwilcox commented on #2097
Example: https://github.com/dialogflow/dialogflow-python-client-v2-private/pull/1/commits/c370c731aa003c61eea619d4d631cbf8de108ce0

[2018-06-21 18:41] jbolinger opened #2099 "Update samples to use version constructor"
Automate changes shown in: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2146

[2018-06-21 19:34] #2058 closed

[2018-06-21 19:44] pongad commented on #2044
Resolved by #2049

[2018-06-21 19:44] #2044 closed

[2018-06-21 19:44] pongad commented on #2033
Resolved by #2051.

[2018-06-21 19:44] #2033 closed

[2018-06-21 20:13] crwilcox commented on #2097
I should also note I believe this can be safely added to all generated files.

[2018-06-22 00:55] jbolinger commented on #2099
@frankyn the bucket name is a configuration option (i.e. you need to update the yaml file). For speech that value is here: https://github.com/googleapis/googleapis/blob/7ccfa2cd4a2737dc828061809d60ee03b23e2b5d/google/cloud/speech/v1p1beta1/speech_gapic.yaml#L35

The version thing I will update shortly.

[2018-06-22 15:28] frankyn commented on #2099
@jbolinger the line you mentioned seems to be apart of smoke tests. I think that should stay the same. The lines below for sample snippets have `gs://bucket_name/file_name.flac`. Unless there's a bug and it's using the smoke test value instead.

[2018-06-22 16:09] jbolinger commented on #2099
@frankyn yeah, you're correct. It is indeed a bug and it's using the wrong value. I'll open a new issue for it.

[2018-06-22 16:25] jbolinger opened #2106 "Ruby samples use smoke test values"
Ruby samples use values from the smoke test `init_fields` rather than the `sample_code_init_fields`.

To reproduce generate the speech v1 API and note that the sample in `lib/google/cloud/speech.rb` is using the smoke test value.

Originally reported in #2099

[2018-06-22 18:49] #2093 closed

[2018-06-22 20:04] #2099 closed

[2018-06-22 21:09] frankyn commented on #2106
Once this is completed, then we can refresh.

Thanks Joe!

[2018-06-25 20:37] alexander-fenster commented on #2065
We must not `process.exit` since it's a bad behavior for library. Actually, I'm not convinced that we must catch the exception since it's obviously the user error, not the network / server error that we retry on. Catching exceptions just to `console.log` them isn't valuable either because we can't `console.log` in the library. So, assume we caught an exception from `gaxGrpc.createStub`, what next?

[2018-06-25 20:41] JustinBeckwith commented on #2065
I think the error described in the original issue was fine.  I'm not sure if there's much else we could have done.  @ofrobots thoughts?

[2018-06-25 21:55] andreamlin commented on #1730
I am able to build and run generated unit tests from artman-generated code on the Pubsub API.
Some of the dependencies that had been emitted when this issue was filed are now present, e.g. the testCompile for gax-grpc:testlib and junit.

@kmjung is this still a problem? If so, for which API?

[2018-06-25 21:58] kmjung commented on #1730
@andreamlin I haven't rebuilt the client code here in months. Adding @mmladenovski who has looked at this more recently.

[2018-06-25 22:13] mmladenovski commented on #1730
@andreamlin , the issue #2 (described above) still exists (I was able to reproduce it today).

I can share more details offline.

[2018-06-25 22:29] andreamlin commented on #1730
@mmladenovski what's a concrete example of the second issue?

[2018-06-25 22:40] mmladenovski commented on #1730
Followed up offline with @andreamlin

[2018-06-25 23:41] ofrobots commented on #2065
Is there a way for the user to have handled the unhandled rejections? If not it is bad form for a library to generate unhandle-able rejections. It is even /worse/ form for a library to use `process.exit`.

I don't understand the choreography of events between the library, client library, gax stubs and grpc, but at a high level, it seems to be that we let an operation - that had no chance of succes

[2018-06-26 17:35] andreamlin opened #2116 "Refactor Discogapic tests to match standard gapic tests"
There shouldn't be a language-specific test class (JavaDiscogapicTest) and "DiscoGapicTestBase uses or overrides a deprecated API."

[2018-06-26 18:46] #1730 closed

[2018-06-26 18:48] andreamlin commented on #1730
See https://github.com/googleapis/gapic-generator/commit/8649243b3f33f98aca17e1217841ded15fd537a2#diff-5f526d3c7a4f88ae57f1cba301706d19 for an example diff with the bug fix.

Feel free to reopen if this issue is not resolved.

We will soon update the artman Docker image to pick up the latest version of gapic-generator.

[2018-06-26 19:31] dazuma opened #2117 "Ruby: Service tests create global classes that need to be namespaced"
Currently, the generated service client tests for Ruby generate a few global classes. For example, I just generated video_intelligence, and the generated service client test file `test/google/cloud/video_intelligence/v1/video_intelligence_service_client_test.rb` includes the following toplevel classes:
* `CustomTestError`
* `MockGrpcClientStub`
* `MockVideoIntelligenceServiceCredentials`

The prob

[2018-06-26 20:27] dazuma commented on #2117
I would just go with giving all the test helper classes versioned names. It keeps things straightforward.

[2018-06-26 20:56] dazuma opened #2118 "Ruby: Expand credentials-related env variables to match handwritten clients"
Currently, the generated credentials.rb files for Ruby look for credentials in six environment variables, three for credential file paths, and three for json string data. The handwritten credential files honor ten environment variables (5 for paths and 5 for json). We should update the generated credential classes to match.

For example, generated credential classes for the trace service include t

[2018-06-26 21:14] jbolinger commented on #2118
I think Mike beat you to this one via GoogleCloudPlatform/google-cloud-ruby#1830, which was updated in #2110. Let me know if that looks good to you (there is no `.freeze` so we could add that if you think it'll make any difference)

[2018-06-26 21:42] dazuma commented on #2118
Okay, that looks good. Freezing is a good idea, but not nearly as important. I'll do another pass at the constant generation, and open a separate issue around freezing if it looks worthwhile. Thanks!

[2018-06-26 21:42] #2118 closed

[2018-06-27 05:15] timburks commented on #2117
Just for background:
- Should these classes be in the libraries at all? (i.e. are they useful to library users, just artifacts of our testing, or something else)
- Should some of these classes be in GAX instead?

[2018-06-27 05:18] timburks commented on #2097
Thanks @crwilcox -- @lukesneeringer could you take care of this or find an owner?

[2018-06-27 05:31] timburks commented on #1986
+ @garrettjonesgoogle @lukesneeringer FYI and consideration for current and future code generators (and guidelines for writing them)

[2018-06-27 05:35] timburks commented on #1959
+ @vchudnov-g Is this coming with future sample generation?

[2018-06-27 05:40] timburks commented on #1778
@garrettjonesgoogle Do you want to own (or already have) a cross-language plan for this?

@lukesneeringer This seems good to mention in the code generation writer's manual/handbook.

[2018-06-27 14:43] dazuma commented on #2117
They are specific to the tests and belong there. (e.g. mocks, etc.)

[2018-06-27 20:03] jkwlui opened #2120 "Node: generated unused mockSimpleGrpcMethod() in tests"
Generating the latest video-intelligence library result in tests that failed `npm run lint`. It complains mockSimpleGrpcMethod() is defined but not used.

https://github.com/googleapis/nodejs-video-intelligence/pull/51

[2018-06-27 21:31] dazuma opened #2122 "[Ruby] Generated docs for speech class uses "gapic-toolkit" as a sample bucket name"
When generating google-cloud-speech, the following is an excerpt of the generated module documentation for `Google::Cloud::Speech`:

[code]

Note the use of `gapic-toolkit` as a sample bucket name. We should not use this name because its specificity may confuse users into thinking they must use that particular bucket. Previously it was just called `bucket-name` which seems more reasonable.

[2018-06-27 21:37] dazuma opened #2123 "[Ruby] Generated version module file includes documentation for outer service module"
The Ruby generator generates an "outer" module named for the service, and inner modules named for the versions. e.g. `lib/google/cloud/speech.rb` and `lib/google/cloud/speech/v1.rb`. By convention, the file name should match the "main" class/module being defined (and documented) in the file. Thus, we expect that `lib/google/cloud/speech.rb` will include the definition and documentation for `Google

[2018-06-27 22:02] jbolinger commented on #2122
Duplicate of #2106

[2018-06-27 22:02] #2122 closed

[2018-06-27 22:13] jbolinger commented on #2123
@dazuma this was before my time, but I believe the duplication was intentional. Not really sure if I recall why but I think it was so the "quick start" was in both files. However, this is in your court now so if you don't think that's a good reason I'm happy to change it.

Just to clarify, you are saying that the correct thing to do is to simply omit that text block for `Google::Cloud::Speech` in

[2018-06-27 22:42] dazuma commented on #2123
Sorry, I failed to make it clear what I think needs to be done.

It's okay to have the content duplicated. But in `v1.rb`, the comment should be tied to the `V1` module. Currently it is tied to the `Speech` module in that file. (It should, of course, remain tied to the `Speech` module in `speech.rb`.

[2018-06-27 22:46] dazuma opened #2124 "[Ruby] Consider limiting scopes for cloud services to cloud-platform"
The generated credentials class currently copies the scopes listed in the discovery doc. However, the discovery doc lists scopes that _could_ be used, whereas the credentials class specifies scopes that _must_ be present. As a result of this semantic mismatch, cloud services often require redundant scopes—typically both `"https://www.googleapis.com/auth/cloud-platform"` _and_ service-specific scop

[2018-06-27 22:57] jbolinger commented on #2123
Ah, that makes sense. I'll move it.

[2018-06-27 23:50] chingor13 commented on #1915
We currently have a workaround in the `synth.py` script to update these doc strings.

[2018-06-28 16:43] jbolinger commented on #2124
@dazuma do you want this changed or is it still being considered?

It's a simple change if we can just use the `cloud-platform` scope. We don't currently have any configuration options for scopes, so if we need to vary it per service we'll need to add one. I don't really know how often it would vary to make that decision.

If we reduce them would it be useful to list the full set of scopes somewhe

[2018-06-28 19:44] pongad commented on #2073
Fixed by https://code-review.googlesource.com/c/gocloud/+/29590

[2018-06-28 19:44] #2073 closed

[2018-06-28 21:11] crwilcox opened #2127 "[Node] Pub Sub has manually written method in generated code"
While generaing in the nodejs-pubsub package I found this code getting removed in `src/v1/subscriber_client.js` since it was added manually. Is this code the generator should have inserted?

[code]

[2018-06-28 22:30] eoogbe commented on #1165
Another case of this issue occurs with [GapicInterfaceConfig](https://github.com/googleapis/gapic-generator/blob/169f401c59e2b5967d0e4ea581b71d075f50a7e7/src/main/java/com/google/api/codegen/config/GapicInterfaceConfig.java#L125). We null out the `methodConfigMap` on error, but don't check the error before using the null value, causing an NPE far from the source.

Also this error message could use

[2018-06-28 23:12] crwilcox opened #2129 "[Node] Generated tests for speech do not pass"
https://github.com/googleapis/nodejs-speech/pull/100/commits/e30d80d2fa7b4af430cc3fefcb5e48995c10bbd2

The inner api call for streamingRecognize is called multiple times with different inputs. This causes the code as generated to fail. There are some small tweaks that also might help.

1) when config is undefined `{streamingConfig:undefined}` is sent instead of `{}`.
2) when audioContent is `{}`,

[2018-06-28 23:21] JustinBeckwith commented on #2129
@lukesneeringer @alexander-fenster just getting this on y'alls radar.  This is blocking automated updates to speech.

[2018-06-28 23:32] alexander-fenster commented on #2129
Wait wait, isn't it due to manual layer (`helpers.js`) that breaks the autogen'd unit tests? If so, there's not much the generator can do.

[2018-06-29 16:47] ejona86 commented on #1805
CC @ericgribkoff

[2018-06-29 18:02] #2066 closed

[2018-07-03 18:38] dazuma opened #2133 "[Ruby] Generated gemspec needs to require google-gax ~> 1.3"
Currently the generated gemspec appears to list the gax dependency as:
[code]

This needs to be updated to
[code]

since the newer generated code uses gax 1.3 features. (See https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/2171)

[2018-07-03 20:31] andreamlin opened #2137 "Java gapics: Use ResourceName types for singular params in flattened methods"
https://github.com/googleapis/gapic-generator/pull/2131 introduces a change to prevent all flattened methods that have at least one repeated param from using ResourceName types (uses String instead).

Improve client usability by allowing singular params to be ResourceName types, even when the repeated params are using List<String> types.

[2018-07-03 21:37] #2123 closed

[2018-07-09 19:28] #2096 closed

[2018-07-09 21:10] theacodes commented on #1718
Ping on this, we got another bug report about this.

[2018-07-10 17:36] tmatsuo opened #2141 "[PHP] Namespace inconsistency during deprecation"
We're trying to update the KMS client lib for PHP. The newly generated code is using a nicer namespace like `Google\Cloud\Kms\V1\CryptoKey\CryptoKeyPurpose` instead of `Google\Cloud\Kms\V1\CryptoKey_CryptoKeyPurpose`. Also the generator keeps the old namespaced class with a deprecation warning.

This is a great feature, but we found there are some usages of old classes in various places.

1. [`Goo

[2018-07-11 19:34] dazuma opened #2143 "[Ruby] Examples are showing incorrect construction of client objects"
It looks like the Ruby examples were recently changed from, e.g.:

[code]

To

[code]

This is incorrect. It needs to be:

[code]

Note the TWO corrections:
* Need to call `new` on the service module, not the version module, if you want to pass a version argument.
* The version argument is misspelled; it should not be capitalized.

See https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/

[2018-07-11 21:03] jbolinger commented on #2143
Do you think this could have anything to do with the synth tools you're using? I don't know much about how they work, but I just regenerated this locally and got this in the examples sections:

[code]

I could change it to use the symbol, and change the case of the symbol, but that doesn't explain what's in that PR where the two ways to create a client are being mixed incorrectly.

[2018-07-11 21:11] dazuma commented on #2143
The synth tool for that directory isn't doing any postprocessing. I suppose it's possible synth is using a different version of gapic-generator than you're running locally?

[2018-07-11 21:30] jbolinger commented on #2143
Do you know what version you're using? I've tried with a few versions but haven't been able to reproduce it.

[2018-07-11 21:44] dazuma commented on #2143
As I understand it, it's using the current latest artman docker image `googleapis/artman:latest`. See https://github.com/GoogleCloudPlatform/synthtool/blob/master/synthtool/gcp/gapic_generator.py

[2018-07-11 21:45] dazuma commented on #2143
I just tried running synthtool locally (which runs artman from that image) and I'm getting the same weirdly "mixed" results.

[2018-07-11 22:00] andreamlin commented on #2129
@crwilcox friendly ping

[2018-07-11 22:49] jbolinger commented on #2143
Thanks @dazuma I was able to reproduce it. It was something unrelated on my side but seeing that synthtool script was pretty useful anyway.

Turns out this is because of a bad regex and it is happening because it's v2beta2 vs. something like v2, which isn't covered by our tests. I should be able to fix that part fairly quickly.

[2018-07-12 00:15] andreamlin commented on #1287
@landrito @eoogbe friendly ping on this
Is this still a P1?

[2018-07-12 18:23] #1718 closed

[2018-07-12 22:59] alexander-fenster opened #2147 "CircleCI: move to v2.0"
CircleCI v1.0 will be deprecated on August 31st, 2018. We need to move the project to CircleCI v2.0 by creating `.circleci/config.yml` and making it run the workflow.

![image](https://user-images.githubusercontent.com/4015807/42663876-91063aae-85ec-11e8-8c44-df254eccec5b.png)

[2018-07-13 00:53] alexander-fenster commented on #2147
https://circleci.com/docs/2.0/migrating-from-1-2/

[2018-07-13 20:58] crwilcox commented on #2129
@alexander-fenster I dug into this and it can be resolved by adjusting the helper. The issue was is the helper would send two pieces of data separately instead of together (as the generator does). I will send a PR shortly that allows us to start generating the tests again and use them as is.

[2018-07-13 21:45] #2129 closed

[2018-07-17 19:16] dazuma commented on #2143
Tested artman 0.14.1. It looks like the second bullet point is fixed:

but not the first:

[2018-07-17 20:19] crwilcox opened #2152 "generated streaming method for nodejs-iot is missing preamble"
On our methods we have a bit of options setting before invoking. One method on the iot lib is missing this. https://github.com/googleapis/nodejs-iot/pull/5/commits/cf063192865d47fe4231438ba4382d0b06ab2c29

[code]

[2018-07-17 23:13] dazuma commented on #2143
Just to be clear, when I generate tasks v2beta2, in the file `google-cloud-tasks/lib/google/cloud/tasks/v2beta2/cloud_tasks_client.rb` the following was generated around line 450ish:

[code]

This should be

[code]

[2018-07-18 01:36] kinwa91 opened #2154 "[NodeJS] assert.equal() is deprecated since node v10"
eslint-plugin-node v7 doesn't like us using assert.equal() anymore. Replace `assert.equal` with `assert.strictEqual`

reference: https://github.com/googleapis/nodejs-automl/pull/11

[2018-07-18 04:45] JustinBeckwith commented on #2154
Yeah I just ran into this too.  @alexander-fenster we could use a hand here :)

[2018-07-18 17:40] jbolinger commented on #2143
Ops, I didn't mean to auto close this. @dazuma we should have a new release later today.

[2018-07-18 17:43] dazuma commented on #2143
Great, looking forward to testing it!

[2018-07-18 17:58] #2154 closed

[2018-07-19 17:23] crwilcox opened #2157 "Sphinx finds unexpected indentation in dialogflow docstrings"
Currently there are a few docstrings in the generated dialogflow client. (in agents_client.py)

![image](https://user-images.githubusercontent.com/638797/42959451-b5051352-8b3d-11e8-8121-8b4f63ff33f7.png)

These docstrings have unexpected indentation
` dialogflow-python-client-v2/dialogflow_v2/__init__.py:docstring of dialogflow_v2.AgentsClient.import_agent:41:Block quote ends without a blank line

[2018-07-20 16:40] murrayju commented on #2065
It is bad practice for a library to throw errors that the user cannot possibly catch. In this case, the constructor is doing some async operation, and not handling the error case. Because it is async, invoking the constructor within a try/catch block doesn't help.

There are several ways that this could be fixed. I would suggest either:
1. Catch the promise rejection internally, then expose the er

[2018-07-20 17:10] crwilcox opened #2159 "Docstrings for tasks library (protos) are wrapping references causing failures"
If you wrap a reference so that the '<' that starts a ref is on a different line than the ref it will inject spaces to the link and fail. See the following commit/line for an example:
https://github.com/GoogleCloudPlatform/google-cloud-python/commit/568779a0346f478dfdb49fb8433262cc17d98d33#diff-ed5bfbb1dceb1a0c0c401ca805fa9b16L443

[2018-07-20 18:23] crwilcox opened #2160 "Generated output for KMS v1 has bad import name (ends in _grpc but shouldn't)"
Replacing "iam_policy_pb2_grpc" with "iam_policy_pb2" resolves issues

[code]

[2018-07-20 21:05] crwilcox opened #2161 "Create new instance of client info rather than stomping on shared instance."
While reviewing a new client @tseaver noticed a bit that may need revising.

Quoting from https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5665/files/12676aaf08dc795f2216f9441896cfae54edd382#diff-198e257d2c267a0bc3e3d2f3e77ec561

 https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py#L173
[code]

This bit is proble

[2018-07-26 16:49] #2090 closed

[2018-07-30 19:40] taf2 commented on #1959
yup i hate to be annoying about this but i think there is an opportunity for google to do better here.

[2018-07-30 19:48] dazuma opened #2174 "[Ruby] AVAILABLE_VERSIONS is not finding any results"
Apparently as a result of https://github.com/googleapis/gapic-generator/pull/2163 now the `AVAILABLE_VERSIONS` determination for a single-service library is returning no results.

Specifically, it's failing in the case where postVersionDirPath is empty. The original intent for that case appears to be that the directory name itself gets `.rb` appended to it (e.g. `/path/to/v1` -> `/path/to/v1.rb`).

[2018-08-02 17:40] TheRoyalTnetennba opened #2179 "[RUBY] Inconsistent Naming in bigquery data transfer"
Folder and file names seem to alternate between 'datatransfer' and 'data_transfer'.

Readme product page link is dead. I think "https://cloud.google.com/bigquerydatatransfer" should be "https://cloud.google.com/bigquery/transfer/".

Also suffers from https://github.com/googleapis/gapic-generator/issues/2174.

PR: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2220

[2018-08-02 17:49] jbolinger commented on #2179
Protobuf added a `ruby_namespace` option as of 3.6, which is now in the generator. This should address the issue with the `_pb` files. The proto files will need to be updated though. I just checked and it looks like they don't have the `ruby_namespace` option set (unless you are using a private repo?).

The doc links may be a separate issue that we have to fix. Let's take another look after the pr

[2018-08-02 19:06] dazuma commented on #2174
@jbolinger @landrito ping

[2018-08-02 19:17] landrito commented on #2174
Ah woops. I'll have a fix in by early next week.

[2018-08-02 19:38] dazuma commented on #2117
ping

[2018-08-02 20:21] dazuma opened #2180 "[Ruby] grpc-google-iam-v1 not added as a gem dependency when a proto depends on it"
When generating the google-cloud-tasks gem, the generated file lib/google/cloud/tasks/v2beta2/cloudtasks_pb.rb requires "google/iam/v1/iam_policy_pb". This file is provided by the gem "grpc-google-iam-v1" but that gem is not part of the dependencies in the generated gemspec.

[2018-08-02 20:40] dazuma opened #2182 "[Ruby] Credential environment variables should be ordered _CREDENTIALS followed by _KEYFILE"
In https://github.com/googleapis/gapic-generator/pull/2110 we added `*_CREDENTIALS` versions of the credential environment variables (in addition to the existing `*_KEYFILE`). However, the ordering matters, and it is currently incorrect in part. The `*_CREDENTIALS` form should appear first, followed by `*_KEYFILE`.

For example, for trace V1 (google-cloud-trace/lib/google/cloud/trace/v1/credential

[2018-08-02 20:40] jbolinger commented on #2117
@dazuma sorry for the delay on this one (@landrito and I will try to clear out the P1 backlog shortly).

[2018-08-02 20:43] dazuma commented on #2182
Also the same for the JSON version. i.e. instead of:

[code]

it should be

[code]

[2018-08-02 21:10] jbolinger commented on #2143
@dazuma is this still an issue?

After my last change I checked locally for the cloud tasks library and it seemed to be generating the names correctly.

[2018-08-02 21:26] jbolinger commented on #2180
I think you just need to configure this.

See pubsub for an example: https://github.com/googleapis/googleapis/blob/8dfde277c7319f82a38b31c5c54079cc37513991/google/pubsub/artman_pubsub.yaml#L11

I tested locally and it seems to work although I'm not sure how it gets the version (if that matters for you).

[2018-08-02 21:32] jbolinger commented on #1971
Not sure this is still relevant. Closing for now.

[2018-08-02 21:32] #1971 closed

[2018-08-02 21:34] #2117 closed

[2018-08-02 21:38] dazuma commented on #2143
It looks good now. I've tested a number of cases today. Closing.

[2018-08-02 21:38] #2143 closed

[2018-08-02 21:40] dazuma commented on #2180
I'll try that. Thanks!

[2018-08-02 23:57] dazuma opened #2185 "[Ruby] Acceptance tests are generated without reference to API version"
On generating google-cloud-speech for Ruby with version "v1p1beta1", the generated file "google-cloud-speech/acceptance/google/cloud/speech/v1p1beta1/speech_smoke_test.rb" includes the following code near the top:

[code]

This should be:

[code]

(Note the TWO changes needed: the name of the spec, and the argument to the client constructor.)

Other generated files seem to have the correct version

[2018-08-03 00:21] dazuma opened #2186 "[Ruby] Generated rubocop config should exclude ALL acceptance tests"
In the generated `.rubocop.yml` file, currently if there are acceptance tests, the exclusion rule lists only certain acceptance test files. For example, here is an excerpt from the generated file for speech:

[code]

Please instead exclude ALL files under the acceptance directory, in the same way that all files are excluded under the test directory. e.g.

[code]

[2018-08-03 00:28] jbolinger commented on #2185
@dazuma for this one I'm assuming that you don't care about the capitalization of the version in the `describe` string or the difference between `foo.new version: :v1` vs `foo.new(version: :v1)` but do let me know if that's not the case.

[2018-08-03 00:54] dazuma commented on #2185
No, I don't care about the captialization or the parens. :)

[2018-08-03 16:00] JustinBeckwith opened #2190 "[Node.js] const and let instead of var"
Currently the generator creates code that makes heavy use of `var`.  We should change up the generated code to use `let` and `const`, as they're safer constructs.

[2018-08-03 16:51] crwilcox opened #2191 "Python docs builds should not have 'raw-latex'"
The docs builds for python do not have raw-latex as a directive. This causes our builds to fail. One example is in `dataproc`

[code]

Is there a plugin for sphinx you expect we are using or is this a bug?

[2018-08-03 18:36] jbolinger opened #2192 "Support names that look like version numbers in Ruby"
The Ruby generator will throw an exception if it finds a fully qualified name that includes more than one segment that looks like a version. For example: `my.service.ServiceV1.v1`.

[2018-08-03 20:44] dazuma opened #2195 "[Ruby] Enable-API link in the README is incorrect"
The link for enabling the API in the generated README is incorrect.

For example, currently for Redis, the generated README contains this line:

[code]

This link does not work. A link that works correctly might be:

[code]

[2018-08-03 20:52] andreamlin commented on #2160
I tried to regen python pubsub and the same thing came up.

[2018-08-03 20:55] dazuma opened #2196 "[Ruby] Product documentation link in generated README is sometimes incorrect"
Currently the generated README for redis includes this link used for product documentation:

[code]

This page doesn't exist. It turns out the correct link happens to be https://cloud.google.com/memorystore but I don't see how it's possible to interpret that unless there's a field in the proto somewhere. Or maybe there needs to be a field in the artman yaml. Either way, we should either have a way

[2018-08-03 21:35] andreamlin opened #2197 "Add `import google.api_core.path_template` python client files"
When generating pubsub, nox tests don't pass unless
1. ~https://github.com/googleapis/gapic-generator/issues/2160 is applied; i.e. replace all instances of `iam_policy_pb2_grpc` with `iam_policy_pb2`~ Edit: fixed.
2. ~The nox session that was parameterized on only py 2.7 and 3.7 is removed.~ Edit: this are the generated system tests can be fixed when service account credentials are provided in #22

[2018-08-03 21:45] jbolinger commented on #2196
I don't think there's any way to do this now.  However, I'll send you some info offline about future plans that would enable things like this.

[2018-08-03 23:27] dazuma opened #2200 "[Ruby] Changes to yardopts and gemspec for YARD migration"
See https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2232 for context.

We're migrating from jsondoc to YARD for ruby documentation. This requires a few changes to generated configuration files:

* The `.yardopts` file needs a new line:
[code]

* The gemspec file needs two new dependencies:
[code]

See https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2232/files for exampl

[2018-08-03 23:28] dazuma commented on #2200
Oh never mind, this was already done: https://github.com/googleapis/gapic-generator/pull/2194/files

[2018-08-03 23:28] #2200 closed

[2018-08-03 23:56] dazuma opened #2201 "[Ruby] Example code incorrect for instantiating in multi-service clients"
For google-cloud-monitoring, there are multiple services within the client (AlertPolicy, Group, Metric, NotificationChannel, and UptimeCheck). The generated code then creates "factory" modules for these services, all in the toplevel version file. Concretely, "lib/google/cloud/monitoring/v3.rb" includes the modules `Google::Cloud::Monitoring::V3::AlertPolicy`, `Google::Cloud::Monitoring::V3::Group`

[2018-08-04 00:01] dazuma commented on #2201
Hmm, never mind, it looks like the code was generated.

[2018-08-04 00:01] #2201 closed

[2018-08-06 05:32] dazuma opened #2204 "[Ruby] Logging and monitoring clients will not compile, possibly because of outdated common types"
Currently the generated logging and monitoring clients for Ruby will not compile because they reference the common proto type `google.api.MonitoredResourceMetadata` which is not defined. I believe this type is supposed to live in the [googleapis-common-protos-types gem](https://rubygems.org/gems/googleapis-common-protos-types), which hasn't been updated since last year and probably just needs to b

[2018-08-06 17:13] #2160 closed

[2018-08-06 17:32] andreamlin commented on #2204
Yeah I had the same problem for Java; the logging clients needed a refreshed google-common-protos dependency to pick up the new prototype.

[2018-08-06 17:43] andreamlin opened #2205 "Add service account key to CircleCI for integration tests"
The generated integration tests require service account credentials. These can be configured in the CircleCI settings.

[2018-08-06 17:44] andreamlin commented on #2197
3. is fixed by #2199.

[2018-08-06 17:45] #2197 closed

[2018-08-06 18:17] dazuma opened #2206 "[Ruby] Overview documentation conflicting with class documentation"
Example from google-cloud-monitoring. The file "lib/google/cloud/monitoring.rb" includes documentation for the `Google::Cloud::Monitoring` class. However, the file "lib/google/cloud/monitoring/v3/doc/overview.rb" also includes documentation for the same class. These two documentations are _nearly_ identical: it appears the latter includes an "installation" section whereas the former does not.

It

[2018-08-06 18:19] dazuma commented on #2180
This seems to have gone away, and I'm not sure why since I haven't edited that file yet. I'll reopen if it reappears.

[2018-08-06 18:20] #2174 closed

[2018-08-06 19:54] #2186 closed

[2018-08-06 19:57] #2185 closed

[2018-08-06 20:12] #2192 closed

[2018-08-06 20:43] andreamlin opened #2208 "Support python3.7 in CircleCI build"
The CircleCI build uses docker image googleapis/nox:0.17.0 for running generated unit tests in python. However, this image only contains python 2.7, 3.5, and 3.6, but not 3.7.

The following are possible solutions to support python 3.7:
1. Install python3.7 in the CircleCI job.
2. Figure out how to use the latest googleapis/nox:0.18.2 image with CircleCI workspaces. There is an error when using 0.

[2018-08-06 20:45] andreamlin opened #2209 "Regenerate python common types"
Same as https://github.com/googleapis/gapic-generator/issues/2204 but for python clients. This breaks generation of Logging and Monitoring clients.

[2018-08-07 00:15] dazuma opened #2211 "[Ruby] Generate ci:smoke_test task when smoke tests are present"
The google-cloud-dataproc generator generates a smoke test (`acceptance/google/cloud/dataproc/v1/cluster_controller_smoke_test.rb`). Whenever such a test is generated, the following should be added to the Rakefile. (Alternately the contents of this `namespace :ci` block could also be added to the other existing `namespace :ci` block, if that is easy enough to do.)

[code]

[2018-08-07 17:36] andreamlin commented on #2204
Generated the ruby package. Just need to release now.

[2018-08-07 17:59] andreamlin commented on #2204
Assigned to @landrito  to release.

[2018-08-08 19:09] landrito commented on #2204
Version 1.0.2 of googleapis-common-protos-types is released:
https://rubygems.org/gems/googleapis-common-protos-types/versions/1.0.2

Closing. Reopen if you find a bug with the release.

[2018-08-08 19:09] #2204 closed

[2018-08-08 19:35] dazuma commented on #2204
Thank you! Testing the new release—it appears to be working correctly so far.

[2018-08-10 17:20] andreamlin opened #2220 "Support Discovery-based code generation for Silver languages"
Code generation for libraries is supported.

The rest of the languages (golang, PHP, Ruby, Nodejs, Python, C#) lack support.

Feel free to comment here to add context to asks for support, and if there are certain languages that should be prioritized.

[2018-08-14 18:14] dazuma commented on #2195
This is still broken in 0.15.0. Now it's creating links of the form `https://console.cloud.google.com/apis/library/api/redis.googleapis.com`. This does not work.

Either of the following alternatives appear to work:
* https://console.cloud.google.com/apis/library/redis.googleapis.com
* https://console.cloud.google.com/apis/api/redis.googleapis.com

The former is probably preferred, as it results i

[2018-08-14 18:24] bshaffer opened #2229 "Change PHP Namespace for AutoML"
Can we change the PHP namespace in [`automl_gapic.yaml`](https://github.com/googleapis/googleapis/blob/master/google/cloud/automl/v1beta1/automl_gapic.yaml#L16) to `AutoML` from `Automl`?

If so, will this be enough, or do we need to add the `php_namespace` option to all of the [`*.proto`](https://github.com/googleapis/googleapis/tree/master/google/cloud/automl/v1beta1) files as well?

[2018-08-14 22:57] dazuma commented on #2195
Fix verified in 0.15.1.

[2018-08-14 23:49] jbolinger commented on #2195
thanks for confirming @dazuma! Closing.

[2018-08-14 23:49] #2195 closed

[2018-08-15 00:35] dazuma commented on #2180
Whoops, looks like this is still present. Still in my court to fix the config.

[2018-08-15 23:35] crwilcox opened #2234 "__init__.py is losing newline at end of file"
For some reason a recent change to the generator caused the following files to lose the ending line which causes issues with linting.

[code]

[2018-08-16 18:19] lukesneeringer commented on #2097
We can add these to our files easily, but it will be trickier to add it to the pb2 files (which is I think where the problems lie). It can be done though, and we already edit those files to alter imports.

[2018-08-16 18:24] andreamlin opened #2235 "Generated Speech-v1 client requires credentials for unit tests"
The artman-generated google-cloud-speech-v1 PHP client fails when running unit tests without credentials.

From a freshly generated directory, running `composer install; composer update;  vendor/bin/phpunit tests/Unit` gives:
[code]

[2018-08-16 18:29] andreamlin commented on #2235
Additionally, this problem exists within google-cloud-php-speech too.

[code]

Results in 12 test failures, all like
[code]

[2018-08-16 18:30] andreamlin commented on #2235
@michaelbausor please assign a priority

[2018-08-16 19:14] crwilcox commented on #2097
Those are the files with the issue typically, yes.

On Thu, Aug 16, 2018 at 11:19 AM Luke Sneeringer <notifications@github.com>
wrote:

[2018-08-16 23:22] andreamlin opened #2237 "Run generated unit tests on python 3.7"
Find a docker image that supports all 2.7, 3.5, 3.6, and 3.7

[2018-08-16 23:36] #2206 closed

[2018-08-16 23:41] andreamlin opened #2238 "Regenerate common protos for PHP"
Same as https://github.com/googleapis/gapic-generator/issues/2209 and https://github.com/googleapis/gapic-generator/issues/2204, but for PHP.

This blocks new regens for the Logging and Monitoring clients, which depend on the newest common protos.

[2018-08-16 23:42] andreamlin commented on #2238
Marking as P1 in line with the other issues.

[2018-08-17 15:19] michaelbausor commented on #2238
PR: https://github.com/googleapis/gax-php/pull/210

[2018-08-18 17:12] dazuma opened #2242 "[Ruby] Escape Yard link syntax in literal comments copied from proto docs"
Some proto documentation includes text in curly braces that Yardoc interprets as its link syntax. These need to be escaped, otherwise Yard tries to parse it as a link (and thus mangles it).

To escape a curly-brace clause, precede the opening brace with two backslashes. For example, the documentation for the timestamp proto includes the following string to document the format: `"{year}-{month}-{da

[2018-08-19 00:03] dazuma opened #2243 "[Ruby] Stub accessor in client classes should be annotated with a private Yard tag"
Generated client classes generally have at least one grpc stub, accessible from an attribute with a name matching `{client-name}_stub`. For example, in google-cloud-vision, the class `Google::Cloud::Vision::V1::ImageAnnotatorClient` includes this line:

[code]

This stub is internal to the generated client, and should not be called by end users. Thus, the attribute should be marked with the `@priv

[2018-08-20 16:52] jbolinger commented on #2242
@dazuma what's your priority for this? Would you like it done now or can it wait for the new generator? Either is fine, just add a P1 or higher label or drop me a note if it can't wait. Otherwise, I'll assume it can.

[2018-08-20 23:54] lukesneeringer commented on #2209
What exactly is missing?

[2018-08-21 20:34] #2234 closed

[2018-08-21 20:45] andreamlin opened #2247 "Fix circleci php speech tests"
Sample failure: https://circleci.com/gh/googleapis/gapic-generator/1539

probably something wrong with setting up credentials

[2018-08-21 23:44] #2097 closed

[2018-08-23 03:11] andreamlin commented on #2238
@michaelbausor so this is complete?

[2018-08-23 03:13] andreamlin opened #2252 "Generated Logging PHP tests have a null pointer error"
See https://circleci.com/gh/googleapis/gapic-generator/1659

[2018-08-23 03:54] andreamlin commented on #2252
Oh it seems that just using the newly bumped gax-php v 0.37.0 would do it.

[2018-08-23 15:27] michaelbausor commented on #2238
Yes, closing out

[2018-08-23 15:27] #2238 closed

[2018-08-23 20:04] andreamlin opened #2256 "gapic-generator CI job verify-and-test-openjdk8 is failing"
There's a snippet error that probably had been introduced in https://github.com/googleapis/gapic-generator/pull/2244.
Failure log: https://1687-56533838-gh.circle-artifacts.com/0/tmp/workspace/reports/generations/smoketest.log

[2018-08-23 21:09] andreamlin commented on #2256
Fixed by #2257

[2018-08-23 21:09] #2256 closed

[2018-08-24 22:34] andreamlin opened #2265 "Fail to generate python artman_iamcredentials_v1.yaml"
Failed to generate python_gapic of /var/code/googleapis/google/iam/credentials/artman_iamcredentials_v1.yaml.

See https://circleci.com/gh/googleapis/googleapis/1344 for failing build log.

[2018-08-24 22:56] andreamlin commented on #2265
[sources_generation-stdout.log](https://github.com/googleapis/gapic-generator/files/2320120/sources_generation-stdout.log)
^ artman log file

[2018-08-24 23:05] andreamlin commented on #2265
internall bug #112268544

[2018-08-24 23:46] andreamlin commented on #2247
Fixed in #2250

[2018-08-24 23:46] #2247 closed

[2018-08-24 23:46] andreamlin commented on #2252
Fixed.

[2018-08-24 23:46] #2252 closed

[2018-08-24 23:47] andreamlin commented on #2205
Done.

[2018-08-24 23:47] #2205 closed

[2018-08-24 23:48] andreamlin commented on #2208
we can use https://hub.docker.com/r/googleapis/python-multi/tags/

[2018-08-24 23:52] andreamlin commented on #2265
target has been whitelisted in artman repo but artman still needs to be released for googleapis/googleapis build to pick up the changes.

[2018-08-25 07:01] jskeet opened #2268 "Comment line splitting fails on Windows"
Now that we're on a more recent version of api-compiler, we can run GAPIC on Windows.

It *nearly* works - but whatever splits comment lines is broken. We end up with comments like this:

[code]

instead of

[code]

I've labeled this as a C# issue as it affects us most, but it would probably affect other users on Windows too. I'll have a quick look to see if I can find the issue myself, but I'm no

[2018-08-25 07:15] jskeet commented on #2268
Okay, it looks like this *is* easy to fix in CommonRenderingUtil. I'll create a PR.

[2018-08-29 22:01] dazuma opened #2278 "[Ruby] Remove jsondoc-related content from generated code"
Ruby has eliminated jsondoc. Please remove related content from the generated `Rakefile`. Specifically, this means:

* The entire `:jsondoc` task
* The following lines from the `:ci` task:
[code]

[2018-08-29 22:36] dazuma opened #2279 "[Ruby] Always include two blank lines after copyright header"
Ruby source files should include two blank lines (i.e. three consecutive newlines) after the copyright header, to prevent the header from being interpreted as documentation. See https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/2334

[2018-08-30 00:44] andreamlin opened #2281 "Travis CI is failing when fetching from maven"
Started failing in https://travis-ci.org/googleapis/gapic-generator/builds/422278897, and it's been failing in all my open PRs.

Failure snippet:
[code]

Doesn't seem to be a problem with fetching from https://plugins.gradle.org/m2, only problems from https://repo.maven.apache.org

[2018-08-30 01:26] andreamlin commented on #2281
Someone already filed an issue has been filed on TravisCI https://github.com/googleapis/gapic-generator/issues/2281

[2018-08-30 02:29] andreamlin opened #2282 "[node] Reassigning value to a const variable throws TypeError"
See [failure log](https://circleci.com/gh/googleapis/gapic-generator/2433), under job "Test Node Speech client" or "Test Node Logging client" for TypeError details.

[2018-08-30 17:10] andreamlin commented on #2281
Seems to be fixed in our latest Travis runs. closing for  now

[2018-08-30 17:10] #2281 closed

[2018-08-30 18:02] #2282 closed

[2018-09-04 15:59] jbolinger commented on #2161
@crwilcox @lukesneeringer this has been quiet for awhile - is it still relevant?

[2018-09-04 18:46] tseaver commented on #2161
@jbolinger The generator is still emitting code which has this flaw (@crwilcox re-genned several libraries over the weekend, ant their clients all have it).

[2018-09-04 18:52] tseaver commented on #2161
- https://github.com/googleapis/gapic-generator/blob/085018f461968ab38f1cb85565a9198c15684458/src/main/resources/com/google/api/codegen/py/main.snip#L140
- https://github.com/googleapis/gapic-generator/blob/3bcf41a4de3f55bea470f6e72386406685ba77e7/src/test/java/com/google/api/codegen/testdata/py/python_multiple_services.baseline#L964
- https://github.com/googleapis/gapic-generator/blob/3bcf41a4de3

[2018-09-10 17:18] andreamlin opened #2299 "Remove 'cloud' from default package names"
Curerntly, default package names in configgen add `"cloud"` to the package name. We should handle package names for non-Google-Cloud and third-party codegen.

[2018-09-10 17:26] andreamlin commented on #2299
See [LanguageSettingsMerger](https://github.com/googleapis/gapic-generator/blob/e3501faea84f61be2f59bd49a7740a486a02fa6b/src/main/java/com/google/api/codegen/configgen/mergers/LanguageSettingsMerger.java#L41). for how anything starting with `"google"` is replaced by something that starts with `"google.cloud"`

[2018-09-11 00:08] dazuma opened #2301 "[Ruby] Use invoke instead of sh for invoking rake subtasks"
In generated rakefiles, rake subtasks defined in the current rakefile should be invoked like this:

[code]

Instead of the following alternatives:

[code]

If the task is defined in another rakefile, continue to use `sh`.

[2018-09-11 21:42] dazuma opened #2303 "[Ruby] Don't replace backticks with plus signs in comments"
Currently the Ruby generator is replacing backticks (i.e. code markup syntax in Markdown) with plus signs (which is rdoc syntax). However, we are generating YARD format documentation using Markdown, so we actually do _not_ want this replacement to happen. This issue is causing a lot of syntax-critical pieces of documentation (like regexes and other format strings) to be misformatted and/or mangled

[2018-09-11 22:55] jbolinger commented on #2303
@dazuma I'll take a look at this tomorrow. Does this problem occur anywhere else besides the method samples in the comments?

[2018-09-11 23:04] dazuma commented on #2303
@jbolinger It's generally not sample code (which is properly code-formatted by indentation). Rather, it's generally proto comments documenting services, messages, and fields, that are translated into Ruby comments. For example:

Source proto: https://github.com/googleapis/googleapis/blob/master/google/datastore/v1/entity.proto#L42

Generated Ruby: https://github.com/GoogleCloudPlatform/google-clou

[2018-09-12 17:44] jbolinger commented on #2303
@dazuma you might want to take a quick look at #2306 to see if the output looks good.

It was a global search and replace for backticks, so pretty straightforward, but it was also normalizing multiple backticks into a single `+` character. With this change they will remain as multiple - does that make any difference for you?

[2018-09-12 19:03] #2303 closed

[2018-09-12 20:32] jbolinger commented on #2303
@dazuma sounds good. I've started the release process so this should land in a day or two.

[2018-09-13 22:31] andreamlin opened #2310 "google.api.Retry specifies additional codes or all codes?"
[go/api-client-library-config-spec](go/api-client-library-config-spec) says that `Retry` specifies the _additional_ codes, _in addition_ to the default status codes, that should be retried on.

However, [go/api-client-library-generation](go/api-client-library-generation) says that  `Retry` specifies _the_ codes, instead of the default status codes, that should be retried on.

[2018-09-14 21:57] andreamlin opened #2311 "Backfill retry codes in googleapis/googleapis"
We have to let GAPIC config take precedent over the protofile when it comes to retry codes right now, before the API protofiles in googleapis/googleapis have their appropriate retry codes defined.

[2018-09-17 17:28] michaelbausor commented on #2311
@andreamlin is this a bug? Or a todo item? I'm not sure how to categorize this so that someone could be assigned and take action on it.

[2018-09-17 17:36] michaelbausor commented on #2179
@jbolinger Is this issue still relevant, or can it be closed?

[2018-09-17 17:38] michaelbausor commented on #2265
@andreamlin is this now resolved, or is it still an open issue?

[2018-09-17 17:40] michaelbausor commented on #2147
@landrito can this be closed out now?

[2018-09-17 17:44] michaelbausor commented on #2147
I believe the answer is yes - closing out now.

[2018-09-17 17:44] #2147 closed

[2018-09-17 17:50] jbolinger commented on #2179
I think we can close this. The library still needs to be updated but there is nothing that needs to be done in the generator. @TheRoyalTnetennba or @dazuma please feel free to reopen if there is anything we can do to help.

[2018-09-17 17:50] #2179 closed

[2018-09-17 17:54] michaelbausor commented on #1587
Downgrading this to a P1 based on how it has been prioritized and the expected time until we can get https://github.com/googleapis/gapic-generator/pull/2108 merged (next week at the earliest). If this should still be P0, please bump it back up and we can try to get that PR merged sooner.

[2018-09-17 17:55] michaelbausor commented on #2120
Ping @alexander-fenster

[2018-09-17 18:02] theacodes commented on #1587
This really does need to be P0. It's far and away the most toil-inducing bug for Python libraries.

[2018-09-17 18:17] alexander-fenster commented on #2120
Here, we need to include `mockSimpleGrpcMethod()` in the output only if the API has simple gRPC methods (and video-intelligence is one rare example of an API with all methods being long running). I'm not sure if there is an easy way to write this condition in the snip file. Looking.

[2018-09-17 18:18] lukesneeringer commented on #1587
Okay, let's figure out if we can get this done ASAP then.
I know @eoogbe attempted to do this and ran into some kind of issue, but I am unfamiliar with what the issue was. Let me circle back and find out what we can do.

[2018-09-17 18:20] michaelbausor commented on #1587
I will investigate today and provide an ETA

[2018-09-17 23:01] michaelbausor commented on #1587
Looking into switching to pandoc and the changes in #2108, it isn't clear (a) how to quickly proceed, or even (b) that switching to pandoc will solve the problem.

@theacodes @crwilcox I want to figure out exactly what you need for this to be fixed. It seems like there is a huge gulf between what is generated now, and the massive amounts of post-processing required for e.g. DLP (see [this PR](http

[2018-09-17 23:03] theacodes commented on #1587
We need the gapic generator to *always* produce docstrings that contain valid RST. Any invalid RST markup will bork our documentation. Using a better markdown -> rst translator (like `pandoc`) will almost certainly solve the issue.

[2018-09-17 23:07] kinwa91 commented on #2120
We are still experiencing this issue in video-intelligence. Not blocking, but good to get it fixed :)

[2018-09-19 12:32] tseaver opened #2319 "Order of entries in generated 'enums' is not stable"
E.g., see: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/6015/files.

The order should match the order in the `.proto` file, except that they might be collected from more than one:  if that case in general, then sort them.

[2018-09-19 16:29] michaelbausor commented on #1587
Update: Here is an attempt to apply pandoc (via pypandoc) in artman to the proto comments before they are processed by gapic-generator: https://github.com/googleapis/artman/pull/499

[2018-09-19 16:39] vchudnov-g opened #2320 "Make sample instructions include ADC setup (for Cloud) and make them configurable per-API"
The standalone sample files are meant to be standalone runnable by someone browsing the repository. As such, we have instructions in the file on installing pre-requisites for the sample to run (e.g. https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/language/generated-samples/v1/language_sentiment_text.py#L19)

One thing that's missing in these instructions is setting up the Ap

[2018-09-19 20:46] dazuma opened #2323 "[Ruby] Change generated URLs to reference googleapis github org"
Generated README files and certain toplevel modules include github URLs that reference the GoogleCloudPlatform org. These need to be changed to reference the googleapis org.

Specifically, anywhere this URL fragment appears: `https://github.com/GoogleCloudPlatform/google-cloud-ruby` should be replaced with `https://github.com/googleapis/google-cloud-ruby`, and anywhere this appears: `https://googl

[2018-09-20 22:38] theacodes commented on #1587
If you're looking for a stress test, it seems Spanner is the worst offender by far: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/6040/commits/76f1cd3d1081f8aee6eca7efb70a8d00678e9fa6

[2018-09-20 22:38] theacodes commented on #1587
/cc @tseaver

[2018-09-21 22:13] #2190 closed

[2018-09-22 00:04] JustinBeckwith commented on #1756
*gentle ping* @alexander-fenster @timburks

[2018-09-24 19:58] landrito commented on #2120
@alexander-fenster any updates on this?

[2018-09-24 19:59] landrito commented on #1587
@michaelbausor, any updates on this?

[2018-09-24 20:14] michaelbausor commented on #1587
@landrito the current PR (https://github.com/googleapis/artman/pull/499) seems reasonable, and generates valid rst comments for Spanner. I need to follow up with a gapic-generator PR and then get review/approval on both PRs.

[2018-09-25 18:40] tseaver opened #2337 "Add support for explicit close of transport / channel"
We have two reports where users are hitting system limits when creating large numbers of GAPIC-based clients:

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5523
- https://github.com/GoogleCloudPlatform/google-cloud-python/issues/6077

While that is not an expected usage pattern, we should still expose a way for callers to perform an explicit shutdown on the transport / chann

[2018-09-25 18:42] tseaver commented on #2209
`1.6.0b4` has those types.  @lukesneeringer [mentioned](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/6081#issuecomment-424129052) making a `1.5.4` release to address this issue until the `1.6.0` final release is ready.

[2018-09-26 14:27] tseaver commented on #2319
Another example today:  https://github.com/GoogleCloudPlatform/google-cloud-python/pull/6109/files

[2018-09-26 18:27] eoogbe commented on #1165
Will be replaced by proto-based config format

[2018-09-26 18:27] #1165 closed

[2018-09-26 18:28] eoogbe commented on #1648
Will be replaced by proto-based config format

[2018-09-26 18:28] #1648 closed

[2018-09-26 18:29] eoogbe commented on #1736
Will be replaced by proto-based input format

[2018-09-26 18:29] #1736 closed

[2018-09-27 22:13] landrito opened #2347 "Go: Mock Client Streaming Tests"
The generated mock tests for the Showcase API are broken.

This method is getting the following error `panic: runtime error: index out of range [recovered] panic: runtime error: index out of range` at the line I specified in comments.
[code]

This error method is simply not using the request.
[code]

[2018-09-28 23:04] garrettjonesgoogle commented on #1829
This is fixed (as can be seen at https://github.com/googleapis/gapic-generator/blob/59098a9b991ce0e8a69b772e4b6b818bdc761186/src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline#L2308 )

[2018-09-28 23:04] #1829 closed

[2018-09-28 23:06] garrettjonesgoogle commented on #1731
This was fixed a while back - we now emit a build.gradle that depends on grpc-netty-shaded, which means that the version of netty-tcnative doesn't need to be provided.

[2018-09-28 23:06] #1731 closed

[2018-10-01 19:10] tseaver commented on #2337
In answering https://github.com/googleapis/google-cloud-common/issues/265, it occurs to me that exposing the `channel` as an attribute / read-only property of the transport would be the Right Thing(TM) for this issue  Users could then perform an explicit close:

[code]

[2018-10-02 19:47] #2347 closed

[2018-10-04 23:12] vam-google opened #2354 "Add Bazel support to CircleCI build"
Add `bazel test //...` as part of CircleCI build (effectively maintaining gapic-generator build for both `gradle` and `bazel`). This is essential to maintain bazel rules under `rules_gapic` directory.

[2018-10-08 15:30] lukesneeringer commented on #2337
This sounds right to me also.

[2018-10-10 18:28] crwilcox opened #2360 "[Python] Remove templating of nox.py from generation."
Nox has brought updates since templating the nox.py files. google-cloud-python has been brought forward, but the templated nox.py from GAPIC also needs to be updated.

[2018-10-11 16:16] tseaver opened #2362 "Python: non-default `retry` argument to first method call pollutes '_inner_api_calls' stub"
When populating the `_inner_api_calls` with a wrapper for a method, the generated outer method passes through the `retry` argument it was passed.  Normally, that would be the desired `google.api_core.gapic_v1.method.DEFAULT`, but if the first caller passes in a non-default `retry`, that value will be bound into the wrapped method.  I believe the wrapped method should be passed `retry=google.api_co

[2018-10-11 16:18] tseaver commented on #2209
@lukesneeringer Ping?

[2018-10-12 01:31] pongad opened #2366 "honor `sample_argument_name` config"
Currently we still let the init code logic choose a name.

[2018-10-15 15:09] #1587 closed

[2018-10-15 17:05] tseaver commented on #2319
@JustinBeckwith, @theacodes per today's call.

[2018-10-17 20:57] theacodes commented on #2319
@lukesneeringer @andreamlin any more information we can provide here?

[2018-10-17 21:03] tseaver commented on #2209
Is there an issue blocking a release of a non-beta version of `googleapis-common-protos` which can be used with the current logging / monitoring protos?

[2018-10-18 16:16] tseaver opened #2388 "Python: 'CallOptions' not imported in examples (nor is it needed for page iteration)"
From https://github.com/googleapis/google-cloud-python/issues/5560.

Examples in generated docstrings for methods returning iterators use `CallOptions` without importing it, e.g.:

[code]

Worse, that usage is unidiomatic:  the iterators returned from GAPIC methods have a `pages` attribute, which allows users to iterate pages without managing the token at all.  E.g., for the example above, the mor

[2018-10-18 19:37] tseaver opened #2389 "PendingDeprecationWarning spew from generated tests"
Running unit tests for almost any GAPIC-generated package yields a spew of the following:

[code]

and:

[code]

I added a `stacklevel=2` argument to both of those warnings (which should be in the generated code anyway).
It turns out that the test for the first one is bogus:  literally every invocation triggers it!

[code]

For the second, most the warnings were coming from generated tests!

[code

[2018-10-19 18:36] tseaver commented on #2389
Maybe a dumb question, but why are we planning to deprecate the `channel` argument to GAPIC clients?  Passing in a custom channel is the most straightforward way to achieve things like [opencensus interception](    https://github.com/census-instrumentation/opencensus-python/blob/781b3cb1652d9c6d0ae01593f8de61ace2dbfcef/examples/trace/grpc/hello_world_client.py#L36).

[2018-10-25 00:15] vchudnov-g opened #2391 "Use actual enum name instead of EnumName"
In the Python code (eg [here](https://github.com/googleapis/gapic-generator/blob/b4c1fb4c4e24f9cbb32c9c91894c7de17d6ca47b/src/test/java/com/google/api/codegen/gapic/testdata/py/python_library.baseline#L4379)), the `EnumName` in `enums.EnumName` should be the name of the enum defined in the `enums.py` file.

(We talked about this earlier, but I'm filing this issue so we don't lose track of it.)

[2018-10-29 18:55] tseaver commented on #2319
Any update here?

[2018-10-29 21:01] lukesneeringer commented on #2319
Hey folks, one question: Is the order _non-deterministic_ or did the order remain deterministic and change?

I think this change may have been caused by some work done to sort other components (not specific to Python).

[2018-10-29 21:16] andreamlin commented on #2319
Thanks for reporting this.

Forewarning: I'm not a Python expert.

1. for PR https://github.com/GoogleCloudPlatform/google-cloud-python/pull/6015/files, I can't see what the change is, besides that the order of class defs is swapped. Does this matter, given that the classes don't reference each other?

2. For the requirement that "The order should match the order in the .proto file, except that th

[2018-10-29 21:30] andreamlin commented on #2319
Talked to Luke offline.
1. Confirming that the PRs are annoying changes, but this isn't a semantic change?

[2018-10-29 21:31] andreamlin commented on #2319
@vam-google Would https://github.com/googleapis/googleapis/blame/master/google/bigtable/admin/v2/BUILD.bazel have to do with this? Since that explicitly lists out the order in which the proto files are given to gapic-generator.

[2018-10-29 21:38] lukesneeringer commented on #2319
Would it be possible to update this specific Bazel build file to match what was in the legacy configuration (which would theoretically revert the enum sort order in Bigtable)?

[2018-10-29 21:59] andreamlin commented on #2319
Talked to @vam-google and it can't be related because that BUILD file was pushed after this issue was filed.

I've been looking at how we generate the enum classes, and it seems to come from the order the proto files are passed in. This seems like a deterministic order. However, as Luke mentioned, we have been going through some refactorings that change the the order of surface entities in the cli

[2018-10-30 19:43] tseaver commented on #2319
This is not a case of one-time changes:  I've seen multiple autosynth-driven PRs which do nothing more than change enum order:  approving one doesn't make the problem go away.  When I run synthtool on my machine, I have gotten a different order than the one in the autosynth PR.

Note that I don't really care about any specific order, only that it be stable over time.

[2018-10-30 22:57] #2391 closed

[2018-10-31 16:53] #2161 closed

[2018-10-31 18:10] dazuma opened #2393 "[Ruby] Update rubocop dependency"
In the generated gemspec, the "rubocop" development_dependency needs to be updated to the latest version. As of this writing, that is 0.59.2

[2018-10-31 19:19] tseaver commented on #2209
@lukesneeringer Thanks for making the [1.5.4 release](https://pypi.org/project/googleapis-common-protos/1.5.4/).  Unfortunately, it breaks pretty much all our APIs which use `google.longrunning`.  The generated code for them has lines like:

[code]

but  `operations_pb2` no longer exports that module, because it is now an alias for `operations_grpc_pb2`, via:

[code]

The `*` import leaves out nam

[2018-10-31 19:21] tseaver commented on #2209
The 1.5.3 version of `operations_pb2.py` explicitly imports `_OPERATION`:

[code]

[2018-10-31 20:02] lukesneeringer commented on #2209
Aww, rats. I explicitly reverted that file to _avoid_ changing anything there.

[2018-10-31 20:05] lukesneeringer commented on #2209
1.5.5 is released with this fixed.

[2018-10-31 21:01] lukesneeringer commented on #2209
@crwilcox tells me this is in good shape now.

[2018-10-31 21:01] #2209 closed

[2018-11-01 19:16] crwilcox opened #2398 "Generated code doesn't have 100% coverage"
https://github.com/googleapis/google-cloud-python/pull/6356#discussion-diff-230149184R87

This code (securitycenter, python) doesn't have full coverage which seems unusual.

[code]

[2018-11-01 20:23] tseaver commented on #2398
Most autogen-only libs have a `.coveragerc` which looks like:

[code]

[2018-11-01 21:12] crwilcox commented on #2398
that was the issue. closing.

[2018-11-01 21:12] #2398 closed

[2018-11-02 20:51] schmidt-sebastian opened #2400 "[Node] Ability to specify multiple package version"
In https://github.com/googleapis/nodejs-firestore/pull/414, we are abusing the existing libName + libVersion header to pass in an additional dependency version.

It would be nice if the client libraries could pass an arbitrary number of values to the `gccl` header.

[2018-11-05 20:18] tseaver opened #2404 "Python: generated minimum 'google-api-core[grpc]' should be '>= 1.4.1'"
The generated code now relies on behavior of `protobuf` >= 3.4.0, and picking that up means we need to pin `google-cloud-api[grpc] >= 1.4.1, < 2.0dev`.

See: https://github.com/googleapis/google-cloud-python/issues/6128, etc.

[2018-11-05 21:28] #2388 closed

[2018-11-05 21:53] #2337 closed

[2018-11-05 22:02] tseaver commented on #2404
Via #2405.

[2018-11-05 22:02] #2404 closed

[2018-11-06 01:53] tseaver commented on #2097
For those playing along at home:  note that current `synth.py` files in `google-cloud-python` still need to have the following replacement, or else the unit tests break on Python 2.7:

[code]

[2018-11-07 18:36] vchudnov-g commented on #1983
Is this still an issue?

[2018-11-07 18:39] vchudnov-g commented on #2120
@alexander-fenster Any updates? This issue is out of SLO. Is it prioritized correctly?

[2018-11-07 18:44] alexander-fenster commented on #2120
I guess it must not be a P0. Yoshi team has a [workaround](https://github.com/googleapis/nodejs-video-intelligence/blob/6139be496dc77715f0238794a82552bf3a6af972/synth.py#L29) for that in their synth script for this library, and video intelligence is the only library affected (it does not have non-long-running methods).

I will decrease the priority of this issue. Having that said, it should be a q

[2018-11-07 18:50] vchudnov-g commented on #2157
@lukesneeringer ping

[2018-11-07 18:54] vchudnov-g commented on #2152
@alexander-fenster ping

[2018-11-07 18:54] vchudnov-g commented on #2065
@alexander-fenster ping

[2018-11-07 18:55] vchudnov-g commented on #1715
Closing as we are moving away from artman

[2018-11-07 18:55] #1715 closed

[2018-11-07 18:56] vchudnov-g commented on #1320
@lukesneeringer Could you update this with what is still to do, and add a comment that you reviewed and updated?

[2018-11-07 19:01] vchudnov-g commented on #2265
@andreamlin update?

[2018-11-07 19:02] vchudnov-g commented on #2235
@michaelbausor update?

[2018-11-07 19:02] michaelbausor commented on #1983
Yes. But I believe that it is not affecting any APIs at this time, so there isn't pressure to fix it in the short term.

[2018-11-07 19:02] vchudnov-g commented on #2196
@jbolinger Update? We're out of SLO here.

[2018-11-07 19:03] vchudnov-g commented on #2180
@dazuma Were you able to fix this?

[2018-11-07 19:05] vchudnov-g commented on #2106
@jbolinger Any updates on this? We're out of SLO here.

[2018-11-07 19:08] vchudnov-g commented on #515
@alexander-fenster Could you verify whether this is still an issue and close if not?

[2018-11-07 19:09] jbolinger commented on #2196
@vchudnov-g We are planning to address all these P2/yoshi/ruby issues as we make progress on https://github.com/googleapis/gapic-generator-ruby so there won't be any updates here, but I'd like to keep them open until we've addressed it there.

[2018-11-07 20:58] kinwa91 commented on #2120
I'm okay with that. Thanks Alex!

[2018-11-08 17:39] #2389 closed

[2018-11-08 20:20] vchudnov-g commented on #2196
Fine, but consider moving the issues there so there's less but clearer work for the on-call in enforcing SLOs.

[2018-11-08 23:48] nicolasgarnier commented on #1756
one more gentle ping :) This is preventing us from upgrading to newer versions of the Cloud Vision SDK in codelabs and open source sample apps because there is no more ways to compare Likelhoods.

[2018-11-09 20:59] quartzmo commented on #2393
Now, [0.60.0](https://rubygems.org/gems/rubocop/versions).

[2018-11-09 21:36] vam-google commented on #393
This issue must be fixed. We currently simply do not generate any tests for methods, which do not have flattening configured. Some clients do not have any flattened methods, and as result the generated tests for them are empty. Trying to run an empty test also breaks Bazel's `java_test` rule.

[2018-11-12 16:52] tseaver commented on #2319
This mornings autosynth runs still have this issue:

- https://github.com/googleapis/google-cloud-python/pull/6474
- https://github.com/googleapis/google-cloud-python/pull/6475
- https://github.com/googleapis/google-cloud-python/pull/6476

[2018-11-12 16:57] tseaver commented on #2319
@andreamlin I don't know how to tell if the change from #2418 has actually been rolled out to the artman image:  is there some way to check locally using synthtool?

[2018-11-12 18:19] vchudnov-g commented on #2360
@lukesneeringer Any updates? Feel free to update labels as appropriate.

[2018-11-12 18:29] vchudnov-g commented on #2242
Marking this as a P2 enhancement given that we can wait until the new generator.

[2018-11-12 18:31] vchudnov-g commented on #2229
@michaelbausor Any updates?

[2018-11-12 18:32] vchudnov-g commented on #2191
@lukesneeringer Update?

[2018-11-12 18:33] vchudnov-g commented on #2159
@lukesneeringer Updates?

[2018-11-12 18:34] vchudnov-g commented on #2157
@lukesneeringer ping

[2018-11-12 18:35] vchudnov-g commented on #2152
@alexander-fenster ping

[2018-11-12 18:36] vchudnov-g commented on #2141
@michaelbausor Updates?

[2018-11-12 18:38] vchudnov-g commented on #2069
@pongad Updates?

[2018-11-12 18:39] vchudnov-g commented on #2067
@alexander-fenster ping

[2018-11-12 18:40] vchudnov-g commented on #2065
@alexander-fenster ping

[2018-11-12 18:41] vchudnov-g commented on #1986
+1 All autogenerated files should mark themselves as such. We're doing that with samples. All microgenerators should follow suit.

[2018-11-12 18:43] vchudnov-g commented on #1666
As per https://github.com/googleapis/nodejs-firestore/issues/50, this appears to be solved now.

[2018-11-12 18:43] #1666 closed

[2018-11-12 18:44] vchudnov-g commented on #1666
As per https://github.com/googleapis/nodejs-firestore/issues/50, this appears to be solved now.

[2018-11-12 18:45] vchudnov-g commented on #1616
@landrito Update or close

[2018-11-12 18:45] vchudnov-g commented on #1536
@jbolinger Could you verify whether this is still an issue?

[2018-11-12 18:46] vchudnov-g commented on #1530
@landrito Is this fixed?

[2018-11-12 18:47] vchudnov-g commented on #1399
@landrito @alexander-fenster Is this still an issue?

[2018-11-12 18:48] vchudnov-g commented on #1362
@michaelbausor Is this still an issue?

[2018-11-12 18:51] vchudnov-g commented on #1357
@pongad @lukesneeringer @garrettjonesgoogle Is this still an issue for the remaining languages?

[2018-11-12 18:51] vchudnov-g commented on #1215
@michaelbausor Any updates?

[2018-11-12 18:53] vchudnov-g commented on #1094
Is this question still relevant, @eoogbe , given the proto annotations?

[2018-11-12 18:55] vchudnov-g commented on #976
@landrito @jbolinger Is this still an issue? Can we close it?

[2018-11-12 18:56] #947 closed

[2018-11-12 19:51] landrito commented on #976
This is a very old discussion that I think we can close, we can reopen in googleapis/gapic-generator-ruby if needed.

[2018-11-12 19:51] #976 closed

[2018-11-12 19:53] landrito commented on #1399
AFAIK this is probably still an issue, but I think this would be better handled in googleapis/gapic-generator-typescript rather than here. I assume theres a patch in synth-tool that handles the one or two cases this arises. Closing.

[2018-11-12 19:53] #1399 closed

[2018-11-12 19:54] jbolinger commented on #1536
I'll close this since we are planning to address this kind of thing in the new generator, but not here.

[2018-11-12 19:54] #1536 closed

[2018-11-12 20:39] landrito commented on #1616
I think we'll eventually handle this in gapic-generator-typescript:

https://github.com/googleapis/gapic-generator-typescript/pull/1/files#r227545467

[2018-11-12 20:39] #1616 closed

[2018-11-12 20:40] landrito commented on #1530
Looks like it!

[2018-11-12 20:40] #1530 closed

[2018-11-12 22:17] michaelbausor commented on #1362
AFAIK this is not affecting any APIs, and a strong case exists that this problem should be fixed in the upstream proto instead of our generator. So we should close for now, and reopen if there is a need for us to handle this problem.

[2018-11-12 22:17] #1362 closed

[2018-11-12 22:18] michaelbausor commented on #1215
No update, this remains open and P2.

[2018-11-12 22:48] alexander-fenster commented on #2152
P2, since Yoshi has a workaround in synth. I will take a look if it's an easy fix in the snip files.

[2018-11-13 19:00] crwilcox opened #2422 "[Python] Replacement not occurring in docstring for apiMethod.name"
[code]

We noticed an issue with replacements in python docstrings.

[2018-11-13 19:12] pongad commented on #1986
Go and Java are already doing this.

Go adds a comment to the top of the file like [this](https://github.com/GoogleCloudPlatform/google-cloud-go/blob/master/kms/apiv1/doc.go#L15).

Java adds `@Generated` annotation like [that](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/TopicAdminClient.java#L126)

[2018-11-13 23:30] #1094 closed

[2018-11-14 00:45] pongad commented on #2069
I haven't worked on this. I think this should move to the microgenerator.

[2018-11-14 20:02] tseaver opened #2429 "Python: bigtable enum generation missing 'StorageType' from 'google/bigtable/admin/v2/common.proto'"
See today's [Bigtable autosynth PR](https://github.com/googleapis/google-cloud-python/pull/6492).

I'm worried that somehow the change is due to the merge last week of #2418.

[2018-11-14 20:14] andreamlin opened #2431 "Enum imports are wrong [Java]"
For example, in java_library.baseline, there's an [import](https://github.com/googleapis/gapic-generator/blob/9ad9ebf4478ab40f3d37a5fe83d3069e9d2809cd/src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline#L119) for
[code]
but it is [referenced](https://github.com/googleapis/gapic-generator/blob/9ad9ebf4478ab40f3d37a5fe83d3069e9d2809cd/src/test/java/com/google/api/codegen/g

[2018-11-14 20:21] #2431 closed

[2018-11-14 22:48] #2354 closed

[2018-11-15 00:20] vchudnov-g commented on #2069
Then how about we file a parallel issue there, refer to it here, and close this one?

[2018-11-15 21:47] pongad commented on #2069
I already created a parallel issue but forgot to close this. Doing that now.

[2018-11-15 21:47] #2069 closed

[2018-11-15 23:19] andreamlin commented on #2265
The issue is in https://github.com/googleapis/artman/issues/518

[2018-11-16 17:39] andreamlin commented on #2265
This has been fixed in artman's master branch.

We will cut an artman release very soon.

[2018-11-19 19:55] andreamlin commented on #2429
Are able to use this change in a local fork of gapic-generator to generate the desired Bigtable's python client?

[2018-11-19 21:37] landrito commented on #1287
I think this has been fixed but this issue wasn't updated. Give me a day to track it down!

[2018-11-19 22:09] noahdietz commented on #2065
@alexander-fenster any update? Thanks!

[2018-11-19 22:09] noahdietz commented on #2157
@lukesneeringer friendly ping

[2018-11-19 22:10] noahdietz commented on #2191
@lukesneeringer friendly ping for an update

[2018-11-20 00:29] andreamlin commented on #2429
@tseaver Are you able to pull the latest gapic-generator and successfully generate the Bigtable python client?

[2018-11-20 03:10] tseaver commented on #2429
@andreamlin

The only way I know to do that is via `synthtool`, which pulls down the latest `artman` docker image.  Unfortunately, it does not generate the `StorageType` enum:

[code]

[2018-11-20 18:17] lukesneeringer commented on #1320
Whups, sorry. This is done. (Not going to do that last item.)

[2018-11-20 18:17] #1320 closed

[2018-11-20 18:19] lukesneeringer commented on #2157
@michaelbausor Is this a result of your previous fixes? (It seems like the timing is roughly right for that.)

[2018-11-20 18:22] michaelbausor commented on #2157
I don't think the problem is related, as it is from July, much earlier than my fixes. But the recent pandoc fix might have *fixed* this problem - I'm not sure.

[2018-11-20 18:40] TheRoyalTnetennba opened #2445 "[Ruby] Vision v1p1beta1 and v1p2beta1 implement ImageAnnotatorClient incorrectly"
The vision library recently added the ImageAnnotatorClient class to distinguish from the ProductSearch class. So the way one would instantiate a client has changed from `Google::Cloud::Vision.new` to `Google::Cloud::Vision::ImageAnnotatorClient.new`. This works fine for v1 and v1p3beta1, which both have the ProductSearch class. The v1p1beta1 and v1p2beta1 versions do not implement a ProductSearch

[2018-11-20 20:41] andreamlin commented on #2429
@tseaver artman [v0.16.2](https://hub.docker.com/r/googleapis/artman/tags/) is out! I verified locally that the generated python client has a `class StorageType`, though I'm not sure how to build + test the client.

If you're comfortable with this, would you mind closing the issue?

[2018-11-20 20:43] andreamlin commented on #2265
This should be good in the newest version of artman [v0.16.2](https://hub.docker.com/r/googleapis/artman/tags/)

[2018-11-20 20:43] #2265 closed

[2018-11-21 00:30] #2366 closed

[2018-11-21 15:12] tseaver commented on #2429
@andreamlin Thank you!  https://github.com/googleapis/google-cloud-python/pull/6630 includes the fixed `enums.py`.

[2018-11-21 15:12] #2429 closed

[2018-11-21 16:25] tseaver opened #2449 "[Python] generated docstrings for 'google.cloud.container_v1.types.Cluster' break docs build"
[code]

The actual file containing that docstring is `google/cloud/container_v1/proto/cluster_service_pb2.py`.  The offending bit is:

[code]

where the backtick-double-underscore is wrapped away from the closing angle bracket.

[2018-11-21 16:36] tseaver commented on #2319
I believe this issue is now closed, although, like Ahrnuld, "I'll be back!" if it pops up again in future autosynth runs.

[2018-11-22 00:45] tseaver commented on #2319
Sigh.

[2018-11-22 00:50] tseaver commented on #2319
New incidences today:

- https://github.com/googleapis/google-cloud-python/pull/6636
- https://github.com/googleapis/google-cloud-python/pull/6637
- https://github.com/googleapis/google-cloud-python/pull/6638
- https://github.com/googleapis/google-cloud-python/pull/6639

[2018-11-25 10:16] joofholland commented on #2054
Hi! Is there any progress on this? I would like to use Google generated typings

[2018-11-26 05:17] alexander-fenster commented on #2054
Hi @joofholland! We plan to ship our first TypeScript libraries later this or early next quarter. This issue will be updated when the first auto-generated TypeScript libraries are published.

[2018-11-26 18:22] andreamlin commented on #1783
hopefully this will become outdated or refiled when the API config spec goes live

[2018-11-26 18:29] andreamlin commented on #1711
@pongad Can you confirm this is still an issue?

[2018-11-26 18:30] kmjung commented on #1732
See https://github.com/googleapis/google-cloud-java/pull/4022/commits/17ca4c7c65d41cbfea1c7d79124008a51314c74a

[2018-11-26 18:36] andreamlin commented on #1418
Closing because we are no longer using Travis

[2018-11-26 18:36] #1418 closed

[2018-11-26 18:51] andreamlin commented on #1328
@lukesneeringer how are we handling this in the API config spec?

[2018-11-26 19:01] alexander-fenster commented on #833
Won't fix since we'll move to TypeScript generator with a different documentation syntax.

[2018-11-26 19:01] #833 closed

[2018-11-26 19:21] landrito commented on #975
These methods were removed from ruby in https://github.com/googleapis/gapic-generator/pull/1375

[2018-11-26 19:30] andreamlin commented on #401
This is possible related to https://github.com/googleapis/gapic-generator/issues/401

[2018-11-26 19:31] andreamlin commented on #2449
@tseaver How much of a blocker is this for the Yoshi team? We can bump this to a P1 if it's introducing a lot of toil on your end.

[2018-11-26 19:33] michaelbausor commented on #888
No longer relevant, closing out.

[2018-11-26 19:33] #888 closed

[2018-11-26 19:34] michaelbausor commented on #866
I do not know what this refers to any more. Closing out - can be reopened if/when it is actually a problem.

[2018-11-26 19:34] #866 closed

[2018-11-26 19:35] michaelbausor commented on #385
PHP won't do this

[2018-11-26 19:41] andreamlin commented on #62
This seems like it would be a lot of toil.

[2018-11-26 19:50] landrito commented on #394
If this is still an issue I'd assert this will be a 'will not fix' in lieu of solving this in gapic-generator-python. @lukesneeringer if you disagree, please reopen.

[2018-11-26 19:50] #394 closed

[2018-11-26 20:02] andreamlin commented on #1929
@chrisdunelm Can you assign a priority?

[2018-11-26 20:02] andreamlin commented on #2220
Closing until we have the resources to do this.

[2018-11-26 20:02] #2220 closed

[2018-11-26 20:03] andreamlin commented on #2360
@crwilcox Would you mind providing examples for how the nox.py templates should be updated?

[2018-11-26 20:06] andreamlin commented on #2422
@crwilcox Would you mind linking to a sample PR for google-cloud-python where this happens?

[2018-11-26 20:07] andreamlin commented on #2422
@crwilcox Actually I realized there is linked PR, thanks :)

[2018-11-26 20:07] andreamlin commented on #2054
@alexander-fenster Can you add a priority?

[2018-11-26 20:10] andreamlin commented on #2141
@michaelbausor Updates?

[2018-11-26 20:11] andreamlin commented on #393
Ack

[2018-11-26 20:11] andreamlin commented on #1287
@landrito Updates?

[2018-11-26 20:11] jskeet commented on #1929
(Assigned as P2; I didn't want to make it P3 as we do still want to look at this again...)

[2018-11-26 20:11] andreamlin commented on #2065
@alexander-fenster hey how's this going?

[2018-11-26 20:12] andreamlin commented on #2191
@lukesneeringer Would you mind taking action on this?

[2018-11-26 20:13] andreamlin commented on #2157
@crwilcox Is this still an issue?

[2018-11-26 20:21] landrito commented on #1287
So the work items I see are:

- [ ] The type should code-formatted, on the same line as, or clearly associated with, the text "Returns"
  - @eoogbe addressed this in: https://github.com/googleapis/gapic-generator/issues/1287#issuecomment-341302264
- [ ] There should be a newline between the type and the description
  - This has been fixed but I am failing to find the PR.
- [ ] The + delimiter shou

[2018-11-26 20:21] landrito commented on #1287
Closing as all the items have been addressed.

[2018-11-26 20:21] #1287 closed

[2018-11-26 20:41] andreamlin commented on #2422
fix on the way

[2018-11-26 20:54] pongad commented on #1711
We use netty shaded now so this is no longer a problem.

[2018-11-26 20:54] #1711 closed

[2018-11-26 21:32] landrito commented on #385
I am fairly sure Python won't do this. @lukesneeringer?

[2018-11-26 21:44] tseaver commented on #2449
@andreamlin

Thanks, but /google-cloud-python/pull/6634/ adds a workaround for it in `container/synth.py`, so we aren't blocked.

[2018-11-27 00:34] andreamlin opened #2454 "Container Analysis v1beta1 fails to generate"
[code]

[2018-11-27 00:34] andreamlin commented on #2454
See https://circleci.com/gh/googleapis/gapic-generator/10384#artifacts/containers/0 and its log file for the artman failure when generating any container analysis v1beta1 client.

[2018-11-27 00:35] andreamlin commented on #2454
This is locally reproducible, and it was a regression introduced by the latest commit 1add5a8ba75e29a80613fb2a187a46c08887434a

[2018-11-27 08:36] chrisdunelm commented on #385
C# already supports this, using the same language-specific config as Java.

[2018-11-27 22:41] beccasaurus opened #2457 "Sample cannot print results from LRO, field not found on Operation"
When generating a sample for a LRO method, I get:

[code]

To reproduce, here's a diff you can add to the V1 Speech GAPIC config
`google/cloud/speech/v1/cloud_speech_gapic.yaml`

[code]

`$resp` isn't getting set to the response message type ☹️

/cc @pongad
/fyi @vchudnov-g @hzyi-google

[2018-11-27 22:58] #2454 closed

[2018-11-27 23:54] andreamlin opened #2458 "Ruby CircleCI job is bugging out"
Starting failing at https://github.com/googleapis/gapic-generator/pull/2455.

[2018-11-28 00:00] andreamlin commented on #2458
Seems to be a CircleCI docker image problem: https://github.com/circleci/circleci-images/issues/275

[2018-11-28 17:15] felicianotech commented on #2458
The referenced CircleCI Issue above has been resolved.

[2018-11-28 18:30] andreamlin commented on #2458
Thanks for the update @felicianotech !

[2018-11-28 18:30] #2458 closed

[2018-11-28 18:41] tseaver commented on #2319
@andreamlin Is there a way we could just sort the top-level enums / messages by name, and sort the enums within messages by name?  I can't see a way to get that done, looking at `transformer/py/PythonGapicSurfaceTransformer.java` or `transformer/GrpcElementDocTransformer.java`.

[2018-11-28 19:10] andreamlin commented on #2319
@tseaver Sure, if we're fine with a one-time change to the surface that orders all existing enums. I can give it a shot

[2018-11-28 23:22] #2422 closed

[2018-11-29 00:49] crwilcox commented on #2360
We started providing the template from synthtool https://github.com/googleapis/synthtool/blob/master/synthtool/gcp/templates/python_library/noxfile.py.j2

So, really we don't use the current one. If it is useful for other users (it may very well be) you could use this as a template. Otherwise it may be reasonable for the generator to not provide this at all?

[2018-11-29 21:32] beccasaurus commented on #2457
I'm trying to generate Python, fwiw, not Java

[2018-11-29 21:34] beccasaurus commented on #2457
[code]

[2018-11-29 21:39] vchudnov-g commented on #2457
Ah, sorry, we assumed incorrectly. We'll look into this.

[2018-11-29 21:47] vchudnov-g commented on #1414
In-code samples are not generated by the standalone sample infrastructure yet, so the language owners are still responsible for those. Assigning to @alexander-fenster

[2018-11-29 21:51] vchudnov-g commented on #945
We are allowing file input in the standalone samples. When we migrate the same samplegen infrastructure to also generate the in-code samples, this will come along for the ride.

[2018-11-29 21:53] vchudnov-g commented on #698
This error message is for the language owners to implement, in either gapic-generator or the microgenerators.

[2018-11-29 21:53] vchudnov-g commented on #698
This error message is for the language owners to implement, in either gapic-generator or the microgenerators.

[2018-11-29 22:18] andreamlin commented on #2319
@tseaver See https://github.com/googleapis/gapic-generator/pull/2453 for a fix and https://github.com/googleapis/google-cloud-python/pull/6707 for an example of what happens after that PR is applied.

[2018-11-29 23:15] #2319 closed

[2018-11-30 16:52] lukesneeringer commented on #2360
I am happy to just remove it.

Question: Last I checked, the latest version of nox still has to be installed with `--pre`. Any plans to rip off the bandaid on that?

[2018-11-30 16:58] lukesneeringer commented on #2191
Update: I just verified (using the microgenerator) that pandoc does not add `:raw-latex:` directives like this to the Markdown found in the proto. (I used the original example from dataproc to test.)

Looking into why it is happening here.

[2018-11-30 17:10] lukesneeringer commented on #2191
Figured out the issue. Filed googleapis/artman#535 to fix it.

[2018-11-30 21:42] #2457 closed

[2018-12-02 04:31] danielcardeenas opened #2464 "[node] JSON file cannot be resolved without explicit ".json" extension when using require"
#### Environment details

  - OS: Windows 10
  - Node.js version: 9.11.1
  - npm version: 6.1.0
  - `@google-cloud/datastore` version: 2.0.0

#### Steps to reproduce

  1. compile code with webpack

When compiling the code, the next error occurs:
[code]

Due to require not having explicit '.json' extension, compiler fails to find the file
[code]

![image](https://user-images.githubusercontent.com/

[2018-12-05 19:34] #1678 closed

[2018-12-06 00:01] crwilcox opened #2469 "Improving output docs from generator"
For the monitoring client the current doc examples are causing confusion as it generates `interval = {}` and gives no hint to the type or contents of interval. a `startTime` and `endTime` need to be provided. This PR updates the docstrings to be a bit more helpful. Is it possible to do this in the generator?

https://github.com/googleapis/nodejs-monitoring/pull/176

[2018-12-07 17:33] andreamlin commented on #2469
Are the new strings `startTime: ... endTime: ...` just fixed strings, or where do we source the values from?

[2018-12-07 19:13] crwilcox commented on #2469
startTime, endTime are the variable names for an interval object

This object should have the same structure as [TimeInterval]{@link google.monitoring.v3.TimeInterval}

[2018-12-10 18:21] jbolinger commented on #393
@andreamlin Any updates on this?

[2018-12-10 18:21] jbolinger commented on #2360
@lukesneeringer Any updates on this one?

[2018-12-10 18:22] jbolinger commented on #2191
@lukesneeringer Any news on this one?

[2018-12-10 18:22] jbolinger commented on #2157
@lukesneeringer or @michaelbausor any updates on this?

[2018-12-10 18:23] jbolinger commented on #2141
@michaelbausor any updates?

[2018-12-10 18:23] jbolinger commented on #2065
@alexander-fenster any news?

[2018-12-10 18:23] jbolinger commented on #1414
@alexander-fenster any updates?

[2018-12-12 22:48] andreamlin opened #2481 "Use timeout value in config"
We never use the value of [`timeout_millis`](https://github.com/googleapis/gapic-generator/blob/6f888379edfdd5735fe7cbf65880dcf7d015f884/src/main/proto/com/google/api/codegen/config.proto#L251) from the GAPIC config. Nothing ever calls the derived [`MethodConfig#getTimeout`](https://github.com/googleapis/gapic-generator/blob/6f888379edfdd5735fe7cbf65880dcf7d015f884/src/main/java/com/google/api/cod

[2018-12-14 01:15] jadekler opened #2483 "Go gapic generator should use gax-go/v2"
https://github.com/googleapis/gax-go

cc @pongad @noahdietz

[2018-12-14 18:15] noahdietz commented on #2483
If you don't mind, can you catch me up on any API changes in `v2` that need to be reflected in the snippets/generated code? Or is this going to be as straight forward as changing the `gax-go` [import](https://github.com/googleapis/gapic-generator/blob/bf308627e3012ca7ae2042f05ee018578efadcd2/src/main/java/com/google/api/codegen/transformer/go/GoGapicSurfaceTransformer.java#L322) to `github.com/goo

[2018-12-14 20:37] jadekler commented on #2483
No API changes at all :) Just need an import path change.

[2018-12-14 20:40] noahdietz commented on #2483
One "import path change" coming right up!

Thanks for the tee-ball-esque first gapic-generator issue :laughing:

[2018-12-14 22:49] #2483 closed

[2018-12-17 16:38] jadekler opened #2485 "Go generator should only change the version of a client when there are actually changes"
Currently when I run artman to generate Go gapics, _every single gapic is updated every time_ because the `const versionClient = "20181217"` is updated.

It makes it really hard to figure out what actually changed. Can we please make this only happen to gapics that actually changed?

cc @noahdietz

[2018-12-17 19:35] noahdietz commented on #2485
Closing in favor of [google-cloud-go#1262](https://github.com/googleapis/google-cloud-go/issues/1262).

[2018-12-17 19:35] #2485 closed

[2019-01-02 17:57] landrito commented on #2360
@lukesneeringer Any updates?

[2019-01-02 17:57] landrito commented on #2191
@lukesneeringer any updates?

[2019-01-02 17:58] landrito commented on #2157
@lukesneeringer or @michaelbausor any updates?

[2019-01-02 17:58] landrito commented on #2141
@michaelbausor any updates?

[2019-01-02 17:58] landrito commented on #2065
@alexander-fenster any updates?

[2019-01-02 17:59] landrito commented on #1414
@alexander-fenster any updates?

[2019-01-02 17:59] landrito commented on #393
@andreamlin any updates?

[2019-01-02 19:18] dazuma opened #2492 "[Ruby] Service factory module names can conflict with model class names"
When generating google-cloud-dataproc, there is a service called `WorkflowTemplateService`. The ruby generator creates a factory module `Google::Cloud::Dataproc::V1::WorkflowTemplate` which contains the factory method for creating the service client. The gapic generator's current practice is to strip the words `Service` and `Client` from the name of this module. In this case, however, there is alr

[2019-01-02 19:23] jbolinger commented on #2492
@dazuma I just CC'd you on a related internal request about this. Should we reconsider how this works (i.e. make it configurable or stop stripping vs. checking for this special case?)

[2019-01-02 23:35] kinwa91 opened #2493 "[node][ruby] Broken link for toISOString in timestamp.proto"
See this broken generated markdown [link](https://github.com/googleapis/nodejs-automl/blob/master/src/v1beta1/doc/google/protobuf/doc_timestamp.js#L90). The Mozilla link ends with a `]`(breaks link) where in the [source proto](https://github.com/protocolbuffers/protobuf/blob/46a48e49aa8357bbeee8040819a35e59880e329a/src/google/protobuf/timestamp.proto#L116) it ended with `)`(correct)

[2019-01-02 23:50] kinwa91 commented on #2493
Another link problem in `timestamp.proto` is the `joda.org` link:

https://github.com/googleapis/nodejs-automl/blob/17d4c65ea4908f643e883424b935a9626332105a/src/v1beta1/doc/google/protobuf/doc_timestamp.js#L94-L96

[2019-01-04 22:41] alexander-fenster commented on #2493
Some problem with Markdown parsing / printing / whatever. It's not only for Node, Ruby is also affected: https://github.com/googleapis/gapic-generator/search?q=toISOString&unscoped_q=toISOString

[2019-01-04 22:54] alexander-fenster commented on #2493
I suggest we don't investigate and fix it here since we'll be moving to microgenerators for both affected languages. Feel free to reopen if you think this is wrong.

[2019-01-04 22:54] #2493 closed

[2019-01-09 17:51] vam-google commented on #2360
@lukesneeringer I'm to reassign this to myself. This is relevant to bazel work as well (the less files we need to generate with bazel the better, so reducing the number of expected files in the output makes bazel integration easier in terms of feature parity with artman). Please let me know if you want to keep it assigned to yourself.

[2019-01-10 01:05] andreamlin opened #2503 "CircleCI Ruby Pubsub test/generation is failing"
Possibly due to https://github.com/googleapis/google-cloud-ruby/pull/2782#discussion_r246550700.

Sample failure log: https://circleci.com/gh/googleapis/gapic-generator/13089.

[2019-01-10 01:38] andreamlin opened #2505 "CircleCI Python Speech test is failing"
pb2 file has a non-ASCII character, and the generated pb2 doesn't have the UTF-8 header to specify file encoding. python2.7 assumes ASCII encoding by default, and this is only safely overrideable via the UTF-8 header.

Internal fix coming in cl/228612975 to remove the non-ASCII character.

[2019-01-10 02:35] andreamlin commented on #2503
cc @blowmage

[2019-01-10 03:09] andreamlin commented on #2505
Fixed in https://github.com/googleapis/googleapis/commit/fb44301b2b667c56a0f2a361a5a7d3709d5f6a69

[2019-01-10 03:09] #2505 closed

[2019-01-11 22:36] vchudnov-g opened #2511 "cryptic null ptr error when `parameters.attributes.parameter` does not refer to an item listed in `parameters.defaults`"
In the `sample_value_sets` config, if `parameters.attributes.parameter` specifies a parameter not in `parameters.defaults`, then we get non-useful error message:

[code]

This config segment seems to illustrate the problem:
[code]

[2019-01-11 23:55] vchudnov-g opened #2513 "ensure string literals properly escape characters as needed"
At the moment, this means ensuring that double quotes `"` inside the string literal (eg in a samplegen `print` statement) get escaped if needed. I encountered this with a config that contained something like this:
[code]

which resulted in an incorrect  PHP string literal in the generated sample, `"alpha"beta"gamma"`, instead of the correct `"alpha\"beta\"gamma"`

This is not a problem in Python,

[2019-01-15 15:34] callmehiphop commented on #2127
We actually have a couple of use cases where accessing members of the grpc client is needed. Maybe instead of stubbing more of those methods we could just add getters for the grpc clients.

[2019-01-15 18:35] vchudnov-g opened #2514 "if we don't use sample arguments, let's not include flag passing libraries"
I observed this in Python samples. Have not checked the behavior in other languages.

[Configuring](https://github.com/vchudnov-g/googleapis/commit/0d71f16a2249ddb31619dccbda4600bb8ce35fbb#diff-5e697703cdd806bbb323023b3b6a47e2R218) a sample without `sample_argument_name` [results](https://gist.github.com/vchudnov-g/eef3b8cecb7bc15cb73b758f598c5cb0#file-analyze_entity_sentiment_request_entity_senti

[2019-01-17 18:50] andreamlin opened #2518 "CircleCI's artman smoke tests are failing"
There's a bit of churn going on in the artman repo; this is resulting in several artman targets failling.

These shouldn't affect us hopefully; we can continue merging so long as the artman smoke test errors aren't egregious.

[2019-01-17 21:58] hzyi-google opened #2519 "Samplegen: we should turn off default output handling for RPCs that returns `Empty`"
cc/ @vchudnov-g

[2019-01-18 00:28] andreamlin opened #2521 "String formatting functions are removed after introducing resource_name_generation"
This blocks release of some Java clients, such as the below Vision v1 library.

See comments of https://github.com/googleapis/google-cloud-java/pull/4161 for details.

It might be common for an API to only configure the resource path entities without specifying the `resource_name_generation` section that lists all the message objects that refer to those entities. In that case, `enableStringFormatF

[2019-01-18 00:31] andreamlin commented on #2521
@chingor13 Besides Vision, what other GA'd APIs are affected by this?

[2019-01-23 20:00] dazuma opened #2525 "[Ruby] Generated code and doc classes for protos should honor ruby_package"
If the Ruby namespace is set via `ruby_package`, gapic doesn't recognize it. In particular:
* The gapic generated code tries to reference proto classes via the default namespace. For example, for pubsub v1, `ruby_package` is set to `Google::Cloud::PubSub::V1`, but gapic generated code still tries to reference `Google::Pubsub::V1::Topic` instead of `Google::Cloud::PubSub::V1::Topic`.
* The namespac

[2019-01-23 22:13] jbolinger commented on #2525
@dazuma is this happening when you specify the `ruby_package` in the proto with the same value for `package_name` in the yaml file?

[2019-01-23 22:22] dazuma commented on #2525
@jbolinger Yes it is.

[2019-01-25 00:41] fenixsolorzano commented on #1756
Will there be any @types anytime soon?😅

[2019-01-28 18:12] hzyi-google opened #2527 "SampleGen: PHP sample packages need restructuring"
- move samples outside the gapic package
- change the sample directory to `api_name/version_name/php/sample.php`

[2019-01-28 18:13] hzyi-google commented on #2527
cc/ @beccasaurus @vchudnov-g  capturing the idea from chat so that we don't forget about it.

[2019-01-28 18:30] jbolinger commented on #2525
Ugh, I took a quick look and confirmed. It looks like this isn't something that can be fixed with the config. Feel free to upgrade the priority if you'd like us to fix this before the new generator comes online (I imagine this can be worked around but it probably creates large diffs).

[2019-01-28 19:09] dazuma commented on #2525
We can work around it pretty easily with synth scripts, so no, don't worry about fixing it before the new generator comes online. I'll up the priority if that ever turns out not to be the case.

[2019-01-31 01:06] andreamlin commented on #2521
still need to
release artman with latest gapic-generator
add the `enableStringFormatFunctions` config param to the affected clients

[2019-02-01 18:10] vam-google opened #2534 "Go: make generated output self-contained"
The generated by the Go generator (probably this also applies to the Go microgenerator) is not self-contained and depends on [google-cloud-go](https://github.com/googleapis/google-cloud-go) and [go-genproto](https://github.com/google/go-genproto) (for common protos) repositories.

In other words the generated output depends on the previous version of its own output, because  both of the repositori

[2019-02-01 18:13] vam-google commented on #2534
The suggested way to fix it is:
1) move longrunning client under gax-go repo;
2) remove the transitive dependency on metadata (implies modifying the code of our direct dependency (I don't remember which one it was)

[2019-02-01 19:06] noahdietz commented on #2534
@vam-google WRT suggestion 2: compute/metadata is a manually written client, not (gapic-)generated. Does that help at all with a case for keeping things the way they are? If not, I'd appreciate a hint at the dep that brings in compute/metadata if you have a way of determining it already.

(CC @jadekler for his thoughts) WRT suggestion 1: This sounds like it would get complicated. We'd need to chan

[2019-02-01 19:45] jadekler commented on #2534
I'm also curious as to why this is a problem. I don't think this is a problem. Neither longrunning nor metadata are auto-generated, so it's not the case that the generated output depends on the previous version of its own output AFAICT.

[2019-02-01 19:54] andreamlin commented on #1756
@alexander-fenster Would you mind responding to this issue?
Feel free to justify downgrading the priority.

[2019-02-01 19:58] alexander-fenster commented on #1756
OK so two issues here. @fenixsolorzano, I believe you're talking about TypeScript typings, that we are working on and expect to release the first versions this quarter :)

@andreamlin @stephenplusplus @JustinBeckwith, re: exposing Protobuf types, since we're going to replace JavaScript gapic-generator with a new TypeScript generator, I will take care of that in the scope of that new generator. We'

[2019-02-01 20:00] andreamlin commented on #1756
@alexander-fenster Can you update that with the timeline for the TypeScript generator to be used in production?

[2019-02-01 20:15] vam-google commented on #2534
@noahdietz
This was created in response to a PR feedback: https://github.com/googleapis/gapic-generator/pull/2526#discussion_r251173249

`compute/metadata` is manual (sorry for confusion, I did not mean that this was generated). In general the problem is in the way how golang packages are structured. Specifically google-cloud-go is mostly populated by the output, generated by gapic-generator. At t

[2019-02-01 20:18] vam-google commented on #2534
@noahdietz @jadekler
To clarify: the issue described above does not make it impossible to build/test clients, but it describes the current serious issues we have in the structure of golang repositories. Those issues also make it hard to use gapic generator and gapic-generated clients by third parties (by anybody who is not google-cloud), because of how tightly it is coupled with google-cloud speci

[2019-02-01 20:26] hzyi-google opened #2536 "Samplegen: sample parameter default values are not filled in for Java"
ValueSet: `odyssey`
output: https://github.com/googleapis/gapic-generator/blob/b7b11acfa1b82f1e9369711af9b872d6c08504a9/src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline#L206

cc/ @vchudnov-g

[2019-02-01 21:00] jadekler commented on #2534
Thanks for raising these issues. These are definitely things we should consider carefully, and I appreciate you starting the conversation.

Sorry to nitpick, but tbh I think "it works" is a better description than "it kind of works". Unless gapic-generator is relying on cloud.google.com/go at specific versions (is it?), moving these packages to a different repo won't functionally change anything.

[2019-02-01 21:23] alexander-fenster commented on #1756
We plan to have alpha (= generate some APIs) by the end of Q1'18, and beta (= generate most APIs) by the end of Q2'18.

[2019-02-01 23:10] vam-google opened #2537 "Add tests for Bazel GAPIC Extensions"
Add tests for the rules declared under `rules_gapic/*`. Those tests eventually can replace baseline tests.

[2019-02-04 23:14] beccasaurus opened #2540 "SampleGen: Attribute defined without default value does not raise error (only NullPointerException)"
Trying to generate a sample for Google Cloud Speech V1

The following works OK

[code]

But if I try to add a binary field, I get the following:

[code]

YAML:

[code]

To reproduce, generate Speech V1 using the attached YAML (note: for GitHub upload the file is named `speech_gapic.yaml.txt` – rename appropriately)

[speech_gapic.yaml.txt](https://github.com/googleapis/gapic-generator/files/283013

[2019-02-04 23:33] noahdietz opened #2541 "Go: {gapic}_example_test.go files should use aliased gapic import"
This issue was moved from [artman #547](https://github.com/googleapis/artman/issues/547).

The generated `{gapic}_example_test.go` file should import the GAPIC using a named/aliased package.

example:
[code]

Here, the GAPIC pkg import is named `library` explicitly in the generated code.

[2019-02-04 23:39] hzyi-google commented on #2540
Adding a default value for `audio.content` will eliminate the error. However we should make the error message more intuitive.

[2019-02-04 23:45] beccasaurus commented on #2540
Feel free to close "Works as intended" or "Rebecca's an idiot" ;)

Or TAL at error messages. I totally forgot about the default. Added and it works!! THANKS!

[2019-02-04 23:48] hzyi-google commented on #2540
Glad it worked! Let's just leave it open to remind us to fix the error message.

[2019-02-05 22:45] hzyi-google commented on #2536
It seems to be caused by flattening. In a non-flattened method, we prefer types set on message over types set in the yaml, i.e., these fields are treated as strings. While in a flattened method, we honor the `flattening` field in the yaml, therefore these fields are treated as resource names, so they are rendered as above.

I am trying configuring entity names and will see how it goes.

[2019-02-05 22:57] #2541 closed

[2019-02-07 17:59] beccasaurus opened #2550 "SampleGen: Update the generated CLI to use consistent `--param-name=""` flags for all languages"
Today, we vary the CLI flags used to pass parameters to generated samples (when run) across the languages:
 - Python: `--file_path="image.png"`
 - PHP: `--filePath="image.png"`

I advocate that these are all changed to follow a `--file-path="image.png"` dash-es convention

Reasoning:
 - Almost all common *nix tools follow a standard `--foo-bar=` naming convention, so this does not conflict with an

[2019-02-07 18:08] vchudnov-g commented on #2550
Agreed that the CLI argument convention (a) should be the same across languages, and (b) should adhere to an accepted standard.

I'd be OK with either snake_case or dash-case, but I prefer snake_case because IMO it's much more prevalent (and also what we use in YAML, etc.).

[2019-02-07 19:17] vchudnov-g commented on #2550
Hmm, a cursory look at a few `man` pages suggests that both snake_case and dash-case are in wide use, but perhaps dash-case is used a bit more....

[2019-02-07 19:23] devbww commented on #2550
For what it's worth, when gapic supports C++, and if that support uses Abseil to handle CLI flags, then snake_case would be preferable.

[2019-02-07 19:24] beccasaurus commented on #2550
Hoping we won't run into issues with languages where the opposite is true

The only reason why I would like to see `snake_case` is because it provides a nice, deterministic mapping from `YAML <--> CLI`, which I would like a lot!

[2019-02-07 19:30] vchudnov-g commented on #2550
It sounds like we should be able to do either. My personal preference is snake_case as well. We can go with that if that's the majority opinion. @hzyi-google ?

[2019-02-07 19:54] hzyi-google commented on #2550
OK let's do snake_case.

[2019-02-07 20:05] hzyi-google commented on #2550
@devbww I don't actually think the casing here would cause any troubles for Abseil though. The CLIs here are only used for generated samples, for which we expect to be standalone executable, not a generated "package" to be managed by any dependency management tool. but I can never tell :/
We don't see sanke_case causing any problems to existing languages, at least not for now, so let's just do sna

[2019-02-08 00:22] hzyi-google opened #2554 "SampleGen: Java standalone samples need enhancement"
- [ ] `ApiFuture` should be imported from `com.google.api.core.ApiFuture`
- [ ] Relocate the open region tag to right below the import section to make formatter happy
- [ ] Add comments for required imports for running samples
- [ ] `compile project` in gradle.build is missing a `:`

[2019-02-08 00:23] hzyi-google commented on #2554
cc/ @vchudnov-g

[2019-02-08 13:24] irthomasthomas opened #2556 "Is there a tutorial anywhere?"
Hello,

I am looking to build an interface to the sheets api, in a language not currently supported. My plan was to start with the javascript version and rewrite it for my needs. But I am having a devil of a time deciphering the documents. Are there any other guides or tutorials out there?

Thanks!

[2019-02-08 14:07] irthomasthomas commented on #2556
I find these steps confusing. Is step 1 talking about /usr/local/bin? Why not just say that? And what is YOUR_PROTO_DIR and YOUR_PROTO_FILE?

1. The include directory with the proto files bundled with protoc (from the protoc setup step). Hereafter, this will be referenced as ${PROTOC_INCLUDE_DIR}.
3. The directory containing your proto. Hereafter, this will be referenced as ${YOUR_PROTO_DIR}.
4. Y

[2019-02-08 14:50] irthomasthomas opened #2557 "Where are files for sheets api?"
Sorry to keep posting issues, but I don't know where else to go for help. I'm working through your instructions and I come to look for the sheets api but I can not find the prerequisite yaml file. I can find json files from the discovery service but no yaml file.

[2019-02-08 20:41] #2550 closed

[2019-02-11 18:45] eoogbe commented on #2518
@andreamlin Is this still happening?

[2019-02-11 18:46] #2554 closed

[2019-02-11 18:49] eoogbe commented on #2513
@hzyi-google What's the status of this?

[2019-02-11 18:49] eoogbe commented on #2519
@hzyi-google What the status of this?

[2019-02-11 18:51] eoogbe commented on #2503
@jbolinger What's the status of this?

[2019-02-11 18:54] andreamlin commented on #2518
Nope! thanks

[2019-02-11 18:54] #2518 closed

[2019-02-11 18:55] jbolinger commented on #2503
This is blocked by https://github.com/protocolbuffers/protobuf/issues/5584

Yoshi, et al have post-processing workarounds but this is a good test for the namespace feature so I don't think we should workaround the root cause for our tests.

[2019-02-11 18:55] eoogbe commented on #1811
@lukesneeringer Any updates to this?

[2019-02-11 18:58] eoogbe commented on #2445
@jbolinger Any updates?

[2019-02-11 19:01] blowmage commented on #2503
I somehow missed the notification for this over the weekend. My apologies.

As Joe says, we are working around this for the time being, including releasing a google-cloud-pubsub gem with the workaround last week.

[2019-02-11 19:19] hzyi-google commented on #2519
I haven't worked on it yet. Is it causing you any troubles?

[2019-02-11 19:20] hzyi-google commented on #2513
Haven't worked on it yet.

[2019-02-11 19:24] jbolinger commented on #2445
Nothing is planned for this but we'll revisit it in the context of the new generator.

[2019-02-11 19:26] eoogbe commented on #2556
We do not have another tutorial besides the README docs. The directories refer to the location of your .proto files. If your protos are located at `~/protos/example.proto`, you would have:
PROTO_INCLUDE_DIR: `/usr/local/bin/protoc/include`
YOUR_PROTO_DIR: `~/protos`
YOUR_PROTO_FILE: `~/protos/example.proto`

If the directory containing the googleapis repo is `~/googleapis`, the command to run woul

[2019-02-11 19:31] eoogbe commented on #2557
The Sheets API does not have proto files released. It can't be generated using the GAPIC generator. You can access the Sheets API [here](https://developers.google.com/sheets/api/)

[2019-02-12 21:53] kidplug commented on #2065
Any attention being given to this?

[2019-02-12 22:27] alexander-fenster commented on #2065
@kidplug @murrayju Sorry, it took longer than expected. I originally planned to fix it in the new generator but since it's a quick and easy fix (please review what I suggest to change), let's just do it here and now. It will take several weeks for this fix to get into all libraries but eventually you'll find it there.

[2019-02-13 00:58] #2065 closed

[2019-02-13 18:03] eoogbe commented on #2235
@michaelbausor Any updates?

[2019-02-13 18:07] eoogbe commented on #2159
@lukesneeringer Is this issue still happening?

[2019-02-13 18:08] eoogbe commented on #2152
@alexander-fenster Any updates?

[2019-02-13 18:09] eoogbe commented on #2120
@alexander-fenster Any updates?

[2019-02-13 18:10] eoogbe commented on #2106
@jbolinger Any updates?

[2019-02-13 18:11] eoogbe commented on #1983
@michaelbausor Any updates?

[2019-02-13 18:17] jbolinger commented on #2106
All P2+ are being addressed with https://github.com/googleapis/gapic-generator-ruby and won't be fixed here.

[2019-02-13 19:39] andreamlin opened #2569 "Add bazel test logs to CircleCI artifacts"
so we can look at the failures
e.g. I want to see the failure logs for https://circleci.com/gh/googleapis/gapic-generator/16701#artifacts/containers/0

[2019-02-13 19:50] hzyi-google opened #2570 "SampleGen: Java output section does not handle repeated types correctly"
Currently, if we assign a repeated type to a local variable in the output part, Java samples incorrectly render the inner type instead of the collection type. E.g.:
- proto:
[code]
- yaml:
[code]
The generated sample would be:
[code]
Instead, the correct sample should be:
[code]

[2019-02-13 19:51] hzyi-google commented on #2570
cc/ @beccasaurus @vchudnov-g

[2019-02-14 16:44] michaelbausor commented on #1983
No updates. We are unlikely to fix without a motivating case.

[2019-02-14 16:46] michaelbausor commented on #2235
No update at this time.

[2019-02-14 19:13] #2570 closed

[2019-02-14 19:44] #2514 closed

[2019-02-14 19:48] hzyi-google opened #2574 "Samplegen: restructure Node.js sample package"
- [x] Move samples to a top-level `samples/` directory. Currently samples are under `src/samples/`
- [x] Generate a `package.json` for the sample package
- [x] Include `yargs` as a dependency in the `package.json`

[2019-02-15 17:31] andreamlin commented on #2503
(Before this issue gets closed, we should re-instate the Ruby test in CircleCI)

[2019-02-15 21:29] jbolinger commented on #2503
I sent an upstream patch to fix this: https://github.com/protocolbuffers/protobuf/pull/5735

However, even if they take it soon, it's probably going to be awhile before it gets released.

[2019-02-15 21:38] blowmage commented on #2503
That's awesome! Thanks!

[2019-02-17 02:56] beccasaurus opened #2577 "SampleGen: add attribute for parameter description"
I would like to update the snippets to look like this (_in the future – out of scope for this issue_ [`*`](https://github.com/beccasaurus/gapic-docs-samples/blob/master/code-samples/canonical-samples/python/synchronous-request/language_sentiment_text.py))

[code]

In this example, you'll notice a few things about this method parameter

 - (a) it's mapped to a request field _(**implemented!**)_
 -

[2019-02-18 03:34] beccasaurus opened #2578 "SampleGen: `comment` adds extraneous comment newline"
My YAML:

[code]

My Python output:

[code]

The same is true in PHP:

[code]

As you can see, I needed a second `comment:` directive to make use of `%s` language-specific variable casing.

But I did not intend to add an empty comment line between the 2 `comment:` directives

=> @hzyi-google

[2019-02-19 04:01] beccasaurus opened #2579 "SampleGen: Node.js blockers"
### 🚀 Node.js Blocking Issues

 - [x] Missing `require` import
 - [x] Missing service client instantiation
 - [x] Sample is currently generated commented out
 - [ ] `require(`yargs`)` needs to be `const argv = require(`yargs`)`
 - [ ] String interpolation needs to use `${var}`
 - [ ] LRO needs to work

Example of Node.js output below:

_(I removed the wrapping comment block for proper syntax highl

[2019-02-19 04:01] beccasaurus commented on #2579
=> @hzyi-google

[2019-02-19 04:03] beccasaurus commented on #2579
Looks like these will be resolved by #2573

[2019-02-19 22:07] #2557 closed

[2019-02-20 16:03] beccasaurus commented on #2579
Thanks for getting #2573 merged! I'll give it a try and then close this :)

[2019-02-20 17:20] hzyi-google opened #2580 "SampleGen: Java CLI failure"
For Java standalone samples, checked exception thrown by `CommandLineParser` is not caught or declared to throw, making the samples uncompilable.

- short-term solution
  - Add `throws Exception` to main method if we need to parse CLIs in a sample.
- long-term solution
  - Do not use `commons-cli`. Manually parse CLIs. This will drop the dependency of `commons-cli` altogether and avoid potential d

[2019-02-20 17:20] hzyi-google commented on #2580
cc/ @vchudnov-g

[2019-02-20 18:32] vchudnov-g commented on #2580
I agree with the short-term solution.

Long-term solution: are the diamond dependency problems an issue here with samples? I would think not, since the samples are meant to be standalone-runnable. I think we are better off relying on a standard library for CLI parsing rather than doing it ourselves, which is more work for us and bloat/distraction in the samples.

[2019-02-20 18:57] hzyi-google commented on #2580
@vam-google may have a stronger opinion on this. It _might_ be a problem for samples in the sense that the dependencies of samples might depend on a different version of `common-cli`. And since we need to make the samples standalone-runnable we need to pull in all the dependencies of dependencies, which may introduce a risk of diamond dependency there.

However, while this might be a potential pro

[2019-02-20 19:30] vchudnov-g commented on #2556
Let us know if you have more questions, @irthomasthomas !

[2019-02-20 19:30] #2556 closed

[2019-02-20 19:35] vchudnov-g commented on #2521
@andreamlin Could you provide an update?

[2019-02-20 19:37] vchudnov-g commented on #2519
Lowering to P2, though I hope we get to this soon.

[2019-02-20 19:38] vchudnov-g commented on #2513
Update: we're currently working on this, iterating through the edge cases.

[2019-02-20 19:40] vchudnov-g commented on #2191
@lukesneeringer Could you provide an update, as per SLO?

[2019-02-20 19:40] vchudnov-g commented on #2157
@lukesneeringer Could you provide an update, as per SLO?

[2019-02-20 19:44] vchudnov-g commented on #2449
@lukesneeringer Could you provide an update? (We're about to pass the SLO window on this one)

[2019-02-20 19:48] vchudnov-g commented on #1357
Friendly ping! Need an update to meet out SLOs.  Is this still an issue for the remaining languages?

[2019-02-20 19:49] vchudnov-g commented on #1215
@michaelbausor Any updates (to meet our SLO)?

[2019-02-20 19:49] vchudnov-g commented on #1057
@chrisdunelm Any updates on this (to meet our SLO)?

[2019-02-20 19:50] vchudnov-g commented on #401
@lukesneeringer Any updates (to meet our SLO)?

[2019-02-20 20:31] jskeet commented on #1357
Still a potential nice-to-have, but I don't think we should even think about it before the microgenerators are finished.

[2019-02-20 23:38] beccasaurus commented on #2579
CLI parsing does not work.

[code]

[2019-02-21 01:23] andreamlin commented on #2521
Done! Thanks for the reminder

[2019-02-21 01:23] #2521 closed

[2019-02-21 02:52] beccasaurus commented on #2579
Variables do not work.

[code]

[2019-02-21 02:59] beccasaurus commented on #2579
Should be:

`const argv = require(`yargs`)`

Node.js interpolation is done via `${...}`

[2019-02-21 03:05] beccasaurus commented on #2579
Long-Running Operation sample does not generate

[code]

Sample GAPIC: https://github.com/beccasaurus/gapic-docs-samples/blob/master/google/cloud/speech/v1/speech_gapic.yaml#L150-L171

I don't think it matters what the GAPIC is, guessing this is an issue with generically using `result` as for LRO result.

[2019-02-21 06:32] beccasaurus commented on #2579
Here's a canonical for LRO! Should help!
https://github.com/beccasaurus/gapic-docs-samples/blob/master/code-samples/canonical-samples/nodejs/long-running-operation/speech_transcribe_async.js

tl;dr

[code]

[2019-02-21 18:15] vchudnov-g commented on #2580
Yeah, parsing ourselves isn't the end of the world, but it could be extra cognitive load for users and friction for us in the future if we do need fancier features or if we need to tweak something.

I wonder whether dependencies of samples could ever depend on `common-cli`....

Curious to hear @vam-google 's thoughts. I'm OK with staying the course for now and revisiting if it does indeed become a

[2019-02-21 19:34] vam-google commented on #2580
@vchudnov-g, @hzyi-google  Using `common-cli` would not necessarily break something (see "Samples specifics" section below for details), I was just trying to emphasize the importance of dependencies and potential harm of extra dependencies.

**Some context**
For `commons-cli` case specifically, we already had it in our generated SmokeTests, but then removed them (it was not my idea to remove them)

[2019-02-21 21:10] beccasaurus opened #2584 "SampleGen: iterate over `map` fields in response"
Samples cannot currently access `map` fields in responses.

⚠️ `java.lang.IllegalArgumentException: AnalyzeEntities:language_entities_text: entity.metadata is not a repeated field`

![screen shot 2019-02-21 at 1 06 13 pm](https://user-images.githubusercontent.com/280/53201705-80683880-35d9-11e9-9400-990bbf6df7e2.png)

[code]

[2019-02-21 21:10] beccasaurus commented on #2584
=> @hzyi-google

/cc @tswast @vchudnov-g

[2019-02-21 21:13] vchudnov-g commented on #2584
Thanks for the report. We had decided to punt on maps until there was a use case for it. Now we'll tackle it!

[2019-02-22 05:32] beccasaurus opened #2586 "SampleGen: cannot set default for named resource path including `.`"
Cannot generate a request for rpc with resource including `.`

e.g. `v1/`[`pubsub.proto`](https://github.com/googleapis/googleapis/blob/master/google/pubsub/v1/pubsub.proto#L49-L56) which has path `topic.name` (_many other APIs also use this pattern_)

[code]

Expected this to work:

[code]

Got this:

[code]

----

If you want to reproduce, try out this [`pubsub_gapic.yaml`](https://github.com/be

[2019-02-22 18:33] hzyi-google commented on #2580
This is not the current status but is what we want to achieve.

Thanks for the clarification @vam-google . I think we can close this issue now.

[2019-02-22 18:33] #2580 closed

[2019-02-22 18:39] hzyi-google commented on #2513
Escaping special characters are covered in #2566.
We still need to make sure they are correctly escaped in `defaults` though. Leave this issue open for tracking.
Also bump it down since the rest of the work is non-blocking.

[2019-02-22 18:59] #2513 closed

[2019-02-25 18:40] noahdietz commented on #2191
@lukesneeringer I have pinged on the PR mentioned here, but any update would be appreciated. Thanks

[2019-02-25 18:42] noahdietz commented on #2157
@lukesneeringer @michaelbausor any updates on this? Thanks

[2019-02-25 18:46] noahdietz commented on #2503
@jbolinger can you provide an update here? I see there are some recent comments on the PR you opened.

1. Have the tests been re-instated following the workaround release?
2. Can we close this issue once your aforementioned PR is merged? Rather than wait for a release.

[2019-02-25 18:51] noahdietz commented on #1057
@chrisdunelm Any updates on this per our SLO?

[2019-02-25 18:54] noahdietz commented on #2196
Hi, on-call coming around to this issue! Can we move this or close it as a dupe of #1811 ?

[2019-02-25 19:07] jbolinger commented on #2503
We cannot reinstate the tests unless we apply a similar workaround or wait for a release with the fix. I suspect it's going to be awhile before a fix is released.

I think it may be better to lower the priority of this rather than close it, so we know the test isn't running. We're not making any changes to this Ruby generator here so fixing this test is not that important IMHO.

[2019-02-25 19:07] noahdietz commented on #937
@pongad can you give some more detail on this issue? Not sure there is enough here to start a fix. Thanks.

[2019-02-25 19:09] noahdietz commented on #2120
@alexander-fenster any update here? Is there a quick fix that can be detailed here for another person to pick up? Thanks

[2019-02-25 19:11] alexander-fenster commented on #2120
I'd like not to fix it now in gapic-generator since it's something that can be taken care of by Yoshi in synth tool and it never affects end users' experience. We can try taking care of that in scope of TypeScript micro generator (let's leave this open here for now and I'll move it to that repo when it's alive).

[2019-02-25 19:13] hzyi-google opened #2589 "SampleGen: Correctly escape special characters everywhere"
- [ ] defaults
- [ ] comments

[2019-02-25 19:16] noahdietz commented on #2449
Is this related to a line wrapping bug #2159 ?

[2019-02-25 19:19] noahdietz commented on #1786
Hi any updates here (per our SLO)? There seem to be several other python-related documentation issues (#2159 #401 #2449). Maybe they could be tackled together?

[2019-02-25 19:20] noahdietz commented on #515
@alexander-fenster could you triage this and determine if it is still an issue? Thanks

[2019-02-25 20:32] alexander-fenster commented on #515
I tried clicking some enum links in the docs and everything worked. Closing for now.

[2019-02-25 20:32] #515 closed

[2019-02-25 22:22] pongad commented on #937
I'm not sure how relevant this is anymore. At one point, we had `lang_doc` GAPIC config that lets us add free form string to our client. At least in Java, this string is also always escaped so it's impossible to make Javadoc link like `@See` etc.

Does this make sense?

[2019-02-25 22:26] noahdietz commented on #937
I'm just poking issue for SLO triage. If you think this is obsolete, feel free to close the issue. Else, lets assign to someone else?

[2019-02-25 23:38] pongad commented on #937
Ah sorry. I don't think this issue should be closed yet: `lang_doc` is [still being use](https://github.com/googleapis/googleapis/search?q=lang_doc&unscoped_q=lang_doc) and we still can't link is Javadoc. Who's the Java lead now?

[2019-02-25 23:38] noahdietz commented on #937
@andreamlin ?

[2019-02-26 19:34] beccasaurus opened #2592 "SampleGen: Java LRO missing import for LongRunningXMetadata [API Speech V1]"
I generated a sample for [Speech V1 `LongRunningRecognize`](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#google.cloud.speech.v1.Speech.LongRunningRecognize)

The sample generated includes the following:

[code]

([sample code](https://github.com/beccasaurus/gapic-docs-samples/blob/master/code-samples/speech/v1/java/src/main/java/com/google/cloud/examples/speech

[2019-02-26 19:57] hzyi-google commented on #2592
Should the later two code snippets be swapped?
It does seem to be generic to LROs. It's very possible that I thought the `Metadata`s are not needed so I did not teach gapic-generator to import them :( I'll check later.

[2019-02-26 20:05] beccasaurus commented on #2584
Here's an example GAPIC config you can use to test:
https://github.com/beccasaurus/gapic-docs-samples/blob/master/google/cloud/language/v1/language_gapic-with-iterating-over-map.yaml#L138-L149

[2019-02-26 20:13] andreamlin commented on #937
@pongad feel free to reassign this to me.

As a P2+, this is a low-level FR.

[2019-02-28 00:54] hzyi-google opened #2599 "SampleGen: Java LRO calling form LongRunningFlattendAsync needs enhancement"
We need to generate code to extract the response object from the `Operation` so that we can continue to do stuff with output handling.

[2019-02-28 00:58] hzyi-google commented on #2592
If you specified `.*` in calling form, the generated sample package would still not compile due to #2599. If you need to run the sample in the meantime, delete all the samples whose names start with `LongRunningXCallable` (I am 95% sure you don't need those samples for your use case), and the rest of them would compile.

[2019-02-28 01:06] hzyi-google opened #2600 "SampleGen: Change accessing a map field by key from using `{ }` to using `[ ]`"
on success:
- [ ] define
- [ ] print

parameters:
- [ ] default
- [ ] attributes

[2019-02-28 22:04] hzyi-google commented on #2577
Whenever you have time, can you give an example showing how these descriptions should be in other languages?  A link to an existing sample should be more than enough!

[2019-02-28 22:09] vchudnov-g commented on #2600
Marking P1 because it's important we settle this one way or the other before wide adoption, but it's not blocking development of other features.

[2019-03-01 18:54] noahdietz commented on #2503
Lowering to P2 as workarounds have unblocked the affected GAPIC and the upstream fix is in flight.

[2019-03-05 01:16] #2592 closed

[2019-03-05 13:14] irthomasthomas commented on #2556
Sorry chaps I was away and haven't had chance to try it yet. But your clarification looks good, and I believe it answers my questions. Many thanks. @vchudnov-g @eoogbe

[2019-03-06 00:49] andreamlin commented on #2464
@alexander-fenster would you mind updating?

[2019-03-06 00:53] andreamlin commented on #2157
@crwilcox has this been fixed?

[2019-03-06 02:01] lukesneeringer commented on #2191
Bah. Sorry for never seeing this (and thanks Andrea for emailing).

@crwilcox: The issue in the PR that fixes this underlying issue is that it creates a new issue in Spanner that we have to deal with. I think that transactions comment is _already_ an issue for Yoshi, am I correct? If so, it seems like an improvement to adjust the tests and merge that PR.

[2019-03-06 02:26] #2464 closed

[2019-03-06 17:31] jadekler opened #2612 "Go: context should be documented at the package level of each gapic"
Something like,

[code]

[2019-03-06 18:56] hzyi-google commented on #2584
Fixed by #2593

[2019-03-06 18:56] #2584 closed

[2019-03-06 18:57] hzyi-google commented on #2540
Dup: #2511

[2019-03-06 18:57] #2540 closed

[2019-03-06 20:16] broady commented on #2612
I like this idea (for the bits that require more detailed explanation).

[2019-03-07 18:55] #2612 closed

[2019-03-07 19:44] #2579 closed

[2019-03-08 03:19] beccasaurus opened #2616 "SampleGen: Node.js delete sample doesn't show response handling section"
Example:
 - [Sample definition](https://github.com/beccasaurus/gapic-docs-samples/blob/48ba35b04c9b915f5fb9bd4d9d2112db0875a601/google/cloud/talent/v4beta1/talent_gapic.yaml#L198-L216)
 - [Python sample](https://github.com/beccasaurus/gapic-docs-samples/blob/48ba35b04c9b915f5fb9bd4d9d2112db0875a601/code-samples/talent/v4beta1/python/delete_company_request_talent_delete_company.py#L46-L49) - OK
 -

[2019-03-08 19:58] noahdietz opened #2620 "Go: generated examples should have comment identifying gen'd types"
There has been feedback indicating confusion around the difference between the `genproto` pkg and the `gapic` pkg. Because of naming & alias name misunderstandings, some see the former as the "old" client and the latter as the "new" one, which then gets folks confused as to why they need both imported.

The `genproto` pkg contains the generated types for the API protos, while the `gapic` pkg conta

[2019-03-09 11:54] beccasaurus opened #2621 "SampleGen: can't use field%resource on request field"
I'm not sure if this is something which can be fixed in my GAPIC configuration or if it's a sample generator issue.

I want to create a Job. Jobs have companies. Here's what I'm trying to call...

 - [`job.proto`](https://github.com/googleapis/googleapis/blob/master/google/cloud/talent/v4beta1/job.proto)
 - [`job_service.proto`](https://github.com/googleapis/googleapis/blob/master/google/cloud/tal

[2019-03-09 21:50] hzyi-google commented on #2621
I think this is a bug, and very likely a dup of #2586?

[2019-03-09 23:29] beccasaurus commented on #2621
Oh right, duh! Well remembered. Closing as dup.

Sample development isn't blocked because the full string path can be passed, this is just a better experience (and allows us to use the path-building helpers).

Will revisit when possible 😄

[2019-03-09 23:29] #2621 closed

[2019-03-09 23:33] beccasaurus commented on #2586
Request: `Priority: P1` `Type: Bug` (or `Type: Feature Request` if this repo had the label)

[2019-03-09 23:37] beccasaurus commented on #2586
`#misc` Is there a `@googleapis/[team]` I can be added to which gets me rights to this repo?

I'm active and I'd like to be able to label my issues etc ~ /cc @andreamlin 🙏

[2019-03-09 23:39] beccasaurus commented on #2586
^--- We have a @googleapis/samplegen team which I'm a member of which could be added to this repo (as a good way to encapsulate the perms)

[2019-03-11 16:06] hzyi-google commented on #2586
I guess either @vchudnov-g or @lukesneeringer should have the permission.

[2019-03-11 19:47] bcoe commented on #1986
:wave: I just did my first code review on https://github.com/googleapis/nodejs-scheduler/pull/59, and just wanted to bump this issue -- it would be nice to figure out a convention for, in my case JavaScript, that helps indicate what's hand written and what's generated.

[2019-03-11 21:29] #2616 closed

[2019-03-11 21:57] noahdietz commented on #2620
@broady I've been poking around gapic-generator looking at how to add these request object import comments to the generated example snippets. It is a bit of work to add this to the existing gapic-generator implementation. It would be trivial to add this to the micro-generator implementation that we will move to in the near future.

Since this is more of a nice-to-have, I'd prefer to move this issu

[2019-03-11 21:58] broady commented on #2620
+1 for micro-generator

[2019-03-11 22:07] noahdietz commented on #2620
Closing in favor of [gapic-generator-go#107](https://github.com/googleapis/gapic-generator-go/issues/107)

[2019-03-11 22:07] #2620 closed

[2019-03-11 22:24] beccasaurus commented on #2586
If you wanted to go that route, @vchudnov-g, this repo can be added here: https://github.com/orgs/googleapis/teams/samplegen/repositories

Also: ping again on the label update request (or update so I can edit, per above).

[2019-03-11 22:53] beccasaurus opened #2624 "SampleGen: set Map field defaults on request objects"
I need to author a sample which requires configuring the values of a Map on the request object.

[`rpc CreateJob`](https://github.com/googleapis/googleapis/blob/master/google/cloud/talent/v4beta1/job_service.proto#L43) takes a [`CreateJobRequest`](https://github.com/googleapis/googleapis/blob/master/google/cloud/talent/v4beta1/job_service.proto#L131-L143) which has a required [`Job`](https://githu

[2019-03-11 23:13] vchudnov-g commented on #2624
Cool, thanks for the ideas. We'll write up a design, discuss, and implement. This will be an interesting feature!

[2019-03-11 23:21] beccasaurus commented on #2624
My hope is that it won't be all that interesting 😉

Ignore everything I said about the possibility of dynamic map keys and then it's the exact same as the Array support we have today except `[0]` can support `["key"]`.

If I try to generate this today, I get:

[2019-03-11 23:48] vchudnov-g commented on #2624
Yeah, if it's just static keys (ie not a CLI arg or sample func param), then it's a minor extension to the config and shouldn't be too hard to implement. Plumbing, plumbing,....

[2019-03-12 00:16] #2577 closed

[2019-03-12 05:48] lukesneeringer commented on #2191
Pinging this thread to say that I am going to make an executive decision to adjust the tests and merge this PR in a few days unless @crwilcox objects.

[2019-03-12 20:11] beccasaurus opened #2625 "SampleGen: put generation of samples in all languages behind --dev_samples"
Tracking issue: @googleapis/samplegen

Request: GAPIC should not generate any samples in any languages if `--dev_samples` flag is not explicitly provided

To help with piecemeal sample generation onboarding for various client library repos :)

[2019-03-13 00:19] #2625 closed

[2019-03-13 02:44] beccasaurus opened #2627 "SampleGen: configure sample to use default API version (import language instead of import language_v1)"
**Feature Request:**

For 3** of our programming languages, we offer a default API version which is imported by default.

`=>` _Most of our code samples use this._
`=>` _We **rarely** specify the API version for these languages._
`=>` _We generally **only** specify versions for opting into Beta features._

When we generate samples, GAPIC does not know which version is the default. This is managed

[2019-03-13 23:23] hzyi-google commented on #2586
Found a solution. Can you try adding the following lines [here](https://github.com/beccasaurus/gapic-docs-samples/blob/c103c0ef2b135c70d349d05e0028f4714b25392b/google/pubsub/v1/pubsub_gapic.yaml#L498)?
[code]
`field_name_patterns` tells the generator which fields (including nested fields) are resource names.
I tried Java after adding this configuration and the generation succeeded. I got:
[code]
I

[2019-03-18 16:58] jbolinger commented on #2360
@vam-google any updates on this one?

[2019-03-18 16:59] jbolinger commented on #2191
@lukesneeringer is this resolved based on your last note?

[2019-03-18 16:59] jbolinger commented on #2157
@lukesneeringer or @crwilcox any updates? Is this fixed?

[2019-03-18 17:00] jbolinger commented on #2141
@michaelbausor any updates?

[2019-03-18 17:01] jbolinger commented on #1756
@alexander-fenster any updates based on your progress with the new generator?

[2019-03-18 17:01] jbolinger commented on #1414
@alexander-fenster any updates?

[2019-03-18 17:01] jbolinger commented on #393
@andreamlin anything new here?

[2019-03-18 20:59] hzyi-google commented on #2519
Fixed by #2617

[2019-03-18 20:59] #2519 closed

[2019-03-19 18:40] eoogbe opened #2633 "Handle singular resources in gapic config generation"
Gapic config generation does not name singular resources appropriately. For example, with `"/v1/{resource_name=customers/*/hotelPerformanceView}"`, we expect the entity_name to be `customer_hotel_performance_view`. Instead the entity_name is `customer`.

[2019-03-19 19:55] tseaver opened #2634 "[Python] Generated namedtuple types have unsat docstrings."
From: https://github.com/googleapis/google-cloud-python/issues/7043

The members of a `collections.namedtuple` have no semantic information in their docstrings:

[code]

[2019-03-19 21:10] beccasaurus opened #2636 "SampleGen: Ruby client class name missing `*Service`"
I generated a sample for the [`CompanyService`](https://github.com/googleapis/googleapis/blob/master/google/cloud/talent/v4beta1/company_service.proto#L33) of [`Talent v4beta1`](https://github.com/googleapis/googleapis/tree/master/google/cloud/talent/v4beta1)

I ended up with the resulting Ruby:

[code]

[code]

May be a result of [aggressive trimming of `Service`](https://github.com/googleapis/ga

[2019-03-20 03:58] fenixsolorzano commented on #1756
@alexander-fenster About **TypeScript typings**, is there another issue about that? I want to subscribe to that issue to be notified about it's completion

[2019-03-20 19:12] hzyi-google commented on #2492
Hi @jbolinger @dazuma, is there a decision made on this issue? For now, it seems gapic-generator continues to trim `Service`s, but they are added back during packaging, and this is causing generated samples to not work. For example:

- `Service`s are added back for talent services: https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-talent/synth.py#L80
- But generated samples

[2019-03-20 21:56] #2633 closed

[2019-03-21 17:22] jbolinger commented on #2492
No, we have not solved this. Synth is rewriting any name collisions for the time being.

The chances of name collisions are even higher in the micro-generator but we haven't decided upon a resolution strategy for it yet. I'm not really sure what you can do short-term other than special case it for instances like these where we know synth is patching it.

[2019-03-21 17:27] beccasaurus commented on #2492
Yikes. Best of luck in the micro. I hope y'all land on the side of using the full service name for sanity when working against protos. Tho the Rubyist in me hates the `Service` suffixes. Le sigh.

Hmm. @hzyi-google let's have the sample generator continue to trim `Service` suffixes and I'll use the synth scripts to add it back, as necessary. I can basically just look at each synth script for a giv

[2019-03-21 17:28] beccasaurus commented on #2636
Closing, works as intended.

See [[Ruby] Service factory module names can conflict with model class names #2492](https://github.com/googleapis/gapic-generator/issues/2492) for details.

I'll use synth scripts to add the `Service` suffix when necessary

[2019-03-21 17:28] #2636 closed

[2019-03-21 17:29] beccasaurus commented on #2636
#misc please add the SampleGen label (currently missing) ~ I still don't have any rights on this repo (though I was allowed to close this because I opened it)

[2019-03-21 17:34] beccasaurus commented on #2636
@lukesneeringer Can haz `gapic-generator` rights? 🙏

( I can't properly triage my own issues 😢 )
<img width="601" alt="Screen Shot 2019-03-21 at 10 31 01 AM" src="https://user-images.githubusercontent.com/280/54772441-952df100-4bc4-11e9-9f7d-5c6e2ad917e8.png">

[2019-03-21 17:35] hzyi-google commented on #2492
SGTM

[2019-03-25 03:29] anuraaga opened #2648 "proto libraries have dependency on api-common"
I'm not sure if this is the correct repository for filing this issue, please let me know if it isn't.

I've found that proto libraries (e.g., [proto-google-cloud-trace-v2](https://mvnrepository.com/artifact/com.google.api.grpc/proto-google-cloud-trace-v2/0.49.0)) depend on [api-common](https://mvnrepository.com/artifact/com.google.api/api-common/1.7.0).

I think proto libraries should only have de

[2019-03-25 16:20] michaelbausor commented on #2634
@lukesneeringer Assigning to you, but please feel free to reassign. Also, I was unsure whether this would be fixed in gapic-generator, or if the fix will be provided as part of gapic-generator-python.

[2019-03-25 16:23] michaelbausor commented on #2648
@andreamlin @vam-google can you comment on this issue? If it is possible, it seems like a good idea.

[2019-03-25 16:25] michaelbausor commented on #2586
Following up on this, @vchudnov-g @hzyi-google @beccasaurus do we have a resolution?

[2019-03-25 17:37] crwilcox opened #2649 "Java doccomment does not contain sample usage"
After generating a client, @kolea2 noticed that the methods don't have sample usage. Is there a config that is incorrect here or is this perhaps a bug?

Java missing sample: https://github.com/googleapis/google-cloud-java/blob/master/google-api-grpc/grpc-google-cloud-speech-v1/src/main/java/com/google/cloud/speech/v1/SpeechGrpc.java#L259

Python method: https://github.com/googleapis/google-cloud-p

[2019-03-25 18:52] vam-google commented on #2648
@michaelbausor @anuraaga
1) This is the correct repository to filing the issue. Thank you.
2) `proto-google-cloud-trace-v2` has to depend on api-common protos, but we generate many clients which do not have to depend (but still depend (see item 5 for details)).
3) Every library which uses resource names feature has to depend on `api-common` because of `com.google.api.pathtemplate.PathTemplate` and

[2019-03-25 20:56] beccasaurus commented on #2586
Looks great to me! If I have any issues, I'll re-open. Thanks @hzyi-google!

[2019-03-25 20:56] #2586 closed

[2019-03-26 02:53] anuraaga commented on #2648
Thanks I didn't notice the `ProjectName` java class in the library and indeed got tricked by the prefix `proto-`.

The main reason I wondered about this is because `api-common` depends on Guava - due to recent breaking changes in Guava, it can cause some tricky dependency hell in libraries that use these protos but also have to support older JVMs, etc. If it's possible to remove that dependency, t

[2019-03-26 15:57] lukesneeringer commented on #2191
It is now fixed.

[2019-03-26 15:57] #2191 closed

[2019-03-27 18:50] eoogbe opened #2653 "Whitespace causing linter errors"
The generated gapic config does not follow Google style for yaml files. Namely, the comment for the interface name is indented one level too deep.

[2019-03-27 19:44] #2653 closed

[2019-03-28 04:40] beccasaurus opened #2661 "SampleGen: Node.js update yargs to specify explicit types"
Please update this:

[code]

To this:

[code]

For numeric fields, set `number: true` instead.

----

How I discovered this is a problem –

I recently had a problem where I was constructing a Job Path (`projects/*/jobs/*`) and, instead of the Job ID being a UUID, it was actually a number.

So `node get_job.js --project_id=$GCLOUD_PROJECT --job_id=1234567890` resulted in:
`const formattedName = cli

[2019-03-28 15:54] andreamlin commented on #2648
ack

[2019-03-28 16:39] michaelbausor commented on #2157
Closing this out. If it's still a problem, we can reopen.

[2019-03-28 16:39] #2157 closed

[2019-03-28 17:33] #2661 closed

[2019-03-28 23:58] andreamlin opened #2668 "Toggle off header request parameters for client/bidi streaming"
We hadn't supported header request parameters for client/bidi streaming in the first place. Therefore, trying to parse the header request parameters from the `google.api.http` annotation for client/bidi streaming methods breaks at least PHP, Golang, and maybe nodejs.

[2019-03-29 00:01] andreamlin commented on #2668
In PHP, Golang, and nodejs, the generated code expects a method parameter called `req` (or similar) to exist, from which the parameters are parsed from.

[2019-03-29 17:10] eoogbe commented on #722
Obsolete since we are migrating to microgenerators

[2019-03-29 17:10] #722 closed

[2019-03-29 17:39] #2668 closed

[2019-04-01 16:38] landrito commented on #2649
@andreamlin is there a reason why this is the case?

[2019-04-01 16:39] landrito commented on #2627
@hzyi-google any updates on this?

[2019-04-01 16:40] landrito commented on #2600
@hzyi-google any updates on this?

[2019-04-01 17:09] vam-google commented on #2360
Bazel support for Python generation was deprioritized in favor of java convergence. I'll get back to this once Java convergence project is completed.

[2019-04-01 17:13] michaelbausor commented on #2141
No update at this time.

[2019-04-01 17:15] andreamlin commented on #393
this has been deprioritized and will become a problem when it becomes a problem

[2019-04-01 18:55] jadekler opened #2676 "Go generating non-compiling bits"
See: https://code-review.googlesource.com/c/gocloud/+/39510/3/firestore/apiv1beta1/firestore_client.go

[code]

It tries to use a `req`, which doesn't exist.

[2019-04-01 21:22] beccasaurus commented on #2627
FWIW, I'm not expecting anything on this under later in the Quarter

=> P2 for now

[2019-04-02 14:59] andreamlin commented on #2649
For the given Java class, that is a file generated by the [grpc-protoc plugin](https://github.com/grpc/grpc-java/tree/master/compiler). We don't own that plugin. Also, even though that class is public, it isn't really meant to be used by user; our gapic-generated classes wrap them.

For the given Python class, I'll have to do a little more digging. A very premature guess is that we might not gener

[2019-04-02 17:13] andreamlin commented on #2676
I had submitted a bug fix for this, but it might not have solved the problem.

Was this created using the latest gapic-generator / artman (0.16.22)?

[2019-04-02 17:16] jadekler commented on #2676
Yep!

[2019-04-02 17:20] andreamlin commented on #2676
I'll definitely look at it again. For the time being, I think 0.16.20 doesn't have this bug.

[2019-04-02 21:53] andreamlin commented on #2676
was this the only method and the only affected API client?

[2019-04-02 23:31] andreamlin commented on #2676
update to worklog: this works fine if i use artman with gapic-generator at master, but doesn't work if i use the artman docker image by itself. i'm guessing that the bug fix didn't make it out to the new artman image. will try re-releasing the artman image

[2019-04-03 05:39] beccasaurus opened #2681 "SampleGen: Node.js: generate samples in `samples/{version}`"
Rather than:

[code]

I would like:

[code]

`src/samples/{version}` => `samples/{version}`

That's all!

Basically, in synth scripts I'm currently moving the generated `src/samples` dir into `samples/{version}` so we may as well generate it that way 😄

@googleapis/samplegen

[2019-04-03 05:45] beccasaurus opened #2682 "SampleGen: generate one source code file per sample definition"
~ Placeholder issue ~

----

Expected output of the sample generator is: a list of code source files, one for each region tag. The name of the file should == the region tag, when possible (language dependent).

This will require a default calling form which generates samples which match DPE's canonicals, 1 source code file per sample definition.

In Node.js, Python, Ruby, PHP, Go ~ the file name s

[2019-04-03 16:11] hzyi-google commented on #2682
We could make region tag the class name for Java?

[2019-04-03 17:17] beccasaurus commented on #2682
For now let's do region tag across the board. In Java/C# this'll mean the class name should == Region Tag (although not actually a language requirement for C#)

| | |
|---|---|
| **region_tag** | **speech_transcribe_v1beta1** |
| C# | SpeechTranscribeV1beta1.cs |
| Go | speech_transcribe_v1beta1.go |
| Java | SpeechTranscribeV1beta1.java |
| Node.js |  speechTranscribeV1beta1.js |
| PHP | speech_t

[2019-04-03 18:00] andreamlin opened #2683 "Accessing unset fields in header request params in PHP"
See https://gist.github.com/jdpedrie/c816046f188a56edc2b06ee07ae98039 for a snippet of the Genomics PHP client library, and a comment showing what the generated method should look like.

[2019-04-03 18:01] andreamlin commented on #2683
cc @dwsupplee

[2019-04-03 18:01] andreamlin commented on #2683
filing as P1 because it is blocking client generation for at least one APIs.

[2019-04-03 18:17] dwsupplee commented on #2683
We saw this happen on AutoML's [UpdateDataset](https://github.com/googleapis/googleapis/blob/master/google/cloud/automl/v1beta1/automl_gapic.yaml#L265-L276) call. It seems as though when we saw this issue come up, a `dataset` wasn't a required parameter in the gapic configuration. A `dataset` is now required, so we shouldn't see this issue come up with our next generation - but this may be somethi

[2019-04-03 20:22] andreamlin commented on #2676
this should be fixed in artman 0.16.23.

After getting the new image, i ran `artman --config google/firestore/artman_firestore_v1.yaml generate go_gapic`

and got, among other files, a firestore_client.go that includes the following code snippet
[code]

@jadekler Does this solve the problem?

[2019-04-03 20:50] michaelbausor commented on #2683
Moving to P2. I also created a PR just to see the bug in baselines: https://github.com/googleapis/gapic-generator/pull/2687. Seems like it also affects Python, on this line: https://github.com/googleapis/gapic-generator/pull/2687/files#diff-f7e1b0b3f703b5c8ece5073db3bce027R1771

[2019-04-03 21:37] vchudnov-g commented on #2682
Let's implement this by making the filename be the region tag if we generate exactly one sample with that region tag. If, in a given language, we generate n>1 samples for the same region tag, let's disambiguate by appending the calling form to at least (n-1) samples in that language.

One idea is to disambiguate all of them with the suffix. Another idea is that if the default calling form is produ

[2019-04-04 00:37] andreamlin commented on #2649
For the python method given, there is a method sample inside the method. It's a little bare, but it's still there.

[2019-04-04 00:37] #2649 closed

[2019-04-04 00:37] andreamlin commented on #2649
feel free to reopen for followup questions

[2019-04-04 00:55] andreamlin opened #2690 "Don't require the GAPIC config for discogapic"
It's a slight pain to refresh the GAPIC config for the Compute client.

This work would best be started after we have started migration to a GAPIC config v2.

[2019-04-04 01:22] andreamlin opened #2691 "php generation for BigQuery v2 fails"
See https://circleci.com/gh/googleapis/googleapis/1623?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

stack trace:
[code]

This API was just introduced to googleapis

[2019-04-04 04:35] andreamlin commented on #2691
note: we should revert https://github.com/googleapis/artman/pull/599 and remove this api from the artman smoke test whitelist once this is fixed.

[2019-04-04 16:04] michaelbausor opened #2693 "Support for V2 config with no interfaces"
A v2 config that configures no interfaces will break gapic-generator here: https://github.com/googleapis/gapic-generator/blob/master/src/main/java/com/google/api/codegen/config/GapicProductConfig.java#L174

Should we:
 - Fix this, and any other places where we assume at least one interface exists in config proto, and also support generation for unlisted interfaces as well as unlisted methods, or:

[2019-04-04 17:24] jadekler commented on #2676
Looks good in 0.16.23! Thanks!

[2019-04-04 17:24] #2676 closed

[2019-04-05 18:34] andreamlin commented on #2693
thanks for filing this

i would like to not have to make everything in config v2 optional, including the interfaceConfigProtos.

investigating.

[2019-04-11 01:33] hzyi-google opened #2706 "SampleGen: blank lines in generated samples"
We haven't been thinking about when we should generate blank lines in the samples. A few options:

1. Have the users specify them
2. In general, if a config statement gets translated to more than one line of code (like file output), those lines get an automatic blank line after.

[2019-04-11 15:50] igorbernstein2 opened #2709 "Java gapic: Pagination wrappers create a circular dependencies between Client & Stub layers"
Currently the pagination wrappers live in the Client, which also delegates to the stub:
[code]

The stub will import the pagination wrappers and use it construct the callable chain:
[code]

And its also used in the stub settings:
[code]

[2019-04-11 15:52] igorbernstein2 commented on #2709
I think this be an issue for build systems like bazel and makes it hard to define a consistent public surface for client like bigtable.

I'm not sure how this can be fixed in a backwards compatible manner. But I figured I would start a discussion

[2019-04-11 21:19] vchudnov-g commented on #2600
Let's fix this soon so that micro-generators can directly implement the `[ ]` style

[2019-04-12 01:50] hzyi-google commented on #2600
I'll get to this once I finish default calling forms and sample tester manifests.

[2019-04-12 23:24] tswast commented on #2624
I tried this out for BigQuery Data Transfer today. FYI: the protobuf library doesn't seem to use Struct/Map in the expected way.

[code]

Fails with `ValueError: Protocol message Struct has no "query" field.`

If I then try:

[code]

Fails with `TypeError: Parameter to MergeFrom() must be instance of same class: expected google.protobuf.Value got str.`.

I actually have to convert to protobuf usin

[2019-04-15 04:34] vam-google commented on #2709
@igorbernstein2 Why is this an issue for Bazel system (or more importantly why is any build system affected by this)?

[2019-04-15 14:44] igorbernstein2 commented on #2709
I was under the impression that bazel doesn't allow circular dependencies.

[2019-04-19 01:04] beccasaurus opened #2719 "Additional Bindings support: choose resource path helper based on arguments given"
Many API methods support `additional_bindings`*

### » Example use case

I want to **Create a Company** for a job board.

The job board supports an _optional feature_ for multi-tenancy. If I'm a big company, I can add N tenants under my GCP project and manage multiple separately scoped sets of Companies. Cool, eh? Totally. But I don't want to use that. I just want to create a Company.

#### 🔍 Rele

[2019-04-22 17:42] hzyi-google commented on #2624
@tswast This seems to be a Protobuf Python question. @lukesneeringer Can you take a look (just the last comment. You can ignore everything else)?

[2019-04-22 18:19] beccasaurus commented on #2624
The protobuf docs for [Map Fields](https://developers.google.com/protocol-buffers/docs/reference/python-generated#map-fields) talk more about how existing field objects behave, not how to instantiate them.

Is there a `type` representing that request which can be constructed instead of using a Dict?

I've seen Python samples which use all objects to construct requests (rather than relying on some

[2019-04-22 18:22] tswast commented on #2624
That's maybe a different discussion, but yeah I agree it's a bit odd that we try to pass in a Dict and not protobuf objects in the generated samples. It means we run into problems like my above comment. https://github.com/googleapis/gapic-generator/issues/2624#issuecomment-482751619

One problem with Python protos is lots of properties aren't actually settable. For example, you can't set a repeate

[2019-04-22 18:25] beccasaurus commented on #2624
FYI this is the same in most, if not all, languages.

[2019-04-23 19:26] hzyi-google commented on #2527
@beccasaurus Would it make sense to make samples output to:

`samples/version_name/sample.php`

instead? That way the samples directory is consistent with source code and tests:

![image](https://user-images.githubusercontent.com/33737743/56609812-e44fb300-65c2-11e9-9c62-3d371d5d26ba.png)

[2019-04-24 17:49] beccasaurus opened #2730 "PHP code samples being generated with UPPER_CASE_NAMES.php"
=> @hzyi-google
/cc @googleapis/samplegen

[2019-04-24 18:45] hzyi-google commented on #2681
Fixed by #2729

[2019-04-24 18:45] #2681 closed

[2019-04-24 18:46] hzyi-google commented on #2574
Fixed by #2729

[2019-04-24 18:46] #2574 closed

[2019-04-24 19:07] #2730 closed

[2019-04-24 21:43] andreamlin opened #2732 "Support "*" as a resource type"
Another option is to special-case IAM.

If the LogSink use case is removed, which requires C# to move some code around in their clients, then there is only the IAM use case. The IAM use case can be covered by a new service-level proto option in the IAM package that designates what type of resource each `resource` field represents in the `GetIamPolicyRequest` etc request objects. However, that will

[2019-04-25 15:54] andreamlin opened #2734 "Support parsing field_name_patterns in gapic config v2"
Sometimes we need to narrow down the type of a resource type, say from a resource set to a single resource. This can be done by reusing the field_name_patterns in the gapic config v2.

This is needed for Java and especially C#, where the field names are based on the resource type.

[2019-04-25 16:14] michaelbausor opened #2735 "Fix and re-enable showcase tests"
Showcase tests were disabled in https://github.com/googleapis/gapic-generator/pull/2727 due to not being compatible with the latest changes to resource name annotations.

[2019-04-25 23:31] busunkim96 opened #2736 "Python generator produces bad content block following 'raw' directive"
Generated docstrings had content blocks with incorrect indentation following the ['raw' directive](http://docutils.sourceforge.net/docs/ref/rst/directives.html#raw-data-pass-through).

This came up while generating Dialogflow. See https://github.com/googleapis/dialogflow-python-client-v2/pull/123/commits/1e2250a8138d256bc47f92c39a49f6fa93a1d748#diff-5ee1b23c828be645ab5561df5053bd49

The generator

[2019-04-26 17:02] andreamlin opened #2738 "Allow paging methods to lack a page_size field, for GAPIC config v2"
GAPIC config v1 allows for not specifying a page_size field.

GAPIC config v2 requires any method that wants to be represented as a paged method to have a page_size field.

This is needed to support **Bigquery v2**, which doesn't have a `page_size` field in their paged methods. Instead they use a wrapper type `google.protobuf.UInt32Value max_results` , see [models.proto](https://github.com/googlea

[2019-04-26 17:06] andreamlin commented on #2738
Another option is to add or keep the toggle to GAPIC config v2 for a method to be paging.

[2019-04-26 20:17] andreamlin opened #2739 "Add string methods for the flattened resource name methods for C#"
If there is a flattened method where one of the flattening params is a resource name type, then we should always generate an overloaded method with the same parameters but using a string type instead of the resource name type.

This allows adding resource names to configs to be a non-breaking change. Otherwise, adding a resource name removes the string param method with the resource name param met

[2019-04-29 22:37] igorbernstein2 opened #2742 "Add ability to suppress unwanted autogenerated code for clients that use the gapic as a implementation detail"
Cloud Bigtable's client API differs from it's protocol. So it requires a manual wrapper and uses GAPIC as an internal implementation detail. Unfortunately this means that the underlying gapic api is exposed alongside the intended api. This is not only confusing to customers, but also forces the client developers to keep the gapic surface stable. To avoid this issue I'm currently using synth.py scr

[2019-04-30 21:50] busunkim96 commented on #2360
I think we'd prefer to simply remove `nox.py`, since we add `noxfile.py` via synthtool.

[2019-05-01 23:11] #2739 closed

[2019-05-02 17:51] #2738 closed

[2019-05-03 08:52] jskeet opened #2747 "Generated snippets for methods with resource names fail due to multiple matching overloads"
Now that we generate `GetFoo(FooName)` and `GetFoo(string)`, the generated snippets need to specify which parameter list they're using. Currently documentation generation is failing.

[2019-05-03 10:52] jskeet commented on #2747
I now suspect this is only in manual code (error reporting) and not in the generated snippets at all. Will only close when that's confirmed though.

[2019-05-03 12:50] jskeet commented on #2747
Pretty sure this is only manual code. Oops.

[2019-05-03 12:50] #2747 closed

[2019-05-05 22:38] tadeoj opened #2751 "Upgrade gax version to 1.44.0?"
Hello, I use googleapis proto definitions directly from the repository https://github.com/googleapis/googleapis.
I tried to download the last stable commit to build with bazel and I have an error which I found referenced in the next issue of https://github.com/googleapis/google-cloud-java/issues/4946.

Would it be possible to update the dependency of gax to version 1.44.0?

I've seen googleapis an

[2019-05-06 18:12] beccasaurus opened #2753 "Java sample region END tag should appear after sample method"
Currently, the END tag shows up at the very bottom of the file, so it shows the main() method and CLI parsing/etc.

We don't want this.

Please move to be right after the method, so the START/END wraps the method:

[code]

/cc @googleapis/samplegen

[2019-05-06 18:15] beccasaurus commented on #2753
Actually, it should maybe be:

[code]

[2019-05-06 18:21] beccasaurus commented on #2753
And, while you're editing the .snip...

[code]

^--- don't render the type of each commented out variable

It'll try to re-declare the variable which afaik you can't do :)

But uncommenting `project = "[the ID I typed here]"` will actually work

So make the above look like this instead:

[code]

[2019-05-06 18:50] hzyi-google commented on #2682
Fixed by #2713

[2019-05-06 18:50] #2682 closed

[2019-05-07 18:17] andreamlin commented on #2736
@lukesneeringer Would you mind taking a look at this?

The docstrings are pulled from the proto comments.

[2019-05-07 19:47] hzyi-google opened #2756 "SampleGen: Use enum types when printing them in response handling"
For now, this generated sample does not compile:
[code]

We need to add
`use Google\Cloud\Language\V1\PartOfSpeech_Tag;`
as well.

Note:
It will be much better to:
`use Google\Cloud\Language\V1\PartOfSpeech\Tag;`

This will be tracked in another issue (filing right now) because changing how nested messages and enums will affect tests and source code as well.

[2019-05-07 19:47] hzyi-google commented on #2756
cc/ @googleapis/samplegen

[2019-05-07 20:27] #2756 closed

[2019-05-07 22:12] andreamlin commented on #2751
This is blocked on https://github.com/googleapis/gapic-generator/issues/2735

[2019-05-08 20:27] #2753 closed

[2019-05-08 21:01] #2732 closed

[2019-05-08 21:25] beccasaurus opened #2759 "Allow access to request message via $req in on_success of samples"
Some APIs return Empty

This means, in the `on_success` we have no variables available to print, we can only print literal strings.

[code]

But we often, in hand-written samples, print out the "name"* of what was deleted

[code]

### Issue

So, actually. Our samples usually pass in path parts. So the above isn't realistic.

This is what we would actually do:

[code]

@hzyi-google for your conside

[2019-05-08 21:41] andreamlin opened #2760 "Refer to a specific resource in a resource set"
Say `topic_oneof` contains the resource entities `topic` and `deleted_topic`. Then we have to be able to refer to `topic`.

[2019-05-08 21:41] andreamlin commented on #2760
This will require some design work.

[2019-05-09 17:37] hzyi-google commented on #2759
This **should** just work after we let gapic-generator know `$req` refers to the request object. I'll try it out.

One slight concern. The generated sample may look like:

[code]

As commented inline, there's already a variable set up for the name of the dog, so it seems more concise to reuse that variable. WDYT?

However I'd like to point out that `$req.name` is way much easier to implement. So l

[2019-05-09 17:42] beccasaurus commented on #2759
Good point!

Wouldn't it make the most sense for code statements (`on_success:` elements) to have access to all of the locals of the scope?

Where locals = [ locals from the request setup + define'd variables in response + loop variable of current scope, if any ]

Anything in on_success should have access to:

projectId
dogId
dogName
request
And any `define`'d variables

[2019-05-09 18:03] hzyi-google commented on #2759
tl;dr: I think that's the better solution too, although we may need to refactor the generator a bit to achieve this.

===== Below are just some notes to help myself remember what needs to be done to support this feature.

So far sample config does not have enough control over how a request object is set up. For example, the local variable names are automatically picked by the generator, so on_succ

[2019-05-09 23:34] andreamlin opened #2761 "Mark not-api-precedent on config.proto for method visibility hiding"
See https://github.com/googleapis/aip/pull/30#discussion_r282695820

[2019-05-10 05:39] beccasaurus opened #2762 "SampleGen: Configure google.protobuf.Timestamp request field"
[code]

We should support the following features:
 - **`P0`** allow a Timestamp to be set to the current time `now()`
  but not allow it to be configured as a method/CLI parameter
 - **`P1`** allow passing a string representation of the Timestamp in JSON format
  See: [JSON Mapping](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/timestamp.proto#L99)

[code]

/cc @googl

[2019-05-10 05:50] beccasaurus commented on #2762
Might be nice to be able to render a standard comment above where we set timestamps to now() with a note about how to translate that given language's idiomatic Date/Time to a google.protobuf.Timestamp

Excerpt from [`timestamp.proto`](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/timestamp.proto#L112-L124)

[code]

[2019-05-10 21:48] andreamlin opened #2763 "[C#] Partial classes not generated for Resource classes with proto annotations"
e.g. for Vision API, there is a message
[code]

But there is no generated
[code]

[2019-05-13 19:59] andreamlin commented on #2742
@igorbernstein2 Which generated entities is this referring to, specifically?

[2019-05-13 21:13] igorbernstein2 commented on #2742
I would love to be able to exclude the auto generated clients (leaving behind only the stubs).
Also would be great to make the callable factories package private.
You can find a full list of files that I'm removing here:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/synth.py

[2019-05-14 18:28] hzyi-google commented on #2762
A not-so-elegant workaround:

[code]
Generated code in java as an example:

[code]

Not sure if this is something you would like to generate (you probably don't), but just wanted to call out that this is an option, and should have already been implemented.

[2019-05-14 19:45] dazuma opened #2766 "[Ruby] Docs classes not generated for IAM protos referenced via reroute_to_grpc_interface"
Normally the Ruby gapic generator generates "docs" source files for relevant protos. (Because generated proto classes do not otherwise have the expected annotated comments for doc generation.)

In most cases, this also extends to IAM-related protos used in calls such as `SetIAMPolicy` when they are declared directly in the service proto. For example, securitycenter declares `rpc SetIAMPolicy` dire

[2019-05-14 23:47] beccasaurus commented on #2762
I don't know off-hand if second == seconds since epoch as returned by like `date +'%s'` or if there's some math to adjust it... that's mainly why I find it annoying.

I could just find a # seconds that's for Jan 1, 2000 or something and use that in every sample 😛

That's a good call, that should totally work

[2019-05-15 17:48] alexander-fenster commented on #2152
It's fixed across all languages in #2644.

[2019-05-15 17:48] #2152 closed

[2019-05-16 17:30] #2763 closed

[2019-05-16 18:08] busunkim96 opened #2770 "[Python] Generator should omit loop for _shared_modules if none exist"
Shared modules were removed from `types.py` in a recent PR, and this lowered coverage since the loop is no longer executed.

It would be nice if this loop wasn't generated when there are no shared modules.

See https://github.com/googleapis/google-cloud-python/blob/bef2036ce09d1bbb041b694830da76480f370085/texttospeech/google/cloud/texttospeech_v1/types.py#L24-L38 and https://github.com/googleapis/

[2019-05-16 19:34] bcoe opened #2771 "feat: generated samples should include metadata for README generation"
When generating samples, samples should be populated with a meta-information header.

As an example, for JavaScript, a header might look something like this:

[code]

These headers can be parsed by tools generating READMEs and other documentation.

[2019-05-16 19:35] beccasaurus commented on #2771
/cc @hzyi-google @googleapis/samplegen

[2019-05-16 19:36] beccasaurus commented on #2771
@bcoe Does it matter where that comment appears in the file? Is it associated with a particular region tag or with the file, as a whole?

If there's a file in the wild somewhere, link? :)

[2019-05-16 19:45] bcoe commented on #2771
@beccasaurus the simple little parser I wrote (read: regex) doesn't care where it's located. If it finds one somewhere in the sample, it uses it; If it can't it falls back to defaults. Here's an example of a sample that has been annotated with some meta information:

https://github.com/googleapis/nodejs-scheduler/blob/master/samples/createJob.js

[2019-05-16 23:33] munkhuushmgl opened #2773 "Parameter is not captured inside of the method"
My yaml code for iot_send_command sample
https://github.com/googleapis/googleapis/blob/master/google/cloud/iot/v1/device_manager.proto#L506
[code]

screenshot of java code generated
@
![image](https://user-images.githubusercontent.com/45373284/57893566-5731ff80-77f8-11e9-951a-28bb7a27ac62.png)

[2019-05-17 19:38] busunkim96 commented on #2770
Will be closed by #2775

[2019-05-17 22:11] eoogbe commented on #2773
Thank you for filing this issue! Can you provide a little more information on what the expected outcome is?

[2019-05-17 22:13] eoogbe commented on #2578
@hzyi-google Any updates?

[2019-05-17 23:59] munkhuushmgl commented on #2773
this is old sample I would like to convert using synthool https://github.com/GoogleCloudPlatform/java-docs-samples/blob/d50c7d4636fabb0fb13166a4d8caf8556df4f5aa/iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/DeviceRegistryExample.java#L784-L806

, From the parameter named data, I assume that string data should have went into ByteString.copyFromUtf8(data)

[2019-05-20 15:07] noahdietz opened #2778 "all: disable gRPC service config lookup"
We need to disable gRPC service config resolution in GAPICs until the gRPC service config is fully implemented/adopted. All languages need to have their equivalent of [DisableServiceConfig](https://godoc.org/google.golang.org/grpc#WithDisableServiceConfig) set on GAPICs. Without this, if a service owner adopts and defines a gRPC service config, the clients will immediately consume it, resulting in